Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Adopt std::format in benchmark fixtures
  tests/benchmark/collision/bm_boxes.cpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/common/lcpsolver/lcp_problem_factory.hpp
  tests/common/lcpsolver/lcp_test_problems.hpp
Due: none

Adopt ranges algorithms in remaining helpers
  dart/common/string.cpp
  dart/dynamics/mesh_shape.cpp
  dart/utils/mesh_loader.hpp
  tests/integration/io/test_sdf_parser.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Common, Dynamics

Adopt ranges algorithms in benchmark utilities
  examples/speed_test/main.cpp
  tests/benchmark/lcpsolver/bm_lcpsolver.cpp
Due: none

Adopt ranges algorithms in linkage and MJCF tests
  dart/dynamics/linkage.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: Dynamics

Adopt C++20 numeric constants in math helpers
  dart/dynamics/ikfast.h
  dart/simd/detail/math/constants.hpp
  dart/simd/detail/math/exp_impl.hpp
  dart/simd/detail/math/log_impl.hpp
Due: Dynamics

Adopt std::ssize in signed index loops
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/math/optimization/gradient_descent_solver.cpp
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
  tests/integration/dynamics/dynamics_test_fixture.cpp
  tests/integration/dynamics/test_forward_kinematics.cpp
  tests/integration/dynamics/test_meta_skeleton.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/dynamics/test_linkage.cpp
  tests/unit/dynamics/test_meta_skeleton.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
  tests/unit/math/optimization/test_gradient_descent_solver.cpp
Due: Math, Dynamics, Collision

Adopt C++20 signed sizes in examples and tests (#2588)
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/integration/dynamics/dynamics_test_fixture.cpp
  tests/integration/dynamics/test_forward_kinematics.cpp
  tests/integration/dynamics/test_meta_skeleton.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/dynamics/test_meta_skeleton.cpp
Due: none

docs: complete lcp epic cleanup
  dart/simulation/world.hpp
  docs/dev_tasks/lcp_epic/README.md
  docs/dev_tasks/lcp_epic/RESUME.md
  docs/onboarding/architecture.md
  docs/onboarding/constraints.md
Due: Simulation

docs: add PR management workflow
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  AGENTS.md
Due: none

docs: make PR workflow references tool agnostic
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
Due: none

docs: fix PR cleanup branch deletion
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
Due: none

docs: refine PR merge workflow guidance
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
Due: none

Adopt C++20 ranges in benchmark setup
  tests/benchmark/common/bm_allocators.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/benchmark/lcpsolver/CMakeLists.txt
  tests/benchmark/lcpsolver/bm_dot_product.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/benchmark/lcpsolver/bm_lcpsolver_solvers.cpp
  tests/benchmark/lcpsolver/bm_matrix_multiply.cpp
  tests/benchmark/lcpsolver/bm_row_swapping.cpp
Due: none

Adopt C++20 concept for traversal callbacks
  dart/common/detail/callback_traits.hpp
  dart/dynamics/detail/basic_node_manager.hpp
  dart/dynamics/detail/body_node.hpp
  dart/dynamics/detail/meta_skeleton-impl.hpp
  dart/simulation/detail/world-impl.hpp
Due: Common, Dynamics, Simulation

Adopt C++20 library helpers in numeric code
  dart/dynamics/linkage.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/matrix.hpp
  dart/simd/dynamic/matrix.hpp
  dart/simd/dynamic/vector.hpp
  tests/integration/utils/test_signal.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
  tests/unit/simd/test_operations_scalar.cpp
Due: Math, Dynamics

Adopt C++20 type predicates in core helpers (#2584)
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/logging-impl.hpp
  dart/common/detail/stopwatch-impl.hpp
  dart/constraint/detail/constraint_solver-impl.hpp
  dart/dynamics/detail/basic_node_manager.hpp
  dart/dynamics/detail/body_node.hpp
  dart/dynamics/detail/meta_skeleton-impl.hpp
  dart/dynamics/detail/skeleton.hpp
  dart/math/helpers.hpp
  dart/simulation/detail/world-impl.hpp
  dart/simulation/experimental/common/type_list.hpp
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
  tests/unit/math/test_convhull.cpp
Due: Common, Math, Dynamics, Constraint, Simulation

Adopt C++20 concepts in simulation mapping
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
Due: none

Adopt C++20 comparison utilities (#2587)
  dart/dynamics/ball_joint.cpp
  dart/dynamics/detail/generic_joint.hpp
  dart/dynamics/free_joint.cpp
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/mesh_shape.cpp
  dart/dynamics/meta_skeleton.cpp
  dart/dynamics/skeleton.cpp
  dart/dynamics/soft_body_node.cpp
  dart/math/optimization/problem.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
  dart/simulation/world.cpp
  examples/atlas_simbicon/state.cpp
  tests/integration/dynamics/test_skeleton.cpp
  tests/unit/dynamics/test_generic_joints.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Math, Dynamics, Simulation

Adopt C++20 signed size utilities (#2586)
  dart/dynamics/inverse_kinematics.cpp
  dart/math/optimization/gradient_descent_solver.cpp
  tests/unit/dynamics/test_linkage.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
  tests/unit/math/optimization/test_gradient_descent_solver.cpp
Due: Math, Dynamics

Adopt C++20 ranges algorithms in utility code (#2585)
  dart/common/uri.cpp
  dart/utils/composite_resource_retriever.cpp
  dart/utils/mesh_loader.hpp
  examples/speed_test/main.cpp
  tests/integration/io/test_mjcf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_skel_parser.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Common

Adopt C++20 concepts in SIMD templates (#2583)
  dart/simd/detail/math/constants.hpp
  dart/simd/detail/scalar/operations.hpp
  dart/simd/dynamic/matrix.hpp
  dart/simd/dynamic/vector.hpp
  dart/simd/geometry/batch.hpp
  dart/simd/geometry/isometry3.hpp
  dart/simd/geometry/matrix3x3.hpp
  dart/simd/geometry/matrix4x4.hpp
  dart/simd/geometry/quaternion.hpp
  dart/simd/geometry/vector3.hpp
  dart/simd/geometry/vector4.hpp
  tests/unit/simd/test_math.cpp
  tests/unit/simd/test_operations_scalar.cpp
  tests/unit/simd/test_vec_scalar.cpp
Due: none

Adopt C++20 ranges in URDF and SDF parsers (#2581)
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
Due: none

Adopt C++20 ranges in GUI scene nodes (#2579)
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/viewer.cpp
  dart/gui/world_node.cpp
Due: none

Adopt C++20 span range construction (#2570)
  dart/collision/collision_result.cpp
  dart/common/detail/cloneable.hpp
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/joint.cpp
  dart/dynamics/line_segment_shape.cpp
  dart/dynamics/point_cloud_shape.cpp
  dart/dynamics/soft_body_node.cpp
  dart/gui/default_event_handler.cpp
  dart/gui/drag_and_drop.cpp
  dart/gui/polyhedron_visual.cpp
  dart/math/optimization/problem.cpp
  dart/utils/package_resource_retriever.cpp
  dart/utils/sdf/sdf_parser.cpp
  examples/hubo_puppet/main.cpp
  examples/mimic_pendulums/main.cpp
  examples/point_cloud/main.cpp
  examples/polyhedron_visual/main.cpp
  python/dartpy/dynamics/joint.cpp
  python/dartpy/gui/viewer_attachment.cpp
  tests/benchmark/unit/bm_convhull.cpp
  tests/integration/simulation/test_mimic_constraint.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/math/test_convhull.cpp
  tests/unit/math/test_geometry.cpp
  tests/unit/simulation/experimental/space/test_auto_mapper.cpp
  tests/unit/simulation/experimental/space/test_state_space.cpp
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: Common, Math, Dynamics, Collision

Preserve soft mesh normal clamp behavior
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Avoid formatting disabled experimental logs
  dart/simulation/experimental/common/logging.hpp
  tests/unit/simulation/experimental/common/test_logging.cpp
Due: none

Avoid jthread in signal concurrency test
  tests/integration/utils/test_signal.cpp
Due: none

Preserve NaN fallback in visualization clamps
  dart/dynamics/arrow_shape.cpp
  dart/gui/interactive_frame.cpp
Due: Dynamics

Avoid std::format in benchmark names
  tests/benchmark/collision/bm_boxes.cpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
Due: none

Avoid std::format in dartpy repr bindings
  python/dartpy/collision/collision_option.cpp
  python/dartpy/collision/collision_result.cpp
  python/dartpy/dynamics/body_node.cpp
  python/dartpy/dynamics/chain.cpp
  python/dartpy/dynamics/degree_of_freedom.cpp
  python/dartpy/dynamics/inverse_kinematics.cpp
  python/dartpy/dynamics/joint.cpp
  python/dartpy/dynamics/linkage.cpp
  python/dartpy/dynamics/skeleton.cpp
  python/dartpy/simulation/world.cpp
Due: none

Avoid std::format in common helpers
  dart/common/detail/name_manager.hpp
  dart/common/resource_retriever.cpp
  dart/utils/http_resource_retriever.cpp
Due: Common

Avoid std::format in test helpers
  tests/integration/dynamics/test_name_management.cpp
  tests/integration/dynamics/test_skeleton.cpp
  tests/integration/utils/test_concurrency.cpp
  tests/unit/common/test_local_resource.cpp
  tests/unit/common/test_local_resource_retriever.cpp
  tests/unit/dynamics/test_body_node_derivatives.cpp
  tests/unit/dynamics/test_body_node_properties.cpp
  tests/unit/dynamics/test_body_node_ptr.cpp
  tests/unit/dynamics/test_linkage.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_meta_skeleton.cpp
  tests/unit/utils/test_file_info_dof.cpp
  tests/unit/utils/test_http_resource_retriever.cpp
Due: none

Avoid std::format in LCP test fixtures
  tests/common/lcpsolver/lcp_problem_factory.hpp
  tests/common/lcpsolver/lcp_test_problems.hpp
Due: none

Adopt C++20 library helpers in numeric code (#2623)
  dart/dynamics/linkage.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/matrix.hpp
  dart/simd/dynamic/matrix.hpp
  dart/simd/dynamic/vector.hpp
  tests/integration/utils/test_signal.cpp
  tests/unit/simd/test_operations_scalar.cpp
Due: Math, Dynamics

Adopt C++20 ranges in benchmark setup (#2621)
  tests/benchmark/common/bm_allocators.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/benchmark/lcpsolver/CMakeLists.txt
  tests/benchmark/lcpsolver/bm_dot_product.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/benchmark/lcpsolver/bm_lcpsolver_solvers.cpp
  tests/benchmark/lcpsolver/bm_matrix_multiply.cpp
  tests/benchmark/lcpsolver/bm_row_swapping.cpp
Due: none

Adopt std::ssize in signed index loops (#2620)
  dart/collision/bullet/bullet_collision_detector.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
Due: Collision

Adopt C++20 numeric constants in math helpers (#2619)
  dart/dynamics/ikfast.h
  dart/simd/detail/math/constants.hpp
  dart/simd/detail/math/exp_impl.hpp
  dart/simd/detail/math/log_impl.hpp
Due: Dynamics

Adopt ranges algorithms in benchmark utilities (#2617)
  tests/benchmark/lcpsolver/bm_lcpsolver.cpp
Due: none
