Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Expose advanced LCP parameters in dartpy
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/math/lcp.cpp
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
  scripts/check_lcp_solver_roster.py
Due: none

Update HMM stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Show LCP solver parameters in py demo
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Compact point-triangle candidate pairs on device
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: Simulation

Broaden AVBD articulated reset axis coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Validate advanced LCP solver parameters
  CHANGELOG.md
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/other/admm_solver.cpp
  dart/math/lcp/other/sap_solver.cpp
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Attach shared replay to related rigid scenes
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  python/examples/demos/scenes/articulated.py
  python/examples/demos/scenes/avbd_rigid_prismatic_motor.py
  python/examples/demos/scenes/avbd_rigid_revolute_motor.py
  python/examples/demos/scenes/floating_base.py
  python/examples/demos/scenes/rigid_ipc_tunnel.py
Due: none

Record AVBD critical handoff state
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Expose LCP solver parameters in dartpy
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/math/lcp.cpp
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
Due: none

Refresh rigid visual verification PR readiness
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Record HMM EnTT comparative evidence
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Add AVBD direct prismatic movable reset coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/dashboard.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Show all LCP solver parameters in py demo
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Refresh rigid visual verification full-stop handoff
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Record final HMM stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Add AVBD direct spherical movable reset coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/dashboard.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Harden rigid visual capture metric ownership
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  python/examples/demos/scenes/avbd_rigid_breakable_joint.py
  python/examples/demos/scenes/rigid_ipc_stack_packet.py
  python/examples/demos/scenes/rigid_ipc_tunnel.py
  python/examples/demos/scenes/rigid_joint_breakage.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add AVBD direct fixed movable reset coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/dashboard.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Compact point-triangle candidates by block
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
Due: Simulation

Record rigid capture ownership visual evidence
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Validate remaining LCP solver parameters
  CHANGELOG.md
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/other/interior_point_solver.cpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Record AVBD current-state gap audit
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/dashboard.md
Due: none

Route ignored collision pairs through World allocator
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route replay frames through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Report Staggering native support precisely
  CHANGELOG.md
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/other/staggering_solver.hpp
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Math

Record HMM single-branch handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Harden rigid workflow search and evidence docs
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Align Staggering native capability metadata
  CHANGELOG.md
  dart/math/lcp/other/staggering_solver.hpp
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/math/test_lcp.py
  python/tests/unit/test_py_demo_panels.py
  scripts/check_lcp_solver_roster.py
  tests/common/lcpsolver/lcp_solver_manifest.hpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_lcp_comparison_harness.cpp
Due: Math

Add edge-edge candidate mask packet parity
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Route replay snapshots through World allocator
  dart/simulation/compute/detail/deformable_avbd_replay_state.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add AVBD high-ratio iteration sweep benchmark
  CHANGELOG.md
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
Due: none

Record AVBD final handoff state
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Use math::constantsd::pi() instead of M_PI in the contact ID example
  examples/contact_inverse_dynamics/main.cpp
Due: none

Align LCP performance profile metadata
  CHANGELOG.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  scripts/check_lcp_solver_roster.py
  scripts/lcp_performance_profile.py
Due: none

Number rigid workflow README quick path
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  python/examples/demos/README.md
  python/tests/integration/test_demos_cycle.py
Due: none

Route replay restore scratch through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add AVBD high-ratio iteration sweep packet
  CHANGELOG.md
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-scale-high-ratio-iteration-sweep-packet.json
  docs/plans/dashboard.md
  python/tests/unit/test_write_avbd_paper_scale_high_ratio_iteration_sweep_packet.py
  scripts/write_avbd_paper_scale_high_ratio_iteration_sweep_packet.py
Due: none

Refresh LCP performance profile tooling
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  scripts/lcp_performance_profile.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Add AVBD high-ratio sweep stability plot
  CHANGELOG.md
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-scale-high-ratio-iteration-sweep-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-paper-scale-high-ratio-iteration-sweep-plot.svg
  docs/plans/dashboard.md
  python/tests/unit/test_write_avbd_paper_scale_high_ratio_iteration_sweep_packet.py
  python/tests/unit/test_write_avbd_paper_scale_high_ratio_iteration_sweep_plot.py
  scripts/write_avbd_paper_scale_high_ratio_iteration_sweep_packet.py
  scripts/write_avbd_paper_scale_high_ratio_iteration_sweep_plot.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
Due: none

Clarify rigid comparison axes and capture evidence
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_contact_solver_compare.py
  python/examples/demos/scenes/rigid_executor_equivalence.py
  python/examples/demos/scenes/rigid_solver_compare.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
