Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Split Windows CI into parallel jobs with per-run compiler caches
  .github/workflows/ci_windows.yml
  .github/workflows/nightly.yml
  docs/onboarding/ci-cd.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for d059b68c1b69b5338b7d2f5f2ade13235280da50
  performance/dart6/data.js
Due: none

Save only PR-compiled objects in Windows PR cache snapshots
  .github/workflows/ci_windows.yml
  docs/onboarding/ci-cd.md
Due: none

Stop sccache before archiving the Windows compiler cache
  .github/workflows/ci_windows.yml
Due: none

Keep spare island buffers for every World on a thread and keep diagonal Dantzig solves allocation-free
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint, LCP Solver

Write the Windows main-cache manifest even when main had no snapshot
  .github/workflows/ci_windows.yml
Due: none

Fail windows-Release when the Windows build is cancelled
  .github/workflows/ci_windows.yml
Due: none

Fix the fork-PR note on Windows cache pruning
  .github/workflows/ci_windows.yml
Due: none

Reuse the explicit projected inverse when the implicit inertia is identical
  dart/dynamics/Joint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/unit/dynamics/test_Joints.cpp
Due: Dynamics

Count handed-out island buffers process-wide
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Ask for before/after visuals on behavior fixes and harden evidence publishing (#3584)
  .agents/skills/dart-pr/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-pr.md
  docs/ai/verification.md
  python/tests/unit/test_evidence_publish.py
  scripts/agent_capture.py
  scripts/evidence_publish.py
Due: none

Keep spare island buffers as a capped high-water-mark pool
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/Skeleton.cpp
  dart/simulation/World.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Dynamics, Constraint, Simulation

Declare the OSG holder type once for the dartpy bindings
  python/dartpy/gui/osg/DebugOverlay.cpp
  python/dartpy/gui/osg/DragAndDrop.cpp
  python/dartpy/gui/osg/GUIEventHandler.cpp
  python/dartpy/gui/osg/GridVisual.cpp
  python/dartpy/gui/osg/ImGuiHandler.cpp
  python/dartpy/gui/osg/ImGuiWidget.cpp
  python/dartpy/gui/osg/RealTimeWorldNode.cpp
  python/dartpy/gui/osg/ShadowTechnique.cpp
  python/dartpy/gui/osg/Viewer.cpp
  python/dartpy/gui/osg/ViewerAttachment.cpp
  python/dartpy/gui/osg/WorldNode.cpp
  python/dartpy/gui/osg/pointers.hpp
Due: none

Document that several prepared Worlds on one thread may grow the spare list once
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Keep the runner's default TEMP for Windows compiles
  .github/workflows/ci_windows.yml
Due: none

Keep file-local names unique so targets compile as unity builds
  dart/CMakeLists.txt
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/narrow_phase/CapsuleCapsule.cpp
  dart/collision/dart/narrow_phase/CapsuleSphere.cpp
  dart/collision/dart/narrow_phase/Ccd.cpp
  dart/collision/dart/narrow_phase/MeshMesh.cpp
  dart/collision/dart/narrow_phase/Mpr.cpp
  dart/collision/dart/narrow_phase/PrimitiveCcd.cpp
  dart/collision/dart/narrow_phase/Raycast.cpp
  dart/collision/dart/narrow_phase/SphereBox.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/CouplerConstraint.cpp
  dart/constraint/DynamicJointConstraint.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/JointCoulombFrictionConstraint.cpp
  dart/constraint/JointLimitConstraint.cpp
  dart/constraint/ServoMotorConstraint.cpp
  dart/constraint/SoftContactConstraint.cpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  tests/integration/test_SoftWormModel.cpp
Due: Collision, Constraint, LCP Solver

Build Windows CI as unity translation units with /Zc:inline
  .github/workflows/ci_windows.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
Due: none

Clear stale impulse flags before the split-impulse position pass (#3582)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for ac02d93b3feb7c50b2d980a1ae04b66a0413542b
  performance/dart6/data.js
Due: none

Fix the open CodeQL multiplication-overflow alerts (#3581)
  CHANGELOG.md
  dart/collision/fcl/CollisionShapes.hpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/detail/HeightmapShape-impl.hpp
  dart/lcpsolver/ODELCPSolver.cpp
  tests/unit/dynamics/test_HeightmapShape.cpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: Dynamics, Collision, LCP Solver

add DART 6 Performance (googlecpp) benchmark result for cd04d6643ead008fde229f54639cdd0c27e0afe2
  performance/dart6/data.js
Due: none

Avoid capturing structured bindings in the implicit-inverse test
  tests/unit/dynamics/test_Joints.cpp
Due: none

Add an advisory performance A/B job for pull requests (#3583)
  .github/workflows/perf.yml
  docs/onboarding/ci-cd.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Gate steady-state and transient steps on zero allocations and remove DART-owned sources (#3587)
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/CouplerConstraint.cpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/MimicMotorConstraint.cpp
  dart/dynamics/Skeleton.cpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  dart/simulation/World.cpp
  tests/integration/step_allocation_ratchet.json
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/integration/test_StepAllocation.cpp
Due: Dynamics, Collision, Constraint, Simulation, LCP Solver

Count only gate-level Ir increases as regressions in the perf summary
  docs/onboarding/profiling.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 8c43e358a1775c99fd01db7b81d3bad1efdb416d
  performance/dart6/data.js
Due: none

Reuse the explicit projected inverse when the implicit inertia is identical (#3586)
  dart/dynamics/Joint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/unit/dynamics/test_Joints.cpp
Due: Dynamics

Read the disturbance check's forces and commands through each parent joint
  dart/dynamics/Skeleton.cpp
Due: Dynamics

add DART 6 Performance (googlecpp) benchmark result for 6c3314318f89d51ed28139a1cf16c848e99b430a
  performance/dart6/data.js
Due: none

Remove per-call heap allocations from DART's convex narrowphase
  dart/collision/dart/narrow_phase/ConvexConvex-impl.hpp
  dart/collision/dart/narrow_phase/ConvexConvex.cpp
  dart/collision/dart/narrow_phase/Epa-impl.hpp
  dart/collision/dart/narrow_phase/Gjk.cpp
  dart/collision/dart/narrow_phase/MeshMesh.cpp
  dart/collision/dart/narrow_phase/Mpr-impl.hpp
  dart/collision/dart/narrow_phase/Mpr.cpp
  tests/integration/step_allocation_ratchet.json
  tests/integration/test_StepAllocation.cpp
  tests/unit/collision/dart/test_gjk.cpp
Due: Collision

Count only gate-level Ir increases as regressions in the perf summary (#3592)
  docs/onboarding/profiling.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Split Windows CI into parallel jobs with per-run compiler caches (#3585)
  .github/workflows/ci_windows.yml
  .github/workflows/nightly.yml
  docs/onboarding/ci-cd.md
Due: none
