Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add DART_USE_SYSTEM_FMT with a FetchContent fmt fallback
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_find_fmt.cmake
  scripts/altlinux.py
Due: none

Mark acceleration commands as external disturbances
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Add OFF-by-default OpenUSD scene loader scaffold to dart/io
  CMakeLists.txt
  cmake/dart_find_pxr.cmake
  dart/io/CMakeLists.txt
  dart/io/read.cpp
  dart/io/read.hpp
  dart/io/usd/CMakeLists.txt
  dart/io/usd/usd_parser.cpp
  dart/io/usd/usd_parser.hpp
  data/usd/simple_chain.usda
  docs/dev_tasks/usd_scene_loader/RESUME.md
  tests/integration/CMakeLists.txt
  tests/integration/io/test_usd_parser.cpp
  tests/unit/io/test_read.cpp
Due: I/O

Wake resting bodies after inertia edits
  dart/dynamics/BodyNode.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Default DART_USE_SYSTEM_FMT to ON for downstream consumers
  cmake/dart_find_fmt.cmake
Due: none

Reset Bullet filter cache after untracked queries
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/collision/bullet/BulletCollisionGroup.hpp
  tests/integration/test_Collision.cpp
Due: Collision

Close out PLAN-091 status
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

ssik_ik_gui: show all IK solutions and follow the dragged target
  CHANGELOG.md
  examples/ssik_ik_gui/main.cpp
Due: none

Clear quiet unprojected external forces on reset
  dart/dynamics/Skeleton.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

add DART 7 World Performance (googlecpp) benchmark result for b583875d6e7fd2141488e9c7546e6339da787124
  performance/data.js
Due: none

Record WP-091.4 closeout evidence
  docs/plans/091-architecture-hardening.md
Due: none

Exit nonzero on dartpy import failure in the system-id example
  python/examples/diff_system_identification.py
Due: none

Keep randomized PGS group solves serial
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_World.cpp
Due: Constraint

Refresh release-lane closeout snapshot
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Reject a wrong or stale dartpy before the graceful DIFF-OFF skip
  python/examples/diff_system_identification.py
Due: none

Fold completed PLAN-091 into durable docs
  .claude/skills/dart-architecture/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  AGENTS.md
  docs/ai/north-star.md
  docs/ai/orchestration.md
  docs/design/dart7_architecture_assessment.md
  docs/design/dart7_cross_family_metrics_corpus.json
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/plans/091-architecture-hardening.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/write_plan091_cross_family_metrics_packet.py
  tests/test_plan091_cross_family_metrics_packet.py
Due: none

Render the real InteractiveFrame gizmo under ImGuiViewer
  CHANGELOG.md
  dart/gui/osg/ImGuiHandler.cpp
  examples/ssik_ik_gui/main.cpp
Due: none

Clarify PLAN-091 closeout ownership
  .claude/skills/dart-architecture/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  docs/ai/north-star.md
  docs/design/dart7_architecture_assessment.md
  docs/plans/dashboard.md
Due: none

Close out PLAN-091 status (#3110)
  .claude/skills/dart-architecture/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  AGENTS.md
  docs/ai/north-star.md
  docs/ai/orchestration.md
  docs/design/dart7_architecture_assessment.md
  docs/design/dart7_cross_family_metrics_corpus.json
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/091-architecture-hardening.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/write_plan091_cross_family_metrics_packet.py
  tests/test_plan091_cross_family_metrics_packet.py
Due: none

Add DART_USE_SYSTEM_FMT with a FetchContent fmt fallback for the Alt Linux repro (#3108)
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_find_fmt.cmake
  scripts/altlinux.py
Due: none

Add differentiable system-identification worked example (#3101)
  CHANGELOG.md
  docs/dev_tasks/differentiable_simulation/README.md
  docs/dev_tasks/differentiable_simulation/RESUME.md
  docs/plans/110-differentiable-simulation.md
  python/examples/diff_system_identification.py
Due: none

Constrain unsafe parallel island solves
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_World.cpp
Due: Constraint

Add default-environment split lane plan (DART 6.20 dependency minimization)
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
Due: none

Demote alternative collision backends from the default Pixi environment
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  pixi.lock
  pixi.toml
Due: none

Address Codex review: narrow USD auto-detection and register static pxr dep
  dart/io/CMakeLists.txt
  dart/io/read.cpp
  dart/io/read.hpp
  dart/io/usd/usd_parser.hpp
  docs/dev_tasks/usd_scene_loader/RESUME.md
Due: I/O

Add PR number to parallel safety changelog
  CHANGELOG.md
Due: none

Skip Bullet raycast pytest without Bullet
  python/tests/unit/collision/test_collision.py
Due: none

Clarify feature CI runtime gates
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
Due: none

Run collision backend runtime tests in CI
  .github/workflows/ci_ubuntu.yml
Due: none

Constrain unsafe parallel island solves (#3111)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_World.cpp
Due: Constraint

Add OFF-by-default OpenUSD scene loader scaffold to dart/io (#3109)
  CMakeLists.txt
  cmake/dart_find_pxr.cmake
  dart/io/CMakeLists.txt
  dart/io/read.cpp
  dart/io/read.hpp
  dart/io/usd/CMakeLists.txt
  dart/io/usd/usd_parser.cpp
  dart/io/usd/usd_parser.hpp
  data/usd/simple_chain.usda
  docs/dev_tasks/usd_scene_loader/RESUME.md
  tests/integration/CMakeLists.txt
  tests/integration/io/test_usd_parser.cpp
  tests/unit/io/test_read.cpp
Due: I/O

Refresh lane plan: optimizer removed/merged, collision+native deferred, boost next
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for cab0e695dc1dfb2b35771e0595e0259a5d13faa0
  performance/data.js
Due: none

Accelerate settled imported worlds
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/contact_benchmark/main.cpp
  scripts/run_gz_sim_task.sh
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

add DART 7 World Performance (googlecpp) benchmark result for fab38a336f77ad44efcd8c2c4411020906c0d7a9
  performance/data.js
Due: none

Correct boost finding in lane plan (OSG-coupled, not standalone-removable)
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
Due: none
