Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Fix FCL null contact when contact generation is disabled
  CHANGELOG.md
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Record footprint evidence + decision (c): hold interim demotions for native-collision port
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
Due: none

Skip non-finite contacts in ConstraintSolver
  dart/constraint/constraint_solver.cpp
  tests/unit/CMakeLists.txt
  tests/unit/constraint/test_nonfinite_contact.cpp
Due: Constraint

Use Pixi example task in performance notes
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Record GLUT-to-OSG removal plan
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Refine GLUT removal validation gate
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Cover GLUT forwarding headers in removal gate
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Update CHANGELOG PR reference to #3114
  CHANGELOG.md
Due: none

Fix standalone configure skip for ssik_ik_gui example
  examples/ssik_ik_gui/CMakeLists.txt
Due: none

Add dartpy ssik_analytical_ik example
  pixi.toml
  python/examples/ssik_analytical_ik/main.py
Due: none

Record GLUT-to-OSG removal plan (#3113)
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Tighten settled-world sleep guards
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Add native-collision port scoping (deferred XL initiative; planning only)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Accelerate settled imported worlds (#3112)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/contact_benchmark/main.cpp
  scripts/run_gz_sim_task.sh
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Align lane docs with AGENTS no-track rule and tolerance-based parity gate
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Update changelog for GLUT removal
  CHANGELOG.md
Due: none

Reject non-finite and non-positive dimensions in primitive shapes
  dart/dynamics/box_shape.cpp
  dart/dynamics/box_shape.hpp
  dart/dynamics/capsule_shape.cpp
  dart/dynamics/capsule_shape.hpp
  dart/dynamics/cone_shape.cpp
  dart/dynamics/cone_shape.hpp
  dart/dynamics/cylinder_shape.cpp
  dart/dynamics/cylinder_shape.hpp
  dart/dynamics/ellipsoid_shape.cpp
  dart/dynamics/ellipsoid_shape.hpp
  dart/dynamics/pyramid_shape.cpp
  dart/dynamics/pyramid_shape.hpp
  tests/unit/dynamics/test_box_shape.cpp
  tests/unit/dynamics/test_capsule_shape.cpp
  tests/unit/dynamics/test_cone_shape.cpp
  tests/unit/dynamics/test_cylinder_shape.cpp
  tests/unit/dynamics/test_ellipsoid_shape.cpp
  tests/unit/dynamics/test_pyramid_shape.cpp
Due: Dynamics

Fix FCL null contact when contact generation is disabled (#3114)
  CHANGELOG.md
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Inject the non-finite contact regression via a collision backend
  dart/constraint/constraint_solver.cpp
  tests/unit/constraint/test_nonfinite_contact.cpp
Due: Constraint

Skip non-finite contacts in ConstraintSolver
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_NonFiniteContact.cpp
Due: Constraint

Reject non-finite and non-positive dimensions in primitive shapes
  dart/dynamics/BoxShape.cpp
  dart/dynamics/BoxShape.hpp
  dart/dynamics/CapsuleShape.cpp
  dart/dynamics/CapsuleShape.hpp
  dart/dynamics/ConeShape.cpp
  dart/dynamics/ConeShape.hpp
  dart/dynamics/CylinderShape.cpp
  dart/dynamics/CylinderShape.hpp
  dart/dynamics/EllipsoidShape.cpp
  dart/dynamics/EllipsoidShape.hpp
  dart/dynamics/PyramidShape.cpp
  dart/dynamics/PyramidShape.hpp
  tests/unit/dynamics/test_ShapeDimensionValidation.cpp
Due: Dynamics

Fix Gazebo gate invocation in scoping doc (pixi run -e)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Address GLUT removal review feedback
  examples/biped_stand/CMakeLists.txt
  examples/human_joint_limits/main.cpp
  examples/simulation_event_handler/SimulationEventHandler.cpp
  tools/freebsd/patches/patch-dart_gui_LoadOpengl.hpp
Due: none

Document ssik analytical IK support in dartpy examples
  docs/readthedocs/dartpy/user_guide/examples.rst
Due: none

Record OpenGL dependency for bundled ImGui
  dart/external/imgui/CMakeLists.txt
Due: none

Fix FCL default-detector code pointers in scoping doc (both ConstraintSolver ctors)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Align resume prompt with held-demotion decision; mark #3114 as already merged
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Fix headless benchmark Pixi task arguments
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  pixi.toml
Due: none

Correct collision capability matrix: distance=FCL-only, raycast=Bullet-only (verified in-tree)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Record additional threading scale evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Expose opt-in simulation threading controls (#3071)
  CHANGELOG.md
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  pixi.toml
  python/dartpy/constraint/ConstraintSolver.cpp
  python/dartpy/simulation/World.cpp
  python/tests/unit/simulation/test_world.py
  tests/benchmark/integration/boxes_headless.cpp
Due: none

Add default-environment split lane plan (DART 6.20 dependency minimization) (#3107)
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Skip non-finite contacts and validate shape dimensions (DART 6 LTS) (#3117)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/BoxShape.cpp
  dart/dynamics/BoxShape.hpp
  dart/dynamics/CapsuleShape.cpp
  dart/dynamics/CapsuleShape.hpp
  dart/dynamics/ConeShape.cpp
  dart/dynamics/ConeShape.hpp
  dart/dynamics/CylinderShape.cpp
  dart/dynamics/CylinderShape.hpp
  dart/dynamics/EllipsoidShape.cpp
  dart/dynamics/EllipsoidShape.hpp
  dart/dynamics/PyramidShape.cpp
  dart/dynamics/PyramidShape.hpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_NonFiniteContact.cpp
  tests/unit/dynamics/test_ShapeDimensionValidation.cpp
Due: Dynamics, Constraint

Skip non-finite contacts and validate shape dimensions (#3115)
  dart/constraint/constraint_solver.cpp
  dart/dynamics/box_shape.cpp
  dart/dynamics/box_shape.hpp
  dart/dynamics/capsule_shape.cpp
  dart/dynamics/capsule_shape.hpp
  dart/dynamics/cone_shape.cpp
  dart/dynamics/cone_shape.hpp
  dart/dynamics/cylinder_shape.cpp
  dart/dynamics/cylinder_shape.hpp
  dart/dynamics/ellipsoid_shape.cpp
  dart/dynamics/ellipsoid_shape.hpp
  dart/dynamics/pyramid_shape.cpp
  dart/dynamics/pyramid_shape.hpp
  tests/unit/CMakeLists.txt
  tests/unit/constraint/test_nonfinite_contact.cpp
  tests/unit/dynamics/test_box_shape.cpp
  tests/unit/dynamics/test_capsule_shape.cpp
  tests/unit/dynamics/test_cone_shape.cpp
  tests/unit/dynamics/test_cylinder_shape.cpp
  tests/unit/dynamics/test_ellipsoid_shape.cpp
  tests/unit/dynamics/test_pyramid_shape.cpp
Due: Dynamics, Constraint

Address Codex review: validate analytical DOFs and fail self-test on errors
  examples/ssik_ik_gui/main.cpp
  python/dartpy/dynamics/InverseKinematics.cpp
  python/tests/unit/dynamics/test_inverse_kinematics.py
Due: none

Restore tutorial replay controls
  tutorials/tutorial_dominoes/main.cpp
  tutorials/tutorial_dominoes_finished/main.cpp
  tutorials/tutorial_multi_pendulum/main.cpp
  tutorials/tutorial_multi_pendulum_finished/main.cpp
Due: none

Use work-based lane names in dep-minimization docs; record lane handoff
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Stop coverage CI job from running the test suite twice
  CHANGELOG.md
  pixi.toml
Due: none

Update CHANGELOG PR reference to #3120
  CHANGELOG.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
