Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add contact-aware inverse dynamics GUI example
  docs/dev_tasks/contact_inverse_dynamics/screenshot.png
  examples/CMakeLists.txt
  examples/contact_inverse_dynamics/CMakeLists.txt
  examples/contact_inverse_dynamics/README.md
  examples/contact_inverse_dynamics/main.cpp
Due: none

Document current LCP handoff state
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Add dartpy bindings for ContactInverseDynamics
  python/dartpy/dynamics/ContactInverseDynamics.cpp
  python/dartpy/dynamics/module.cpp
  python/tests/unit/dynamics/test_contact_inverse_dynamics.py
Due: none

Cover rotated floating base in contact inverse dynamics round trip
  tests/unit/dynamics/test_ContactInverseDynamics.cpp
Due: none

Avoid AVBD scratch reserve without AVBD rows
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Save Newton-barrier tangent-stencil handoff
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Expose rigid spin roll capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_spin_roll_coupling.py
  python/tests/integration/test_demos_cycle.py
Due: none

Update AVBD solver handoff state
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Refresh HMM final handoff notes
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Expose LCP representative benchmark command
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Correct HMM WorldStorage handoff status
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Align LCP docs with snake case headers
  CHANGELOG.md
  docs/background/lcp/02_overview.md
  docs/background/lcp/03_pivoting-methods.md
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/06_other-methods.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  scripts/check_lcp_solver_roster.py
Due: none

Expose rigid stack stability capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_stack_stability.py
  python/tests/integration/test_demos_cycle.py
Due: none

Document critical LCP handoff state
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Add PR number to changelog entry
  CHANGELOG.md
Due: none

Add CUDA point-edge and point-point tangent parity
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/detail/newton_barrier/tangent_stencil.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Expose rigid contact manipulation capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_contact_manipulation.py
  python/tests/integration/test_demos_cycle.py
Due: none

Skip rigid world-point rotation for origin anchors
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Format Newton-barrier handoff doc
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
Due: none

Address review findings for contact-aware inverse dynamics
  dart/dynamics/ContactInverseDynamics.cpp
  dart/dynamics/ContactInverseDynamics.hpp
  dart/math/NonNegativeLeastSquares.cpp
  dart/math/NonNegativeLeastSquares.hpp
  docs/dev_tasks/contact_inverse_dynamics/02-perf.md
  docs/dev_tasks/contact_inverse_dynamics/RESUME.md
  docs/dev_tasks/contact_inverse_dynamics/benchmarks.json
  examples/contact_inverse_dynamics/CMakeLists.txt
  examples/contact_inverse_dynamics/README.md
  examples/contact_inverse_dynamics/main.cpp
  python/dartpy/dynamics/ContactInverseDynamics.cpp
  python/tests/unit/dynamics/test_contact_inverse_dynamics.py
  tests/benchmark/integration/bm_inverse_dynamics.cpp
  tests/unit/dynamics/test_ContactInverseDynamics.cpp
  tests/unit/math/test_NonNegativeLeastSquares.cpp
Due: Math, Dynamics

Report MPRGP native support precisely
  CHANGELOG.md
  dart/math/lcp/other/mprgp_solver.cpp
  dart/math/lcp/other/mprgp_solver.hpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/06_other-methods.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/python-bindings.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Math

Add point-point barrier Hessian packet slice
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Expose rigid kinematic driver capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_kinematic_driver.py
  python/tests/integration/test_demos_cycle.py
Due: none

Report Baraff native support precisely
  CHANGELOG.md
  dart/math/lcp/pivoting/baraff_solver.cpp
  dart/math/lcp/pivoting/baraff_solver.hpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/03_pivoting-methods.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/python-bindings.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Math

Add CHANGELOG entry and retire contact inverse dynamics dev task notes
  docs/dev_tasks/contact_inverse_dynamics/01-design.md
  docs/dev_tasks/contact_inverse_dynamics/02-perf.md
  docs/dev_tasks/contact_inverse_dynamics/README.md
  docs/dev_tasks/contact_inverse_dynamics/RESUME.md
  docs/dev_tasks/contact_inverse_dynamics/benchmarks.json
  docs/dev_tasks/contact_inverse_dynamics/screenshot.png
Due: none

Document HMM handoff and active IPC state
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add CHANGELOG entry for contact-aware inverse dynamics
  CHANGELOG.md
Due: none

Checkpoint AVBD source-row handoff state
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Document final LCP handoff state
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Document rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Record point-point barrier Hessian packet evidence
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Filter singular LCP benchmark native rows
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Expose rigid joint motor limit capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_joint_motor_limits.py
  python/tests/integration/test_demos_cycle.py
Due: none

Filter contact normal benchmark native rows
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Hand off rigid passive joint parameter metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_joint_passive_parameters.py
  python/tests/integration/test_demos_cycle.py
Due: none

Document HMM live WIP handoff
  docs/dev_tasks/hierarchical_memory_manager/2026-06-11-rigid-ipc-two-box-stack-wip.patch
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Checkpoint AVBD source-row origin-anchor handoff
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Document latest LCP handoff state
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Expose rigid screw joint pitch capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_screw_joint_pitch.py
  python/tests/integration/test_demos_cycle.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
