Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Fix rigid IPC retained objective triplets
  CHANGELOG.md
  dart/simulation/detail/rigid_ipc_barrier.cpp
Due: Simulation

Fix rigid IPC CI coverage gates
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_world.cpp
Due: none

Close rigid IPC allocation row
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Clean stale CI workspaces before checkout
  .github/workflows/ci_altlinux.yml
  .github/workflows/ci_cuda.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_dartpy.yml
Due: none

Use docker fallback for CI workspace cleanup
  .github/workflows/ci_altlinux.yml
  .github/workflows/ci_cuda.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_dartpy.yml
Due: none

Close variational multibody allocation row
  dart/simulation/compute/variational_integration.cpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Close AVBD VBD allocation row
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Close basic deformable allocation row
  dart/simulation/compute/world_step_stage.cpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Refresh allocation hardening remaining row status
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/dashboard.md
Due: none

Stabilize allocation gate follow-ups
  dart/simulation/compute/world_step_stage.cpp
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Preserve contact wrench cache when sleeping (#3051)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Improve AI task intake from Spec Kit assessment
  .claude/commands/dart-audit-agent-compliance.md
  .claude/commands/dart-docs-update.md
  .claude/commands/dart-execute-packet.md
  .claude/commands/dart-new-task.md
  .claude/commands/dart-plan-update.md
  .claude/skills/dart-architecture/SKILL.md
  .claude/skills/dart-references/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  .codex/skills/dart-audit-agent-compliance/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-execute-packet/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-plan-update/SKILL.md
  .codex/skills/dart-references/SKILL.md
  .opencode/command/dart-audit-agent-compliance.md
  .opencode/command/dart-docs-update.md
  .opencode/command/dart-execute-packet.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-plan-update.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/orchestration.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/design/README.md
  docs/design/ai_spec_kit_assessment.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
  docs/plans/README.md
Due: none

Run gz-physics tests in Gazebo CI (#3050)
  .github/workflows/ci_gz_physics.yml
  CHANGELOG.md
  cmake/gz_physics_force_vendor_gtest.cmake
  pixi.toml
  scripts/run_gz_physics_task.sh
Due: none

Close differentiable and rigid IPC allocation rows
  CHANGELOG.md
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Bound Debug dartpy CI smoke tests
  .github/workflows/ci_ubuntu.yml
  pixi.toml
  python/tests/run_pytest_with_optional_xvfb.py
  python/tests/unit/test_run_pytest_with_optional_xvfb.py
Due: none

Improve AI task intake from Spec Kit assessment (#3054)
  .claude/commands/dart-audit-agent-compliance.md
  .claude/commands/dart-docs-update.md
  .claude/commands/dart-execute-packet.md
  .claude/commands/dart-new-task.md
  .claude/commands/dart-plan-update.md
  .claude/skills/dart-architecture/SKILL.md
  .claude/skills/dart-references/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  .codex/skills/dart-audit-agent-compliance/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-execute-packet/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-plan-update/SKILL.md
  .codex/skills/dart-references/SKILL.md
  .opencode/command/dart-audit-agent-compliance.md
  .opencode/command/dart-docs-update.md
  .opencode/command/dart-execute-packet.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-plan-update.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/orchestration.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/design/README.md
  docs/design/ai_spec_kit_assessment.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
  docs/plans/README.md
Due: none

Cover sleep-transition wrench cache paths
  tests/integration/test_IslandDeactivation.cpp
Due: none

Route above-cap deformable solves through sparse CG
  CHANGELOG.md
  dart/simulation/body/deformable_body_options.hpp
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_deformable_body.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Broaden rigid batch coverage tests
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_resolved_configuration.cpp
Due: none

Polish Spec Kit changelog entry
  CHANGELOG.md
Due: none

Packaging 6.19.1
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Document 6.19.1 performance changes
  CHANGELOG.md
Due: none

Keep host compiler cache for CUDA py-demos (#3048)
  .github/workflows/ci_altlinux.yml
  .github/workflows/ci_cuda.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_dartpy.yml
  cmake/compiler_cache.cmake
  docs/onboarding/ci-cd.md
  pixi.toml
  python/tests/run_pytest_with_optional_xvfb.py
  python/tests/unit/test_pixi_cuda_py_demos_task.py
  python/tests/unit/test_run_pytest_with_optional_xvfb.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_world.cpp
Due: none

Add rigid batch rollout owner and per-World accelerator policy (#3052)
  CHANGELOG.md
  dart/simulation/compute/cuda/deformable_psd_projection_cuda.cpp
  dart/simulation/compute/deformable_psd_backend.cpp
  dart/simulation/compute/deformable_psd_backend.hpp
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  dart/simulation/compute/world_batch.cpp
  dart/simulation/compute/world_batch.hpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  dart/simulation/world_options.hpp
  docs/design/batched_world_device_residency.md
  docs/onboarding/profiling.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/simulation/module.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/compute/test_deformable_psd_backend.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_resolved_configuration.cpp
Due: Simulation

Update PLAN-091 after PR 3052
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Fix optional mold install in Linux debug CI
  .github/workflows/ci_ubuntu.yml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 095f15a0024314eb613a8e9a9297c844049d2364
  performance/data.js
Due: none

Use built-in GitHub issue types in templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/build-test-failure.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Expose runtime contact solver selection
  CHANGELOG.md
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/dev_tasks/py_demos_framework/01-milestones.md
  docs/dev_tasks/py_demos_framework/02-m0-baseline.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/dartpy/simulation/module.cpp
  python/examples/demos/scenes/rigid_body.py
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_world.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Make Debug CI mold install optional
  .github/workflows/ci_ubuntu.yml
Due: none

Make PLAN-083 smoke scenes use prescribed motion
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
Due: none

Add shared articulated inverse mass apply
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/detail/articulated_inverse_mass.hpp
  dart/simulation/detail/multibody_spatial_algebra.hpp
  dart/simulation/multibody/joint.hpp
  dart/simulation/multibody/link.hpp
  dart/simulation/multibody/multibody_options.hpp
  docs/design/simulation_solver_architecture.md
  docs/plans/091-architecture-hardening.md
  docs/readthedocs/architecture.md
  tests/unit/simulation/compute/test_multibody_link_contact.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for cd1300f194887698465f437f9150f91d9896173b
  performance/data.js
Due: none

Address articulated inverse mass review feedback
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

Use built-in GitHub issue types in templates (#3059)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/build-test-failure.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Make Debug CI mold optional
  .github/workflows/ci_ubuntu.yml
Due: none

Fix py-demos docking and baseline solver
  CHANGELOG.md
  dart/gui/detail/ui_frame.cpp
  dart/gui/viewer.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/py_demos_framework/01-milestones.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/unit/test_py_demo_panels.py
Due: Simulation

WP-091.32: Add shared articulated inverse mass apply (#3058)
  .github/workflows/ci_ubuntu.yml
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/detail/articulated_inverse_mass.hpp
  dart/simulation/detail/multibody_spatial_algebra.hpp
  dart/simulation/multibody/joint.hpp
  dart/simulation/multibody/link.hpp
  dart/simulation/multibody/multibody_options.hpp
  docs/design/simulation_solver_architecture.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  docs/readthedocs/architecture.md
  tests/unit/simulation/compute/test_multibody_link_contact.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
