Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Preserve broadphase vtable slot ordering
  dart/collision/native/broad_phase/BroadPhase.hpp
Due: Collision

Reject inadequate visual evidence captures
  python/dartpy/_debug_layers.py
  python/tests/unit/gui/test_debug_layers.py
  python/tests/unit/test_agent_capture.py
  scripts/agent_capture.py
Due: none

Align detector naming in comparison guidance
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for dfe5c795a78c653d026a6c7b3f8ec37a4e9c4238
  performance/dart6/data.js
Due: none

Preserve adjacency across stacked MJCF joints
  dart/utils/mjcf/MjcfParser.cpp
  dart/utils/mjcf/detail/GeomCollisionFilter.cpp
  dart/utils/mjcf/detail/GeomCollisionFilter.hpp
  data/mjcf/test/stacked_joint_adjacency.xml
  tests/integration/test_MjcfParser.cpp
Due: none

Correct collision and benchmark evidence guidance
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
Due: none

Format MuJoCo comparison scripts
  scripts/mujoco_comparison/gen_scenes.py
  scripts/mujoco_comparison/mujoco_runner.py
  scripts/mujoco_comparison/run_comparison.py
Due: none

WP-DB.05: add opt-in adaptive soft contact activation
  dart/constraint/SoftContactConstraint.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftBodyNode.hpp
  tests/benchmark/integration/soft_body_headless.cpp
  tests/integration/test_SoftDynamics.cpp
  tests/integration/test_StepAllocation.cpp
Due: Dynamics, Constraint

Record 2000-step determinism evidence for the native soft lane
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
Due: none

Harden visual evidence selection and publishing
  python/tests/unit/test_evidence_publish.py
  python/tests/unit/test_evidence_select.py
  scripts/evidence_publish.py
  scripts/evidence_select.py
Due: none

Harden visual evidence validation and publishing
  python/tests/unit/gui/test_agent_capture.py
  python/tests/unit/test_evidence_publish.py
  python/tests/unit/test_evidence_select.py
  scripts/agent_capture.py
  scripts/evidence_publish.py
  scripts/evidence_select.py
Due: none

Fix release dartpy formatting gate (#3376)
  scripts/mujoco_comparison/gen_scenes.py
  scripts/mujoco_comparison/mujoco_runner.py
  scripts/mujoco_comparison/run_comparison.py
Due: none

Correct deferred performance evidence status
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Preserve broadphase ABI for unordered traversal
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/broad_phase/AabbTree.cpp
  dart/collision/native/broad_phase/AabbTree.hpp
  dart/collision/native/broad_phase/BroadPhase.hpp
  tests/unit/collision/native/test_aabb_tree.cpp
Due: Collision

Track MJCF filter registrations safely
  dart/utils/mjcf/detail/GeomCollisionFilter.cpp
  dart/utils/mjcf/detail/GeomCollisionFilter.hpp
  tests/integration/test_MjcfParser.cpp
Due: none

Verify stacked MJCF joint dynamics
  tests/integration/test_MjcfParser.cpp
Due: none

Fix split-impulse position pass discarding velocity-phase impulses
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Add opt-in exact-Coulomb FBF constraint solver
  dart/constraint/ContactConstraint.hpp
  dart/constraint/ExactCoulombFbfConstraintSolver.cpp
  dart/constraint/ExactCoulombFbfConstraintSolver.hpp
  dart/constraint/detail/ExactCoulombConstraintAdapter.hpp
  dart/constraint/detail/ExactCoulombContactRowOperator.hpp
  dart/math/detail/CoulombCone.hpp
  dart/math/detail/ExactCoulombContactProblem.hpp
  dart/math/detail/ExactCoulombFbfSolver.hpp
  dart/math/detail/MasonryArchGeometry.hpp
Due: Math, Constraint

Include nested frames in visual assessment
  python/dartpy/dynamics/Frame.cpp
  python/tests/unit/gui/test_agent_view_quality.py
  scripts/agent_view_quality.py
Due: none

Validate every motion capture frame
  python/tests/unit/test_agent_capture.py
  scripts/agent_capture.py
Due: none

Add changelog entries for the exact-Coulomb FBF solver and split-impulse fix
  CHANGELOG.md
Due: none

Apply adaptive-activation review fixes
  dart/constraint/SoftContactConstraint.cpp
  dart/dynamics/PointMass.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftBodyNode.hpp
  docs/dev_tasks/dart6_deformable_body_performance/08-adaptive-contact-activation.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics, Constraint

Clarify dependency and benchmark evidence gates
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
Due: none

Link osgText into dart-gui-osg
  cmake/DARTFindOpenSceneGraph.cmake
  dart/gui/osg/CMakeLists.txt
Due: none

Update deformable docs for the WP-DB.05 landing
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Defer unseeded trajectory overlays
  python/tests/unit/test_agent_capture.py
  scripts/agent_capture.py
Due: none
