Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Use block-sparse rigid IPC scratch preallocation
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Avoid dense rigid IPC sparse preallocation
  dart/simulation/detail/rigid_ipc_barrier.cpp
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Preserve rigid IPC warm assembly during scratch reserve
  dart/simulation/detail/rigid_ipc_barrier.cpp
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 1f6f2685f1c57eb2a53d30b1f7967ece7729a808
  performance/data.js
Due: none

Add first post-bake allocation coverage gates (#3053)
  CHANGELOG.md
  dart/simulation/body/deformable_body_options.hpp
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/unified_constraint.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/onboarding/testing.md
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  scripts/check_plan122_allocation_matrix.py
  tests/test_check_plan122_allocation_matrix.py
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_deformable_body.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Stabilize py-demos workflow controls
  CHANGELOG.md
  dart/gui/detail/application.cpp
  docs/dev_tasks/py_demos_framework/01-milestones.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_body_modes.py
  python/examples/demos/scenes/rigid_contact_scale_budget.py
  python/examples/demos/scenes/rigid_executor_equivalence.py
  python/examples/demos/scenes/rigid_restitution_ladder.py
  python/examples/demos/scenes/rigid_step_diagnostics.py
  python/examples/demos/scenes/rigid_timestep_sensitivity.py
  python/tests/unit/test_py_demo_panels.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for c9ff3fc7a9a45095f21c10133992b38854ef11dd
  performance/data.js
Due: none

Document moved PR head review handling
  .claude/commands/dart-review-pr.md
  .codex/skills/dart-review-pr/SKILL.md
  .opencode/command/dart-review-pr.md
  docs/onboarding/ai-tools.md
Due: none

WP-091.33d: Add resident rigid batch CUDA owner
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cpp
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cuh
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/cuda/test_rigid_body_state_batch_cuda.cpp
Due: Simulation

Document repository metadata cleanup guidance
  docs/onboarding/contributing.md
Due: none

Skip injected allocation gate under coverage
  tests/unit/simulation/world/test_world.cpp
Due: none

Harden resident CUDA state validity
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cpp
  tests/unit/simulation/cuda/test_rigid_body_state_batch_cuda.cpp
Due: Simulation

Skip injected allocation gate under coverage (#3062)
  tests/unit/simulation/world/test_world.cpp
Due: none

Link py-demos changelog entry to PR
  CHANGELOG.md
Due: none

Cache coarse graphs and fix dartpy wheel build
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_kinematics_graph.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/common/type_casters.hpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: Simulation

Retire LCP solver interface demos dev task
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Avoid private nanobind overload helper
  python/dartpy/common/type_casters.hpp
Due: none

Harden resident CUDA reuploads
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cpp
Due: Simulation

Avoid private nanobind overload helper (#3064)
  python/dartpy/common/type_casters.hpp
Due: none

Document py-demos smoke cleanup races
  scripts/py_demos_smoke.py
Due: none

Convert live SKEL fixtures to SDF
  README.md
  dart/io/AGENTS.md
  dart/io/read.hpp
  dart/utils/dart_resource_retriever.hpp
  data/sdf/test/cube.sdf
  data/sdf/test/shapes.sdf
  data/sdf/test/single_pendulum.sdf
  data/sdf/test/test_shapes.sdf
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/README.md
  docs/onboarding/io-parsing.md
  docs/readthedocs/topics/skel-file-format.md
  python/tests/unit/simulation/test_world.py
  python/tests/unit/utils/test_urdf_parser.py
  tests/AGENTS.md
  tests/integration/io/test_read.cpp
  tests/integration/io/test_urdf_parser.cpp
  tests/integration/utils/test_dart_resource_retriever.cpp
  tests/integration/utils/test_local_resource_retriever.cpp
  tests/unit/io/test_read.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
Due: I/O

Preserve dock side when scene panels rotate
  dart/gui/detail/ui_frame.cpp
Due: none

WP-091.33d: Add resident rigid batch CUDA owner (#3061)
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cpp
  dart/simulation/compute/cuda/rigid_body_state_batch_cuda.cuh
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_kinematics_graph.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.cpp
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/common/type_casters.hpp
  tests/unit/simulation/cuda/test_rigid_body_state_batch_cuda.cpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: Simulation

Update PLAN-091 after PR 3061 merge
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Pass demo source path to render smoke
  python/tests/integration/test_demos_render_smoke.py
Due: none

Clarify PLAN-091 WS4 packet availability
  docs/plans/dashboard.md
Due: none

Clarify PLAN-091 claimed packet status
  docs/plans/dashboard.md
Due: none

Forward GPU preference in render smoke
  python/tests/unit/test_py_demos_smoke.py
  scripts/py_demos_smoke.py
Due: none

Preserve dock history across empty sides
  dart/gui/detail/ui_frame.cpp
  dart/gui/viewer.hpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for ea40d88608259c542acd12531d12f2c4ee7f4dbf
  performance/data.js
Due: none

PLAN-091: Sync merged packet status (#3066)
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Guard SDF-backed loader tests
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_skeleton_loader.cpp
Due: none

Fix py-demos no-GUI CI guards
  python/examples/demos/scenes/gui_fidelity_debug_visuals.py
  python/tests/integration/test_demos_cycle.py
Due: none

Tighten SDF loader test skip
  python/tests/unit/simulation/test_world.py
Due: none

Narrow SKEL asset removal plan
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
Due: none

Defer py-demos smoke imports until availability checks
  python/tests/integration/test_demos_full_catalog_smoke.py
Due: none

WP-091.15: Split simulation stage source layout
  dart/simulation/compute/batched_rigid_body_integration_stage.cpp
  dart/simulation/compute/deformable_dynamics_stage.cpp
  dart/simulation/compute/detail/stage_scratch.hpp
  dart/simulation/compute/rigid_body_constraint.cpp
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/compute/rigid_body_integration_stage.cpp
  dart/simulation/compute/rigid_ipc_contact_stage.cpp
  dart/simulation/compute/world_step_pipeline.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.hpp
  dart/simulation/detail/rigid_contact/rigid_contact_assembly.hpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_barrier.hpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_ccd.cpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_ccd.hpp
  dart/simulation/io/detail/rigid_ipc_fixture.cpp
  docs/design/differentiable_simulation.md
  docs/dev_tasks/differentiable_simulation/RESUME.md
  docs/dev_tasks/rigid_ipc_solver/README.md
  docs/dev_tasks/rigid_ipc_solver/RESUME.md
  docs/dev_tasks/variational_integrator_solver/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/primitive-promotion-slice.md
  docs/plans/083-unified-newton-barrier-multibody/shared-primitive-audit.md
  docs/plans/084-variational-integrator-solver/contact-roadmap.md
  docs/plans/091-architecture-hardening.md
  docs/plans/110-differentiable-simulation.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/benchmark/simulation/bm_affine_body_dynamics.cpp
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/benchmark/simulation/bm_rigid_ipc_solver.cpp
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add gz-sim command wake regression coverage
  CHANGELOG.md
  cmake/gz_force_vendor_gtest.cmake
  cmake/gz_physics_force_vendor_gtest.cmake
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  pixi.lock
  pixi.toml
  scripts/run_gz_physics_task.sh
  scripts/run_gz_sim_task.sh
  tests/integration/test_IslandDeactivation.cpp
  tools/gazebo/patches/gz-physics8-changed-world-poses.patch
Due: Constraint, Simulation

Cover idempotent world solver setters
  tests/unit/simulation/world/test_world.cpp
Due: none

Stabilize py-demos workflow panels (#3063)
  CHANGELOG.md
  dart/gui/detail/application.cpp
  dart/gui/detail/ui_frame.cpp
  dart/gui/viewer.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/dev_tasks/py_demos_framework/01-milestones.md
  docs/dev_tasks/py_demos_framework/02-m0-baseline.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  docs/dev_tasks/py_demos_framework/codex_delegation.md
  pixi.toml
  python/dartpy/simulation/module.cpp
  python/examples/demos/README.md
  python/examples/demos/_smoke_support.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/gui_fidelity_debug_visuals.py
  python/examples/demos/scenes/rigid_body.py
  python/examples/demos/scenes/rigid_body_modes.py
  python/examples/demos/scenes/rigid_contact_scale_budget.py
  python/examples/demos/scenes/rigid_executor_equivalence.py
  python/examples/demos/scenes/rigid_restitution_ladder.py
  python/examples/demos/scenes/rigid_step_diagnostics.py
  python/examples/demos/scenes/rigid_timestep_sensitivity.py
  python/stubs/dartpy/simulation.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/integration/test_demos_full_catalog_smoke.py
  python/tests/integration/test_demos_render_smoke.py
  python/tests/unit/simulation/test_world.py
  python/tests/unit/test_py_demo_panels.py
  python/tests/unit/test_py_demos_smoke.py
  scripts/py_demos_smoke.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation
