Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Stop URL masking at CSV delimiters and cover WSL and JSON-escaped paths
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
Due: none

Require double-precision libccd unless explicitly allowed
  CHANGELOG.md
  CMakeLists.txt
  cmake/DARTFindDependencies.cmake
  docs/readthedocs/dart/developer_guide/build.rst
Due: none

Describe both directions of the NDEBUG switch in the CHANGELOG
  CHANGELOG.md
Due: none

Share NSGS row helpers in the friction detail layer
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/detail/FrictionRows.cpp
  dart/constraint/detail/FrictionRows.hpp
Due: Constraint

Split the analytic friction test so only the NSGS rows skip slow jobs
  tests/integration/CMakeLists.txt
Due: none

Add an opt-in FBF friction solver with a certified step size
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
  dart/constraint/FrictionSolveStats.hpp
  dart/simulation/World.cpp
  python/dartpy/constraint/FbfFrictionSolver.cpp
  python/dartpy/constraint/FrictionSolveStats.cpp
  python/dartpy/constraint/module.cpp
  python/tests/unit/constraint/test_fbf_friction_solver.py
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_FrictionAnalytic.cpp
  tests/integration/test_StepAllocation.cpp
  tests/integration/test_World.cpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_FbfFrictionSolver.cpp
  tests/unit/constraint/test_NsgsFrictionSolver.cpp
  tools/friction_eval/README.md
  tools/friction_eval/friction_eval.cpp
  tools/friction_eval/friction_eval.py
Due: Constraint, Simulation

Handle wrapped link targets and higher-priority include paths in the libccd check
  cmake/DARTFindDependencies.cmake
Due: none

Approve the analytic friction test selections
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
Due: none

Search libccd headers in CMake's normal-before-system include order
  cmake/DARTFindDependencies.cmake
Due: none

Pass -Wno-overloaded-virtual to C++ sources only (#3625)
  CMakeLists.txt
Due: none

Check libccd's precision where DART compiles against FCL
  CHANGELOG.md
  CMakeLists.txt
  cmake/DARTFindDependencies.cmake
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/config.hpp.in
  docs/readthedocs/dart/developer_guide/build.rst
Due: Collision

Add private solver hooks for recording collision queries
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
Due: Constraint

Preserve resting contacts and clear sleeping body acceleration
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/Skeleton.cpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Constraint, Simulation

add DART 6 Performance (googlecpp) benchmark result for 9c37bffacea16ed872062be3e81f7884db6cfba4
  performance/dart6/data.js
Due: none

Include libccd's config header unconditionally in the precision check
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Let custom body collision filters sleep through decision replay
  CHANGELOG.md
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Fix FBF friction solver construction in Debug builds
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
Due: Constraint

Keep active material edits from waking unrelated custom-filter islands
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_CustomFilterSleeping.cpp
Due: Simulation

Link the FBF changelog entry to its PR
  CHANGELOG.md
Due: none

Count quiet solves before custom-filter joint islands sleep
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  tests/integration/test_CustomFilterSleeping.cpp
Due: Simulation

Reserve resting contact storage during simulation preparation
  dart/simulation/World.cpp
Due: Simulation

Note when the friction statistics layout becomes ABI
  dart/constraint/FrictionSolveStats.hpp
Due: Constraint

Catch JSON-escaped UNC paths, hook changes before a commit, and PowerShell commits
  .claude/hooks/pre-commit-guard.sh
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

Keep tracked custom filters protected when decision replay is disabled
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Invalidate sleeping caches when static supports become mobile
  dart/simulation/World.cpp
  tests/integration/test_CustomFilterSleeping.cpp
Due: Simulation

Skip the whole libccd check, include included, when opted out
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Preserve default-filter collision and acceleration observations
  dart/dynamics/Skeleton.cpp
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Simulation

Classify collision filters once per simulation step
  dart/simulation/World.cpp
Due: Simulation

Skip unchanged deactivation audits before entering the slow path
  dart/simulation/World.cpp
Due: Simulation

Fix custom-filter dwell, support ownership, and preparation
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  tests/integration/test_CustomFilterSleeping.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint, Simulation

Preserve Bash quoting and linear splitting in the commit guard
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Cache custom-filter solver skeleton ownership checks
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_CustomFilterSleeping.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint, Simulation

Preserve managed hooks after ordinary staging
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Preserve solver layouts and privatize ownership checks
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_CustomFilterSleeping.cpp
Due: Constraint, Simulation

Use an allowlist before delegating commit checks
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
