Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add soft bodies display controls
  examples/soft_bodies/main.cpp
Due: none

Tighten dart-demos review edge cases
  examples/demos/DemoHost.cpp
  examples/demos/main.cpp
  examples/demos/scenes/wam_ikfast/WamIkFastScene.cpp
Due: none

Invalidate simulation mode after detector swaps
  dart/simulation/World.cpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Update changelog for soft bodies visualization
  CHANGELOG.md
Due: none

Revert to squared predicate in native sphere binary overlap
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: Collision

Address phase-2 plan review: shape-identity refresh guard, real gates, approval caveat
  docs/dev_tasks/dart6_dependency_minimization/07-phase2-adapter-scoping.md
Due: none

Fix demos fallback and GUI-disabled configure
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
Due: none

Bind the off-screen viewer setup in dartpy gui.osg
  python/dartpy/gui/osg/Viewer.cpp
  python/tests/unit/gui/__init__.py
  python/tests/unit/gui/test_osg_offscreen.py
Due: none

Fix demo attachment and screenshot teardown
  dart/gui/osg/Viewer.cpp
  python/examples/demos/runner.py
Due: none

Port the agent-time image verdict tooling and docs to DART 6
  docs/ai/verification.md
  pixi.toml
  python/tests/unit/test_image_golden.py
  python/tests/unit/test_image_sheet.py
  python/tests/unit/test_image_verdict.py
  scripts/_image_tools.py
  scripts/image_golden.py
  scripts/image_sheet.py
  scripts/image_verdict.py
Due: none

Skip agent-tool dirs in the collision runtime isolation check
  scripts/check_collision_runtime_isolation.py
Due: none

Bind computeStepMetrics in dartpy and add a scene dump
  python/dartpy/CMakeLists.txt
  python/dartpy/__init__.py
  python/dartpy/_scene_dump.py
  python/dartpy/simulation/module_compute.cpp
  python/dartpy/simulation/module_world.cpp
  python/tests/unit/simulation/test_scene_dump.py
  scripts/generate_stubs.py
Due: none

Port native narrowphase dispatcher, sphere/box only (phase-2 P2, internal-only)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/narrow_phase.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 736d116b7311693f3ec1068e915b4b67d66e876b
  performance/dart6/data.js
Due: none

Add trajectory recorder and contact-event trace with compare
  pixi.toml
  python/tests/unit/test_trajectory_record_compare.py
  scripts/trajectory_compare.py
  scripts/trajectory_record.py
Due: none

Add viewer camera CLI flags with multi-view and turntable capture
  dart/gui/detail/application.cpp
  dart/gui/detail/scenes.cpp
  dart/gui/detail/scenes.hpp
  dart/gui/detail/testing/analyze_headless_smoke.py
  dart/gui/detail/testing/run_camera_smoke.cmake
  dart/gui/viewer.cpp
  dart/gui/viewer.hpp
  examples/demos/CMakeLists.txt
  scripts/capture_py_demo.py
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_camera_control.cpp
Due: none

Add opt-in rerun.io trajectory/contact inspection
  pixi.toml
  python/tests/unit/test_rerun_trajectory.py
  scripts/rerun_trajectory.py
Due: none

Add opt-in golden-image render gate
  pixi.toml
  scripts/render_golden_gate.py
Due: none

Add dart-verify-sim skill and simulation-verification onboarding doc
  .claude/skills/dart-verify-sim/SKILL.md
  .codex/skills/dart-verify-sim/SKILL.md
  docs/ai/capabilities.json
  docs/ai/workflows.md
  docs/onboarding/agent-sim-verification.md
Due: none

Track solver state for simulation preparation
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Add agent simulation verification research and design record
  docs/design/README.md
  docs/design/agent_sim_verification.md
Due: none

Fix soft bodies display controls
  dart/gui/osg/render/SoftMeshShapeNode.cpp
  examples/soft_bodies/main.cpp
Due: none

Fix demos IkFast output and close handling
  examples/demos/scenes/wam_ikfast/ikfast/CMakeLists.txt
  python/examples/demos/runner.py
Due: none

Track collision options for simulation preparation
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Record allocation attribution and add profiler packet WP-D6M.9
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/README.md
Due: none

Refresh deformable performance task metadata
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Harden step allocation harness from review findings
  tests/integration/CMakeLists.txt
  tests/integration/test_StepAllocation.cpp
Due: none

Add World simulation memory manager
  dart/common/MemoryManager.cpp
  dart/common/MemoryManager.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/integration/test_StepAllocation.cpp
Due: Common, Simulation

Add DART 6 simulation-loop allocation-hardening dev task
  docs/dev_tasks/dart6_simulation_allocation_hardening/README.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/RESUME.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/run_baseline.sh
Due: none

Fix FrameAllocator out-of-bounds fast path for tiny arena capacities
  dart/common/FrameAllocator.cpp
  tests/unit/common/test_FrameAllocator.cpp
Due: Common

Address parallel scratch and alignment review feedback
  dart/common/FrameAllocator.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/common/test_FrameAllocator.cpp
Due: Common, Constraint

Add step allocation counting harness and reporting test
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/integration/AllocationCounting.cpp
  tests/integration/AllocationCounting.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_StepAllocation.cpp
Due: none

Make text profiler warm pushes allocation-free
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/unit/common/test_Profile.cpp
Due: Common

Improve DART 6 soft-body collision and dynamics
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/dynamics/PointMass.cpp
  dart/dynamics/PointMass.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftMeshShape.cpp
  dart/dynamics/SoftMeshShape.hpp
  data/sdf/atlas/atlas_v3_no_head_soft_feet.sdf
  data/skel/soft_cubes.skel
  data/skel/soft_open_chain.skel
  data/skel/test/test_articulated_bodies_10bodies.skel
  data/skel/test/test_double_pendulum.skel
  data/skel/test/test_drop_box.skel
  data/skel/test/test_drop_box_offset.skel
  data/skel/test/test_drop_low_stiffness.skel
  docs/dev_tasks/dart6_deformable_body_performance/01-baseline-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  pixi.toml
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_cpp_benchmark.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_cpp_benchmark.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_soft_body.cpp
  tests/benchmark/integration/soft_body_headless.cpp
  tests/integration/test_SoftDynamics.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Dynamics, Collision

Port frame allocator primitives to DART 6
  dart/common/FrameAllocator.cpp
  dart/common/FrameAllocator.hpp
  dart/common/FreeListAllocator.cpp
  dart/common/FreeListAllocator.hpp
  dart/common/MemoryManager.cpp
  dart/common/MemoryManager.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/unit/common/test_FrameAllocator.cpp
  tests/unit/common/test_FreeListAllocator.cpp
  tests/unit/common/test_MemoryManager.cpp
Due: Common

Retire DART 6 allocation hardening dev task
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/03-results.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/PR_BODY_DRAFT.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/README.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/RESUME.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_boxes.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_boxes.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_contact_container.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_contact_container.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_empty.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_empty.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/boxes_headless.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/host.txt
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_boxes.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_boxes.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_contact_container.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_contact_container.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_empty.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_empty.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/boxes_headless.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/host.txt
  docs/dev_tasks/dart6_simulation_allocation_hardening/run_baseline.sh
  docs/onboarding/testing.md
Due: none

Checkpoint DART 6 simulation allocation hardening
  CHANGELOG.md
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.hpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  dart/lcpsolver/dantzig/DantzigLcp.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/03-results.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/PR_BODY_DRAFT.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/README.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/RESUME.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_boxes.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_boxes.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_contact_container.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_contact_container.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_empty.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/bm_empty.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/boxes_headless.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/improved/host.txt
  docs/dev_tasks/dart6_simulation_allocation_hardening/run_baseline.sh
  tests/integration/AllocationCounting.cpp
  tests/integration/AllocationCounting.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_StepAllocation.cpp
Due: Common, Constraint, Simulation, LCP Solver

Address allocation hardening review feedback
  dart/common/detail/profiler.cpp
  dart/dynamics/PointMass.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftBodyNode.hpp
  tests/integration/test_IslandDeactivation.cpp
  tests/unit/common/test_Profile.cpp
Due: Common, Dynamics

Record post-profiler residual allocation attribution
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
Due: none
