Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add Claude Code model-routing lane and harden the model-upgrade audit path (#3416)
  .agents/skills/dart-model-upgrade/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-model-upgrade.md
  CHANGELOG.md
  docs/ai/README.md
  docs/onboarding/agent-sim-verification.md
  docs/onboarding/ai-tools.md
  python/tests/unit/test_trajectory_record_compare.py
  scripts/trajectory_record.py
  tests/test_ai_infrastructure.py
Due: none

test(examples): prove the control and soft feet share a narrow phase
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  tests/integration/test_SoftFootSimbiconModel.cpp
Due: none

Add Claude Code model-routing lane and consolidate the DART 6.20 routing owner
  .agents/skills/dart-model-upgrade/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-model-upgrade.md
  CHANGELOG.md
  docs/ai/README.md
  docs/onboarding/ai-tools.md
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Add PR link to changelog entry
  CHANGELOG.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 1c4fa3f862552073e9bd22c6f0b527d8168ee633
  performance/data.js
Due: none

Add PR link to fwd.hpp changelog entries
  CHANGELOG.md
Due: none

test(examples): fit the soft-foot gates inside the FreeBSD VM's clock
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
Due: none

Add PR link to the pragma-once changelog entry
  CHANGELOG.md
Due: none

Scale demo contact-force arrows to the scene (#3413)
  examples/demos/ContactArrowLayout.cpp
  examples/demos/ContactArrowLayout.hpp
  examples/demos/ContactVisualizer.cpp
  examples/demos/ContactVisualizer.hpp
  examples/demos/README.md
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
  tests/integration/test_ContactArrowLayout.cpp
Due: none

Add opt-in memory diagnostics to dart-demos for DART 6 (#3379)
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  CHANGELOG.md
  dart/common/FrameAllocator.hpp
  dart/common/FreeListAllocator.hpp
  dart/common/detail/AllocatorMemoryLayout.hpp
  dart/common/detail/FrameAllocatorMemoryLayout-impl.hpp
  dart/common/detail/FreeListAllocatorMemoryLayout-impl.hpp
  docs/onboarding/profiling.md
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/README.md
  examples/demos/main.cpp
  examples/demos/memory_diagnostics.cpp
  examples/demos/memory_diagnostics.hpp
  examples/demos/memory_diagnostics_model.cpp
  examples/demos/memory_diagnostics_model.hpp
  examples/demos/tests/check_memory_diagnostics_compiled_out.cmake
  examples/demos/tests/test_memory_diagnostics.cpp
  examples/demos/tests/test_memory_diagnostics_model.cpp
  tests/unit/common/test_AllocatorMemoryLayout.cpp
Due: Common

Add Claude Code model-routing lane and consolidate the DART 6.20 routing owner (#3418)
  .agents/skills/dart-model-upgrade/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-model-upgrade.md
  CHANGELOG.md
  docs/ai/README.md
  docs/onboarding/ai-tools.md
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Keep the degenerate boxed-LCP fallback off the global heap (#3417)
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/pgs_solver.hpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.hpp
  tests/unit/math/lcp/test_pgs.cpp
Due: Math, Simulation

add DART 6 Performance (googlecpp) benchmark result for 0b04a26a572778f4ebb72090309c60b45af4f342
  performance/dart6/data.js
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 167e2f4ddb25bf8946cb0af98d8bd5314e9f349e
  performance/data.js
Due: none

WP-PG.50: carry full solver-facing contact manifolds in the dart detector
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/design/dart6_deformable_body.md
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/plans/dashboard.md
  tests/integration/test_Collision.cpp
  tests/unit/collision/test_DARTCollisionEngine.cpp
Due: Collision

WP-PG.50: carry full solver-facing contact manifolds in the dart detector
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/design/dart6_deformable_body.md
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/plans/dashboard.md
  tests/integration/test_Collision.cpp
  tests/unit/collision/test_DARTCollisionEngine.cpp
Due: Collision

Refresh WP-PG.50 evidence docs after audit re-verification
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 289ca688396e2363ae4694efe9b9595f810c3ca4
  performance/data.js
Due: none

add DART 7 World Performance (googlecpp) benchmark result for b15e7a652b766897a8a69a121742ef5973c77f3c
  performance/data.js
Due: none

test(examples): exclude the soft-foot pair from the coverage job
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  pixi.toml
  tests/integration/CMakeLists.txt
Due: none

Update pixi lockfile
  pixi.lock
Due: none

test(examples): keep the push sweep off the FreeBSD VM's wall clock
  .github/workflows/ci_freebsd.yml
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  tests/integration/CMakeLists.txt
Due: none

Add soft-foot SIMBICON locomotion scene and push-recovery gate (#3408)
  .github/workflows/ci_freebsd.yml
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  examples/demos/CMakeLists.txt
  examples/demos/Registry.cpp
  examples/demos/scenes/Scenes.hpp
  examples/demos/scenes/atlas_simbicon/StateMachine.cpp
  examples/demos/scenes/atlas_simbicon/StateMachine.hpp
  examples/demos/scenes/soft_foot_simbicon/SoftFootSimbiconModel.cpp
  examples/demos/scenes/soft_foot_simbicon/SoftFootSimbiconModel.hpp
  examples/demos/scenes/soft_foot_simbicon/SoftFootSimbiconScene.cpp
  pixi.toml
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
  tests/integration/test_SoftFootSimbiconModel.cpp
Due: none

Build dart-demos for the ASAN test target
  examples/demos/CMakeLists.txt
Due: none

Resolve the soft-foot comparability decisions with measured evidence
  data/sdf/atlas/atlas_v3_no_head_soft_feet.sdf
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  examples/demos/scenes/soft_foot_simbicon/SoftFootSimbiconModel.cpp
  examples/demos/scenes/soft_foot_simbicon/SoftFootSimbiconScene.cpp
  tests/integration/test_SoftFootSimbiconModel.cpp
Due: none

docs: record the maintainer approval behind the asset-level damping fix
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
Due: none

WP-PG.50: stabilize cylinder contact streams in the dart detector
  CHANGELOG.md
  dart/collision/dart/narrow_phase/CylinderCollision.cpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/plans/dashboard.md
  tests/unit/collision/dart/test_cylinder_collision.cpp
Due: Collision

fix(examples): make the reused SIMBICON COM sensor point-mass aware
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/12-pr3a-soft-foot-simbicon.md
  examples/demos/scenes/atlas_simbicon/State.cpp
  tests/integration/test_SoftFootSimbiconModel.cpp
Due: none

fix: preserve native collision option ABI
  dart/collision/dart/CMakeLists.txt
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/Types.cpp
  dart/collision/dart/Types.hpp
  dart/collision/dart/detail/FourPointPlanarCollision.hpp
  dart/collision/dart/narrow_phase/CylinderCollision.cpp
  dart/collision/dart/narrow_phase/NarrowPhase.cpp
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
