Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Preserve global duplicate state in native plane fast path
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Preserve fast native plane duplicate behavior
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Parallelize native broadphase entry setup
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Update native broadphase benchmark evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Cache exact contact groups for LCP solve
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstrainedGroup.hpp
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Document current issue-scene benchmark criteria
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Parallelize fixed-support contact rebuilds
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Fast-path single native plane contacts
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Document native plane contact merge fast path
  CHANGELOG.md
Due: none

Cover disjoint single plane contact merging
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: none

Fast-path translated native broadphase bounds
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Cache native local bounds extents
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Fix clang-format violations in DART 6.20 backports
  dart/dynamics/WeldJoint.cpp
  python/dartpy/collision/RaycastOption.cpp
  python/dartpy/dynamics/Joint.cpp
Due: Dynamics

Fix clang-format violations in DART 6.20 backports (#3173)
  dart/dynamics/WeldJoint.cpp
  python/dartpy/collision/RaycastOption.cpp
  python/dartpy/dynamics/Joint.cpp
Due: Dynamics

Fix ArrowShape generated material metadata
  CHANGELOG.md
  dart/dynamics/ArrowShape.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Dynamics

Add DART_USE_SYSTEM_FMT with a FetchContent fmt fallback for the Alt Linux repro
  CMakeLists.txt
  cmake/DARTFindfmt.cmake
Due: none

Add Taplo-based TOML linting
  pixi.lock
  pixi.toml
  pyproject.toml
Due: none

Add Eigen over-alignment CI guard
  .github/workflows/ci_ubuntu.yml
  pixi.toml
  scripts/test_eigen_overalignment.py
Due: none

Apply taplo formatting to merged pixi.toml
  pixi.toml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 98605cae1f4f14b0a54ca72c2ab6e3652d997fb8
  performance/data.js
Due: none

Cover per-DoF actuator override storage
  tests/unit/dynamics/test_Joints.cpp
Due: none

Add single-body RevoluteJointConstraint coverage test
  tests/integration/test_World.cpp
Due: none

Add single-body RevoluteJointConstraint coverage test (#3175)
  tests/integration/test_World.cpp
Due: none

Add DART 6.20 backport execution log to dev_tasks
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Add DART 6.20 backport execution log to dev_tasks (#3176)
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Execution log: record #2251 spell-lint as ported (#3177), with cleanup hook
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
Due: none

Execution log: record #2251 as ported (#3177) (#3178)
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
Due: none

Fix codespell gate: reword execution-log typo examples
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
Due: none

Fix clang-format-14 nits introduced by the #2251 typo fixes
  dart/collision/CollisionDetector.hpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_Joints.cpp
Due: Dynamics, Collision

Fix Check Lint failures on release-6.20 (codespell doc + clang-format) (#3179)
  dart/collision/CollisionDetector.hpp
  dart/dynamics/detail/GenericJoint.hpp
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  tests/integration/test_Joints.cpp
Due: Dynamics, Collision

Fix dartpy MeshShape constructor bindings
  python/dartpy/dynamics/Shape.cpp
Due: none

dartpy: suppress deprecation warning when binding MeshShape Assimp APIs
  python/dartpy/dynamics/Shape.cpp
Due: none

dartpy: suppress MeshShape Assimp-API deprecation under -Werror (fix arm64/FreeBSD) (#3180)
  python/dartpy/dynamics/Shape.cpp
Due: none

Drop redundant dartpy binding workaround
  python/dartpy/dynamics/Shape.cpp
Due: none

Fix clang-format on the Shape.cpp deprecation-suppression comment
  python/dartpy/dynamics/Shape.cpp
Due: none

Fix clang-format on Shape.cpp deprecation comment (#3180 follow-up) (#3181)
  python/dartpy/dynamics/Shape.cpp
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
