Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

add DART 7 World Performance (googlecpp) benchmark result for 5a80c368b84966c6923b1cf9c0635341bc5f09e4
  performance/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for 9c2f6e3b45bd7e6486fd05990669da2c3e736a99
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for d65e88ebda48107b18dd2cd6e1e12b532072cc21
  performance/dart6/data.js
Due: none

test(fbf): bind visual evidence to runtime closure
  python/tests/unit/test_finalize_fbf_arch101_failed_prefix.py
  python/tests/unit/test_finalize_fbf_author_card_house_construction.py
  python/tests/unit/test_finalize_fbf_backspin_visual.py
  python/tests/unit/test_finalize_fbf_incline_visual.py
  python/tests/unit/test_finalize_fbf_turntable_visual.py
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/finalize_fbf_arch101_failed_prefix.py
  scripts/finalize_fbf_author_card_house_construction.py
  scripts/finalize_fbf_backspin_visual.py
  scripts/finalize_fbf_incline_visual.py
  scripts/finalize_fbf_turntable_visual.py
  scripts/run_fbf_visual_evidence.py
Due: none

Update AI infrastructure for GPT-5.6 and current Codex
  .agents/skills/.dart-generated.json
  .agents/skills/dart-model-upgrade/SKILL.md
  .agents/skills/dart-ultrawork/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .claude/commands/dart-ultrawork.md
  .codex/config.toml
  .opencode/command/dart-model-upgrade.md
  .opencode/command/dart-ultrawork.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/agent-scenarios.json
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  scripts/ai_doctor.py
  scripts/ai_infrastructure.py
  scripts/exercise_agent_scenarios.py
  tests/test_ai_infrastructure.py
  tests/test_check_agent_hook.py
Due: none

Refresh Codex compatibility verification metadata
  docs/onboarding/ai-tools.md
Due: none

Link GPT-5.6 AI infrastructure changelog entry
  CHANGELOG.md
Due: none

Preserve Codex compatibility and durable context audits
  .agents/skills/dart-model-upgrade/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .codex/config.toml
  .opencode/command/dart-model-upgrade.md
  docs/ai/README.md
  docs/ai/agent-scenarios.json
  docs/ai/components.md
  docs/ai/north-star.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  scripts/ai_infrastructure.py
  tests/test_ai_infrastructure.py
  tests/test_check_agent_hook.py
Due: none

Scope skill metadata to DART-owned adapters
  scripts/ai_doctor.py
  tests/test_ai_infrastructure.py
Due: none

fix(collision): complete DART detector consolidation
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/collision/dart/DARTCollisionGroup.cpp
  dart/collision/dart/DARTCollisionGroup.hpp
  dart/collision/dart/Types.cpp
  dart/collision/dart/Types.hpp
  dart/collision/dart/detail/NativeShapeConversion.cpp
  dart/collision/dart/narrow_phase/NarrowPhase.cpp
  dart/utils/mjcf/MjcfParser.cpp
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
  examples/README.md
  examples/contact_benchmark/main.cpp
  examples/demos/README.md
  examples/demos/main.cpp
  python/tests/unit/gui/test_agent_capture.py
  python/tests/unit/test_mujoco_comparison.py
  scripts/agent_capture.py
  scripts/compare_soft_body_performance.py
  scripts/mujoco_comparison/README.md
  scripts/mujoco_comparison/dart_runner.py
  tests/integration/test_Collision.cpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_MjcfParser.cpp
  tests/integration/test_StepAllocation.cpp
  tests/integration/test_World.cpp
  tests/unit/collision/dart/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
  tests/unit/collision/test_DARTCollisionEngine.cpp
  tools/gazebo/patches/gz-physics8-dart-raycast-supported.patch
Due: Collision

Keep model upgrade audits read-only
  .agents/skills/dart-model-upgrade/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .opencode/command/dart-model-upgrade.md
  tests/test_ai_infrastructure.py
Due: none

Make model upgrade audits self-evolving
  .agents/skills/dart-model-upgrade/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .opencode/command/dart-model-upgrade.md
  docs/ai/README.md
  docs/ai/workflows.md
  tests/test_ai_infrastructure.py
Due: none

fix(collision): preserve DART compatibility surfaces
  dart/collision/dart/CMakeLists.txt
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionGroup.cpp
  dart/collision/dart/detail/DARTCollisionGroupEngineData.hpp
  tests/integration/test_Collision.cpp
Due: Collision

test(ci): enforce complete visual smoke wiring
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

feat(dynamics): add elastic element forces to the FEM body
  dart/dynamics/fem/DeformableBody.cpp
  dart/dynamics/fem/DeformableBody.hpp
  docs/dev_tasks/dart6_deformable_body_performance/14-fem-elastic-forces.md
  tests/integration/test_FemDeformableBody.cpp
Due: Dynamics

Require visual verification in model upgrades
  .agents/skills/dart-model-upgrade/SKILL.md
  .claude/commands/dart-model-upgrade.md
  .opencode/command/dart-model-upgrade.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/agent-scenarios.json
  docs/ai/workflows.md
  python/tests/unit/test_trajectory_record_compare.py
  scripts/trajectory_record.py
  tests/test_ai_infrastructure.py
Due: none

docs: seal current FBF visual evidence
  data/mjcf/rigid_ipc_arch/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
Due: none

Require semantic inspection of simulation captures
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  CHANGELOG.md
  docs/ai/agent-scenarios.json
  docs/ai/verification.md
  docs/onboarding/agent-sim-verification.md
  python/tests/unit/test_agent_capture.py
  python/tests/unit/test_image_verdict.py
  python/tests/unit/test_verification_bundle.py
  scripts/agent_capture.py
  scripts/ai_infrastructure.py
  scripts/image_verdict.py
  scripts/verification_bundle.py
  tests/test_ai_infrastructure.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 6c88ac1d774a702b494643fb598be6b8af9385e1
  performance/dart6/data.js
Due: none

docs: record release branch merge checkpoint
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
Due: none

Complete core-first visual verification workflow
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  CHANGELOG.md
  dart/gui/viewer.cpp
  dart/gui/viewer.hpp
  docs/design/agent_sim_verification.md
  docs/design/renderer_fidelity_and_debug_visuals.md
  docs/onboarding/agent-sim-verification.md
  python/dartpy/_view_quality.py
  python/dartpy/_world_render_bridge.py
  python/dartpy/gui/descriptors.cpp
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/gui/test_view_quality.py
  python/tests/unit/test_agent_capture.py
  python/tests/unit/test_evidence_publish.py
  scripts/agent_capture.py
  scripts/evidence_publish.py
  tests/unit/gui/test_camera_control.cpp
Due: none

Make verification prompt concatenation explicit
  scripts/verification_bundle.py
Due: none

Preserve no-bounds camera failures
  dart/gui/viewer.cpp
  dart/gui/viewer.hpp
  python/dartpy/_view_quality.py
  python/dartpy/_world_render_bridge.py
  python/dartpy/gui/descriptors.cpp
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/gui/test_view_quality.py
  tests/unit/gui/test_camera_control.cpp
Due: none

docs: reseal Figure 3 against merged runtime
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
Due: none

docs: hand off exact FBF raw-file cleanup
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
Due: none

fix(collision): clean sidecars through released lifetimes
  dart/collision/dart/CMakeLists.txt
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/collision/dart/DARTCollisionGroup.cpp
  dart/collision/dart/DARTCollisionGroup.hpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  dart/collision/dart/detail/DARTCollisionDetectorAccessor.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_DARTCollisionEngine.cpp
Due: Collision

fix(collision): synchronize shape warnings
  dart/collision/dart/detail/NativeShapeConversion.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_DARTCollisionEngine.cpp
Due: Collision

fix(ci): re-arm the black formatting gate in pixi lint tasks
  pixi.toml
  scripts/compare_soft_body_performance.py
Due: none

fix(collision): prune disjoint group pairs
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

docs: refresh exact FBF checkpoint
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
