Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Adopt ranges algorithms in remaining helpers (#2616)
  dart/common/string.cpp
  dart/dynamics/mesh_shape.cpp
Due: Common, Dynamics

Adopt std::format in dartpy repr bindings (#2613)
  python/dartpy/collision/collision_option.cpp
  python/dartpy/collision/collision_result.cpp
  python/dartpy/dynamics/body_node.cpp
  python/dartpy/dynamics/chain.cpp
  python/dartpy/dynamics/degree_of_freedom.cpp
  python/dartpy/dynamics/inverse_kinematics.cpp
  python/dartpy/dynamics/joint.cpp
  python/dartpy/dynamics/linkage.cpp
  python/dartpy/dynamics/skeleton.cpp
  python/dartpy/simulation/world.cpp
Due: none

Adopt std::format in library helpers (#2612)
  dart/dynamics/skeleton.cpp
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/viewer.cpp
Due: Dynamics

Simplify primitive shape math and NEON setup (#2610)
  dart/dynamics/box_shape.cpp
  dart/dynamics/cone_shape.cpp
  dart/dynamics/cylinder_shape.cpp
  dart/dynamics/ellipsoid_shape.cpp
  dart/dynamics/sphere_shape.cpp
  dart/simd/detail/neon/vec.hpp
Due: Dynamics

Adopt C++20 helpers in legacy tests (#2609)
  examples/atlas_simbicon/state_machine.cpp
  tests/unit/collision/test_dart_collide.cpp
  tests/unit/constraint/test_joint_limit_constraint.cpp
Due: none

Adopt C++20 helpers in factory templates (#2608)
  dart/common/detail/factory-impl.hpp
  dart/common/factory.hpp
Due: Common

Adopt C++20 using enum in remaining switches (#2607)
  dart/dynamics/ball_joint.hpp
  dart/dynamics/euler_joint.hpp
  dart/gui/grid_visual.cpp
  dart/simulation/experimental/comps/joint.hpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Dynamics

Adopt C++20 ranges in remaining examples (#2606)
  examples/biped_stand/main.cpp
  examples/box_stacking/main.cpp
  examples/boxes/main.cpp
  examples/heightmap/main.cpp
  examples/joint_constraints/controller.cpp
  examples/operational_space_control/main.cpp
  examples/rigid_chain/main.cpp
  examples/rigid_loop/main.cpp
Due: none

Adopt C++20 ranges and concepts in helpers (#2605)
  dart/simd/eigen/interop.hpp
  dart/simulation/experimental/io/serializer.hpp
  python/dartpy/common/eigen_utils.hpp
  python/dartpy/common/repr.hpp
  tests/unit/common/test_lockable_reference.cpp
  tests/unit/constraint/test_constraint_solver.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
Due: none

Adopt C++20 ranges in tutorials and examples (#2604)
  examples/atlas_simbicon/controller.cpp
  examples/atlas_simbicon/terminal_condition.cpp
  examples/g1_puppet/main.cpp
  examples/hybrid_dynamics/main.cpp
  examples/rigid_shapes/main.cpp
  examples/simulation_event_handler/main.cpp
  examples/simulation_event_handler/simulation_event_handler.cpp
  examples/tinkertoy/tinkertoy_world_node.hpp
  examples/wam_ikfast/helpers.cpp
  examples/wam_ikfast/input_handler.cpp
  tutorials/tutorial_biped/main.cpp
  tutorials/tutorial_biped_finished/main.cpp
  tutorials/tutorial_collisions/main.cpp
  tutorials/tutorial_collisions_finished/main.cpp
  tutorials/tutorial_multi_pendulum/main.cpp
  tutorials/tutorial_multi_pendulum_finished/main.cpp
Due: none

Adopt C++20 ranges in example and integration tests (#2603)
  examples/human_joint_limits/human_arm_joint_limit_constraint.cpp
  examples/human_joint_limits/human_leg_joint_limit_constraint.cpp
  examples/soft_bodies/main.cpp
  tests/integration/dynamics/test_atlas_ik.cpp
  tests/integration/dynamics/test_soft_dynamics.cpp
  tests/integration/utils/test_aspect.cpp
  tests/integration/utils/test_concurrency.cpp
  tests/integration/utils/test_frames.cpp
  tests/unit/dynamics/test_body_node_external_force.cpp
  tests/unit/dynamics/test_joint_command.cpp
  tests/unit/dynamics/test_multi_sphere_convex_hull_shape.cpp
  tests/unit/dynamics/test_skeleton_properties.cpp
  tests/unit/dynamics/test_soft_body_node.cpp
  tests/unit/dynamics/test_soft_mesh_shape.cpp
Due: none

Adopt C++20 ranges in math test helpers (#2602)
  tests/benchmark/math/bm_helpers.cpp
  tests/common/lcpsolver/lcp_test_harness.hpp
  tests/common/lcpsolver/lcp_test_problems.hpp
  tests/helpers/gtest_utils.hpp
  tests/unit/math/lcp/test_dantzig_vs_ode.cpp
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
  tests/unit/math/lcp/test_lcp_test_problems.cpp
  tests/unit/math/test_math.cpp
  tests/unit/math/test_polygon_mesh.cpp
Due: none

Adopt C++20 ranges in utility parsing helpers (#2601)
  dart/math/geometry.hpp
  dart/utils/file_info_world.cpp
  dart/utils/sdf/detail/sdf_helpers.cpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/skel_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
  dart/utils/xml_helpers.cpp
Due: Math

Adopt C++20 ranges in dynamics traversal helpers (#2600)
  dart/dynamics/chain.cpp
  dart/dynamics/node.cpp
  dart/dynamics/referential_skeleton.cpp
Due: Dynamics

Adopt C++20 ranges in common math helpers (#2599)
  dart/common/detail/profiler.cpp
  dart/common/pool_allocator.cpp
  dart/math/detail/random-impl.hpp
Due: Common, Math

Adopt C++20 ranges in dynamics core loops (#2598)
  dart/dynamics/group.cpp
  dart/dynamics/inertia.cpp
  dart/dynamics/point_mass.cpp
  dart/dynamics/weld_joint.cpp
Due: Dynamics

Adopt C++20 ranges in remaining LCP solvers (#2597)
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/other/admm_solver.cpp
  dart/math/lcp/other/mprgp_solver.cpp
  dart/math/lcp/other/sap_solver.cpp
Due: Math

Adopt C++20 ranges in GUI render helpers (#2596)
  dart/gui/im_gui_handler.cpp
  dart/gui/render/line_segment_shape_node.cpp
  dart/gui/render/multi_sphere_shape_node.cpp
  dart/gui/render/point_cloud_shape_node.cpp
  dart/gui/support_polygon_visual.cpp
Due: none

Adopt C++20 ranges in collision constraints (#2595)
  dart/collision/dart/dart_collision_detector.cpp
  dart/collision/fcl/fcl_collision_detector.cpp
  dart/constraint/constraint_solver.cpp
  dart/constraint/soft_contact_constraint.cpp
Due: Collision, Constraint

Adopt C++20 ranges in mesh helpers (#2594)
  dart/math/detail/geometry-impl.hpp
  dart/math/detail/polygon_mesh-impl.hpp
  dart/math/detail/tri_mesh-impl.hpp
Due: Math

Adopt C++20 using enum in switch helpers (#2592)
  dart/common/local_resource.cpp
  dart/common/memory_manager.cpp
  dart/dynamics/detail/planar_joint_aspect.cpp
  dart/dynamics/detail/translational_joint2_d_aspect.cpp
  dart/dynamics/euler_joint.cpp
  dart/dynamics/planar_joint.cpp
  dart/io/read.cpp
  dart/math/lcp/lcp_types.cpp
  dart/utils/xml_helpers.cpp
  examples/unified_loading/main.cpp
Due: Common, Math, Dynamics, I/O

Adopt C++20 iota views in LCP solvers (#2591)
  dart/math/lcp/other/shock_propagation_solver.cpp
  dart/math/lcp/projection/bgs_solver.cpp
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
Due: Math

Adopt C++20 jthread in threaded tests (#2589)
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Adopt C++20 ranges for MJCF error aggregation (#2580)
  dart/utils/mjcf/detail/actuator.cpp
  dart/utils/mjcf/detail/asset.cpp
  dart/utils/mjcf/detail/body.cpp
  dart/utils/mjcf/detail/body_attributes.cpp
  dart/utils/mjcf/detail/default.cpp
  dart/utils/mjcf/detail/equality.cpp
  dart/utils/mjcf/detail/error.hpp
  dart/utils/mjcf/detail/geom.cpp
  dart/utils/mjcf/detail/geom_attributes.cpp
  dart/utils/mjcf/detail/inertial.cpp
  dart/utils/mjcf/detail/joint.cpp
  dart/utils/mjcf/detail/mesh.cpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  dart/utils/mjcf/detail/site.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/mjcf/detail/utils.hpp
  dart/utils/mjcf/detail/weld.cpp
  dart/utils/mjcf/detail/worldbody.cpp
Due: none

Adopt C++20 ranges string helpers (#2576)
  tests/unit/common/test_uri.cpp
Due: none

Adopt C++20 concepts in simulation mapping (#2575)
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
Due: none

Adopt C++20 clamp and hypot helpers (#2574)
  dart/collision/dart/dart_collide.cpp
  dart/math/lcp/other/interior_point_solver.cpp
  tests/benchmark/simd/bm_simd.cpp
Due: Math, Collision

Adopt C++20 solver math helpers (#2573)
  dart/math/detail/convhull-impl.hpp
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
Due: Math

Adopt C++20 bit_cast and math helpers (#2572)
  dart/dynamics/arrow_shape.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
  dart/math/geometry.cpp
  dart/simd/detail/avx2/operations.hpp
  dart/simd/detail/scalar/operations.hpp
  dart/simd/detail/sse42/operations.hpp
  examples/coupler_constraint/main.cpp
  tests/integration/collision/test_bullet_ellipsoid_rolling.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
Due: Math, Dynamics

Clean up LCP docs and add PR management workflow (#2571)
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  AGENTS.md
  dart/simulation/world.hpp
  docs/dev_tasks/lcp_epic/README.md
  docs/dev_tasks/lcp_epic/RESUME.md
  docs/onboarding/architecture.md
  docs/onboarding/constraints.md
Due: Simulation

Adopt C++20 construct_at in allocators (#2569)
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.cpp
  dart/common/memory_allocator.hpp
Due: Common

Adopt C++20 byte spans in binary IO (#2568)
  dart/simulation/experimental/io/binary_io.cpp
  dart/simulation/experimental/io/binary_io.hpp
Due: none

Adopt C++20 derived type constraints (#2567)
  dart/common/detail/composite_data.hpp
  dart/common/detail/embedded_aspect.hpp
  dart/dynamics/entity_node.hpp
  python/dartpy/common/type_casters.hpp
Due: Common, Dynamics

Adopt C++20 integer comparison helpers (#2566)
  dart/dynamics/body_node.cpp
  dart/dynamics/skeleton.cpp
  dart/simulation/world.cpp
Due: Dynamics, Simulation

Adopt C++20 numeric and concept helpers (#2564)
  dart/dynamics/detail/heightmap_shape-impl.hpp
  dart/gui/detail/utils-impl.hpp
  dart/gui/render/heightmap_shape_node.hpp
  dart/gui/utils.hpp
  dart/simd/detail/math/sincos_impl.hpp
Due: Dynamics

Adopt C++20 ranges algorithm overloads (#2562)
  dart/collision/bullet/bullet_collision_detector.cpp
  examples/lcp_physics/main.cpp
Due: Collision

Adopt C++20 reverse views for traversal (#2561)
  dart/collision/ode/ode_collision_detector.cpp
  dart/common/detail/lockable_reference-impl.hpp
  dart/dynamics/body_node.cpp
  dart/dynamics/skeleton.cpp
Due: Common, Dynamics, Collision
