Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Improve Filament GUI visual smoke captures
  docs/dev_tasks/filament_gui/06-visual-quality.md
  docs/dev_tasks/filament_gui/README.md
  examples/filament_gui/main.cpp
  examples/filament_gui/materials/imgui.mat
Due: none

Fix run_cpp_example unit tests
  python/tests/unit/test_run_cpp_example.py
Due: none

Fix diagnostic example numeric parsing
  examples/gui_scene_diagnostics/main.cpp
Due: none

Fix Filament smoke and PBR defaults
  dart/dynamics/mesh_material.hpp
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
  tests/unit/CMakeLists.txt
  tests/unit/dynamics/test_mesh_material.cpp
Due: Dynamics

Fix Filament example captures
  cmake/dart_find_filament.cmake
  examples/filament_gui/main.cpp
  examples/filament_gui/materials/textured_lit.mat
  examples/filament_gui/materials/transparent_textured_lit.mat
Due: none

Profile Filament example performance
  examples/filament_gui/README.md
  examples/filament_gui/main.cpp
Due: none

Gate Filament smoke ctest flag
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
Due: none

Stabilize Filament headless smoke
  dart/dynamics/mesh_shape.cpp
  examples/filament_gui/main.cpp
  examples/filament_gui/run_headless_smoke.cmake
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Dynamics

Guard Assimp 6 texture enum in test
  tests/unit/dynamics/test_mesh_shape.cpp
Due: none

Guard Filament descriptor interactions
  dart/gui/experimental/scene.cpp
  dart/gui/experimental/scene.hpp
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Improve Filament windowed shadow quality
  examples/filament_gui/README.md
  examples/filament_gui/main.cpp
Due: none

Fix Filament example package lookup
  examples/filament_gui/CMakeLists.txt
Due: none

Fix Filament package target discovery
  cmake/FindFilament.cmake
  cmake/dart_find_filament.cmake
Due: none

Clarify Filament headless frame pacing
  examples/filament_gui/main.cpp
Due: none

Restore example runner target validation
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
Due: none

Skip GUI diagnostics without experimental target
  examples/gui_scene_diagnostics/CMakeLists.txt
Due: none

Improve free joint energy integration and benchmarks
  CHANGELOG.md
  dart/dynamics/free_joint.cpp
  dart/dynamics/free_joint.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/onboarding/testing.md
  docs/readthedocs/topics/numerical-methods.md
  examples/free_joint_cases/README.md
  examples/free_joint_cases/main.cpp
  pixi.toml
  python/dartpy/simulation/world.cpp
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_world.py
  scripts/check_physics_benchmarks.py
  scripts/run_cpp_benchmark.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/dynamics/bm_articulated_energy.cpp
  tests/benchmark/dynamics/bm_constraint_stability.cpp
  tests/benchmark/dynamics/bm_contact_stability.cpp
  tests/benchmark/dynamics/bm_free_body_energy.cpp
  tests/benchmark/dynamics/bm_free_joint_pose.cpp
  tests/integration/dynamics/test_joints.cpp
  tests/unit/simulation/test_world.cpp
Due: Dynamics, Simulation

Add free joint visual drift and performance plots
  examples/free_joint_cases/README.md
  examples/free_joint_cases/main.cpp
Due: none

Add floating-base articulated integration evidence
  docs/onboarding/testing.md
  docs/readthedocs/topics/numerical-methods.md
  examples/free_joint_cases/README.md
  examples/free_joint_cases/main.cpp
  scripts/check_physics_benchmarks.py
  tests/benchmark/dynamics/bm_articulated_energy.cpp
  tests/unit/simulation/test_world.cpp
Due: none

Broaden FreeJoint general semantics coverage
  dart/dynamics/free_joint.cpp
  docs/readthedocs/topics/numerical-methods.md
  tests/integration/dynamics/test_joints.cpp
Due: Dynamics

Improve Filament GUI visual diagnostics
  .claude/skills/dart-build/SKILL.md
  .codex/skills/dart-build/SKILL.md
  examples/filament_gui/README.md
  examples/filament_gui/main.cpp
  pixi.lock
  pixi.toml
Due: none

Advance native collision north-star migration
  .github/workflows/ci_ubuntu.yml
  CMakeLists.txt
  dart/collision/dart/dart_collision_detector.cpp
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/dart/dart_collision_group.hpp
  dart/collision/dart/dart_collision_object.cpp
  dart/collision/dart/dart_collision_object.hpp
  dart/config.hpp.in
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
  pyproject.toml
  scripts/wheel_build.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/collision/scenarios/README.md
  tests/benchmark/collision/scenarios/bm_dart_adapter.cpp
  tests/benchmark/collision/scenarios/bm_raycast_batch.cpp
  tests/integration/CMakeLists.txt
  tests/integration/collision/test_native_backend_consistency.cpp
  tests/integration/io/test_skel_parser.cpp
  tests/integration/simulation/test_mimic_constraint.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/CMakeLists.txt
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/test_collision_group.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/collision/test_raycast.cpp
  tests/unit/simulation/test_world.cpp
Due: Collision

Alias legacy collision factory keys to native
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/collision/dart/dart_collision_detector.cpp
  dart/collision/dart/dart_collision_detector.hpp
  dart/collision/fcl/fcl_collision_detector.cpp
  dart/collision/ode/ode_collision_detector.cpp
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/integration/collision/test_collision.cpp
  tests/integration/io/test_skel_parser.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/simulation/test_world.cpp
Due: Collision

Clean native collision package exports
  CMakeLists.txt
  cmake/DARTConfig.cmake.in
  cmake/dart_Component.cmake.in
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Fix Filament GUI smoke warning
  examples/filament_gui/main.cpp
Due: none

Default pixi collision builds to native
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
Due: none

Record native runtime package inspection
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Isolate collision reference dependencies
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.lock
  pixi.toml
Due: none

Record native wheel artifact inspection
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Alias dartpy legacy collision detectors to native
  dart/collision/AGENTS.md
  dart/gui/im_gui_handler.cpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  python/dartpy/CMakeLists.txt
  python/dartpy/collision/collision_detector.cpp
  python/tests/unit/collision/test_collision.py
Due: Collision

Alias legacy C++ collision factories to native
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/collision/bullet/bullet_collision_detector.hpp
  dart/collision/fcl/fcl_collision_detector.cpp
  dart/collision/fcl/fcl_collision_detector.hpp
  dart/collision/ode/ode_collision_detector.cpp
  dart/collision/ode/ode_collision_detector.hpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/native/test_reference_backends.cpp
Due: Collision

Move examples to native collision
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  examples/add_delete_skels/CMakeLists.txt
  examples/add_delete_skels/main.cpp
  examples/boxes/CMakeLists.txt
  examples/boxes/README.md
  examples/boxes/main.cpp
  examples/capsule_ground_contact/CMakeLists.txt
  examples/capsule_ground_contact/README.md
  examples/capsule_ground_contact/main.cpp
  examples/fetch/CMakeLists.txt
  examples/fetch/main.cpp
  examples/heightmap/CMakeLists.txt
  examples/heightmap/main.cpp
  examples/human_joint_limits/CMakeLists.txt
  examples/human_joint_limits/main.cpp
  examples/mimic_pendulums/CMakeLists.txt
  examples/mimic_pendulums/main.cpp
  examples/rigid_shapes/main.cpp
Due: none

Move biped tutorials to native collision
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tutorials/tutorial_biped/CMakeLists.txt
  tutorials/tutorial_biped/main.cpp
  tutorials/tutorial_biped_finished/CMakeLists.txt
  tutorials/tutorial_biped_finished/main.cpp
Due: none

Split collision reference components
  CHANGELOG.md
  dart/CMakeLists.txt
  dart/collision/bullet/CMakeLists.txt
  dart/collision/fcl/CMakeLists.txt
  dart/collision/ode/CMakeLists.txt
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/benchmark/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
  tests/unit/collision/native/CMakeLists.txt
Due: Collision

Install native collision compatibility headers
  CHANGELOG.md
  dart/collision/bullet/CMakeLists.txt
  dart/collision/bullet/compat/All.hpp
  dart/collision/bullet/compat/BulletCollisionDetector.hpp
  dart/collision/bullet/compat/BulletCollisionGroup.hpp
  dart/collision/bullet/compat/bullet.hpp
  dart/collision/bullet/compat/bullet_collision_detector.hpp
  dart/collision/bullet/compat/bullet_collision_group.hpp
  dart/collision/fcl/CMakeLists.txt
  dart/collision/fcl/compat/All.hpp
  dart/collision/fcl/compat/FCLCollisionDetector.hpp
  dart/collision/fcl/compat/FCLCollisionGroup.hpp
  dart/collision/fcl/compat/fcl.hpp
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/fcl/compat/fcl_collision_group.hpp
  dart/collision/ode/CMakeLists.txt
  dart/collision/ode/compat/All.hpp
  dart/collision/ode/compat/OdeCollisionDetector.hpp
  dart/collision/ode/compat/OdeCollisionGroup.hpp
  dart/collision/ode/compat/ode.hpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  dart/collision/ode/compat/ode_collision_group.hpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: Collision
