Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Restore native soft mesh cache update
  dart/collision/dart/DARTCollisionObject.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 653da1256fb827b28a00f493e318780b2ec7c5b6
  performance/dart6/data.js
Due: none

Skip empty constraint solve work
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/dynamics/ReferentialSkeleton.cpp
  dart/dynamics/Skeleton.cpp
Due: Dynamics, Constraint

Fix native SDF rounded-shape witnesses
  dart/collision/native/narrow_phase/distance.cpp
  tests/unit/collision/native/test_distance.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
Due: Collision

Fix native distance normal directions
  dart/collision/native/narrow_phase/distance.cpp
  tests/unit/collision/native/test_distance.cpp
Due: Collision

Fix Pixi CMake warning noise
  CHANGELOG.md
  cmake/DARTFindOpenGL.cmake
  pixi.lock
  pixi.toml
  python/CMakeLists.txt
  scripts/wheel_build.py
Due: none

Update fetched pybind11 fallback
  CHANGELOG.md
  python/CMakeLists.txt
Due: none

Center native plane contact witnesses
  dart/collision/native/narrow_phase/plane_sphere.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
Due: Collision

Preserve setup.py Python hints
  setup.py
Due: none

Fix Pixi CMake warning noise (#3344)
  CHANGELOG.md
  cmake/DARTFindOpenGL.cmake
  pixi.lock
  pixi.toml
  python/CMakeLists.txt
  scripts/wheel_build.py
  setup.py
Due: none

Add native distance and plane pairs (#3343)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/distance.cpp
  dart/collision/native/narrow_phase/distance.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/plane_sphere.cpp
  dart/collision/native/narrow_phase/plane_sphere.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_distance.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 309686658e3c06ad553836f894f3f375bbd5659c
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for e685944a305f190a86560c9556911fbd53eb914d
  performance/dart6/data.js
Due: none

Add DART 6 AI infra docs buckets
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-team-task.md
  AGENTS.md
  CHANGELOG.md
  docs/AGENTS.md
  docs/README.md
  docs/ai/README.md
  docs/ai/components.md
  docs/ai/north-star.md
  docs/ai/orchestration.md
  docs/ai/terminology.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/assets/README.md
  docs/background/AGENTS.md
  docs/background/README.md
  docs/design/AGENTS.md
  docs/design/README.md
  docs/design/dart6_ai_infra.md
  docs/dev_tasks/README.md
  docs/information-architecture.md
  docs/plans/AGENTS.md
  docs/plans/README.md
  docs/plans/archive.md
  docs/plans/dashboard.md
  docs/plans/north-star-roadmap.md
  scripts/sync_ai_commands.py
Due: none

docs: refresh DART 7 RTD package guidance
  CHANGELOG.md
  README.md
  docs/readthedocs/conf.py
  docs/readthedocs/dartpy/python_api_reference.rst
  docs/readthedocs/dartpy/user_guide/examples.rst
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

docs: refresh DART 6 RTD website
  CHANGELOG.md
  docs/readthedocs/conf.py
  docs/readthedocs/dart/developer_guide/build.rst
  docs/readthedocs/dart/developer_guide/code_style_guide.rst
  docs/readthedocs/dart/developer_guide/migration_guide.rst
  docs/readthedocs/dart/user_guide/installation.rst
  docs/readthedocs/dart/user_guide/tutorials.rst
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/index.rst
Due: none

Centralize MSVC toolchain policy
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  pixi.toml
Due: none

Centralize MSVC toolchain policy
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  docs/onboarding/ci-cd.md
  pixi.toml
Due: none

docs: link DART 7 RTD changelog entry
  CHANGELOG.md
Due: none

docs: link DART 6 RTD changelog entry
  CHANGELOG.md
Due: none

Link MSVC toolchain changelog entry
  CHANGELOG.md
Due: none

Harden MSVC toolchain helper ordering
  CMakeLists.txt
  cmake/dart_defs.cmake
Due: none

Harden MSVC toolchain helper ordering
  CMakeLists.txt
  cmake/dart_defs.cmake
  docs/onboarding/ci-cd.md
Due: none

Preserve MSVC compiler flag branch
  CMakeLists.txt
Due: none

Preserve MSVC runtime flags for old policy embeds
  cmake/dart_defs.cmake
Due: none

Preserve caller MSVC runtime selection
  cmake/dart_defs.cmake
Due: none

Preserve empty MSVC runtime selection
  cmake/dart_defs.cmake
Due: none

Scope MSVC warnings-as-errors to DART targets
  CMakeLists.txt
  cmake/dart_defs.cmake
Due: none

Let forced MSVC runtime refresh DART cache
  cmake/dart_defs.cmake
Due: none
