Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Backport ARM64 joint copy and Icosphere fixes
  CHANGELOG.md
  dart/dynamics/TranslationalJoint2D.cpp
  dart/dynamics/UniversalJoint.cpp
  dart/dynamics/detail/TranslationalJoint2DAspect.hpp
  dart/math/detail/Icosphere-impl.hpp
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  tests/unit/dynamics/test_Joints.cpp
Due: Math, Dynamics

Use direct LCP assembly for single body contacts
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Guard native plane collision threading
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Round native broadphase bounds outward
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Preserve unbounded multidof URDF limits
  dart/utils/urdf/DartLoader.cpp
  dart/utils/urdf/DartLoader.hpp
  dart/utils/urdf/urdf_world_parser.cpp
  dart/utils/urdf/urdf_world_parser.hpp
  tests/integration/test_DartLoader.cpp
Due: none

Trim native collision pair scratch bookkeeping
  CHANGELOG.md
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Skip redundant single-reactive contact solve scans
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Cache native shape kinds for plane dispatch
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Reduce native contact duplicate grid probes
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Record settled-scene DART native RTF evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Backport MeshShape TriMesh representation
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeMesh.cpp
  dart/dynamics/ArrowShape.cpp
  dart/dynamics/MeshMaterial.hpp
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  dart/gui/osg/InteractiveFrame.cpp
  dart/gui/osg/render/MeshShapeNode.cpp
  dart/math/Mesh.hpp
  dart/math/TriMesh.hpp
  dart/math/detail/Mesh-impl.hpp
  dart/math/detail/TriMesh-impl.hpp
  dart/utils/SkelParser.cpp
  dart/utils/mjcf/detail/Mesh.cpp
  dart/utils/sdf/SdfParser.cpp
  dart/utils/urdf/DartLoader.cpp
  examples/point_cloud/main.cpp
  python/dartpy/dynamics/Shape.cpp
  tests/regression/test_Issue1234.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Math, Dynamics, Collision

Update changelog for MeshShape TriMesh backport
  CHANGELOG.md
Due: none

Fix legacy MeshShape cache invalidation
  dart/dynamics/ArrowShape.cpp
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Dynamics

Expand native broadphase bounds conservatively
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Preserve legacy MeshShape scene on clone
  dart/dynamics/MeshShape.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Dynamics

Track velocity edits for resting fast path
  CHANGELOG.md
  dart/dynamics/FreeJoint.cpp
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Dynamics, Simulation

Reuse default contact constraints across steps
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Test custom contact handler construction path
  tests/integration/test_ConstraintSolver.cpp
Due: none

Avoid inverse transforms in contact point setup
  CHANGELOG.md
  dart/constraint/ContactConstraint.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Reuse consecutive contact pair lookup
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Reuse BodyNode transforms for native identity shapes
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Document native collision transform helper
  dart/collision/dart/DARTCollisionObject.hpp
Due: Collision

Parallelize default contact constraint rebuilds
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Skip duplicate grid for disjoint plane contacts
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Reduce default contact build overhead
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Materialize FCL shared-geometry separation vector to fix dangling temporary
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Test scalar velocity wake from resting fast path
  tests/integration/test_IslandDeactivation.cpp
Due: none

Use C++23 literal operator spelling (#3138)
  CHANGELOG.md
  dart/math/Helpers.hpp
Due: Math

Avoid redundant all-resting state snapshots
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Simulation

Skip redundant default finite-plane filtering
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Cache repeated contact surface lookups
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Backport FCL primitive contact normalization (#3131)
  CHANGELOG.md
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/utils/SkelParser.cpp
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  tests/integration/test_Collision.cpp
  tests/integration/test_Distance.cpp
  tests/integration/test_Friction.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_FclPrimitiveContactMatrix.cpp
  tests/regression/test_FclPrimitiveContactMatrixFcl.cpp
  tests/regression/test_Issue1445.cpp
Due: Collision, Constraint

Backport non-finite contact and shape validation fixes (#3132)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/BoxShape.cpp
  dart/dynamics/BoxShape.hpp
  dart/dynamics/CapsuleShape.cpp
  dart/dynamics/CapsuleShape.hpp
  dart/dynamics/ConeShape.cpp
  dart/dynamics/ConeShape.hpp
  dart/dynamics/CylinderShape.cpp
  dart/dynamics/CylinderShape.hpp
  dart/dynamics/EllipsoidShape.cpp
  dart/dynamics/EllipsoidShape.hpp
  dart/dynamics/PyramidShape.cpp
  dart/dynamics/PyramidShape.hpp
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_NonFiniteContact.cpp
  tests/unit/dynamics/test_ShapeDimensionValidation.cpp
Due: Dynamics, Constraint

Backport mimic motor constraint robustness to release-6.20 (#3137)
  CHANGELOG.md
  dart/constraint/MimicMotorConstraint.cpp
  dart/constraint/MimicMotorConstraint.hpp
  tests/integration/test_Joints.cpp
Due: Constraint

Backport MeshShape TriMesh representation to DART 6.20 (#3145)
  CHANGELOG.md
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeMesh.cpp
  dart/dynamics/ArrowShape.cpp
  dart/dynamics/MeshMaterial.hpp
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  dart/gui/osg/InteractiveFrame.cpp
  dart/gui/osg/render/MeshShapeNode.cpp
  dart/math/Mesh.hpp
  dart/math/TriMesh.hpp
  dart/math/detail/Mesh-impl.hpp
  dart/math/detail/TriMesh-impl.hpp
  dart/utils/SkelParser.cpp
  dart/utils/mjcf/detail/Mesh.cpp
  dart/utils/sdf/SdfParser.cpp
  dart/utils/urdf/DartLoader.cpp
  examples/point_cloud/main.cpp
  python/dartpy/dynamics/Shape.cpp
  tests/regression/test_Issue1234.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Math, Dynamics, Collision

Backport URDF multidof joint limits to release-6.20 (#3134)
  CHANGELOG.md
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/utils/urdf/DartLoader.cpp
  dart/utils/urdf/DartLoader.hpp
  dart/utils/urdf/urdf_world_parser.cpp
  dart/utils/urdf/urdf_world_parser.hpp
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  tests/integration/test_DartLoader.cpp
  tests/unit/dynamics/test_Joints.cpp
Due: Dynamics

Backport Bullet phantom contact filter (#3136)
  CHANGELOG.md
  dart/collision/CollisionOption.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/detail/BulletContact.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  python/dartpy/collision/CollisionOption.cpp
  python/tests/unit/collision/test_collision.py
  tests/integration/test_Collision.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_BulletContact.cpp
Due: Collision, Simulation

Parallelize DART native plane contacts (#3133)
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision, Constraint

Add coverage tests for DART 6.20 backport gaps (#3134, #3136)
  tests/integration/test_DartLoader.cpp
  tests/unit/math/test_Helpers.cpp
Due: none
