Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Default automatic deactivation to OFF (opt-in)
  dart/simulation/DeactivationOptions.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Add coverage tests for island-deactivation API paths
  tests/integration/test_IslandDeactivation.cpp
Due: none

Polish island-deactivation example: inertia, ImGui, shadows, auto-run
  examples/island_deactivation/main.cpp
Due: none

Polish sleeping example UI and rendering
  dart/gui/osg/ImGuiHandler.cpp
  examples/sleeping/main.cpp
Due: none

Apply clang-format to ConstraintSolver island-index changes
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Add island-deactivation GUI example + Skeleton::getIslandIndex()
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  examples/CMakeLists.txt
  examples/island_deactivation/CMakeLists.txt
  examples/island_deactivation/README.md
  examples/island_deactivation/main.cpp
Due: Dynamics, Constraint

Add automatic body deactivation (sleeping), enabled by default
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Constraint, Simulation

Promote ABD benchmark packet manifest
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/implementation-roadmap.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  pixi.toml
  scripts/check_abd_comparison_packet.py
Due: none

Add cylindrical dynamic joint constraint to DART 7
  CHANGELOG.md
  dart/constraint/cylindrical_joint_constraint.cpp
  dart/constraint/cylindrical_joint_constraint.hpp
  dart/constraint/fwd.hpp
  docs/onboarding/api-boundary-inventory.md
  examples/CMakeLists.txt
  examples/README.md
  examples/cylindrical_constraint/CMakeLists.txt
  examples/cylindrical_constraint/README.md
  examples/cylindrical_constraint/main.cpp
  examples/demos/CMakeLists.txt
  examples/demos/registry.cpp
  examples/demos/scenes.hpp
  examples/demos/scenes/dynamic_joint_constraints.cpp
  python/dartpy/constraint/dynamic_joint_constraint.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/constraint.pyi
  python/tests/unit/constraint/test_constraint.py
  tests/unit/CMakeLists.txt
  tests/unit/constraint/test_cylindrical_joint_constraint.cpp
Due: Constraint

Add cylindrical dynamic joint constraint to DART 7 (#2927)
  CHANGELOG.md
  dart/constraint/cylindrical_joint_constraint.cpp
  dart/constraint/cylindrical_joint_constraint.hpp
  dart/constraint/fwd.hpp
  docs/onboarding/api-boundary-inventory.md
  examples/CMakeLists.txt
  examples/README.md
  examples/cylindrical_constraint/CMakeLists.txt
  examples/cylindrical_constraint/README.md
  examples/cylindrical_constraint/main.cpp
  examples/demos/CMakeLists.txt
  examples/demos/registry.cpp
  examples/demos/scenes.hpp
  examples/demos/scenes/dynamic_joint_constraints.cpp
  python/dartpy/constraint/dynamic_joint_constraint.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/constraint.pyi
  python/tests/unit/constraint/test_constraint.py
  tests/unit/CMakeLists.txt
  tests/unit/constraint/test_cylindrical_joint_constraint.cpp
Due: Constraint

add DART Experimental World Performance (googlecpp) benchmark result for c26ae8d0ecfe8048aef041924f4fa515cd2b9ff0
  performance/data.js
Due: none

Update PLAN-031 CUDA substrate status
  docs/design/shared_cuda_device_substrate.md
  docs/plans/dashboard.md
Due: none

Refresh PLAN-080 resume status
  docs/dev_tasks/rigid_body_dynamics_solver/README.md
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
Due: none

Promote ABD benchmark packet manifest (#2926)
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/implementation-roadmap.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  pixi.toml
  scripts/check_abd_comparison_packet.py
Due: none

Refresh PLAN-080 resume status (#2929)
  docs/dev_tasks/rigid_body_dynamics_solver/README.md
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
Due: none

Update PLAN-031 CUDA substrate status (#2928)
  docs/design/shared_cuda_device_substrate.md
  docs/plans/dashboard.md
Due: none

Fix lie group Jacobians and batch adjoints
  CHANGELOG.md
  dart/math/lie_group/batch.hpp
  dart/math/lie_group/group_product_base.hpp
  dart/math/lie_group/se3_base.hpp
  dart/math/lie_group/so3_base.hpp
  docs/design/lie_group_batch.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/math/lie_group/test_batch.cpp
  tests/unit/math/lie_group/test_group_product.cpp
  tests/unit/math/lie_group/test_se3.cpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Add World solver schedule coverage
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
  tests/unit/simulation/experimental/world/test_world_step_schedule.cpp
Due: none

Improve cylindrical constraint coverage
  tests/unit/constraint/test_cylindrical_joint_constraint.cpp
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for 50cf3fb5e10917bb4b3dd11827f4e254976c50b7
  performance/data.js
Due: none

Fix lie group Jacobians and batch adjoints (#2931)
  CHANGELOG.md
  dart/math/lie_group/batch.hpp
  dart/math/lie_group/group_product_base.hpp
  dart/math/lie_group/se3_base.hpp
  dart/math/lie_group/so3_base.hpp
  docs/design/lie_group_batch.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/math/lie_group/test_batch.cpp
  tests/unit/math/lie_group/test_group_product.cpp
  tests/unit/math/lie_group/test_se3.cpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Improve cylindrical joint constraint coverage (#2930)
  tests/unit/constraint/test_cylindrical_joint_constraint.cpp
Due: none

Record PLAN-083 ABD micro-solve decision
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/abd-first-slice-design.md
  docs/plans/083-unified-newton-barrier-multibody/implementation-roadmap.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: none

Record PLAN-083 ABD micro-solve decision (#2933)
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/abd-first-slice-design.md
  docs/plans/083-unified-newton-barrier-multibody/implementation-roadmap.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: none

Add lie group batch benchmarks
  CHANGELOG.md
  pixi.toml
  tests/benchmark/CMakeLists.txt
  tests/benchmark/math/bm_lie_group_batch.cpp
Due: none

Fix math test Pixi target build
  CHANGELOG.md
  pixi.toml
Due: none

Expand DART 7 LCP solver evidence
  CHANGELOG.md
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/jacobi_solver.hpp
  dart/simulation/experimental/CMakeLists.txt
  dart/simulation/experimental/compute/cuda/lcp_jacobi_batch_cuda.cpp
  dart/simulation/experimental/compute/cuda/lcp_jacobi_batch_cuda.cu
  dart/simulation/experimental/compute/cuda/lcp_jacobi_batch_cuda.cuh
  dart/simulation/experimental/detail/boxed_lcp_contact.cpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/04_projection-methods.md
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/07_selection-guide.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/CMakeLists.txt
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/common/lcpsolver/CMakeLists.txt
  tests/common/lcpsolver/lcp_solver_manifest.hpp
  tests/unit/CMakeLists.txt
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_lcp_comparison_harness.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/simulation/experimental/CMakeLists.txt
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: Math

add DART Experimental World Performance (googlecpp) benchmark result for 8a13e9123a1ae4d751ede66bb7665216d48a49cf
  performance/data.js
Due: none

Fix math test Pixi target build (#2935)
  CHANGELOG.md
  pixi.toml
Due: none

Record LCP block solver world-contact benchmark evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Share Newton barrier PSD projection
  dart/simulation/experimental/detail/affine_body_dynamics.cpp
  dart/simulation/experimental/detail/newton_barrier/psd_projection.hpp
  dart/simulation/experimental/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/experimental/contact/test_newton_barrier_primitives.cpp
Due: none

Add Newton LCP gradient warm starts
  CHANGELOG.md
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/fischer_burmeister_newton_solver.hpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.hpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.hpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/05_newton-methods.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
Due: Math

Add PGS warm starts for Newton LCP solvers
  CHANGELOG.md
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/fischer_burmeister_newton_solver.hpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.hpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.hpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/05_newton-methods.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
Due: Math

Add lie group batch benchmarks (#2934)
  CHANGELOG.md
  pixi.toml
  tests/benchmark/CMakeLists.txt
  tests/benchmark/math/bm_lie_group_batch.cpp
Due: none

Share Newton barrier PSD projection (#2936)
  dart/simulation/experimental/detail/affine_body_dynamics.cpp
  dart/simulation/experimental/detail/newton_barrier/psd_projection.hpp
  dart/simulation/experimental/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/experimental/contact/test_newton_barrier_primitives.cpp
Due: none

Address simulation promotion review findings
  dart/simulation/CMakeLists.txt
  dart/simulation/version.hpp
  dart/simulation/version.hpp.in
  docs/design/differentiable_simulation.md
  docs/design/simulation_python_api.md
  scripts/audit_dart7_promotion_surface.py
  scripts/check_dart7_promotion_installed_package.py
  tests/unit/simulation/public_headers/public_header_smoke.cpp.in
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
