Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Drop tracker edits from SIMD cleanup PR
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Document LCP profiling census changelog
  CHANGELOG.md
Due: none

Avoid soft mesh transform refreshes in collision
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftMeshShape.cpp
Due: Dynamics, Collision

Complete DART 6 SIMD integration cleanup (#3334)
  .github/workflows/ci_simd.yml
  docs/readthedocs/dart/developer_guide/build.rst
  docs/readthedocs/locales/ko/LC_MESSAGES/build.po
  docs/readthedocs/locales/ko/LC_MESSAGES/dart/developer_guide/build.po
  docs/readthedocs/locales/ko/LC_MESSAGES/developer_guide/build.po
Due: none

Restore cached soft mesh vertex updates
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/dynamics/SoftMeshShape.cpp
Due: Dynamics, Collision

Honor binary cylinder checks with existing contacts
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Fix cylinder containment contact normals
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Fix contained cylinder capsule endpoint depth
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Fix cylinder box contact positions
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Fix cylinder box edge and manifold handling
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Fix Tracy-only profile recording gate
  dart/common/Profile.hpp
  tests/unit/common/test_Profile.cpp
Due: Common

Fix cylinder capsule boundary normals
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Document accelerator workflow path-filter guardrail
  docs/onboarding/ci-cd.md
Due: none

Fix MSVC ComposeData template ownership
  CHANGELOG.md
  dart/common/detail/composite_data.hpp
Due: Common

Convert planes for native cylinder collisions
  dart/collision/native/detail/NativeShapeConversion.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Link MSVC ComposeData changelog entry
  CHANGELOG.md
Due: none

Restore soft articulated inertia timing
  dart/dynamics/SoftBodyNode.cpp
Due: Dynamics

Fix on-axis cylinder capsule depth
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Fix near-parallel cylinder fallback
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Fix profile recording review issues
  dart/common/Profile.hpp
  dart/common/detail/ProfileRecording.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/ConstraintSolver.cpp
Due: Common, Constraint

Fix native cylinder contact positions
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Record soft inertia comparison evidence
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Trim soft body aggregation temporaries
  dart/dynamics/SoftBodyNode.cpp
Due: Dynamics

Add native cylinder collision pairs (#3324)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  dart/collision/native/narrow_phase/cylinder_collision.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_cylinder_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Document release AI workflow backport routing
  CHANGELOG.md
  docs/onboarding/release-management.md
Due: none

Fix LCP profile census edge cases
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Record soft aggregation benchmark evidence
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

WP-PG.10: add LCP profiling census (#3339)
  CHANGELOG.md
  dart/common/Profile.hpp
  dart/common/detail/ProfileRecording.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/profiling.md
  examples/contact_benchmark/main.cpp
  tests/unit/common/test_Profile.cpp
Due: Common, Constraint

Optimize native soft primitive contacts
  dart/collision/dart/DARTCollide.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/integration/test_SoftDynamics.cpp
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
