Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Throwaway: disable the X1 fast path to check the perf gate fails
  dart/dynamics/detail/GenericJoint.hpp
Due: Dynamics

Throwaway: docs-only change to check the perf job is skipped
  docs/onboarding/profiling.md
Due: none

Throwaway: comment-only change for the perf A/B A/A check
  dart/dynamics/Skeleton.cpp
Due: Dynamics

Throwaway: break the build to check the perf job blames the head
  dart/dynamics/Skeleton.cpp
Due: Dynamics

Pool the DART detector's manifold-cache nodes
  dart/collision/dart/PersistentManifoldCache.hpp
  tests/integration/step_allocation_ratchet.json
  tests/integration/test_StepAllocation.cpp
Due: Collision

Read the disturbance check's forces and commands through each parent joint (#3593)
  dart/dynamics/Skeleton.cpp
Due: Dynamics

Build FreeBSD CI's libccd in double precision and FCL against it
  .github/workflows/ci_freebsd.yml
Due: none

Keep each manifold cache's pool for its whole lifetime
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/PersistentManifoldCache.hpp
  tests/unit/collision/dart/test_persistent_manifold_cache.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for d243c11696056f06ed0bee83f91a819dfa40b04e
  performance/dart6/data.js
Due: none

WIP: friction PR-3a (Codex), before review
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  dart/constraint/detail/FrictionRows.cpp
  dart/constraint/detail/FrictionRows.hpp
  tests/benchmark/FrictionLocalSolve.md
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_friction_local_solve.cpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/FrictionRegressionCases.hpp
  tests/unit/constraint/test_FrictionCone.cpp
  tests/unit/constraint/test_FrictionRows.cpp
Due: Constraint

Use double, not long double, in the friction local solves
  dart/constraint/detail/FrictionCone.cpp
Due: Constraint

Compact the DART detector's AABB tree and halve its pair queries
  dart/collision/dart/broad_phase/AabbTree.cpp
  dart/collision/dart/broad_phase/AabbTree.hpp
  tests/unit/collision/dart/test_aabb_tree.cpp
Due: Collision

Solve the elliptic boundary case with the two-branch secular equation
  dart/constraint/detail/FrictionCone.cpp
  tests/benchmark/FrictionLocalSolve.md
  tests/benchmark/unit/bm_friction_local_solve.cpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Keep the tree self-query for materialized pair queries
  dart/collision/dart/broad_phase/AabbTree.cpp
  dart/collision/dart/broad_phase/AabbTree.hpp
Due: Collision

Refine the exact contact solve until the contact itself certifies
  dart/constraint/detail/FrictionCone.cpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Save per-run compiler-cache snapshots on Linux, macOS and gz-physics
  .github/actions/sccache/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/nightly.yml
  docs/onboarding/ci-cd.md
Due: none

Create collision objects for late shapes in subscription order
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionGroup.hpp
  dart/collision/detail/CollisionGroup.hpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Note why the subscription-order member needs no 6.19 binary compatibility
  dart/collision/CollisionGroup.hpp
Due: Collision

Link #3607 in the CHANGELOG
  CHANGELOG.md
Due: none

Record merge and nightly performance on gh-pages
  .github/workflows/nightly.yml
  .github/workflows/perf.yml
  .github/workflows/performance_dashboard_dart6.yml
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/onboarding/ci-cd.md
  docs/readthedocs/community/performance_dashboard.rst
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Save non-finite penetration diagnostics as null
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Grow each AABB tree id array against its own size
  dart/collision/dart/broad_phase/AabbTree.cpp
Due: Collision

Keep gh-pages publications ordered and save smoke build failures
  .github/workflows/perf.yml
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Make AABB tree insertion all-or-nothing under allocation failure
  dart/collision/dart/broad_phase/AabbTree.cpp
  dart/collision/dart/broad_phase/AabbTree.hpp
Due: Collision

Make perf publication reruns idempotent and keep comments current
  .github/workflows/perf.yml
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/onboarding/ci-cd.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Size the compiler-cache caps from CI's cold builds
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
Due: none

Compare every gated count on merge reruns and show contact pairs
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Measure whole pushes and keep incomparable evidence visible
  .github/workflows/perf.yml
  docs/onboarding/ci-cd.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Refresh merge comments only after publication and fit their guidance
  .github/workflows/perf.yml
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Split chart series by benchmark input and keep nightly failures publishable
  docs/onboarding/ci-cd.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Dispatch on shape type once per pair in the convex narrowphase
  dart/collision/dart/narrow_phase/ConvexConvex-impl.hpp
  dart/collision/dart/narrow_phase/ConvexConvex.cpp
  dart/collision/dart/narrow_phase/MeshMesh.cpp
  tests/unit/collision/dart/test_gjk.cpp
Due: Collision

Make the friction certificate scale-free and reject indefinite blocks
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Fetch main for unknown guard-table commits and fail non-finite checkpoints
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Decide definiteness by eigenvalues and scale local solves exactly
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  tests/benchmark/FrictionLocalSolve.md
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Fail non-finite final penetrations and serialize writers per head
  .github/workflows/perf.yml
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Publish the head workload when a merge changes the portable driver
  .github/workflows/perf.yml
  tests/test_perf_regression.py
Due: none

Fail closed outside the friction solves' supported range
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Keep smoke provenance on head-workload rows and publish added rows
  .github/workflows/perf.yml
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
