Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

WP-091.15: Split simulation stage source layout (#3067)
  dart/simulation/compute/batched_rigid_body_integration_stage.cpp
  dart/simulation/compute/deformable_dynamics_stage.cpp
  dart/simulation/compute/detail/stage_scratch.hpp
  dart/simulation/compute/rigid_body_constraint.cpp
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/compute/rigid_body_integration_stage.cpp
  dart/simulation/compute/rigid_ipc_contact_stage.cpp
  dart/simulation/compute/world_step_pipeline.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.hpp
  dart/simulation/detail/rigid_contact/rigid_contact_assembly.hpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_barrier.hpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_ccd.cpp
  dart/simulation/detail/rigid_ipc/rigid_ipc_ccd.hpp
  dart/simulation/io/detail/rigid_ipc_fixture.cpp
  docs/design/differentiable_simulation.md
  docs/dev_tasks/differentiable_simulation/RESUME.md
  docs/dev_tasks/rigid_ipc_solver/README.md
  docs/dev_tasks/rigid_ipc_solver/RESUME.md
  docs/dev_tasks/variational_integrator_solver/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/primitive-promotion-slice.md
  docs/plans/083-unified-newton-barrier-multibody/shared-primitive-audit.md
  docs/plans/084-variational-integrator-solver/contact-roadmap.md
  docs/plans/091-architecture-hardening.md
  docs/plans/110-differentiable-simulation.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/benchmark/simulation/bm_affine_body_dynamics.cpp
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/benchmark/simulation/bm_rigid_ipc_solver.cpp
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
  tests/unit/simulation/io/test_rigid_ipc_fixture.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Convert live SKEL fixtures to SDF (#3065)
  README.md
  dart/io/AGENTS.md
  dart/io/read.hpp
  dart/utils/dart_resource_retriever.hpp
  data/sdf/test/cube.sdf
  data/sdf/test/shapes.sdf
  data/sdf/test/single_pendulum.sdf
  data/sdf/test/test_shapes.sdf
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/README.md
  docs/onboarding/io-parsing.md
  docs/readthedocs/topics/skel-file-format.md
  python/tests/unit/simulation/test_world.py
  python/tests/unit/utils/test_urdf_parser.py
  tests/AGENTS.md
  tests/integration/io/test_read.cpp
  tests/integration/io/test_urdf_parser.cpp
  tests/integration/utils/test_dart_resource_retriever.cpp
  tests/integration/utils/test_local_resource_retriever.cpp
  tests/unit/io/test_read.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
Due: I/O

Keep profile allocation test on inline graph path
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: none

Limit coverage test parallelism
  pixi.toml
Due: none

Cover legacy sleeping toggle spelling
  tests/integration/test_IslandDeactivation.cpp
Due: none

Add opt-in parallel world stepping
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.hpp
  dart/constraint/detail/IslandSolveExecutor.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  python/dartpy/constraint/ConstraintSolver.cpp
  python/dartpy/simulation/World.cpp
  python/tests/unit/simulation/test_world.py
  tests/benchmark/integration/boxes_headless.cpp
Due: Constraint, Simulation

Discover lockfile workflow release branch
  .github/workflows/update_lockfiles.yml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 0ea99b9aa17de4ca06ded0c14c9a3b7b94aeb67e
  performance/data.js
Due: none

Stabilize CUDA profiling allocation guard
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: none

Align IPC docs with deformable obstacle policy
  docs/dev_tasks/ipc_deformable_solver/README.md
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Link WP-091 facade changelog entry
  CHANGELOG.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 5dbe995d2212201f15a250b5603a8d46dd1b66a5
  performance/data.js
Due: none

Add gz-sim command wake regression coverage (DART 6 LTS) (#3068)
  CHANGELOG.md
  cmake/gz_force_vendor_gtest.cmake
  cmake/gz_physics_force_vendor_gtest.cmake
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  pixi.lock
  pixi.toml
  scripts/run_gz_physics_task.sh
  scripts/run_gz_sim_task.sh
  tests/integration/test_IslandDeactivation.cpp
  tools/gazebo/patches/gz-physics8-changed-world-poses.patch
Due: Constraint, Simulation

Discover lockfile workflow release branch (#3070)
  .github/workflows/update_lockfiles.yml
Due: none

Packaging 6.19.2
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Keep profile allocation test on inline graph path (#3069)
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: none

Fix direct solver thread pool ownership
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Cover joint facade policy fallback paths
  tests/unit/simulation/world/test_world.cpp
Due: none

Harden parallel solver safety checks
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/detail/IslandSolveExecutor.hpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Allow hard-start joint projection policies
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/joint.hpp
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Packaging 6.19.2 (#3073)
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Serialize islands sharing fixed bodies
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Make Python simulation policies write through
  python/dartpy/simulation/module.cpp
  python/tests/unit/simulation/test_world.py
Due: none

Serialize manual constraint solves
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Plan DART 6.20 dependency minimization
  .gitignore
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Plan DART 6.20 dependency minimization (#3074)
  .gitignore
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Share solved-to-rest flags across workers
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Serialize mixed nonreactive skeleton islands
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Initialize island executor test counters
  tests/integration/test_ConstraintSolver.cpp
Due: none

Replace external convex hull implementation
  dart/external/CMakeLists.txt
  dart/external/convhull_3d/CMakeLists.txt
  dart/external/convhull_3d/convhull_3d.h
  dart/external/convhull_3d/safe_convhull_3d.h
  dart/math/detail/Geometry-impl.hpp
  dart/math/detail/convhull-impl.hpp
  dart/math/detail/convhull.hpp
  docs/dev_tasks/dart6_dependency_minimization/README.md
  tests/unit/math/test_Convhull.cpp
Due: Math

Update changelog for convex hull replacement
  CHANGELOG.md
Due: none

Fix release workflow guidance
  .claude/commands/dart-backport-pr.md
  .claude/commands/dart-release-ci-fix.md
  .claude/skills/dart-python/SKILL.md
  .codex/skills/dart-backport-pr/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .codex/skills/dart-release-ci-fix/SKILL.md
  .opencode/command/dart-backport-pr.md
  .opencode/command/dart-release-ci-fix.md
  docs/ai/verification.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/onboarding/contributing.md
  scripts/parallel_jobs.py
Due: none

Serialize shared soft-contact islands
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Preserve convex hull compatibility headers
  CHANGELOG.md
  dart/external/CMakeLists.txt
  dart/external/convhull_3d/CMakeLists.txt
  dart/external/convhull_3d/convhull_3d.h
  dart/external/convhull_3d/safe_convhull_3d.h
  docs/dev_tasks/dart6_dependency_minimization/README.md
  tests/unit/math/test_Convhull.cpp
Due: none

Serialize custom contact and fixed joint groups
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Reserve World state-vector semantics
  CHANGELOG.md
  dart/simulation/diff/rollout.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/dart7_architecture_assessment.md
  docs/design/differentiable_simulation.md
  docs/design/simulation_cpp_api.md
  docs/design/simulation_python_api.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/_simulation_diff.py
  python/dartpy/simulation/module.cpp
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_diff.py
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Link state-vector changelog entry
  CHANGELOG.md
Due: none
