Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Route friction coefficients beyond the cone range to PGS
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  dart/constraint/detail/FrictionRows.cpp
  tests/unit/constraint/test_FrictionRows.cpp
Due: Constraint

Publish head smoke rows whenever their measurement identity changes
  .github/workflows/perf.yml
  tests/test_perf_regression.py
Due: none

Build Windows CI as unity translation units with /Zc:inline (#3588)
  .github/workflows/ci_windows.yml
  dart/CMakeLists.txt
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/narrow_phase/CapsuleCapsule.cpp
  dart/collision/dart/narrow_phase/CapsuleSphere.cpp
  dart/collision/dart/narrow_phase/Ccd.cpp
  dart/collision/dart/narrow_phase/MeshMesh.cpp
  dart/collision/dart/narrow_phase/Mpr.cpp
  dart/collision/dart/narrow_phase/PrimitiveCcd.cpp
  dart/collision/dart/narrow_phase/Raycast.cpp
  dart/collision/dart/narrow_phase/SphereBox.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/CouplerConstraint.cpp
  dart/constraint/DynamicJointConstraint.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/JointCoulombFrictionConstraint.cpp
  dart/constraint/JointLimitConstraint.cpp
  dart/constraint/ServoMotorConstraint.cpp
  dart/constraint/SoftContactConstraint.cpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
  python/dartpy/gui/osg/DebugOverlay.cpp
  python/dartpy/gui/osg/DragAndDrop.cpp
  python/dartpy/gui/osg/GUIEventHandler.cpp
  python/dartpy/gui/osg/GridVisual.cpp
  python/dartpy/gui/osg/ImGuiHandler.cpp
  python/dartpy/gui/osg/ImGuiWidget.cpp
  python/dartpy/gui/osg/RealTimeWorldNode.cpp
  python/dartpy/gui/osg/ShadowTechnique.cpp
  python/dartpy/gui/osg/Viewer.cpp
  python/dartpy/gui/osg/ViewerAttachment.cpp
  python/dartpy/gui/osg/WorldNode.cpp
  python/dartpy/gui/osg/pointers.hpp
  tests/integration/test_SoftWormModel.cpp
Due: Collision, Constraint, LCP Solver

Judge definiteness at rounding scale
  dart/constraint/detail/FrictionCone.cpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Size the compiler-cache caps from warm runs
  .github/actions/sccache/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
Due: none

Pool the DART detector's manifold-cache nodes (#3602)
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/PersistentManifoldCache.hpp
  tests/integration/step_allocation_ratchet.json
  tests/integration/test_StepAllocation.cpp
  tests/unit/collision/dart/test_persistent_manifold_cache.cpp
Due: Collision

Build FreeBSD CI's libccd in double precision and FCL against it (#3601)
  .github/workflows/ci_freebsd.yml
Due: none

Compact the DART detector's AABB tree and halve its pair queries (#3603)
  dart/collision/dart/broad_phase/AabbTree.cpp
  dart/collision/dart/broad_phase/AabbTree.hpp
  tests/unit/collision/dart/test_aabb_tree.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for df47e5a420dda1b049c0c243011fdcd9b43140b3
  performance/dart6/data.js
Due: none

Describe the offline design checks without naming private scripts
  tests/unit/constraint/FrictionRegressionCases.hpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: none

Describe the late-shape CHANGELOG entry without naming a downstream
  CHANGELOG.md
Due: none

Record merge and nightly performance on gh-pages (#3608)
  .github/workflows/nightly.yml
  .github/workflows/perf.yml
  .github/workflows/performance_dashboard_dart6.yml
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/onboarding/ci-cd.md
  docs/readthedocs/community/performance_dashboard.rst
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Describe changelog entries for any downstream
  .agents/skills/dart-changelog/SKILL.md
  .claude/commands/dart-changelog.md
  .opencode/command/dart-changelog.md
  CHANGELOG.md
  docs/onboarding/changelog.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for c1d074f2a348138c1a912b62bded1a6a4d57611c
  performance/dart6/data.js
Due: none

Build the Linux assertions gate as unity translation units
  .github/workflows/ci_ubuntu.yml
  CMakeLists.txt
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
Due: none

Keep local paths out of published text
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-contribute/SKILL.md
  .github/workflows/ci_ubuntu.yml
  .github/workflows/pr_text.yml
  .opencode/command/dart-pr.md
  AGENTS.md
  docs/ai/principles.md
  docs/ai/verification.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/ci-cd.md
  pixi.toml
  python/tests/unit/test_compare_soft_body_detector_pairs.py
  scripts/check_agent_hook.py
  scripts/check_ai_infrastructure.py
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 1543a80e5f85c7c378003e51b3a037818e1f9802
  performance/dart6/data.js
Due: none

Scan staged binaries and skip URL paths in the local-path check
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 789d3662c599a462ef1f9e95d969344416c80e63
  performance/dart6/data.js
Due: none

Fail closed when scaling erases friction-solve quantities
  dart/constraint/detail/FrictionCone.cpp
  dart/constraint/detail/FrictionCone.hpp
  dart/constraint/detail/FrictionRows.cpp
  tests/benchmark/FrictionLocalSolve.md
  tests/unit/constraint/test_FrictionCone.cpp
  tests/unit/constraint/test_FrictionRows.cpp
Due: Constraint

Scan commit messages, filenames and bare home paths
  .claude/hooks/pre-commit-guard.sh
  .github/workflows/pr_text.yml
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/verification.md
  docs/onboarding/ai-tools.md
  docs/onboarding/ci-cd.md
  docs/onboarding/contributing.md
  pixi.toml
  scripts/check_agent_hook.py
  scripts/check_local_paths.py
  scripts/install_git_hooks.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

Bound absorbed residual steps and judge regularization in normalized units
  dart/constraint/detail/FrictionCone.cpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Bound partially absorbed residual steps with their exact rounding error
  dart/constraint/detail/FrictionCone.cpp
  tests/unit/constraint/test_FrictionCone.cpp
Due: Constraint

Scan hash lines and no-verify commit messages for local paths
  .agents/skills/dart-contribute/SKILL.md
  .claude/hooks/pre-commit-guard.sh
  .claude/skills/dart-contribute/SKILL.md
  docs/ai/verification.md
  docs/onboarding/contributing.md
  scripts/check_local_paths.py
  scripts/install_git_hooks.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

Remove per-call heap allocations from DART's convex narrowphase (#3594)
  dart/collision/dart/narrow_phase/ConvexConvex-impl.hpp
  dart/collision/dart/narrow_phase/ConvexConvex.cpp
  dart/collision/dart/narrow_phase/Epa-impl.hpp
  dart/collision/dart/narrow_phase/Gjk.cpp
  dart/collision/dart/narrow_phase/MeshMesh.cpp
  dart/collision/dart/narrow_phase/Mpr-impl.hpp
  dart/collision/dart/narrow_phase/Mpr.cpp
  tests/integration/step_allocation_ratchet.json
  tests/integration/test_StepAllocation.cpp
  tests/unit/collision/dart/test_gjk.cpp
Due: Collision

Save per-run compiler-cache snapshots on Linux, macOS and gz-physics (#3606)
  .github/actions/sccache/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/nightly.yml
  docs/onboarding/ci-cd.md
Due: none

Scan PR commit messages in CI and decode UTF-16 files
  .claude/hooks/pre-commit-guard.sh
  .github/workflows/pr_text.yml
  docs/ai/verification.md
  docs/onboarding/ci-cd.md
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
