Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

add DART 6 Performance (googlecpp) benchmark result for f343528708ef52e520f6f2bdd1a0d371dc38a86b
  performance/dart6/data.js
Due: none

Fix native convex raycast edge cases
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Fix compound raycast endpoint hits
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Fix inside capsule raycast exits
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Fix inside convex raycast exits
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Clarify convex raycast boundary hits
  dart/collision/native/narrow_phase/Raycast.cpp
Due: Collision

Fix native raycast review edge cases
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/Raycast.cpp
  dart/collision/native/shapes/Shape.cpp
  dart/collision/native/shapes/Shape.hpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Preserve mesh raycast boundary hits
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Preserve capsule raycast boundary hits
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Suppress unsupported MSVC dllexport inline flag (#3354)
  cmake/dart_defs.cmake
Due: none

Centralize MSVC toolchain policy for DART 6 LTS (#3348)
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  pixi.toml
Due: none

Fix clang warning in native detector tests
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: none

Route native soft fallback through cached DART objects
  CHANGELOG.md
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  scripts/compare_soft_body_performance.py
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Clamp convex raycast boundary exits
  dart/collision/native/narrow_phase/Raycast.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Include config before benchmark Bullet guards
  tests/benchmark/unit/bm_native_collision.cpp
Due: none

Document autonomous AI task workflow for DART 6
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-team-task.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
Due: none

Document autonomous AI task workflow
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-team-task.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
Due: none

Link DART 6 autonomous workflow changelog entry
  CHANGELOG.md
Due: none

Link autonomous workflow changelog entry
  CHANGELOG.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 541d569045ec167dbd3af7b1c4fde9f07ad7ebf7
  performance/dart6/data.js
Due: none

Add native raycast adapter (#3355)
  CHANGELOG.md
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  dart/collision/native/narrow_phase/Raycast.cpp
  dart/collision/native/narrow_phase/Raycast.hpp
  dart/collision/native/shapes/Shape.cpp
  dart/collision/native/shapes/Shape.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Optimize native soft fallback dispatch
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/constraint/ConstraintSolver.cpp
Due: Collision, Constraint

Rename DART 6 autonomous workflow to dart-ultrawork
  .claude/commands/dart-new-task.md
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-ultrawork.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Rename autonomous workflow to dart-ultrawork
  .claude/commands/dart-new-task.md
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-ultrawork.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

WP-PG.15: promote dense pile sleep policy
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Constraint, Simulation

Add native voxel grid compound support
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Document native voxel grid support
  CHANGELOG.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for e3f7f67211e65d88d16834f331bc40b1f0edaead
  performance/dart6/data.js
Due: none

WP-PG.15: tighten sleep policy gates
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: Constraint, Simulation

Require review loops and GUI evidence in ultrawork
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-ultrawork.md
  CHANGELOG.md
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Require DART 6 ultrawork review and GUI evidence
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-ultrawork.md
  CHANGELOG.md
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Honor brief mode in ultrawork interviews
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-ultrawork.md
Due: none

Honor brief mode in DART 6 ultrawork interviews
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-ultrawork.md
Due: none

Rename DART 6 autonomous AI workflow to dart-ultrawork (#3357)
  .claude/commands/dart-new-task.md
  .claude/commands/dart-new-team-task.md
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-new-team-task.md
  .opencode/command/dart-ultrawork.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
