Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Classify LCP problem forms explicitly
  dart/math/lcp/lcp_solver.hpp
  dart/math/lcp/lcp_types.cpp
  dart/math/lcp/lcp_types.hpp
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/math/lcp.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Align ABD comparison packet branch references
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
Due: none

Refresh ABD comparison packet handoff
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/dashboard.md
Due: none

Bypass variational ground solver for pure compliant contact
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add near-singular LCP demo packet
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Surface LCP problem types in demo
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Avoid duplicate AVBD prepare contact query
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Add near-singular LCP solver smoke coverage
  tests/common/lcpsolver/lcp_problem_factory.hpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: none

Route variational tree scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Improve rigid workflow search routing
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Split dartpy LCP capability expectations
  python/tests/unit/math/test_lcp.py
Due: none

Summarize capture metrics across frames
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Verify LCP demo solver manifest
  python/tests/unit/test_py_demo_panels.py
Due: none

Route variational inverse dynamics scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/variational_integration.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Reject invalid friction-index LCP forms
  dart/math/lcp/lcp_types.hpp
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Reject invalid LCP friction references
  dart/math/lcp/lcp_types.hpp
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Document LCP friction-index classification
  docs/background/lcp/02_overview.md
Due: none

Add rigid normal kinematic push verifier
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_kinematic_normal_push.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add LCP demo solver profiles
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Route variational ground contact scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Link LCP demo packets to benchmark filters
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Avoid duplicate AVBD source-row prechecks
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Add LCP solver dashboard surface
  docs/onboarding/testing.md
  docs/plans/dashboard.md
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
Due: none

Refresh rigid visual verification PR evidence
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Route variational contact evaluation scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Check LCP solver roster consistency
  docs/background/lcp/07_selection-guide.md
  pixi.toml
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Add AVBD rigid related workflow routes
  CHANGELOG.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Verify LCP demo live metrics
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add private CUDA contact candidate packet
  dart/simulation/CMakeLists.txt
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Index rigid related evidence in workflow search
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/runner.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add LCP billiards benchmark packet
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Route variational loop scratch vectors through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Cover LCP billiards display label
  python/tests/unit/test_benchmark_display_names.py
Due: none

Track LCP mass-ratio stack dashboard row
  docs/onboarding/testing.md
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
Due: none

Clarify rigid related evidence search and captures
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Cover LCP dashboard family labels
  python/tests/unit/test_benchmark_display_names.py
Due: none

Add private CUDA CCD line-search packet
  dart/simulation/CMakeLists.txt
  dart/simulation/compute/cuda/ccd_line_search_cuda.cpp
  dart/simulation/compute/cuda/ccd_line_search_cuda.cu
  dart/simulation/compute/cuda/ccd_line_search_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_gpu_ccd_line_search_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/test_plan083_gpu_ccd_line_search_packet.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/cuda/test_ccd_line_search_cuda.cpp
Due: Simulation

Route variational AL post transforms through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Align LCP stack demo benchmark metadata
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
