Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

add DART 7 World Performance (googlecpp) benchmark result for 9cc5e7e4c4746f7ddbbda263380cf04c08f65af8
  performance/data.js
Due: none

Add real-render headless smoke for Python demos (M0 tier-3)
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  pixi.toml
  python/tests/integration/test_demos_render_smoke.py
  scripts/py_demos_smoke.py
Due: none

Record M1 solver-engagement finding (AVBD vs LCP are complementary)
  docs/dev_tasks/py_demos_framework/01-milestones.md
Due: none

WP-091.33a: lock batch semantics tests (#3042)
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/world_batch.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Improve pixi lint check coverage
  pixi.toml
  scripts/lint_toml.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for d063c6e14c1ae8e869eafe64d86d58f6fb65e709
  performance/data.js
Due: none

WP-091.21: bake dense model indices
  CHANGELOG.md
  dart/simulation/body/rigid_body.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/multibody/link.cpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

WP-091.21: bake dense model indices (#3044)
  CHANGELOG.md
  dart/simulation/body/rigid_body.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/multibody/link.cpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

WP-091.33b: add baked rigid batch owner
  CHANGELOG.md
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add SIMBICON foot tilt comparison utility (#3043)
  docs/dev_tasks/simbicon_locomotion/README.md
  docs/dev_tasks/simbicon_locomotion/RESUME.md
  python/tests/unit/test_compare_atlas_simbicon_pose_window.py
  scripts/compare_atlas_simbicon_pose_window.py
Due: none

Expand LCP evidence coverage
  CHANGELOG.md
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cpp
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cu
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cuh
  docs/background/lcp/02_overview.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/07_selection-guide.md
  docs/design/compute_backend_research.md
  python/examples/demos/scenes/lcp_physics.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 9ced3bb911152ae13a01f8a7f18b2a39938d016b
  performance/data.js
Due: none

Close hierarchical memory manager allocation gaps
  .claude/commands/dart-resume.md
  .codex/skills/dart-resume/SKILL.md
  .opencode/command/dart-resume.md
  dart/simulation/compute/compute_executor.hpp
  dart/simulation/compute/deformable_psd_backend.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/detail/smooth_jacobians.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Document warm-start checkpoint retirement path
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/dev_tasks/simbicon_locomotion/README.md
  docs/dev_tasks/simbicon_locomotion/RESUME.md
Due: none

WP-091.33c: add rigid control sequence rollout shape
  CHANGELOG.md
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  dart/simulation/compute/world_batch.cpp
  dart/simulation/compute/world_batch.hpp
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Record merged PLAN-091 packet completions
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 3577b3944644183ace93ce9829504456d54a23c7
  performance/data.js
Due: none

Update LCP demo metadata test
  python/tests/unit/test_py_demo_panels.py
Due: none

Track DART 7 allocation closure plan
  docs/ai/verification.md
  docs/design/hierarchical_allocator.md
  docs/onboarding/testing.md
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/README.md
  docs/plans/dashboard.md
Due: none

Align dense deformable diagnostics tests
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.hpp
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_deformable_body.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Fix DART 6 LTS clean-break policy check
  scripts/check_dart7_clean_break_policy.py
Due: none

Free release build before ASAN CI phase
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
Due: none

Close hierarchical allocator raw-malloc gaps (#3046)
  .claude/commands/dart-resume.md
  .codex/skills/dart-resume/SKILL.md
  .opencode/command/dart-resume.md
  dart/simulation/compute/compute_executor.hpp
  dart/simulation/compute/deformable_psd_backend.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/detail/smooth_jacobians.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/testing.md
  docs/plans/091-architecture-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/README.md
  docs/plans/dashboard.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_deformable_body.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Document warm-start checkpoint retirement path (#3047)
  .github/workflows/ci_ubuntu.yml
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/dev_tasks/simbicon_locomotion/README.md
  docs/dev_tasks/simbicon_locomotion/RESUME.md
  docs/onboarding/ci-cd.md
Due: none

Expand LCP evidence coverage (#3045)
  CHANGELOG.md
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cpp
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cu
  dart/simulation/compute/cuda/lcp_jacobi_batch_cuda.cuh
  docs/background/lcp/02_overview.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/07_selection-guide.md
  docs/design/compute_backend_research.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: Simulation

Keep host compiler cache for CUDA py-demos
  cmake/compiler_cache.cmake
  docs/onboarding/ci-cd.md
  pixi.toml
  python/tests/unit/test_pixi_cuda_py_demos_task.py
Due: none

Refresh north-star operating state
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/dev_tasks/simbicon_locomotion/README.md
  docs/dev_tasks/simbicon_locomotion/RESUME.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Refresh north-star operating state (#3049)
  docs/dev_tasks/simbicon_locomotion/02-warm-start-branch-retirement.md
  docs/dev_tasks/simbicon_locomotion/README.md
  docs/dev_tasks/simbicon_locomotion/RESUME.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Preserve contact wrench cache when sleeping
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Add first-post-bake allocation coverage gates
  dart/simulation/compute/unified_constraint.cpp
  docs/onboarding/testing.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/check_plan122_allocation_matrix.py
  tests/test_check_plan122_allocation_matrix.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Run gz-physics tests in Gazebo CI
  .github/workflows/ci_gz_physics.yml
  CHANGELOG.md
  cmake/gz_physics_force_vendor_gtest.cmake
  pixi.toml
  scripts/run_gz_physics_task.sh
Due: none

add DART 7 World Performance (googlecpp) benchmark result for a2e3c49b38153b6f8829434ee70ee4a279bb7cb7
  performance/data.js
Due: none

Add per-World PSD accelerator policy
  CHANGELOG.md
  dart/simulation/compute/cuda/deformable_psd_projection_cuda.cpp
  dart/simulation/compute/deformable_psd_backend.cpp
  dart/simulation/compute/deformable_psd_backend.hpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  dart/simulation/world_options.hpp
  docs/onboarding/profiling.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/simulation/module.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/compute/test_deformable_psd_backend.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_resolved_configuration.cpp
Due: Simulation

Close boxed-LCP fallback allocation row
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/unified_constraint.cpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Close velocity-actuated multibody allocation row
  dart/simulation/compute/multibody_dynamics.cpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Close deformable dense allocation rows
  dart/simulation/compute/world_step_stage.cpp
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 342e089e08e5f217f281aceca11048a9aed61d0c
  performance/data.js
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
