Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add swept contact candidate packet parity
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Record AVBD final stop handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Route source checkout to Python rigid demos
  CHANGELOG.md
  README.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy.md
  python/tests/integration/test_demos_cycle.py
Due: none

Add AVBD current-pose tiny motor persistence coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Route replay names through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Regenerate LCP performance profiles
  CHANGELOG.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  scripts/lcp_performance_profile.py
Due: none

Link root README to rigid workflow capture docs
  CHANGELOG.md
  README.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy.md
  python/tests/integration/test_demos_cycle.py
Due: none

Route replay joint payloads through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add AVBD breakable joint scale packet
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-breakable-joint-scale-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  python/tests/unit/test_write_avbd_breakable_joint_scale_packet.py
  scripts/write_avbd_breakable_joint_scale_packet.py
Due: none

Show LCP performance profiles in py demo
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Reject replay joint vector size drift
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add compacted contact candidate distance metadata
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Add AVBD breakable motor scale packet
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-breakable-motor-scale-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  python/tests/unit/test_write_avbd_breakable_motor_scale_packet.py
  scripts/write_avbd_breakable_motor_scale_packet.py
Due: none

Add executor equivalence replay timeline
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_executor_equivalence.py
  python/tests/integration/test_demos_cycle.py
Due: none

Record HMM replay allocator handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Record AVBD resumed handoff checkpoint
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Optimize boxed semi-smooth Newton LCP step
  CHANGELOG.md
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: Math

Retire rigid visual verification dev task
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy.md
  python/tests/integration/test_demos_cycle.py
Due: none

Add AVBD friction coefficient sweep packet
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-friction-coefficient-sweep-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-friction-coefficient-sweep-plot.svg
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  python/tests/unit/test_write_avbd_friction_coefficient_sweep_packet.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  scripts/write_avbd_friction_coefficient_sweep_packet.py
  scripts/write_avbd_friction_coefficient_sweep_plot.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
Due: none

Route deformable replay payloads through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Refresh rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Optimize BlockedJacobi singleton LCP blocks
  CHANGELOG.md
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
Due: Math

Add AVBD friction sweep source timing
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-friction-coefficient-sweep-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-friction-coefficient-sweep-plot.svg
  python/tests/unit/test_write_avbd_friction_coefficient_sweep_packet.py
  scripts/run_avbd_demo2d_reference_timing.py
  scripts/write_avbd_friction_coefficient_sweep_packet.py
  scripts/write_avbd_friction_coefficient_sweep_plot.py
Due: none

Record HMM final stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Fix py-demos cycle scene frame budget
  CHANGELOG.md
  dart/gui/detail/application.cpp
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy.md
  docs/plans/dashboard.md
  python/examples/demos/README.md
  python/tests/integration/test_demos_cycle.py
Due: none

Add runtime contact candidate buffer parity
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Reuse BlockedJacobi fixed-bound snapshot products
  CHANGELOG.md
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: Math

Optimize BGS singleton LCP blocks
  CHANGELOG.md
  dart/math/lcp/projection/bgs_solver.cpp
  docs/background/lcp/04_projection-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Optimize ShockPropagation feasible LCP blocks
  CHANGELOG.md
  dart/math/lcp/other/shock_propagation_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_additional_solvers.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Route replay transient restore allocations through World memory
  dart/simulation/compute/compute_graph.cpp
  dart/simulation/compute/compute_graph_visualization.cpp
  dart/simulation/compute/compute_node.cpp
  dart/simulation/compute/compute_stage_metadata.hpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_kinematics_graph.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_compute_graph.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Record HMM hard stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Add CUDA swept contact broad-phase packet
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Tune ADMM default penalty
  CHANGELOG.md
  dart/math/lcp/other/admm_solver.hpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Tune SAP boxed profile regularization
  CHANGELOG.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Improve rigid workflow capture evidence
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_contact_scale_budget.py
  python/examples/demos/scenes/rigid_joint_passive_parameters.py
  python/examples/demos/scenes/rigid_step_diagnostics.py
  python/examples/demos/scenes/rigid_timestep_sensitivity.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Update LCP solver handoff after SAP checkpoint
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Route live deformable storage through World memory
  dart/simulation/comps/deformable_body.cpp
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  dart/simulation/detail/deformable_vbd/stepper.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_vbd_combined_descent.cpp
  tests/unit/simulation/deformable_vbd/test_vbd_parallel_block_descent.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route rigid related search directly
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Clarify HMM hard stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Route deformable creation scratch through World allocator
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
