Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Reject non-finite mass and inertia inputs (DART 6.17)
  dart/dynamics/Inertia.cpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_InvalidDynamicsInputs.cpp
Due: Dynamics

Validate HeightmapShape scale and height field inputs (DART 6.17)
  dart/dynamics/detail/HeightmapShape-impl.hpp
  tests/unit/dynamics/test_HeightmapShape.cpp
Due: Dynamics

Install World step profile headers
  dart/simulation/experimental/CMakeLists.txt
  dart/simulation/experimental/compute/compute_stage_metadata.hpp
  scripts/audit_dart7_promotion_surface.py
Due: none

Validate HeightmapShape scale and height field inputs (DART 7)
  dart/dynamics/detail/heightmap_shape-impl.hpp
  tests/unit/dynamics/test_heightmap_shape.cpp
Due: Dynamics

Include full World step time in profile
  dart/simulation/experimental/world.cpp
Due: none

Restore replay transient state
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Add AVBD revolute joint row configs
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Eliminate baked kinematic IPC step heap allocations
  CHANGELOG.md
  dart/simulation/experimental/compute/compute_graph.cpp
  dart/simulation/experimental/compute/compute_graph.hpp
  dart/simulation/experimental/compute/parallel_executor.cpp
  dart/simulation/experimental/compute/sequential_executor.cpp
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for 76ba4f97872242e0a090916cda93187bc9776501
  performance/data.js
Due: none

Stabilize Signal concurrent usage test
  tests/integration/test_Signal.cpp
Due: none

Extract AVBD one-DOF rigid joint configs
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Reuse rigid IPC kinematic surface scratch
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Harden fixed pool allocator failure paths
  CHANGELOG.md
  dart/common/fixed_pool_allocator.cpp
  tests/unit/common/test_pool_allocator.cpp
Due: Common

Add rigid-body one-DOF joint facades
  CHANGELOG.md
  dart/simulation/experimental/fwd.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/registry.py
  python/examples/demos/scenes/sx_rigid_limited_joints.py
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/dynamics.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Add EnTT registry allocator benchmark coverage
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/onboarding/testing.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Rotate AVBD rigid joint axes with parent frame
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/world.hpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Improve allocator benchmark gate fidelity
  CHANGELOG.md
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

Reject noisy allocator benchmark evidence
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/onboarding/testing.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/test_allocator_comparative_check.py
Due: none

Update allocator benchmark task status
  docs/dev_tasks/hierarchical_memory_manager/README.md
Due: none

Add focused EnTT registry benchmark gate
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/testing.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/test_allocator_comparative_check.py
Due: none

Add mapper coverage for allocator-backed registries
  tests/unit/simulation/experimental/space/test_auto_mapper.cpp
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: none

Fix EnTT allocator benchmark baseline
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/benchmark/CMakeLists.txt
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Align EnTT benchmark with registry allocator policy
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Keep EnTT benchmark input rows opt-in
  scripts/check_allocator_comparative_benchmarks.py
  tests/test_allocator_comparative_check.py
Due: none

Optimize normal-aligned StlAllocator paths
  CHANGELOG.md
  dart/common/detail/stl_allocator-impl.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Common

Add reserved EnTT allocator churn coverage
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_stl_allocator.cpp
Due: none

Enforce no-growth EnTT benchmark counters
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Preserve StlAllocator fixed-pool alignment
  CHANGELOG.md
  dart/common/detail/stl_allocator-impl.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_stl_allocator.cpp
Due: Common

Add EnTT registry build-growth benchmarks
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/test_allocator_comparative_check.py
Due: none

Cover arena-backed EnTT registry no-growth
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_frame_allocator.cpp
Due: none

Avoid fetching EnTT for allocator benchmark checks
  CHANGELOG.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/test_allocator_comparative_check.py
Due: none

Use pixi for DART 6 Windows wheel dependencies (#2882)
  .github/workflows/publish_dartpy.yml
  tests/integration/test_Signal.cpp
Due: none

Reserve World registry storage after checkpoint load
  CHANGELOG.md
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
Due: none

Fix EnTT registry benchmark discovery
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/CMakeLists.txt
  tests/test_allocator_comparative_check.py
Due: none

Add fixed-capacity free-list allocator mode
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Fix VectorMapper unmapped output slots
  CHANGELOG.md
  dart/simulation/experimental/space/vector_mapper.cpp
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: none

Reserve variational state after runtime option switch
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Wire fixed-capacity free list through MemoryManager
  CHANGELOG.md
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/common/pool_allocator.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world_options.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Report DART counters in allocator benchmark checks
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  scripts/check_allocator_comparative_benchmarks.py
Due: none

Support aligned fixed-capacity free-list allocations
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
Due: Common

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
