Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Use SIMD for DART broadphase candidate screening
  .github/workflows/ci_simd.yml
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Address parallel scratch and alignment review feedback
  dart/common/FrameAllocator.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/common/test_FrameAllocator.cpp
Due: Common, Constraint

Short-circuit native sphere-sphere on zero contact limit
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: Collision

Preserve collision result during simulation preparation
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint

Short-circuit native sphere-sphere on zero contact limit
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
Due: Collision

Add demos changelog, contributor README, and close dev-task plan
  CHANGELOG.md
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
  docs/dev_tasks/dart6_consolidated_demos/RESUME.md
  examples/demos/README.md
Due: none

Add headless offscreen render API for dartpy
  dart/gui/CMakeLists.txt
  dart/gui/all.hpp
  dart/gui/detail/render_context.cpp
  dart/gui/offscreen.cpp
  dart/gui/offscreen.hpp
  python/dartpy/CMakeLists.txt
  python/dartpy/__init__.py
  python/dartpy/_world_render_bridge.py
  python/dartpy/gui/module.cpp
  python/dartpy/gui/offscreen.cpp
  python/dartpy/gui/offscreen.hpp
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/unit/gui/test_offscreen_render.py
  scripts/generate_stubs.py
  scripts/py_demos_smoke.py
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_offscreen_renderer.cpp
Due: none

Fix native sphere-sphere zero-contact-limit short-circuit (#3298)
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
Due: Collision

Fix gui-osg mouse-handler unregistration and InteractiveFrameDnD tool ownership
  dart/gui/osg/DefaultEventHandler.cpp
  dart/gui/osg/DragAndDrop.cpp
  dart/gui/osg/DragAndDrop.hpp
Due: none

Avoid simulation preparation constraint side effects
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Add changelog for gui-osg interaction teardown fix
  CHANGELOG.md
Due: none

Reference PR #3300 in gui-osg teardown changelog
  CHANGELOG.md
Due: none

Reference PR #3301 and move gui-osg changelog entry to PR #3300
  CHANGELOG.md
Due: none

Record demos PR numbers in resume notes
  docs/dev_tasks/dart6_consolidated_demos/RESUME.md
Due: none

Add the phase-2 native detector adapter execution plan
  docs/dev_tasks/dart6_dependency_minimization/07-phase2-adapter-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Add agent-time image verdict, golden-diff, and contact-sheet tooling
  pixi.toml
  python/tests/unit/test_image_golden.py
  python/tests/unit/test_image_sheet.py
  python/tests/unit/test_image_verdict.py
  scripts/_image_tools.py
  scripts/image_golden.py
  scripts/image_sheet.py
  scripts/image_verdict.py
Due: none

Fix gui-osg teardown observer cleanup
  dart/gui/osg/DefaultEventHandler.cpp
  dart/gui/osg/DefaultEventHandler.hpp
  dart/gui/osg/DragAndDrop.cpp
  dart/gui/osg/MouseEventHandler.hpp
Due: none

Retain prepared scratch after thread changes
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/simulation/World.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint, Simulation

Port native BruteForce broadphase (phase-2 P1, internal-only)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/broad_phase/broad_phase.hpp
  dart/collision/native/broad_phase/brute_force.cpp
  dart/collision/native/broad_phase/brute_force.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_brute_force.cpp
Due: Collision

Preserve mouse handler ABI during cleanup
  dart/gui/osg/DefaultEventHandler.cpp
  dart/gui/osg/DefaultEventHandler.hpp
  dart/gui/osg/MouseEventHandler.hpp
Due: none

Improve soft bodies visualization capture
  examples/soft_bodies/main.cpp
Due: none

WP-PG.42: SIMD-screen DART broadphase candidates (#3299)
  .github/workflows/ci_simd.yml
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Guard mouse handler dispatch against self-removal
  dart/gui/osg/DefaultEventHandler.cpp
Due: none

Use overflow-safe hypot in native sphere binary overlap
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: Collision

Detach viewer attachments during removal
  dart/gui/osg/Viewer.cpp
Due: none

Render soft meshes two-sided
  dart/gui/osg/render/SoftMeshShapeNode.cpp
Due: none

Preserve collision flags during preparation
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint

Add reusable dart-gui-osg off-screen capture helper
  CMakeLists.txt
  dart/gui/osg/OffscreenViewer.cpp
  dart/gui/osg/OffscreenViewer.hpp
  examples/sleeping/README.md
  examples/sleeping/main.cpp
  examples/ssik_ik_gui/main.cpp
  pixi.toml
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none

Use overflow-safe hypot in native sphere binary overlap
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 95c226d4044f4449b44bc4e18beea061e2cc0975
  performance/dart6/data.js
Due: none

Fix dart-gui-osg mouse-handler unregistration and InteractiveFrameDnD tool ownership (#3300)
  CHANGELOG.md
  dart/gui/osg/DefaultEventHandler.cpp
  dart/gui/osg/DragAndDrop.cpp
  dart/gui/osg/DragAndDrop.hpp
Due: none

add DART 6 Performance (googlecpp) benchmark result for a073d7a6a0d69c246c310cc15bdbf8bcdd02e866
  performance/dart6/data.js
Due: none
