Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add contact helpers for body node access (#2245)
  dart/collision/Contact.cpp
  dart/collision/Contact.hpp
  dart/constraint/ConstraintSolver.cpp
Due: Collision, Constraint

Add PlanarJoint SE2 helpers and doc stub fallback (#2231)
  dart/dynamics/PlanarJoint.cpp
  dart/dynamics/PlanarJoint.hpp
  python/dartpy/dynamics/PlanarJoint.cpp
  tests/integration/test_Joints.cpp
Due: Dynamics

FCL distance: preserve minimum pair result (fix #1539) (#2243)
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/integration/test_Distance.cpp
Due: Collision

Emit collision shape signals on shape changes (#2250)
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/ShapeFrame.cpp
  dart/dynamics/ShapeFrame.hpp
  dart/dynamics/ShapeNode.cpp
  dart/dynamics/ShapeNode.hpp
  tests/unit/dynamics/test_BodyNodeCollisionSignals.cpp
Due: Dynamics

Fix plane collision handling for Bullet and FCL (#2246)
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/regression/test_Issue1234.cpp
Due: Collision

Deep copy shapes when cloning skeletons (fixes #896) (#2239)
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  dart/dynamics/ShapeNode.cpp
  tests/unit/dynamics/test_MeshShape.cpp
  tests/unit/dynamics/test_SkeletonClone.cpp
Due: Dynamics

Handle NaN fallback for Dantzig LCP (#2253)
  dart/constraint/BoxedLcpConstraintSolver.cpp
Due: Constraint

Preserve fixed-joint anchors across save-load
  dart/simulation/experimental/comps/joint.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/io/serializer.cpp
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Add debug asserts for non-finite joint inputs (#2273)
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_GenericJoints.cpp
Due: Dynamics

Fix FCL mesh contact regression (#2258)
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

add DART Experimental World Performance (googlecpp) benchmark result for c24545c22bc0bf99447af78714e18b19cede0bd1
  performance/data.js
Due: none

Fix Bullet ellipsoid rolling (#2274)
  dart/collision/bullet/BulletCollisionDetector.cpp
Due: Collision

Handle MetaSkeleton subscriptions in CollisionGroup (#2277)
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionGroup.hpp
  dart/collision/detail/CollisionGroup.hpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Add state-independent Joint::integratePositions (#2309)
  dart/dynamics/BallJoint.cpp
  dart/dynamics/BallJoint.hpp
  dart/dynamics/FreeJoint.cpp
  dart/dynamics/FreeJoint.hpp
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/HierarchicalIK.cpp
  dart/dynamics/InverseKinematics.cpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/ZeroDofJoint.cpp
  dart/dynamics/ZeroDofJoint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_Joints.cpp
Due: Dynamics

Stabilize FCL contact normals and collision ordering (#2282)
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  tests/integration/test_Collision.cpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_FCLCollisionObject.cpp
Due: Collision

Guard collision filter against missing body nodes (#2343)
  dart/collision/CollisionFilter.cpp
Due: Collision

Fix FreeJoint world Jacobian translation (#2298)
  dart/dynamics/FreeJoint.cpp
Due: Dynamics

Fix dartpy autodoc stub imports and clang-format cache staleness
  CHANGELOG.md
  CMakeLists.txt
  docs/readthedocs/conf.py
Due: none

Fix HeightmapShape visual/collision mismatch (ODE)
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeHeightmap-impl.hpp
  dart/dynamics/detail/HeightmapShape-impl.hpp
Due: Dynamics, Collision

Fix joint impulse statefulness (#2308)
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/dynamics/detail/GenericJointAspect.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/regression/test_Issue1243.cpp
Due: Dynamics, Simulation

Rebuild fixed-joint rows after simulation load
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

fix: replace DART_ASSERT with runtime validation for negative physics parameters (#2431)
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_GenericJoints.cpp
Due: Dynamics

Cover fixed joints during fallback contacts
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Apply clang-format to backported FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
Due: Collision

Adapt backported joint tests to the DART 6.16 test scaffolding
  tests/integration/test_Joints.cpp
Due: none

Preserve parent-local fixed-joint orientation
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Address Codex review: follow transitive includes in the promotion audit
  scripts/audit_dart7_promotion_surface.py
Due: none

Address Codex review: refresh stale header inventory counts
  docs/design/dart7_promotion_readiness_audit.md
Due: none

De-ECS Frame/FreeFrame/FixedFrame public base (PLAN-041 U-WS5-BASE)
  dart/simulation/experimental/body/rigid_body.cpp
  dart/simulation/experimental/constraint/loop_closure.cpp
  dart/simulation/experimental/frame/fixed_frame.cpp
  dart/simulation/experimental/frame/fixed_frame.hpp
  dart/simulation/experimental/frame/frame.cpp
  dart/simulation/experimental/frame/frame.hpp
  dart/simulation/experimental/frame/free_frame.cpp
  dart/simulation/experimental/frame/free_frame.hpp
  dart/simulation/experimental/io/skeleton_loader.cpp
  dart/simulation/experimental/multibody/link.cpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/world.cpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/experimental/compute/test_multibody_link_contact.cpp
  tests/unit/simulation/experimental/compute/test_rigid_body_constraint.cpp
  tests/unit/simulation/experimental/compute/test_unified_constraint.cpp
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/experimental/diff/test_diff_smooth_jacobian.cpp
  tests/unit/simulation/experimental/frame/test_frame.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
  tests/unit/simulation/experimental/world/test_unified_constraint_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Address Codex review: make the inventory-refresh instruction self-contained
  docs/design/dart7_promotion_readiness_audit.md
Due: none

Add contact/constraint parity rows for DART 7 experimental World (PLAN-080 B3)
  tests/unit/simulation/experimental/world/test_world_contact_parity.cpp
Due: none

Fix dartpy autodoc stub imports and clang-format cache staleness (#2851)
  CHANGELOG.md
  CMakeLists.txt
  docs/readthedocs/conf.py
Due: none

Add DART 7 rigid open-chain dynamics parity harness (PLAN-080 B2) (#2842)
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/rigid_body_dynamics_solver/README.md
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/experimental/world/test_world_parity.cpp
Due: none

Backport DART 6 SDF parser fixes to 6.17.0 (#2853)
  dart/utils/sdf/SdfParser.cpp
  tests/integration/test_SdfParser.cpp
Due: none

Skip slow IPC kinematic rollouts under coverage
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Backport DART 6 RealTimeWorldNode stall fix to 6.17.0 (#2854)
  dart/gui/osg/RealTimeWorldNode.cpp
  dart/gui/osg/RealTimeWorldNode.hpp
Due: none

Report the required GZ Physics Tests context on main PRs
  .github/workflows/ci_gz_physics.yml
  docs/onboarding/ci-cd.md
Due: none

Fix legacy link mass deserialization
  dart/simulation/experimental/io/serializer.cpp
Due: none

Address Codex review: move blocker checklist + parity status to the plan
  docs/design/dart7_promotion_readiness_audit.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
