Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Reject locked actuators in differentiable steps
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Cover SDF issue model fixture round trips
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Copy servo commands when loading skeletons
  dart/simulation/io/skeleton_loader.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
Due: Simulation

Cover SDF universal joint fixture round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Port native collision math core: AABB, GJK/MPR, box-box, sphere-sphere (internal-only)
  dart/collision/CMakeLists.txt
  dart/collision/native/CMakeLists.txt
  dart/collision/native/aabb.cpp
  dart/collision/native/aabb.hpp
  dart/collision/native/contact_manifold.cpp
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/contact_point.hpp
  dart/collision/native/detail/span.hpp
  dart/collision/native/export.hpp
  dart/collision/native/fwd.hpp
  dart/collision/native/narrow_phase/box_box.cpp
  dart/collision/native/narrow_phase/box_box.hpp
  dart/collision/native/narrow_phase/box_box/contact_reduction.cpp
  dart/collision/native/narrow_phase/box_box/contact_reduction.hpp
  dart/collision/native/narrow_phase/box_box/face_clip.cpp
  dart/collision/native/narrow_phase/box_box/face_clip.hpp
  dart/collision/native/narrow_phase/box_box/sat.cpp
  dart/collision/native/narrow_phase/box_box/sat.hpp
  dart/collision/native/narrow_phase/gjk.cpp
  dart/collision/native/narrow_phase/gjk.hpp
  dart/collision/native/narrow_phase/gjk_inl.hpp
  dart/collision/native/narrow_phase/mpr.cpp
  dart/collision/native/narrow_phase/mpr.hpp
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  dart/collision/native/narrow_phase/sphere_sphere.hpp
  dart/collision/native/sdf/signed_distance_field.hpp
  dart/collision/native/shapes/shape.cpp
  dart/collision/native/shapes/shape.hpp
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_aabb.cpp
  tests/unit/collision/native/test_box_box.cpp
  tests/unit/collision/native/test_gjk.cpp
  tests/unit/collision/native/test_gjk_degenerate.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
  tests/unit/collision/native/test_types.cpp
Due: Collision

Add the phase-1 port packet for the native collision core
  docs/dev_tasks/dart6_dependency_minimization/06-phase1-port-packet.md
Due: none

Fix gui-osg mouse-handler unregistration and InteractiveFrameDnD tool ownership
  dart/gui/osg/DefaultEventHandler.cpp
  dart/gui/osg/DragAndDrop.cpp
  dart/gui/osg/DragAndDrop.hpp
Due: none

Port batch-2 constraint and soft-body scenes into dart-demos
  examples/demos/CMakeLists.txt
  examples/demos/DemoScene.hpp
  examples/demos/Registry.cpp
  examples/demos/scenes/DynamicJointConstraintsScene.cpp
  examples/demos/scenes/EmptyScene.cpp
  examples/demos/scenes/HeightmapScene.cpp
  examples/demos/scenes/JointConstraintsScene.cpp
  examples/demos/scenes/MixedChainScene.cpp
  examples/demos/scenes/RigidCubesScene.cpp
  examples/demos/scenes/Scenes.hpp
  examples/demos/scenes/SoftBodiesScene.cpp
  examples/demos/scenes/ZUp.hpp
  examples/demos/scenes/human_joint_limits/HumanArmJointLimitConstraint.cpp
  examples/demos/scenes/human_joint_limits/HumanArmJointLimitConstraint.hpp
  examples/demos/scenes/human_joint_limits/HumanJointLimitsScene.cpp
  examples/demos/scenes/human_joint_limits/HumanLegJointLimitConstraint.cpp
  examples/demos/scenes/human_joint_limits/HumanLegJointLimitConstraint.hpp
  examples/demos/scenes/tinkertoy/TinkertoyScene.cpp
  examples/demos/scenes/tinkertoy/TinkertoyState.cpp
  examples/demos/scenes/tinkertoy/TinkertoyState.hpp
Due: none

Record second gui-osg interaction bug and B2 catalog notes
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
Due: none

Mark demos batch B2 accepted in plan
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
Due: none

Allow locked fixed joints in differentiable worlds
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Track phase-1 port PR 3281 on the orchestration dashboard
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Cover SDF relative mesh fixture round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Reject legacy joint actuation records
  dart/simulation/io/serializer.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: Simulation

Reject differentiable acceleration actuators
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Prune POSIX math links from MSVC imports
  CHANGELOG.md
  cmake/dart_defs.cmake
  dart/utils/CMakeLists.txt
  python/tests/unit/test_cmake_msvc_link_sanitizer.py
Due: none

Cover combined SDF collision surface round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Honor enableContact in native sphere-sphere binary checks
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  docs/dev_tasks/dart6_dependency_minimization/06-phase1-port-packet.md
  tests/unit/collision/native/test_sphere_sphere.cpp
Due: Collision

Copy acceleration commands when loading skeletons
  dart/simulation/io/skeleton_loader.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
Due: Simulation

Honor enableContact in native sphere-sphere binary checks
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: Collision

Reference the dual PR number in the phase-1 deviation note
  docs/dev_tasks/dart6_dependency_minimization/06-phase1-port-packet.md
Due: none

Fix FreeBSD split impulse validation
  .github/workflows/ci_freebsd.yml
  dart/simulation/World.cpp
Due: Simulation

Cover SDF ground world fixture round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for e0d13fd511b18af02aea9b587533739093e59e82
  performance/data.js
Due: none

Note the matrix-free contact crossover benchmark in the roadmap and handoff (#3277)
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Fix coverage report task quoting
  pixi.toml
  python/tests/unit/test_coverage_report.py
  scripts/coverage_report.py
Due: none

Respect tuned shallow drift thresholds
  dart/simulation/World.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Simulation

Select named SDF world models for writer coverage
  CHANGELOG.md
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/sdf/sdf_parser.hpp
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_sdf_writer.cpp
Due: none

Preserve reset shallow support velocities
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_SplitImpulse.cpp
Due: Simulation

Port batch-3 control and IK scenes into dart-demos
  examples/demos/CMakeLists.txt
  examples/demos/Registry.cpp
  examples/demos/scenes/BipedStandScene.cpp
  examples/demos/scenes/ContactInverseDynamicsScene.cpp
  examples/demos/scenes/HybridDynamicsScene.cpp
  examples/demos/scenes/OperationalSpaceControlScene.cpp
  examples/demos/scenes/Scenes.hpp
  examples/demos/scenes/ssik_ik_gui/ArmSkeleton.cpp
  examples/demos/scenes/ssik_ik_gui/ArmSkeleton.hpp
  examples/demos/scenes/ssik_ik_gui/SsikBridge.cpp
  examples/demos/scenes/ssik_ik_gui/SsikBridge.hpp
  examples/demos/scenes/ssik_ik_gui/SsikIkGuiScene.cpp
  examples/demos/scenes/wam_ikfast/WamIkFastScene.cpp
  examples/demos/scenes/wam_ikfast/ikfast/CMakeLists.txt
  examples/demos/scenes/wam_ikfast/ikfast/ikfast71.Transform6D.4_6_9_10_11_12_f8.cpp
Due: none

Mark demos batch B3 accepted in plan
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
Due: none

Use shared coverage parallelism policy
  python/tests/unit/test_coverage_report.py
  scripts/coverage_report.py
Due: none

Cover selected SDF double pendulum worlds
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Defer coverage parallel job helper loading
  python/tests/unit/test_coverage_report.py
  scripts/coverage_report.py
  scripts/parallel_jobs.py
Due: none

Cover selected SDF models from later worlds
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Add the dart-new-team-task orchestration kickoff workflow
  .claude/commands/dart-new-task.md
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-new-team-task.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/workflows.md
Due: none

Add the dart-new-team-task orchestration kickoff workflow
  .claude/commands/dart-new-task.md
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-new-team-task.md
  docs/ai/capabilities.json
  docs/ai/workflows.md
Due: none

Cover selected SDF cubes from many-model worlds
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Cover URDF primitive fixture writer round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_urdf_writer.cpp
Due: none

Add the oracle role to the dart-new-team-task workflow
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-team-task.md
  docs/ai/orchestration.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
