Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

perf: add allocator benchmark suite and optimize hot paths
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/pool_allocator.cpp
  dart/common/pool_allocator.hpp
  pixi.lock
  pixi.toml
  scripts/check_allocator_benchmarks.py
  scripts/report_allocator_benchmarks.py
  scripts/run_cpp_benchmark.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/common/bm_allocators.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: Common

feat(mjcf): update parser for MuJoCo 3.x compatibility
  CHANGELOG.md
  dart/utils/mjcf/detail/asset.cpp
  dart/utils/mjcf/detail/body.cpp
  dart/utils/mjcf/detail/compiler.cpp
  dart/utils/mjcf/detail/compiler.hpp
  dart/utils/mjcf/detail/default.cpp
  dart/utils/mjcf/detail/equality.cpp
  dart/utils/mjcf/detail/error.hpp
  dart/utils/mjcf/detail/joint.cpp
  dart/utils/mjcf/detail/joint.hpp
  dart/utils/mjcf/detail/joint_attributes.cpp
  dart/utils/mjcf/detail/joint_attributes.hpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  dart/utils/mjcf/detail/option.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/mjcf/detail/utils.hpp
  dart/utils/mjcf/detail/worldbody.cpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix: validate Problem and MultiObjectiveProblem dimension (backport #2500)
  CHANGELOG.md
  dart/optimizer/MultiObjectiveProblem.cpp
  dart/optimizer/MultiObjectiveProblem.hpp
  dart/optimizer/Problem.cpp
  dart/optimizer/Problem.hpp
  tests/integration/test_MultiObjectiveOptimization.cpp
  tests/integration/test_Optimizer.cpp
Due: Optimizer

fix: validate Problem dimension to prevent excessive allocation (#2500)
  CHANGELOG.md
  dart/math/optimization/problem.cpp
  dart/math/optimization/problem.hpp
  tests/unit/math/optimization/test_problem.cpp
Due: Math

feat(mjcf): add actuator, contact, texture, material, camera, light parsing
  CHANGELOG.md
  dart/utils/mjcf/detail/actuator.cpp
  dart/utils/mjcf/detail/actuator.hpp
  dart/utils/mjcf/detail/actuator_attributes.cpp
  dart/utils/mjcf/detail/actuator_attributes.hpp
  dart/utils/mjcf/detail/asset.cpp
  dart/utils/mjcf/detail/asset.hpp
  dart/utils/mjcf/detail/body.cpp
  dart/utils/mjcf/detail/body.hpp
  dart/utils/mjcf/detail/camera.cpp
  dart/utils/mjcf/detail/camera.hpp
  dart/utils/mjcf/detail/contact.cpp
  dart/utils/mjcf/detail/contact.hpp
  dart/utils/mjcf/detail/light.cpp
  dart/utils/mjcf/detail/light.hpp
  dart/utils/mjcf/detail/material.cpp
  dart/utils/mjcf/detail/material.hpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  dart/utils/mjcf/detail/mujoco_model.hpp
  dart/utils/mjcf/detail/texture.cpp
  dart/utils/mjcf/detail/texture.hpp
  dart/utils/mjcf/detail/types.hpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix: compute used() from aligned base for cross-platform correctness
  dart/common/frame_allocator.cpp
Due: Common

fix: validate Problem and MultiObjectiveProblem dimension (backport #2500) (#2503)
  CHANGELOG.md
  dart/optimizer/MultiObjectiveProblem.cpp
  dart/optimizer/MultiObjectiveProblem.hpp
  dart/optimizer/Problem.cpp
  dart/optimizer/Problem.hpp
  tests/integration/test_MultiObjectiveOptimization.cpp
  tests/integration/test_Optimizer.cpp
Due: Optimizer

fix: remove unused variables in benchmark scripts
  scripts/check_allocator_benchmarks.py
  scripts/report_allocator_benchmarks.py
Due: none

fix: validate Problem dimension to prevent excessive allocation (#2502)
  CHANGELOG.md
  dart/math/optimization/problem.cpp
  dart/math/optimization/problem.hpp
  tests/unit/math/optimization/test_problem.cpp
Due: Math

fix(mjcf): preserve force limit ordering with negative gear, add coverage tests
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix(mjcf): warn on duplicate actuator joint targets
  dart/utils/mjcf/mjcf_parser.cpp
Due: none

feat(mjcf): update parser for MuJoCo 3.x compatibility (#2505)
  CHANGELOG.md
  dart/utils/mjcf/detail/asset.cpp
  dart/utils/mjcf/detail/body.cpp
  dart/utils/mjcf/detail/compiler.cpp
  dart/utils/mjcf/detail/compiler.hpp
  dart/utils/mjcf/detail/default.cpp
  dart/utils/mjcf/detail/equality.cpp
  dart/utils/mjcf/detail/error.hpp
  dart/utils/mjcf/detail/joint.cpp
  dart/utils/mjcf/detail/joint.hpp
  dart/utils/mjcf/detail/joint_attributes.cpp
  dart/utils/mjcf/detail/joint_attributes.hpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  dart/utils/mjcf/detail/option.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/mjcf/detail/utils.hpp
  dart/utils/mjcf/detail/worldbody.cpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix: guard null buffer in FrameAllocator fast paths to prevent UB
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

fix(mjcf): add DART_UTILS_API to Asset class for Windows DLL export
  dart/utils/mjcf/detail/asset.hpp
Due: none

fix(mjcf): accept "auto" for ctrllimited and forcelimited actuator attributes
  dart/utils/mjcf/detail/actuator.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix: return nullptr for zero-byte allocations in FrameAllocator
  dart/common/frame_allocator.hpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

fix: preserve 32-byte alignment invariant in allocateAligned()
  dart/common/frame_allocator.hpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

fix: include StlContainer benchmarks in regression gate
  tests/benchmark/common/bm_allocators.cpp
Due: none

feat(collision): add compound shapes, parallel narrowphase, DART backend integration, and VSG improvements
  .github/workflows/ci_ubuntu.yml
  dart/collision/CMakeLists.txt
  dart/collision/experimental/collision_world.cpp
  dart/collision/experimental/narrow_phase/narrow_phase.cpp
  dart/collision/experimental/shapes/shape.cpp
  dart/collision/experimental/shapes/shape.hpp
  dart/collision/experimental_backend/CMakeLists.txt
  dart/collision/experimental_backend/experimental_collision_detector.cpp
  dart/collision/experimental_backend/experimental_collision_detector.hpp
  dart/collision/experimental_backend/experimental_collision_group.cpp
  dart/collision/experimental_backend/experimental_collision_group.hpp
  dart/collision/experimental_backend/experimental_collision_object.cpp
  dart/collision/experimental_backend/experimental_collision_object.hpp
  dart/collision/experimental_backend/shape_adapter.cpp
  dart/collision/experimental_backend/shape_adapter.hpp
  dart/gui/vsg/im_gui_viewer.cpp
  dart/gui/vsg/im_gui_viewer.hpp
  dart/gui/vsg/simple_viewer.cpp
  examples/collision_sandbox/main.cpp
  tests/benchmark/collision/scenarios/bm_pipeline_breakdown.cpp
  tests/unit/CMakeLists.txt
  tests/unit/collision/experimental/CMakeLists.txt
  tests/unit/collision/experimental/test_collision_world.cpp
  tests/unit/collision/experimental/test_compound.cpp
  tests/unit/collision/experimental/test_parallel_determinism.cpp
  tests/unit/collision/test_experimental_backend.cpp
  tests/unit/gui/vsg/test_collision_scene_builder.cpp
  tests/unit/gui/vsg/test_debug_draw.cpp
  tests/unit/gui/vsg/test_geometry_builders.cpp
  tests/unit/gui/vsg/test_simple_viewer.cpp
Due: Collision

docs: update experimental collision progress for compound shapes, parallel narrowphase, and DART backend
  docs/dev_tasks/experimental_collision/README.md
  docs/dev_tasks/experimental_collision/gap_analysis.md
  docs/dev_tasks/experimental_collision/progress.md
Due: none

style: fix clang-format in lcp_solvers example
  examples/lcp_solvers/main.cpp
Due: none

chore: add gitignore patterns for headless frame capture artifacts
  .gitignore
Due: none

fix(gui): use manual captureBuffer for headless frame capture
  CHANGELOG.md
  dart/gui/im_gui_handler.cpp
  dart/gui/im_gui_viewer.cpp
  dart/gui/im_gui_viewer.hpp
  examples/lcp_physics/README.md
  examples/lcp_physics/main.cpp
Due: none

docs: update lcp_epic dev task docs with headless capture changes
  docs/dev_tasks/lcp_epic/README.md
  docs/dev_tasks/lcp_epic/RESUME.md
Due: none

perf: add allocator benchmark suite and optimize hot paths (#2504)
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/pool_allocator.cpp
  dart/common/pool_allocator.hpp
  pixi.lock
  pixi.toml
  scripts/check_allocator_benchmarks.py
  scripts/report_allocator_benchmarks.py
  scripts/run_cpp_benchmark.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/common/bm_allocators.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

feat(lcp): add APGD and TGS solvers (Phase 4) (#2465)
  dart/math/lcp/CMakeLists.txt
  dart/math/lcp/all.hpp
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.hpp
  dart/math/lcp/other/admm_solver.cpp
  dart/math/lcp/other/admm_solver.hpp
  dart/math/lcp/other/sap_solver.cpp
  dart/math/lcp/other/sap_solver.hpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/apgd_solver.hpp
  dart/math/lcp/projection/tgs_solver.cpp
  dart/math/lcp/projection/tgs_solver.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_epic/README.md
  examples/lcp_solvers/main.cpp
  python/dartpy/simulation/world.cpp
  python/tests/unit/simulation/test_world.py
  scripts/lcp_performance_profile.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/common/lcpsolver/lcp_problem_factory.hpp
  tests/unit/CMakeLists.txt
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/simulation/test_world_config.cpp
Due: Math, Simulation

fix: TranslationalJoint2D SEGFAULT on macOS ARM64 and copy bugs
  CHANGELOG.md
  dart/dynamics/detail/translational_joint2_d_aspect.hpp
  dart/dynamics/translational_joint2_d.cpp
  dart/dynamics/universal_joint.cpp
  tests/unit/dynamics/test_translational_joint2_d.cpp
Due: Dynamics

docs(build): add gz-physics BoxedLcpConstraintSolver compatibility gotcha
  docs/onboarding/build-system.md
Due: none

test(mjcf): add coverage tests for actuator defaults, contact pairs, camera/light/material attributes
  tests/integration/io/test_mjcf_parser.cpp
Due: none

docs: clean up allocator dev_tasks and update onboarding docs
  dart/common/AGENTS.md
  docs/dev_tasks/hierarchical-allocator/README.md
  docs/dev_tasks/hierarchical-allocator/RESUME.md
  docs/onboarding/architecture.md
  docs/onboarding/testing.md
Due: Common

refactor: drop batch namespace, keep _batch suffix for flat API
  dart/math/geometry.cpp
  dart/math/geometry.hpp
  tests/benchmark/math/bm_spatial_algebra.cpp
  tests/unit/math/test_geometry.cpp
Due: Math

feat(simd): SIMD optimizations with benchmarks for math and dynamics (#2498)
  dart/math/geometry.cpp
  dart/math/geometry.hpp
  dart/math/helpers.hpp
  tests/benchmark/CMakeLists.txt
  tests/benchmark/dynamics/bm_jacobian.cpp
  tests/benchmark/dynamics/bm_mesh_bbox.cpp
  tests/benchmark/dynamics/bm_soft_body.cpp
  tests/benchmark/math/bm_helpers.cpp
  tests/benchmark/math/bm_spatial_algebra.cpp
  tests/unit/math/test_geometry.cpp
Due: Math

fix(mjcf): default ctrllimited/forcelimited to auto when attribute omitted
  dart/utils/mjcf/detail/actuator.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

feat: LCP Epic - solver selection, test infrastructure, Python bindings (DART 7) (#2464)
  .gitignore
  CHANGELOG.md
  dart/gui/im_gui_handler.cpp
  dart/gui/im_gui_handler.hpp
  dart/gui/im_gui_viewer.cpp
  dart/gui/im_gui_viewer.hpp
  dart/gui/world_node.cpp
  dart/gui/world_node.hpp
  docs/dev_tasks/lcp_epic/RESUME.md
  examples/CMakeLists.txt
  examples/README.md
  examples/atlas_simbicon/main.cpp
  examples/box_stacking/main.cpp
  examples/coupler_constraint/main.cpp
  examples/fetch/main.cpp
  examples/free_joint_cases/main.cpp
  examples/heightmap/main.cpp
  examples/imgui/main.cpp
  examples/lcp_physics/CMakeLists.txt
  examples/lcp_physics/README.md
  examples/lcp_physics/main.cpp
  examples/lcp_solvers/README.md
  examples/lcp_solvers/main.cpp
  examples/mimic_pendulums/main.cpp
  examples/point_cloud/main.cpp
  examples/tinkertoy/main.cpp
Due: none

fix(mjcf): clear stale force limits when later actuator has none
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix: Icosphere SEGFAULT on macOS ARM64 (static alignment issue)
  CHANGELOG.md
  dart/math/detail/icosphere-impl.hpp
Due: Math

fix(mjcf): parse actuator gear as Vector6d instead of scalar
  dart/utils/mjcf/detail/actuator.cpp
  dart/utils/mjcf/detail/actuator.hpp
  dart/utils/mjcf/detail/actuator_attributes.cpp
  dart/utils/mjcf/detail/actuator_attributes.hpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

fix(mjcf): scale force limits per-DOF using corresponding gear element
  dart/utils/mjcf/mjcf_parser.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none

test: add UniversalJoint::copy coverage and ignore -impl.hpp in codecov
  codecov.yml
  tests/unit/dynamics/test_universal_joint.cpp
Due: none

feat(mjcf): honor <default> actuator attributes when parsing
  dart/utils/mjcf/detail/actuator.cpp
  dart/utils/mjcf/detail/actuator.hpp
  dart/utils/mjcf/detail/actuator_attributes.cpp
  dart/utils/mjcf/detail/default.cpp
  dart/utils/mjcf/detail/default.hpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  tests/integration/io/test_mjcf_parser.cpp
Due: none
