Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Fix SEGV in ImFontAtlas font loading with null pointer input (DART 7)
  CHANGELOG.md
  cmake/dart_find_dependencies.cmake
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_null_font_guard.cpp
Due: none

fix(gui): Add null pointer guards to ImGui font loading functions
  CHANGELOG.md
  dart/external/imgui/imgui_draw.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2516.cpp
Due: none

fix: remove IM_ASSERT before null guards and gate test for system ImGui
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
Due: none

fix: remove IM_ASSERT before null guards for graceful handling in debug builds
  dart/external/imgui/imgui_draw.cpp
Due: none

fix: add FATAL_ERROR when ImGui patch patterns are not matched
  cmake/patches/imgui_null_font_guard.cmake
Due: none

chore: use correct milestone link for 6.16.8
  CHANGELOG.md
Due: none

Fix SEGV in ImFontAtlas font loading with null pointer input (DART 6.16) (#2517)
  CHANGELOG.md
  dart/external/imgui/imgui_draw.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2516.cpp
Due: none

fix: iterator invalidation in Subject/Observer notification loops
  CHANGELOG.md
  dart/common/observer.cpp
  dart/common/subject.cpp
  tests/unit/common/test_subject_observer.cpp
Due: Common

fix: DART 6.16 iterator invalidation SEGFAULT in Subject/Observer notification loops
  CHANGELOG.md
  dart/common/Observer.cpp
  dart/common/Subject.cpp
  tests/unit/common/test_SubjectObserver.cpp
Due: Common

fix: use swap-into-local instead of drain loop in sendDestructionNotification
  dart/common/subject.cpp
Due: Common

fix: use swap-into-local instead of drain loop in sendDestructionNotification
  dart/common/Subject.cpp
Due: Common

test: make regression test order-independent for std::set pointer ordering
  tests/unit/common/test_SubjectObserver.cpp
Due: none

fix: revert to drain-from-begin, swap-into-local causes use-after-free
  dart/common/subject.cpp
  tests/unit/common/test_subject_observer.cpp
Due: Common

fix: revert to drain-from-begin, swap-into-local causes use-after-free
  dart/common/Subject.cpp
Due: Common

fix: cap drain loop iterations to prevent infinite loop on re-registration
  dart/common/subject.cpp
Due: Common

fix: cap drain loop iterations to prevent infinite loop on re-registration
  dart/common/Subject.cpp
Due: Common

fix: use mNotifying guard instead of iteration cap
  dart/common/subject.cpp
  dart/common/subject.hpp
Due: Common

fix: use mNotifying guard instead of iteration cap
  dart/common/Subject.cpp
  dart/common/Subject.hpp
Due: Common

fix: move mNotifying guard to Observer::addSubject to prevent asymmetric state
  dart/common/observer.cpp
  dart/common/subject.cpp
Due: Common

fix: move mNotifying guard to Observer::addSubject to prevent asymmetric state
  dart/common/Observer.cpp
  dart/common/Subject.cpp
Due: Common

fix: remove mNotifying guard, simplify to clean drain loop
  dart/common/observer.cpp
  dart/common/subject.cpp
  dart/common/subject.hpp
Due: Common

fix: remove mNotifying guard, simplify to clean drain loop
  dart/common/Observer.cpp
  dart/common/Subject.cpp
  dart/common/Subject.hpp
Due: Common

fix: DART 6.16 iterator invalidation SEGFAULT in Subject/Observer notification loops (#2520)
  CHANGELOG.md
  dart/common/Observer.cpp
  dart/common/Subject.cpp
  tests/unit/common/test_SubjectObserver.cpp
Due: Common

fix: use snapshot iteration in sendDestructionNotification to prevent infinite loop
  dart/common/subject.cpp
  tests/unit/common/test_subject_observer.cpp
Due: Common

fix: DART 7 iterator invalidation SEGFAULT in Subject/Observer notification loops (#2519)
  CHANGELOG.md
  dart/common/observer.cpp
  dart/common/subject.cpp
  tests/unit/common/test_subject_observer.cpp
Due: Common

use modern imgui modifier key names
  dart/gui/im_gui_handler.cpp
Due: none

use modern imgui modifier key names (6.16 backport)
  dart/gui/osg/ImGuiHandler.cpp
Due: none

use modern imgui modifier key names (6.16 backport) (#2526)
  dart/gui/osg/ImGuiHandler.cpp
Due: none

use modern imgui modifier key names (#2525)
  dart/gui/im_gui_handler.cpp
Due: none

Fix invalid World timestep validation
  CHANGELOG.md
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_Collision.cpp
Due: Simulation

Update changelog PR reference
  CHANGELOG.md
Due: none

Document World timestep validation
  CHANGELOG.md
Due: none

Improve FreeBSD VM CI startup resilience
  .github/workflows/ci_freebsd.yml
  scripts/freebsd.py
Due: none

Document FreeBSD CI resilience fix
  CHANGELOG.md
Due: none

Fix FreeBSD VM image download fallback
  CHANGELOG.md
  docker/freebsd/entrypoint.py
  scripts/freebsd.py
Due: none

Fix invalid World timestep validation (DART 6.16) (#2532)
  .github/workflows/ci_freebsd.yml
  CHANGELOG.md
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docker/freebsd/entrypoint.py
  scripts/freebsd.py
  tests/integration/test_Collision.cpp
Due: Simulation

Document World timestep validation (DART 7) (#2533)
  CHANGELOG.md
Due: none

test(simulation-experimental): fix python validation and cleanup task docs
  docs/dev_tasks/simulation_experimental_api_epic/README.md
  docs/dev_tasks/simulation_experimental_api_epic/RESUME.md
  docs/dev_tasks/simulation_experimental_api_epic/compute_graph_design.md
  docs/dev_tasks/simulation_experimental_api_epic/phase5_physics_design.md
  python/tests/unit/simulation_experimental/test_experimental_world.py
Due: none

fix(dartpy): guard experimental bindings when disabled
  python/dartpy/CMakeLists.txt
  python/dartpy/dartpy.cpp
  python/tests/unit/simulation_experimental/test_experimental_world.py
Due: none
