Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Fix pixi setup for install-free jobs
  .github/actions/setup-pixi-ci/action.yml
Due: none

Retry Alt Linux package bootstrap
  CHANGELOG.md
  docs/onboarding/ci-cd.md
  scripts/altlinux.py
Due: none

Tighten GitHub Actions CI workflows (#2539)
  .github/actions/configure-compiler-cache/action.yml
  .github/actions/setup-pixi-ci/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_dartpy.yml
  .github/workflows/update_lockfiles.yml
  CHANGELOG.md
  docs/onboarding/ci-cd.md
  pixi.toml
  python/dartpy/CMakeLists.txt
  scripts/altlinux.py
Due: none

Use C++20 starts_with in examples
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
Due: none

Use C++20 starts_with in examples (#2548)
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
Due: none

Use C++20 contains in profiling tests
  tests/unit/simulation/experimental/common/test_diagnostics_profiling.cpp
Due: none

Use C++20 contains in membership tests
  tests/integration/io/test_mjcf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_urdf_parser.cpp
  tests/unit/dynamics/test_frame.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_skeleton_properties.cpp
  tests/unit/math/test_convhull.cpp
  tests/unit/sensor/test_sensor_manager.cpp
  tests/unit/simulation/test_world.cpp
Due: none

Use C++20 numbers for benchmark pi
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
Due: none

Use C++20 ranges transform for string cleanup
  dart/common/string.cpp
  dart/dynamics/mesh_shape.cpp
  dart/utils/sdf/detail/sdf_helpers.cpp
  examples/lcp_physics/main.cpp
Due: Common, Dynamics

Use C++20 ranges transform for string cleanup (#2552)
  dart/common/string.cpp
  dart/dynamics/mesh_shape.cpp
  dart/utils/sdf/detail/sdf_helpers.cpp
  examples/lcp_physics/main.cpp
Due: Common, Dynamics

Adopt C++20 midpoint for scalar averages
  dart/collision/dart/dart_collide.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
  tests/integration/dynamics/test_joints.cpp
  tests/unit/constraint/test_constraint_solver.cpp
Due: Dynamics, Collision

Adopt C++20 math constants and string APIs
  dart/math/constants.hpp
  dart/math/geometry.cpp
  dart/simd/detail/math/constants.hpp
  dart/utils/http_resource_retriever.cpp
  examples/rigid_loop/main.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/collision/test_convex_mesh_shape_collision.cpp
  tests/unit/utils/test_http_resource_retriever.cpp
  tutorials/tutorial_wholebody_ik_finished/main.cpp
Due: Math

Adopt C++20 jthread in scoped concurrency
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Add DART PR workflow command
  .claude/commands/dart-pr.md
  .codex/skills/dart-pr/SKILL.md
  .opencode/command/dart-pr.md
Due: none

Address CodeQL multiplication alerts
  .github/codeql/config.yml
  .github/workflows/codeql.yml
  dart/collision/ode/detail/ode_heightmap-impl.hpp
  dart/dynamics/soft_body_node.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/matrix-impl.hpp
  dart/math/lcp/pivoting/dantzig/matrix.hpp
  tests/baseline/odelcpsolver/lcp.cpp
  tests/baseline/odelcpsolver/matrix.h
Due: Math, Dynamics, Collision

Adopt C++20 math and string utilities (#2555)
  dart/collision/dart/dart_collide.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/math/constants.hpp
  dart/math/geometry.cpp
  dart/simd/detail/math/constants.hpp
  dart/utils/http_resource_retriever.cpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
  examples/rigid_loop/main.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
  tests/integration/dynamics/test_joints.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/collision/test_convex_mesh_shape_collision.cpp
  tests/unit/constraint/test_constraint_solver.cpp
  tests/unit/utils/test_http_resource_retriever.cpp
  tutorials/tutorial_wholebody_ik_finished/main.cpp
Due: Math, Dynamics, Collision

Address CodeQL alerts and add PR workflow (#2557)
  .claude/commands/dart-pr.md
  .codex/skills/dart-pr/SKILL.md
  .github/codeql/config.yml
  .github/workflows/codeql.yml
  .opencode/command/dart-pr.md
  dart/collision/ode/detail/ode_heightmap-impl.hpp
  dart/dynamics/soft_body_node.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/matrix-impl.hpp
  dart/math/lcp/pivoting/dantzig/matrix.hpp
  tests/baseline/odelcpsolver/lcp.cpp
  tests/baseline/odelcpsolver/matrix.h
Due: Math, Dynamics, Collision

Adopt C++20 span range construction
  dart/collision/collision_result.cpp
  dart/common/detail/cloneable.hpp
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/joint.cpp
  dart/dynamics/line_segment_shape.cpp
  dart/dynamics/point_cloud_shape.cpp
  dart/dynamics/soft_body_node.cpp
  dart/gui/default_event_handler.cpp
  dart/gui/drag_and_drop.cpp
  dart/gui/polyhedron_visual.cpp
  dart/math/optimization/problem.cpp
  dart/utils/package_resource_retriever.cpp
  dart/utils/sdf/sdf_parser.cpp
  examples/hubo_puppet/main.cpp
  examples/mimic_pendulums/main.cpp
  examples/point_cloud/main.cpp
  examples/polyhedron_visual/main.cpp
  python/dartpy/dynamics/joint.cpp
  python/dartpy/gui/viewer_attachment.cpp
  tests/benchmark/unit/bm_convhull.cpp
  tests/integration/simulation/test_mimic_constraint.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/math/test_convhull.cpp
  tests/unit/math/test_geometry.cpp
  tests/unit/simulation/experimental/space/test_auto_mapper.cpp
  tests/unit/simulation/experimental/space/test_state_space.cpp
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: Common, Math, Dynamics, Collision

Adopt C++20 size and allocation helpers
  dart/constraint/constraint_solver.cpp
  dart/dynamics/mesh_shape.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  examples/lcp_physics/main.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/integration/io/test_mjcf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_urdf_parser.cpp
  tests/integration/optimization/test_inverse_kinematics.cpp
  tests/unit/common/test_resource.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/dynamics/test_skeleton_properties.cpp
  tests/unit/math/lcp/test_lcp_comparison_harness.cpp
  tests/unit/math/test_convhull.cpp
Due: Math, Dynamics, Constraint

Adopt C++20 bit_cast and math helpers
  dart/dynamics/arrow_shape.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
  dart/math/geometry.cpp
  dart/simd/detail/avx2/operations.hpp
  dart/simd/detail/scalar/operations.hpp
  dart/simd/detail/sse42/operations.hpp
  examples/coupler_constraint/main.cpp
  tests/integration/collision/test_bullet_ellipsoid_rolling.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
Due: Math, Dynamics

Use C++20 ranges reverse in linkage
  dart/dynamics/linkage.cpp
Due: Dynamics

Use C++20 ranges in SIMD dynamic helpers
  dart/simd/dynamic/matrix.hpp
  dart/simd/dynamic/vector.hpp
Due: none

Adopt C++20 bit and array helpers
  dart/dynamics/detail/body_node_pool.hpp
  dart/simd/detail/avx/vec_mask.hpp
  dart/simd/detail/avx2/vec_mask.hpp
  dart/simd/detail/avx512/vec_mask.hpp
  dart/simd/detail/neon/vec_mask.hpp
  dart/simd/detail/scalar/vec_mask.hpp
  dart/simd/detail/sse42/vec_mask.hpp
  dart/simd/detail/sve/vec_mask.hpp
  tests/integration/dynamics/test_joints.cpp
  tests/integration/simulation/test_issue410.cpp
  tests/unit/collision/test_bullet_collision_shapes.cpp
  tests/unit/collision/test_convex_mesh_shape_collision.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/constraint/test_motor_constraints.cpp
  tests/unit/dynamics/test_point_cloud_shape.cpp
  tests/unit/dynamics/test_referential_skeleton.cpp
Due: Dynamics

Adopt C++20 utility helpers
  dart/dynamics/ball_joint.cpp
  dart/dynamics/free_joint.cpp
  examples/speed_test/main.cpp
  tutorials/tutorial_wholebody_ik_finished/main.cpp
Due: Dynamics

Adopt C++20 numeric helper APIs
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
  dart/simd/detail/math/sincos_impl.hpp
Due: Math

Adopt C++20 concept helper APIs
  dart/dynamics/detail/heightmap_shape-impl.hpp
  dart/gui/detail/utils-impl.hpp
  dart/gui/render/heightmap_shape_node.hpp
  dart/gui/utils.hpp
  dart/simd/detail/math/constants.hpp
Due: Dynamics

Adopt C++20 reverse views for traversal
  dart/collision/ode/ode_collision_detector.cpp
  dart/common/detail/lockable_reference-impl.hpp
  dart/dynamics/body_node.cpp
  dart/dynamics/skeleton.cpp
Due: Common, Dynamics, Collision

Adopt C++20 ranges algorithm overloads
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/math/lcp/pivoting/dantzig/matrix.hpp
  dart/utils/mesh_loader.hpp
  examples/lcp_physics/main.cpp
  tests/benchmark/lcpsolver/bm_lcpsolver.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
  tests/unit/simd/test_operations_scalar.cpp
Due: Math, Collision

Adopt C++20 integer comparison helpers
  dart/dynamics/ball_joint.cpp
  dart/dynamics/body_node.cpp
  dart/dynamics/detail/generic_joint.hpp
  dart/dynamics/free_joint.cpp
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/skeleton.cpp
  dart/dynamics/soft_body_node.cpp
  dart/math/optimization/problem.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
  dart/simulation/world.cpp
Due: Math, Dynamics, Simulation

Adopt C++20 byte spans in binary IO
  dart/simulation/experimental/io/binary_io.cpp
  dart/simulation/experimental/io/binary_io.hpp
Due: none

Adopt C++20 derived type constraints
  dart/common/detail/composite_data.hpp
  dart/common/detail/embedded_aspect.hpp
  dart/dynamics/entity_node.hpp
  python/dartpy/common/type_casters.hpp
Due: Common, Dynamics

Adopt C++20 construct_at in allocators
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.cpp
  dart/common/memory_allocator.hpp
Due: Common

Adopt C++20 solver math helpers
  dart/math/detail/convhull-impl.hpp
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
Due: Math

Adopt C++20 clamp and hypot helpers
  dart/collision/dart/dart_collide.cpp
  dart/math/lcp/other/interior_point_solver.cpp
  tests/benchmark/simd/bm_simd.cpp
Due: Math, Collision

Adopt C++20 ranges string helpers
  dart/common/uri.cpp
  tests/integration/io/test_skel_parser.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_uri.cpp
Due: Common

Adopt C++20 concepts for callback helpers
  dart/common/detail/callback_traits.hpp
  dart/common/detail/stopwatch-impl.hpp
  dart/dynamics/detail/basic_node_manager.hpp
  dart/dynamics/detail/body_node.hpp
  dart/dynamics/detail/meta_skeleton-impl.hpp
  dart/dynamics/detail/skeleton.hpp
  dart/simulation/detail/world-impl.hpp
Due: Common, Dynamics, Simulation
