Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Rank acceptable views first and record custom warmup in repro
  python/tests/unit/gui/test_agent_capture.py
  python/tests/unit/gui/test_agent_view_quality.py
  scripts/agent_capture.py
  scripts/agent_view_quality.py
Due: none

Rank acceptable views first in auto-selection
  python/dartpy/_view_quality.py
  python/tests/unit/gui/test_view_quality.py
Due: none

Include contact_force.hpp in the simulation umbrella header
  dart/simulation/All.hpp
Due: Simulation

Add active camera control, view quality, and debug-overlay evidence workflow for DART 6 (#3374)
  CHANGELOG.md
  cmake/DARTFindOpenSceneGraph.cmake
  dart/gui/osg/CMakeLists.txt
  dart/gui/osg/DebugOverlay.cpp
  dart/gui/osg/DebugOverlay.hpp
  docs/ai/verification.md
  pixi.toml
  python/dartpy/dynamics/Frame.cpp
  python/dartpy/dynamics/Shape.cpp
  python/dartpy/gui/osg/DebugOverlay.cpp
  python/dartpy/gui/osg/module.cpp
  python/dartpy/math/Geometry.cpp
  python/tests/unit/gui/test_agent_capture.py
  python/tests/unit/gui/test_agent_debug_overlay.py
  python/tests/unit/gui/test_agent_view_quality.py
  python/tests/unit/test_evidence_publish.py
  python/tests/unit/test_evidence_select.py
  python/tests/unit/test_image_compose.py
  scripts/_image_tools.py
  scripts/agent_capture.py
  scripts/agent_debug_overlay.py
  scripts/agent_view_quality.py
  scripts/evidence_publish.py
  scripts/evidence_select.py
  scripts/image_compose.py
Due: none

Add 2D memory capacity maps to diagnostics
  CHANGELOG.md
  dart/gui/detail/panel.cpp
  dart/gui/panel.hpp
  docs/design/demos_app.md
  docs/onboarding/gui-rendering.md
  examples/README.md
  examples/demos/CMakeLists.txt
  examples/demos/memory_diagnostics.cpp
  examples/demos/memory_diagnostics_model.cpp
  examples/demos/memory_diagnostics_model.hpp
  examples/demos/memory_map_model.cpp
  examples/demos/memory_map_model.hpp
  examples/demos/tests/test_memory_diagnostics.cpp
  examples/demos/tests/test_memory_diagnostics_model.cpp
  examples/demos/tests/test_memory_map_model.cpp
  python/dartpy/gui/panel.cpp
  python/examples/demos/_smoke_support.py
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/gui/test_gui_scene.py
  scripts/audit_dart7_promotion_surface.py
Due: none

Record maintainer approval of the deferral list
  docs/dev_tasks/dart6_deformable_body_performance/decisions.md
Due: none

See World-API bodies in view assessment and fail non-passing publications
  python/dartpy/_world_render_bridge.py
  python/tests/unit/gui/test_view_quality.py
  python/tests/unit/test_evidence_publish.py
  scripts/evidence_publish.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for fa17fad79b9f77ce10911f3080500903e370ace0
  performance/dart6/data.js
Due: none

Record final matrix evidence and winner-gate resolution
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
Due: none

Record completing PR #3382 in the deformable resume
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Judge contact smoothness on force percentiles
  tests/integration/test_SoftDynamics.cpp
Due: none

Allow zero-DoF skeletons in the soft point-mass bias-impulse path
  dart/dynamics/Skeleton.cpp
Due: Dynamics

Visualize exact host memory layout in DART 6 demos
  CHANGELOG.md
  dart/common/FrameAllocator.hpp
  dart/common/FreeListAllocator.hpp
  dart/common/detail/AllocatorMemoryLayout.hpp
  dart/common/detail/FrameAllocatorMemoryLayout-impl.hpp
  dart/common/detail/FreeListAllocatorMemoryLayout-impl.hpp
  docs/onboarding/profiling.md
  examples/demos/README.md
  examples/demos/memory_diagnostics.cpp
  examples/demos/memory_diagnostics_model.cpp
  examples/demos/memory_diagnostics_model.hpp
  examples/demos/tests/test_memory_diagnostics.cpp
  examples/demos/tests/test_memory_diagnostics_model.cpp
  tests/unit/common/test_AllocatorMemoryLayout.cpp
Due: Common

Record PR shepherding notes in the deformable resume
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Visualize exact World memory layout in diagnostics
  CHANGELOG.md
  dart/common/detail/allocator_memory_layout.hpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.hpp
  dart/gui/detail/panel.cpp
  dart/gui/panel.hpp
  dart/simulation/detail/memory_diagnostics.cpp
  dart/simulation/memory_diagnostics.hpp
  docs/design/README.md
  docs/design/demos_app.md
  docs/design/hierarchical_allocator.md
  docs/design/memory_layout_diagnostics.md
  docs/onboarding/gui-rendering.md
  examples/README.md
  examples/demos/memory_diagnostics.cpp
  examples/demos/memory_diagnostics_model.cpp
  examples/demos/memory_diagnostics_model.hpp
  examples/demos/memory_map_model.cpp
  examples/demos/memory_map_model.hpp
  examples/demos/tests/test_memory_diagnostics.cpp
  examples/demos/tests/test_memory_diagnostics_model.cpp
  examples/demos/tests/test_memory_map_model.cpp
  python/dartpy/gui/panel.cpp
  python/dartpy/simulation/module_compute.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/simulation/test_world.py
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/simulation/world/test_memory_diagnostics.cpp
Due: Common, Simulation

Apply black formatting to agent verification scripts
  scripts/agent_capture.py
  scripts/agent_view_quality.py
  scripts/evidence_select.py
Due: none

Reject non-finite LCP solutions in BoxedLcpConstraintSolver
  dart/constraint/BoxedLcpConstraintSolver.cpp
Due: Constraint

Fix heap-use-after-free in offscreen debug-font atlas build
  dart/gui/offscreen.cpp
Due: none

Fix heap-use-after-free in offscreen debug-font atlas build (#3383)
  dart/gui/offscreen.cpp
Due: none

Add CHANGELOG entry for non-finite LCP solution guard
  CHANGELOG.md
Due: none

Keep soft accelerations out of mass matrix columns
  dart/dynamics/SoftBodyNode.cpp
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Preserve allocation-free contact force capture
  dart/simulation/compute/rigid_body_contact_stage.cpp
Due: Simulation

Refresh deformable PR stabilization handoff
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/HANDOFF.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/dev_tasks/dart6_deformable_body_performance/decisions.md
  docs/plans/dashboard.md
Due: none

Promote deformable closeout owners
  docs/background/README.md
  docs/background/deformable_body_paper_targets.md
  docs/design/README.md
  docs/design/dart6_deformable_body.md
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/HANDOFF.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/dev_tasks/dart6_deformable_body_performance/decisions.md
  docs/plans/dashboard.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
