Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Avoid MSVC optimized build ICE in AVBD contact tests
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/CMakeLists.txt
Due: none

Align IPC bake allocation regression baseline
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Declare rigid IPC joint metadata reads
  dart/simulation/compute/world_step_stage.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Restack HMM follow-up on merged main
  CHANGELOG.md
  dart/common/detail/memory_allocator_debugger-impl.hpp
  dart/common/memory_allocator_debugger.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  dart/simulation/detail/deformable_vbd/self_contact.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Common, Simulation

Route world pipeline cache through allocator root
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route collision query cache through allocator root
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route replay state through allocator root
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Refresh HMM follow-up handoff
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Avoid MSVC optimization ICE in contact test TU
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Route built-in stage scratch through allocator root
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.cpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route rigid velocity scratch payload through world allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route rigid contact scratch payload through world allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route kinematics graph cache through world allocator
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_kinematics_graph.hpp
  dart/simulation/compute/world_step_stage.cpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route compute graph node storage through allocator
  dart/simulation/compute/compute_graph.cpp
  dart/simulation/compute/compute_graph.hpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_kinematics_graph.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_compute_graph.cpp
Due: Simulation

Skip AVBD contact regressions on MSVC ICE
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Add reduced hanging bridge CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid IPC scratch vectors through allocator
  dart/simulation/compute/world_step_stage.cpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Show hanging bridge packet command in demo panel
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Route rigid IPC solve scratch through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Route deformable stage scratch vectors through allocator
  dart/simulation/compute/world_step_stage.cpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route deformable snapshot payloads through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_contact/candidate_set.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced nunchaku CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add reduced windmill CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid AVBD point-joint scratch through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced terrain vehicle CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid AVBD contact snapshot through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced precession CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid AVBD solve scratch through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route rigid AVBD row inventories through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/avbd_row_inventory.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced ragdoll CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add reduced nunchaku scaling CPU packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid IPC solver result vectors through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced CPU timing breakdown packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add reduced Table 2 CPU packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid IPC surface payloads through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Reduce ASAN build parallelism in Linux CI
  .github/workflows/ci_ubuntu.yml
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Add equality change-of-variable contract tests
  dart/simulation/detail/newton_barrier/change_of_variable.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Route rigid IPC assembly vectors through allocator
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Route rigid IPC equality solve through change-of-variable
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: Simulation

Route ComputeGraph traversal storage through allocator
  dart/simulation/compute/compute_graph.cpp
  dart/simulation/compute/compute_graph.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_compute_graph.cpp
Due: Simulation
