Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Reuse baked multibody contact scratch
  CHANGELOG.md
  dart/simulation/experimental/compute/multibody_constraint.cpp
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Test allocator comparative baseline fallback
  tests/test_allocator_comparative_check.py
Due: none

Equalize EnTT registry benchmark baselines
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Validate HeightmapShape scale and height field inputs (DART 7) (#2886)
  dart/dynamics/detail/heightmap_shape-impl.hpp
  tests/unit/dynamics/test_heightmap_shape.cpp
Due: Dynamics

Specialize EnTT registry benchmark churn helper
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Demote duplicate-name rename message to debug verbosity (DART 6.17) (#2895)
  dart/common/detail/NameManager.hpp
Due: Common

Clamp ODE heightfield extents to prevent collision abort on huge scale (DART 6.17) (#2894)
  dart/collision/ode/detail/OdeHeightmap-impl.hpp
  tests/integration/test_Collision.cpp
Due: Collision

Harden Inertia non-finite moment handling (DART 6.17) (#2898)
  dart/dynamics/Inertia.cpp
  tests/integration/test_Inertia.cpp
Due: Dynamics

Release DART 6.17.1
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Demote duplicate-name rename message to debug verbosity (DART 7) (#2896)
  dart/common/detail/name_manager.hpp
Due: Common

Reject non-finite mass and inertia inputs (DART 7) (#2887)
  dart/dynamics/detail/generic_joint.hpp
  dart/dynamics/inertia.cpp
  tests/integration/dynamics/test_invalid_dynamics_inputs.cpp
  tests/unit/dynamics/test_inertia.cpp
Due: Dynamics

Release DART 6.17.1 (#2900)
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Harden fixed pool allocator failure paths (#2889)
  CHANGELOG.md
  dart/common/fixed_pool_allocator.cpp
  tests/unit/common/test_pool_allocator.cpp
Due: Common

Add AVBD fixed-joint contact demo (#2897)
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/tests/integration/test_demos_cycle.py
Due: none

Count borrowed allocator diagnostics
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/common/pool_allocator.cpp
  dart/common/pool_allocator.hpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Add opt-in experimental World simulation replay recording (#2876)
  CHANGELOG.md
  dart/simulation/experimental/compute/detail/deformable_avbd_replay_state.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/design/simulation_experimental_cpp_api.md
  docs/design/simulation_experimental_python_api.md
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/sx_replay_scrubber.py
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/world/test_deformable_body.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Add AVBD rigid motor row primitives
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Add AVBD revolute motor benchmark
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/simulation/experimental/bm_avbd_rigid_fixed_joint.cpp
Due: none

Add AVBD breakable fixed joint lifecycle
  CHANGELOG.md
  dart/simulation/experimental/comps/joint.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/io/serializer.cpp
  dart/simulation/experimental/multibody/joint.cpp
  dart/simulation/experimental/multibody/joint.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_rigid_breakable_joint.py
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/simulation/test_experimental_world.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Fix AVBD contact step WorldRegistry wrappers
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
Due: none

Wire AVBD rigid revolute motors
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_rigid_revolute_motor.py
  python/tests/integration/test_demos_cycle.py
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for be525675a0cec39cb63c0e8a90d66da42aefb31f
  performance/data.js
Due: none

Route demos scene-all through World catalog
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
Due: none

WS6: promote WorldRenderBridge into the dartpy package
  python/dartpy/CMakeLists.txt
  python/dartpy/__init__.py
  python/dartpy/_world_render_bridge.py
  python/examples/demos/_world_bridge.py
Due: none

WS6: swap dartpy.simulation.World to the ECS facade (World name-swap)
  python/dartpy/__init__.py
  python/dartpy/_world_render_bridge.py
  python/dartpy/dartpy.cpp
  python/dartpy/simulation/world.cpp
Due: none

WS6: keep dynamics winning the 3 flat-name collisions; route render worlds to RenderWorld
  python/dartpy/_layout.py
  python/examples/demos/_ipc_deformable_bridge.py
  python/examples/demos/scenes/robot_puppets.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/simulation/test_experimental_world.py
  python/tests/unit/test_repr.py
Due: none

WS6: make the flat dartpy.* names resolve to the ECS facade
  python/dartpy/__init__.py
  python/dartpy/_layout.py
Due: none

WS6: ECS facade owns the flat DART 7 names; render frame moves under dartpy.gui
  python/dartpy/__init__.py
  python/dartpy/_layout.py
  python/dartpy/_world_render_bridge.py
  python/examples/demos/_ipc_deformable_bridge.py
  python/examples/demos/scenes/_robot_model_world.py
  python/examples/demos/scenes/diff_cartpole_trajopt.py
  python/examples/demos/scenes/diff_drone_liftoff.py
  python/examples/demos/scenes/diff_throw_to_target.py
  python/examples/demos/scenes/loop_closure.py
  python/examples/demos/scenes/planned.py
  python/examples/demos/scenes/rigid_fixed_joint.py
  python/examples/demos/scenes/robot_puppets.py
  python/examples/demos/scenes/variational_contact.py
  python/examples/demos/scenes/vbd_obstacle_drape.py
  python/tests/integration/test_atlas_ik.py
  python/tests/integration/test_demos_cycle.py
  python/tests/integration/test_joint_force_torque.py
  python/tests/unit/dynamics/test_simple_frame.py
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/simulation/test_experimental_model_loader.py
  python/tests/unit/simulation/test_world.py
Due: none

WS6: route classic-World GUI/collision tests + wheel smoke to dartpy.gui.RenderWorld
  python/tests/unit/collision/test_collision.py
  python/tests/unit/gui/test_gui_scene.py
  scripts/test_wheel.py
Due: none

Expose memory allocator debug diagnostics (#2893)
  CHANGELOG.md
  dart/common/detail/memory_allocator_debugger-impl.hpp
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/memory_allocator_debugger.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/common/pool_allocator.cpp
  dart/common/pool_allocator.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/simulation_experimental/module.cpp
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

WS6: remove simulation_experimental from python_api toctree
  docs/python_api/index.rst
Due: none

WS6: regenerate api-boundary-inventory (world.cpp now exports RenderWorld)
  docs/onboarding/api-boundary-inventory.md
Due: none

WS6: drop the dead simulation_experimental page from python_api docs
  docs/python_api/modules/simulation_experimental.rst
Due: none

WS6: regenerate dartpy stubs for the ECS facade; drop simulation_experimental.pyi
  python/dartpy/__init__.py
  python/dartpy/_world_render_bridge.py
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/stubs/dartpy/simulation_experimental.pyi
Due: none

WS6: repoint new-main demo consumers to the flat dartpy ECS API
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/examples/demos/scenes/replay_scrubber.py
  python/examples/demos/scenes/rigid_limited_joints.py
  python/tests/unit/test_py_demo_gpu_toggle.py
Due: none

WS6: sync stub tests and regenerated stub after rebase onto main
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_experimental_world.py
Due: none

WS6: regenerate stubs and inventory after merging #2893
  docs/onboarding/api-boundary-inventory.md
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
Due: none
