Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Trim soft mesh collision update work
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Revert soft mesh collision update trim
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Tune native soft-soft parallel threshold
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Interleave soft-body comparison runs
  scripts/compare_soft_body_performance.py
Due: none

Defer native soft face cache rebuilds
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
Due: Collision

Fix Windows IO and dartpy stub CI failures
  CHANGELOG.md
  dart/io/urdf/urdf_parser.cpp
  dart/io/urdf/urdf_parser.hpp
  python/tests/unit/simulation/test_world.py
  python/tests/unit/test_check_dartpy_import_layout.py
  scripts/check_dartpy_import_layout.py
Due: I/O

Optimize FCL soft mesh updates
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.hpp
Due: Collision

Revert FCL soft mesh cache experiment
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.hpp
Due: Collision

Skip unchanged FCL object AABB updates
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Revert unchanged FCL AABB cache
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Balance soft-body benchmark comparison runs
  scripts/compare_soft_body_performance.py
Due: none

Split URDF parser exports from implementation
  dart/io/urdf/urdf_parser.cpp
  dart/io/urdf/urdf_parser_api.cpp
Due: I/O

Refit FCL soft meshes with current geometry
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
Due: Collision

Control MSVC BodyNode property instantiations
  cmake/dart_defs.cmake
  dart/dynamics/body_node.cpp
  dart/dynamics/body_node.hpp
Due: Dynamics

Defer soft point transforms until contact acceptance
  dart/collision/dart/DARTCollide.cpp
Due: Collision

Avoid soft point-face hot-loop temporaries
  dart/collision/dart/DARTCollide.cpp
Due: Collision

Avoid URDF BodyNode property instantiation
  dart/dynamics/body_node.cpp
  dart/dynamics/body_node.hpp
  dart/io/urdf/urdf_parser.cpp
  dart/io/urdf/urdf_parser.hpp
Due: Dynamics, I/O

Respect missing compiler cache requests
  cmake/compiler_cache.cmake
  docs/onboarding/building.md
Due: none

Prebuild soft-face caches before parallel native collision
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Restore MSVC inline export control
  cmake/dart_defs.cmake
Due: none

Enable compiler cache discovery in DART 6 Pixi builds (#3326)
  CHANGELOG.md
  CMakeLists.txt
  cmake/compiler_cache.cmake
  docs/onboarding/building.md
  pixi.lock
  pixi.toml
Due: none

Strip benchmark metadata from dashboard names
  python/tests/unit/test_benchmark_display_names.py
  scripts/benchmark_display_names.py
Due: none

Fix native capsule-sphere centerline normals
  dart/collision/native/narrow_phase/capsule_sphere.cpp
  tests/unit/collision/native/test_capsule_box.cpp
  tests/unit/collision/native/test_capsule_sphere.cpp
Due: Collision

Fix Windows IO and dartpy stub CI failures (#3330)
  CHANGELOG.md
  dart/dynamics/body_node.cpp
  dart/dynamics/body_node.hpp
  dart/io/urdf/urdf_parser.cpp
  dart/io/urdf/urdf_parser.hpp
  dart/io/urdf/urdf_parser_api.cpp
  python/tests/unit/simulation/test_world.py
  python/tests/unit/test_check_dartpy_import_layout.py
  scripts/check_dartpy_import_layout.py
Due: Dynamics, I/O

add DART 6 Performance (googlecpp) benchmark result for 6a273599873b74675cf7b481e4dd6454e7c3f52b
  performance/dart6/data.js
Due: none

Rename DART retrospective workflow
  .claude/commands/dart-retro.md
  .codex/skills/dart-retro/SKILL.md
  .opencode/command/dart-retro.md
  CHANGELOG.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
Due: none

Add DART retro workflow to release branch
  .claude/commands/dart-retro.md
  .codex/skills/dart-retro/SKILL.md
  .opencode/command/dart-retro.md
  CHANGELOG.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for b6e6a0d8778a13c2d43d5b75553738e84014baea
  performance/dart6/data.js
Due: none

WP-PG.02: Extend contact-container benchmark coverage (#3327)
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  python/tests/unit/test_benchmark_display_names.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_contact_container.cpp
Due: none

Place capsule-box contacts inside overlap
  dart/collision/native/narrow_phase/capsule_box.cpp
  tests/unit/collision/native/test_capsule_box.cpp
Due: Collision

Add native collision benchmark coverage
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_native_collision.cpp
Due: none

Keep contained capsule-box contacts in overlap
  dart/collision/native/narrow_phase/capsule_box.cpp
  tests/unit/collision/native/test_capsule_box.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 9ff8b1d77a1d0c694d45754995245a05c52a4c0e
  performance/dart6/data.js
Due: none

Refine WP-PG.20 span evidence
  dart/collision/ode/OdeCollisionDetector.cpp
  dart/collision/ode/OdeCollisionDetector.hpp
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
