Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add changelog entry for #3508
  CHANGELOG.md
Due: none

Fix constraint parameter setters storing invalid values after clamping warnings
  dart/constraint/ContactConstraint.cpp
  dart/constraint/DynamicJointConstraint.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/JointCoulombFrictionConstraint.cpp
  dart/constraint/JointLimitConstraint.cpp
  dart/constraint/ServoMotorConstraint.cpp
  dart/constraint/SoftContactConstraint.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Fix Recording reinterpreting old frames after the skeleton DOF layout changes
  dart/simulation/Recording.cpp
  dart/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Refresh both collision groups in two-group collide and distance queries
  dart/collision/CollisionGroup.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Honor DART_SKIP_spdlog when spdlog is installed
  cmake/DARTFindDependencies.cmake
Due: none

Fix CollisionGroup::removeAllShapeFrames leaving dangling subscriptions
  dart/collision/CollisionGroup.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Refresh both collision groups in two-group collide and distance queries
  dart/collision/collision_group.cpp
  tests/unit/collision/test_collision_group.cpp
Due: Collision

Add changelog entry for #3509
  CHANGELOG.md
Due: none

Add changelog entry for #3510
  CHANGELOG.md
Due: none

Add changelog entry for #3511
  CHANGELOG.md
Due: none

Add changelog entry for #3512
  CHANGELOG.md
Due: none

Fix World::getIndex stale DOF boundaries after skeleton removal or topology changes (#3508)
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Add changelog entry for #3513
  CHANGELOG.md
Due: none

Add a base-alignment regression test and record the Frame alignas rule
  CHANGELOG.md
  dart/common/ClassWithVirtualBase.hpp
  dart/common/Virtual.hpp
  dart/dynamics/FixedFrame.hpp
  dart/dynamics/JacobianNode.hpp
  dart/dynamics/ShapeFrame.hpp
  docs/design/README.md
  docs/design/dart6_frame_alignment.md
  docs/onboarding/code-style.md
  tests/unit/dynamics/test_FrameBaseAlignment.cpp
Due: Common, Dynamics

Drop the separate design note; the declaration comments and test own the rationale
  docs/design/README.md
  docs/design/dart6_frame_alignment.md
  docs/onboarding/code-style.md
Due: none

Shorten the 6.20.0 changelog entry for #3447 to the user-facing facts
  CHANGELOG.md
Due: none

Add the pull request link to the 6.20.0 changelog entry for #3447
  CHANGELOG.md
Due: none

Align Frame-derived classes' non-virtual part with their virtual Frame base
  dart/common/Virtual.hpp
  dart/dynamics/FixedFrame.hpp
  dart/dynamics/JacobianNode.hpp
  dart/dynamics/ShapeFrame.hpp
Due: Common, Dynamics

add DART 6 Performance (googlecpp) benchmark result for fe2c63ee118060ad534b81758c4c383e696cb2ef
  performance/dart6/data.js
Due: none

Align Frame-derived classes' non-virtual part with their virtual Frame base to fix GCC aligned-store crashes (#3447) (#3504)
  CHANGELOG.md
  dart/common/ClassWithVirtualBase.hpp
  dart/common/Virtual.hpp
  dart/dynamics/FixedFrame.hpp
  dart/dynamics/JacobianNode.hpp
  dart/dynamics/ShapeFrame.hpp
  docs/onboarding/code-style.md
  tests/unit/dynamics/test_FrameBaseAlignment.cpp
Due: Common, Dynamics

Drop the changelog entry for the CI-only toolchain change
  CHANGELOG.md
Due: none

Track GCC 16 in the Linux toolchain CI job
  .github/workflows/ci_toolchain.yml
  CHANGELOG.md
Due: none

Build DART 6 as C++17 regardless of the compiler default
  CHANGELOG.md
  CMakeLists.txt
Due: none

add DART 6 Performance (googlecpp) benchmark result for b7b4514d7c6c2c825a2e82ed96e0fb9f22f106e7
  performance/dart6/data.js
Due: none

Track GCC 16 in the Linux toolchain CI job (#3505)
  .github/workflows/ci_toolchain.yml
  CHANGELOG.md
  CMakeLists.txt
Due: none

add DART 6 Performance (googlecpp) benchmark result for 49dcd741546481009d2e34f0d5702332af4c4592
  performance/dart6/data.js
Due: none

Fix Recording reinterpreting old frames after the skeleton DOF layout changes (#3513)
  CHANGELOG.md
  dart/simulation/Recording.cpp
  dart/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Refresh both collision groups in two-group collide and distance queries (#3509)
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Fix constraint parameter setters storing invalid values after clamping warnings (#3511)
  CHANGELOG.md
  dart/constraint/ContactConstraint.cpp
  dart/constraint/DynamicJointConstraint.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/JointCoulombFrictionConstraint.cpp
  dart/constraint/JointLimitConstraint.cpp
  dart/constraint/ServoMotorConstraint.cpp
  dart/constraint/SoftContactConstraint.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Fix CollisionGroup::removeAllShapeFrames leaving dangling subscriptions (#3510)
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

Honor DART_SKIP_spdlog when spdlog is installed (#3512)
  CHANGELOG.md
  cmake/DARTFindDependencies.cmake
Due: none

add DART 6 Performance (googlecpp) benchmark result for 3db7882eaa4e6e571441576fb1ceb30c9603632b
  performance/dart6/data.js
Due: none
