Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Preserve Pixi build-py CMake args
  pixi.toml
  scripts/pixi_build_py.py
Due: none

Keep Pixi build-py ImGui flag visible
  pixi.toml
  scripts/pixi_build_py.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 0e6dcd02394f7a98502c81ec6dc7dd088a61a7bf
  performance/data.js
Due: none

Improve contact benchmark GUI defaults
  examples/contact_benchmark/main.cpp
Due: none

Split dartpy simulation bindings into parallel-compilable TUs
  python/dartpy/CMakeLists.txt
  python/dartpy/simulation/module.cpp
  python/dartpy/simulation/module_bodies.cpp
  python/dartpy/simulation/module_compute.cpp
  python/dartpy/simulation/module_core.cpp
  python/dartpy/simulation/module_deformable_io.cpp
  python/dartpy/simulation/module_detail.hpp
  python/dartpy/simulation/module_frames.cpp
  python/dartpy/simulation/module_world.cpp
Due: none

Replace vendored ImGui source tree (#3081)
  CHANGELOG.md
  dart/external/CMakeLists.txt
  dart/external/imgui/CMakeLists.txt
  dart/external/imgui/imconfig.h
  dart/external/imgui/imgui.cpp
  dart/external/imgui/imgui.h
  dart/external/imgui/imgui_draw.cpp
  dart/external/imgui/imgui_impl_opengl2.cpp
  dart/external/imgui/imgui_impl_opengl2.h
  dart/external/imgui/imgui_internal.h
  dart/external/imgui/imgui_tables.cpp
  dart/external/imgui/imgui_widgets.cpp
  dart/external/imgui/imstb_rectpack.h
  dart/external/imgui/imstb_textedit.h
  dart/external/imgui/imstb_truetype.h
  dart/external/imgui_patches/dart-compat.patch
  dart/gui/CMakeLists.txt
  dart/gui/osg/CMakeLists.txt
  dart/gui/osg/IncludeImGui.hpp
  docs/dev_tasks/dart6_dependency_minimization/README.md
  examples/contact_inverse_dynamics/main.cpp
  examples/dynamic_joint_constraints/main.cpp
  examples/sleeping/main.cpp
  pixi.toml
  scripts/pixi_build_py.py
  setup.py
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2671.cpp
Due: none

PLAN-091: Sync post-merge plan cleanup (#3093)
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

fix(dartpy): split simulation/module.cpp into parallel-compilable TUs (#3094)
  python/dartpy/CMakeLists.txt
  python/dartpy/simulation/module.cpp
  python/dartpy/simulation/module_bodies.cpp
  python/dartpy/simulation/module_compute.cpp
  python/dartpy/simulation/module_core.cpp
  python/dartpy/simulation/module_deformable_io.cpp
  python/dartpy/simulation/module_detail.hpp
  python/dartpy/simulation/module_frames.cpp
  python/dartpy/simulation/module_world.cpp
Due: none

Fix native Dantzig helper edge cases
  dart/lcpsolver/dantzig/DantzigMisc.cpp
  dart/lcpsolver/dantzig/DantzigPivotMatrix.hpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: LCP Solver

Add DART 6 legacy freeze gate
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/042-dart7-public-api-and-source-layout/api-source-layout-audit.md
  docs/plans/042-dart7-public-api-and-source-layout/post-promotion-source-layout-decision.md
  docs/plans/091-architecture-hardening.md
  pixi.toml
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Fix padded Dantzig matrix multiplies
  dart/lcpsolver/dantzig/DantzigCommon.hpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: LCP Solver

add DART 7 World Performance (googlecpp) benchmark result for a061eeb702d01a3c13ec4eeba1ac84a10cd72c88
  performance/data.js
Due: none

Canonicalize contact benchmark pairs portably
  examples/contact_benchmark/main.cpp
Due: none

Stop leaking Dantzig solver macros
  dart/lcpsolver/dantzig/DantzigLcp-impl.hpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: LCP Solver

Honor disabled contact benchmark checkpoints
  examples/contact_benchmark/main.cpp
Due: none

Fix Dantzig scratch move assignment
  dart/lcpsolver/dantzig/DantzigLcp.hpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: LCP Solver

Add contact benchmark example (#3089)
  examples/CMakeLists.txt
  examples/contact_benchmark/CMakeLists.txt
  examples/contact_benchmark/main.cpp
Due: none

Tighten DART 7 legacy freeze parsing
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Reuse primed contact-assembly buffers in boxed-LCP step (no malloc)
  dart/simulation/compute/rigid_body_constraint.cpp
Due: Simulation

Cover multiline dartpy freeze bindings
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Keep collision result caches lifetime-safe
  CHANGELOG.md
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  tests/integration/test_Collision.cpp
Due: Collision

fix(simulation): clear disabled contact-problem outputs independently
  dart/simulation/compute/rigid_body_constraint.cpp
Due: Simulation

Cover same-line stub reexports
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Keep module binding freeze entries scoped
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Catch numeric legacy stub values
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Add DART 7 User Guide and clarify DART 6 vs DART 7 on the docs site
  CHANGELOG.md
  README.md
  docs/readthedocs/_static/css/custom.css
  docs/readthedocs/_templates/layout.html
  docs/readthedocs/conf.py
  docs/readthedocs/index.rst
  docs/readthedocs/user_guide/concepts/articulated_systems.md
  docs/readthedocs/user_guide/concepts/rigid_bodies.md
  docs/readthedocs/user_guide/concepts/world.md
  docs/readthedocs/user_guide/getting_started/hello_dart.md
  docs/readthedocs/user_guide/getting_started/installation.md
  docs/readthedocs/user_guide/getting_started/simulation_loop.md
  docs/readthedocs/user_guide/index.md
  docs/readthedocs/user_guide/interaction/collisions_and_contacts.md
  docs/readthedocs/user_guide/interaction/solvers.md
  docs/readthedocs/user_guide/next_steps.md
  docs/readthedocs/user_guide/visualization.md
Due: none

Ignore inline legacy method bodies
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Ignore stub parameters in legacy freeze
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Add strict docs/ai frontmatter type-legend guardrail
  docs/plans/121-ai-docs-knowledge-graph.md
  docs/plans/dashboard.md
  scripts/check_docs_policy.py
  tests/test_check_docs_policy.py
Due: none

Restrict legacy freeze to public types
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Track contact manifold follow-up
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

docs(user-guide): make install commands opt into DART 7 pre-releases
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

Buffer multiline enum freeze values
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Add primitive plane and contact-cap collision support (#3085)
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionObject.cpp
  dart/collision/CollisionObject.hpp
  dart/collision/CollisionOption.cpp
  dart/collision/CollisionOption.hpp
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  dart/collision/Contact.cpp
  dart/collision/DistanceFilter.cpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/collision/bullet/BulletCollisionGroup.hpp
  dart/collision/bullet/BulletCollisionObject.cpp
  dart/collision/bullet/BulletCollisionObject.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/detail/UnorderedPairs.hpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionGroup.cpp
  dart/collision/fcl/FCLCollisionGroup.hpp
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.hpp
  dart/collision/ode/OdeCollisionDetector.cpp
  dart/utils/sdf/SdfParser.cpp
  dart/utils/sdf/SdfParser.hpp
  data/sdf/test/plane_box_world.sdf
  data/sdf/test/plane_shape.sdf
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/contact_benchmark/main.cpp
  python/dartpy/collision/CollisionOption.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_Collision.cpp
  tests/integration/test_CollisionGroups.cpp
  tests/integration/test_Distance.cpp
  tests/integration/test_SdfParser.cpp
Due: Collision

docs: mark legacy DART 6 pages in 'latest' and add a migration plan
  docs/onboarding/dart7-docs-migration.md
  docs/readthedocs/README.md
  docs/readthedocs/_includes/legacy_dart6.rst
  docs/readthedocs/conf.py
  docs/readthedocs/dartpy/user_guide/examples.rst
  docs/readthedocs/overview.rst
  docs/readthedocs/shared/inverse_kinematics/ikfast.rst
  docs/readthedocs/shared/inverse_kinematics/index.rst
  docs/readthedocs/topics/control-gain-tuning.md
  docs/readthedocs/topics/control-theory.md
  docs/readthedocs/topics/numerical-methods.md
  docs/readthedocs/topics/simulation-stability.md
  docs/readthedocs/topics/skel-file-format.md
Due: none

Cover legacy freeze parser gaps
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Add differentiable system-identification worked example
  CHANGELOG.md
  docs/dev_tasks/differentiable_simulation/README.md
  docs/dev_tasks/differentiable_simulation/RESUME.md
  python/examples/diff_system_identification.py
Due: none

Detect multiline legacy free functions
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Freeze namespace legacy constants
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
