Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Capture rigid related evidence bundle
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Add scene-owned contact candidate packet rows
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

Warm start boxed semi-smooth Newton profiles
  CHANGELOG.md
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.hpp
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/dartpy/math/lcp.cpp
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/math/test_lcp.py
  python/tests/unit/test_py_demo_panels.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Capture rigid IPC packet bundle
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Record HMM live-joint hard stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Reuse ADMM iteration workspace
  CHANGELOG.md
  dart/math/lcp/other/admm_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: Math

Add scene-owned contact sweep packet rows
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

Resume rigid workflow captures by row
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Annotate rigid workflow review index
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Refresh rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Fast path strict-interior standard LCPs
  CHANGELOG.md
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/other/interior_point_solver.cpp
  dart/math/lcp/pivoting/baraff_solver.cpp
  dart/math/lcp/pivoting/lemke_solver.cpp
  docs/background/lcp/03_pivoting-methods.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Route live joint storage through World allocator
  CHANGELOG.md
  dart/simulation/comps/joint.hpp
  dart/simulation/comps/link.hpp
  dart/simulation/comps/multibody.hpp
  dart/simulation/io/auto_serialization.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Fast path strict-interior Newton LCPs
  CHANGELOG.md
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Promote rigid IPC edge drop evidence
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_ipc_edge_drop.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Rebind loaded World component allocators
  CHANGELOG.md
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Record HMM hard stop handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Route public dirty traversal through World allocator
  CHANGELOG.md
  dart/simulation/frame/frame.cpp
  dart/simulation/multibody/joint.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Fast path strict-interior projection LCPs
  CHANGELOG.md
  dart/math/lcp/other/shock_propagation_solver.cpp
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
  dart/math/lcp/projection/nncg_solver.cpp
  dart/math/lcp/projection/subspace_minimization_solver.cpp
  docs/background/lcp/04_projection-methods.md
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Promote rigid IPC shelf metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_ipc.py
  python/examples/demos/scenes/rigid_ipc_incline.py
  python/examples/demos/scenes/rigid_ipc_pile.py
  python/examples/demos/scenes/rigid_ipc_slide.py
  python/tests/integration/test_demos_cycle.py
Due: none

Fast path strict-interior BGS LCPs
  CHANGELOG.md
  dart/math/lcp/projection/bgs_solver.cpp
  docs/background/lcp/04_projection-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Record HMM EnTT comparative evidence
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Bundle direct rigid IPC shelf captures
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Record HMM stop-state handoff
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Preserve requested rigid workflow packet groups
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Fast path strict-interior boxed Newton LCPs
  CHANGELOG.md
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  docs/background/lcp/05_newton-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Summarize rigid workflow packet groups in review index
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Reuse AVBD writeback dirty-stack scratch
  CHANGELOG.md
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Record final HMM handoff stop state
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Expose rigid workflow packet commands in the panel
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Fast path strict-interior Dantzig LCPs
  CHANGELOG.md
  dart/math/lcp/pivoting/dantzig_solver.cpp
  docs/background/lcp/03_pivoting-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Enable rigid workflow video packets
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Route collision query cache scratch through World allocator
  CHANGELOG.md
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Refresh rigid workflow stop handoff
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Record HMM final handoff stop state
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Describe optional rigid workflow rows
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Fast path strict-interior MPRGP LCPs
  CHANGELOG.md
  dart/math/lcp/other/mprgp_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Audit rigid workflow guidance coverage
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Fast path strict-interior ADMM LCPs
  CHANGELOG.md
  dart/math/lcp/other/admm_solver.cpp
  docs/background/lcp/06_other-methods.md
  docs/background/lcp/figures/performance_profile_boxed.csv
  docs/background/lcp/figures/performance_profile_frictionindex.csv
  docs/background/lcp/figures/performance_profile_standard.csv
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math
