Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Record rigid body baseline capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/integration/test_demos_cycle.py
Due: none

Share active friction LCP benchmark case
  tests/benchmark/lcpsolver/bm_lcpsolver_solvers.cpp
  tests/common/lcpsolver/lcp_problem_factory.hpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_dantzig_solver.cpp
Due: none

Map LCP demo to active friction benchmarks
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 7d05d7b9ea72b89b6eed2455219c95c522739a0d
  performance/data.js
Due: none

Add edge-edge CUDA CCD line-search parity
  dart/simulation/compute/cuda/ccd_line_search_cuda.cpp
  dart/simulation/compute/cuda/ccd_line_search_cuda.cu
  dart/simulation/compute/cuda/ccd_line_search_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_ccd_line_search_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/test_plan083_gpu_ccd_line_search_packet.py
  tests/unit/simulation/cuda/test_ccd_line_search_cuda.cpp
Due: Simulation

Skip empty multibody contact queries
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Expose rigid link contact capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/contact.py
  python/tests/integration/test_demos_cycle.py
Due: none

Update AVBD solver handoff state
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Make CUDA point-triangle CCD winding-independent
  dart/simulation/compute/cuda/ccd_line_search_cuda.cu
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/unit/simulation/cuda/test_ccd_line_search_cuda.cpp
Due: Simulation

Refresh HMM handoff docs
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Refresh rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Record unified Newton-barrier handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
Due: none

Expose LCP problem validation diagnostics
  CHANGELOG.md
  dart/math/lcp/lcp_types.hpp
  dart/math/lcp/lcp_validation.hpp
  docs/background/lcp/02_overview.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/python-bindings.md
  python/dartpy/math/lcp.cpp
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Expose rigid contact inspector capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_contact_inspector.py
  python/tests/integration/test_demos_cycle.py
Due: none

Consolidate AVBD source-row handoff branch
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Skip empty rigid contact queries
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add CUDA point-triangle barrier gradient parity
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Expose rigid collision cast capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_collision_casts.py
  python/tests/integration/test_demos_cycle.py
Due: none

Route compute graph traversal scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/compute_graph.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_compute_graph.cpp
Due: Simulation

Record Newton-barrier handoff stop point
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
Due: none

Add nonnegative least squares solver to dart::math
  dart/math/NonNegativeLeastSquares.cpp
  dart/math/NonNegativeLeastSquares.hpp
  tests/unit/math/test_NonNegativeLeastSquares.cpp
Due: Math

Add contact inverse dynamics dev task notes
  docs/dev_tasks/contact_inverse_dynamics/01-design.md
  docs/dev_tasks/contact_inverse_dynamics/README.md
  docs/dev_tasks/contact_inverse_dynamics/RESUME.md
Due: none

Report Direct LCP native support precisely
  CHANGELOG.md
  dart/math/lcp/lcp_solver.hpp
  dart/math/lcp/pivoting/direct_solver.cpp
  dart/math/lcp/pivoting/direct_solver.hpp
  docs/background/lcp/02_overview.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  docs/onboarding/python-bindings.md
  python/tests/unit/math/test_lcp.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Math

Trim AVBD contact row assignment overhead
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Document LCP handoff state
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Expose rigid executor equivalence capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_executor_equivalence.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add ContactInverseDynamics solver for contact-aware inverse dynamics
  dart/dynamics/ContactInverseDynamics.cpp
  dart/dynamics/ContactInverseDynamics.hpp
  tests/unit/dynamics/test_ContactInverseDynamics.cpp
Due: Dynamics

Expose LCP contact comparison benchmarks
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Hand off rigid friction threshold capture metrics
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  python/examples/demos/scenes/rigid_friction_threshold.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add inverse dynamics benchmarks and NNLS dual-tolerance fast path
  dart/dynamics/ContactInverseDynamics.cpp
  docs/dev_tasks/contact_inverse_dynamics/02-perf.md
  docs/dev_tasks/contact_inverse_dynamics/benchmarks.json
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_inverse_dynamics.cpp
Due: Dynamics

Add CUDA point-triangle tangent stencil parity
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Track LCP billiard symmetry metric
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Link stack demo to LCP solver benchmarks
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Avoid heap allocation in dynamic rigid IPC no-contact steps
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Plot LCP billiard invariants
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Improve renderer fidelity and promote debug visuals into dart::gui
  CHANGELOG.md
  dart/dynamics/detail/shape_frame_aspect.hpp
  dart/dynamics/shape_frame.cpp
  dart/dynamics/shape_frame.hpp
  dart/gui/application.hpp
  dart/gui/debug.cpp
  dart/gui/debug.hpp
  dart/gui/detail/application.cpp
  dart/gui/detail/debug_overlay.cpp
  dart/gui/detail/debug_overlay.hpp
  dart/gui/detail/panel.cpp
  dart/gui/detail/render_environment.cpp
  dart/gui/detail/render_environment.hpp
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/renderable_factory.hpp
  dart/gui/detail/renderable_resources.cpp
  dart/gui/detail/renderable_resources.hpp
  dart/gui/detail/scene_frame.cpp
  dart/gui/detail/scenes.cpp
  dart/gui/detail/scenes.hpp
  dart/gui/detail/textures.cpp
  dart/gui/detail/ui_frame.cpp
  dart/gui/renderable.cpp
  dart/gui/renderable.hpp
  docs/design/renderer_fidelity_and_debug_visuals.md
  docs/plans/dashboard.md
  examples/gui_scene_diagnostics/README.md
  examples/gui_scene_diagnostics/main.cpp
  python/dartpy/dynamics/shape_frame.cpp
  python/stubs/dartpy/dynamics.pyi
  python/stubs/dartpy/gui/__init__.pyi
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: Dynamics

Add CUDA edge-edge tangent stencil parity
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Complete rigid friction threshold capture docs
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
Due: none
