Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Let forced MSVC runtime refresh DART cache
  cmake/dart_defs.cmake
Due: none

Add DART 6 AI infra docs buckets (#3345)
  .claude/commands/dart-new-team-task.md
  .codex/skills/dart-new-team-task/SKILL.md
  .opencode/command/dart-new-team-task.md
  AGENTS.md
  CHANGELOG.md
  docs/AGENTS.md
  docs/README.md
  docs/ai/README.md
  docs/ai/components.md
  docs/ai/north-star.md
  docs/ai/orchestration.md
  docs/ai/terminology.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/assets/README.md
  docs/background/AGENTS.md
  docs/background/README.md
  docs/design/AGENTS.md
  docs/design/README.md
  docs/design/dart6_ai_infra.md
  docs/dev_tasks/README.md
  docs/information-architecture.md
  docs/plans/AGENTS.md
  docs/plans/README.md
  docs/plans/archive.md
  docs/plans/dashboard.md
  docs/plans/north-star-roadmap.md
  scripts/sync_ai_commands.py
Due: none

Recompute managed MSVC runtime cache
  cmake/dart_defs.cmake
Due: none

Refresh DART 6 RTD website (#3346)
  CHANGELOG.md
  docs/readthedocs/conf.py
  docs/readthedocs/dart/developer_guide/build.rst
  docs/readthedocs/dart/developer_guide/code_style_guide.rst
  docs/readthedocs/dart/developer_guide/migration_guide.rst
  docs/readthedocs/dart/user_guide/installation.rst
  docs/readthedocs/dart/user_guide/tutorials.rst
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/index.rst
Due: none

Use DART 7 gravity property in dartpy docs
  docs/readthedocs/dartpy/python_api_reference.rst
Due: none

Clarify DART 7 dartpy package availability
  README.md
  docs/readthedocs/dartpy/python_api_reference.rst
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

Add native mixed-scene parity coverage
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: none

Document dartpy source-build smoke path
  README.md
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

Use Pixi Python for dartpy smoke snippets
  README.md
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

Use Pixi Python in dartpy API smoke
  docs/readthedocs/dartpy/python_api_reference.rst
Due: none

Refresh DART 7 RTD package guidance (#3347)
  CHANGELOG.md
  README.md
  docs/readthedocs/conf.py
  docs/readthedocs/dartpy/python_api_reference.rst
  docs/readthedocs/dartpy/user_guide/examples.rst
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/user_guide/getting_started/installation.md
Due: none

Add native mixed-scene parity coverage (#3350)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: none

WP-PG.32: reconcile frame allocation gate
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Avoid redundant FCL soft mesh writes
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Address WP-PG.32 tracker review
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

WP-PG.32: reconcile frame allocation gate (#3351)
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Centralize MSVC toolchain policy for DART 7 (#3349)
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  docs/onboarding/ci-cd.md
  pixi.toml
Due: none

Retire DART 6 contact performance task
  docs/design/README.md
  docs/design/dart6_contact_performance.md
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/.gitattributes
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/base-release620-heap-crash.md
  docs/dev_tasks/dart6_performance_generalization/pr-a-crash-investigation.md
  docs/dev_tasks/dart6_performance_generalization/pr-b-pg11-contact-cache.patch
  docs/dev_tasks/dart6_performance_generalization/pr-c-pg31-scratch-retention.patch
  docs/onboarding/profiling.md
  docs/plans/dashboard.md
  docs/plans/north-star-roadmap.md
Due: none

Avoid convex distance fallback for mesh pairs
  CHANGELOG.md
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Preserve D7 creep reproducer evidence
  docs/design/dart6_contact_performance.md
Due: none

Use cached soft local positions in FCL
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Scope dllexport inline flag to clang-cl
  cmake/dart_defs.cmake
Due: none

Preserve native include compatibility
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Clarify contact performance parked state
  docs/design/dart6_contact_performance.md
Due: none

Remove native include forwarders
  dart/collision/native/CMakeLists.txt
Due: Collision

Tighten FCL soft mesh hot path
  .claude/commands/dart-resume.md
  .codex/skills/dart-resume/SKILL.md
  .opencode/command/dart-resume.md
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Honor native distance lower bound on misses
  dart/collision/native/NativeCollisionDetector.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

WP-PG.15: add D7 evaluator
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  docs/design/README.md
  docs/design/dart6_contact_performance.md
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/.gitattributes
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/base-release620-heap-crash.md
  docs/dev_tasks/dart6_performance_generalization/pr-a-crash-investigation.md
  docs/dev_tasks/dart6_performance_generalization/pr-b-pg11-contact-cache.patch
  docs/dev_tasks/dart6_performance_generalization/pr-c-pg31-scratch-retention.patch
  docs/plans/dashboard.md
  docs/plans/north-star-roadmap.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Add native raycast adapter
  CHANGELOG.md
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  dart/collision/native/narrow_phase/Raycast.cpp
  dart/collision/native/narrow_phase/Raycast.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision
