Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Optimize native soft primitive contacts
  dart/collision/dart/DARTCollide.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/integration/test_SoftDynamics.cpp
Due: Collision

Handle mesh triangle edge-face intersections
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  tests/unit/collision/native/test_mesh_mesh.cpp
Due: Collision

Keep native mesh feature ids on mesh contacts
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  tests/unit/collision/native/test_mesh_mesh.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Precompute native soft contact transforms
  dart/collision/dart/DARTCollide.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 3964108a67525172ce97a537669dde4b690b49a2
  performance/dart6/data.js
Due: none

Read soft mesh cache data contiguously
  dart/collision/dart/DARTCollisionObject.cpp
  dart/dynamics/SoftBodyNode.hpp
Due: Dynamics, Collision

Fix MSVC ComposeData template ownership (#3340)
  CHANGELOG.md
  dart/common/detail/composite_data.hpp
Due: Common

Add native mesh collision pairs (#3325)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  dart/collision/native/narrow_phase/mesh_mesh.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_mesh_mesh.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Fix zero-duration profile summaries
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  tests/unit/common/test_Profile.cpp
Due: Common

Fix release Windows zero-duration profile summary (#3342)
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  tests/unit/common/test_Profile.cpp
Due: Common

WP-PG.31: skip unused shallow-support pass
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: Simulation

Read FCL soft mesh vertices contiguously
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/dynamics/SoftBodyNode.hpp
Due: Dynamics, Collision

add DART 6 Performance (googlecpp) benchmark result for efe17ff3bb87d42e1ef3112cf8551c15576e7805
  performance/dart6/data.js
Due: none

Add native distance and plane pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/distance.cpp
  dart/collision/native/narrow_phase/distance.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/plane_sphere.cpp
  dart/collision/native/narrow_phase/plane_sphere.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_distance.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Update native soft mesh cache scalarly
  dart/collision/dart/DARTCollisionObject.cpp
Due: Collision

Fix native distance review cases
  dart/collision/native/narrow_phase/distance.cpp
  dart/collision/native/narrow_phase/plane_sphere.cpp
  tests/unit/collision/native/test_distance.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
Due: Collision

Optimize soft mesh refresh paths
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/dynamics/SoftBodyNode.hpp
  dart/dynamics/SoftMeshShape.cpp
Due: Dynamics, Collision

Honor plane binary collision checks
  dart/collision/native/narrow_phase/plane_sphere.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_plane_sphere.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 44645974b3570b35db11c6c251117cc4d8dea624
  performance/dart6/data.js
Due: none

Keep soft mesh shape cached refresh
  dart/dynamics/SoftBodyNode.hpp
  dart/dynamics/SoftMeshShape.cpp
Due: Dynamics

Fix capsule-box containment distance
  dart/collision/native/narrow_phase/distance.cpp
  tests/unit/collision/native/test_distance.cpp
Due: Collision

Revert "Keep soft mesh shape cached refresh"
  dart/dynamics/SoftBodyNode.hpp
  dart/dynamics/SoftMeshShape.cpp
Due: Dynamics

Avoid soft primitive square roots
  dart/collision/dart/DARTCollide.cpp
Due: Collision

Read FCL soft vertices into scalars
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Fast-path empty soft-body collision steps
  dart/collision/dart/DARTCollisionObject.cpp
  dart/constraint/ConstraintSolver.cpp
  tests/benchmark/integration/soft_body_headless.cpp
Due: Collision, Constraint

WP-PG.31: skip unused shallow-support pass (#3341)
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: Simulation
