Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Preserve collision surfaces and stabilize VSG capture
  CMakeLists.txt
  dart/collision/CMakeLists.txt
  tests/unit/gui/vsg/test_simple_viewer.cpp
Due: Collision

Limit Codecov upload to generated coverage report
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
Due: none

Document native collision retrospective lessons
  .claude/commands/dart-branch-cleanup.md
  .claude/commands/dart-retrospect.md
  .codex/skills/dart-branch-cleanup/SKILL.md
  .codex/skills/dart-retrospect/SKILL.md
  .opencode/command/dart-branch-cleanup.md
  .opencode/command/dart-retrospect.md
  dart/collision/AGENTS.md
  docs/onboarding/architecture.md
Due: Collision

Plan native collision performance wave
  docs/dev_tasks/native_collision_performance/01-benchmark-taxonomy.md
  docs/dev_tasks/native_collision_performance/02-single-core-roadmap.md
  docs/dev_tasks/native_collision_performance/03-parallel-and-gpu-roadmap.md
  docs/dev_tasks/native_collision_performance/04-acceptance-gates.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  docs/plans/dashboard.md
Due: none

Revert accidental performance plan push
  docs/dev_tasks/native_collision_performance/01-benchmark-taxonomy.md
  docs/dev_tasks/native_collision_performance/02-single-core-roadmap.md
  docs/dev_tasks/native_collision_performance/03-parallel-and-gpu-roadmap.md
  docs/dev_tasks/native_collision_performance/04-acceptance-gates.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  docs/plans/dashboard.md
Due: none

Stabilize compute graph profile timing test
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
Due: none

Fix ImGui color picker crash without context
  CHANGELOG.md
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_color_picker_guard.cpp
Due: none

Fix ImGui color picker crash without context
  CHANGELOG.md
  dart/external/imgui/imgui_widgets.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2668.cpp
Due: none

Fix malformed contact constraint crash
  CHANGELOG.md
  dart/constraint/constraint_solver.cpp
  dart/constraint/contact_constraint.cpp
  dart/constraint/contact_constraint.hpp
  dart/constraint/contact_surface.cpp
  tests/integration/constraint/test_contact_constraint.cpp
  tests/unit/constraint/test_contact_surface.cpp
Due: Constraint

Fix malformed contact constraint crash
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/constraint/ContactSurface.cpp
  tests/integration/test_ContactConstraint.cpp
  tests/unit/constraint/test_ContactSurface.cpp
Due: Constraint

Limit coverage exclusions to explicit markers
  pixi.toml
Due: none

Cover malformed contact constraint guard paths
  tests/integration/constraint/test_contact_constraint.cpp
Due: none

Raise headless core coverage above 95 percent (#2666)
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  dart/dynamics/detail/inverse_kinematics_ptr.hpp
  dart/dynamics/mesh_shape.cpp
  dart/dynamics/shared_library_ik_fast.cpp
  dart/dynamics/zero_dof_joint.hpp
  dart/gui/CMakeLists.txt
  docs/onboarding/testing.md
  pixi.toml
  scripts/run_cpp_example.py
  tests/unit/dynamics/test_body_node_derivatives.cpp
  tests/unit/dynamics/test_generic_joints.cpp
  tests/unit/dynamics/test_heightmap_shape.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_point_cloud_shape.cpp
  tests/unit/dynamics/test_zero_dof_joint.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_pivot_matrix.cpp
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
Due: Dynamics

Fix ImGui color picker crash without context (DART 6.16) (#2672)
  CHANGELOG.md
  dart/external/imgui/imgui_widgets.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2668.cpp
Due: none

Fix ImGui color picker crash without context (DART 7) (#2670)
  CHANGELOG.md
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_color_picker_guard.cpp
Due: none

Fix malformed contact constraint crash (DART 6.16) (#2674)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/constraint/ContactSurface.cpp
  tests/integration/test_ContactConstraint.cpp
  tests/unit/constraint/test_ContactSurface.cpp
Due: Constraint

Fix malformed contact constraint crash (DART 7) (#2673)
  CHANGELOG.md
  dart/constraint/constraint_solver.cpp
  dart/constraint/contact_constraint.cpp
  dart/constraint/contact_constraint.hpp
  dart/constraint/contact_surface.cpp
  tests/integration/constraint/test_contact_constraint.cpp
  tests/unit/constraint/test_contact_surface.cpp
Due: Constraint

Hide bundled ImGui internal formatting symbols
  CHANGELOG.md
  dart/external/imgui/imgui_internal.h
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2671.cpp
Due: none

Hide fetched ImGui internal formatting symbols
  CHANGELOG.md
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_internal_format_symbols.cpp
Due: none

Guard XML attribute helpers against null elements
  CHANGELOG.md
  dart/utils/XmlHelpers.cpp
  tests/unit/utils/test_XmlHelpers.cpp
Due: none

Guard XML attribute helpers against null elements
  CHANGELOG.md
  dart/utils/xml_helpers.cpp
  tests/unit/utils/test_xml_helpers.cpp
Due: none

Hide ImGui internal format symbols (DART 6.16) (#2675)
  CHANGELOG.md
  dart/external/imgui/imgui_internal.h
  tests/regression/CMakeLists.txt
  tests/regression/test_Issue2671.cpp
Due: none

Hide ImGui internal format symbols (DART 7) (#2676)
  CHANGELOG.md
  cmake/patches/imgui_null_font_guard.cmake
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_internal_format_symbols.cpp
Due: none

Guard XML attribute helpers against null elements (DART 7) (#2680)
  CHANGELOG.md
  dart/utils/xml_helpers.cpp
  tests/unit/utils/test_xml_helpers.cpp
Due: none

Guard C3D save dimensions
  CHANGELOG.md
  dart/utils/C3D.cpp
  tests/unit/utils/test_C3D.cpp
Due: none

Fix GUI verification regressions
  dart/dynamics/mesh_shape.cpp
  python/tests/unit/gui/test_gui_scene.py
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Dynamics

Guard XML attribute helpers against null elements (DART 6.16) (#2679)
  CHANGELOG.md
  dart/utils/XmlHelpers.cpp
  tests/unit/utils/test_XmlHelpers.cpp
Due: none

Add native occupancy grid for voxel shapes
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  cmake/dart_find_dependencies.cmake
  dart/CMakeLists.txt
  dart/collision/dart/shape_adapter.cpp
  dart/dynamics/fwd.hpp
  dart/dynamics/sparse_occupancy_grid.cpp
  dart/dynamics/sparse_occupancy_grid.hpp
  dart/dynamics/voxel_grid_shape.cpp
  dart/dynamics/voxel_grid_shape.hpp
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  pixi.lock
  pixi.toml
  tests/CMakeLists.txt
  tests/benchmark/CMakeLists.txt
  tests/benchmark/dynamics/bm_sparse_occupancy_grid.cpp
  tests/unit/CMakeLists.txt
  tests/unit/collision/test_collision_backend.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/dynamics/test_sparse_occupancy_grid.cpp
  tests/unit/dynamics/test_voxel_grid_shape.cpp
Due: Dynamics, Collision

Improve native collision adapter hot paths
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/native/narrow_phase/box_box.cpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  scripts/generate_collision_benchmark_manifest.py
Due: Collision

Add AI capability manifest and analysis workflow
  .claude/commands/dart-analyze.md
  .codex/skills/dart-analyze/SKILL.md
  .opencode/command/dart-analyze.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  docs/plans/030-compute-resource-access/evaluator.md
  docs/plans/030-compute-resource-access/mission.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/sync_ai_commands.py
Due: none

Checkpoint native occupancy grid performance
  CHANGELOG.md
  dart/dynamics/sparse_occupancy_grid.cpp
  dart/dynamics/sparse_occupancy_grid.hpp
  dart/dynamics/voxel_grid_shape.cpp
  dart/dynamics/voxel_grid_shape.hpp
  dart/gui/render/voxel_grid_shape_node.cpp
  dart/gui/render/voxel_grid_shape_node.hpp
  dart/gui/shape_frame_node.cpp
  tests/benchmark/dynamics/bm_sparse_occupancy_grid.cpp
  tests/unit/dynamics/test_sparse_occupancy_grid.cpp
Due: Dynamics

Improve native collision benchmark hot paths
  CHANGELOG.md
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/types.cpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  scripts/generate_collision_benchmark_manifest.py
  tests/CMakeLists.txt
Due: Collision

Fix Atlas GUI up-axis and readability
  CHANGELOG.md
  dart/gui/detail/materials/textured_lit.mat
  dart/gui/detail/materials/transparent_textured_lit.mat
  dart/gui/detail/render_environment.cpp
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/renderable_resources.cpp
  dart/gui/detail/scene_fixtures.cpp
  examples/atlas_puppet/main.cpp
  examples/atlas_simbicon/controller.cpp
  examples/atlas_simbicon/main.cpp
  examples/atlas_simbicon/state.cpp
  examples/atlas_simbicon/state.hpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Tune Atlas GUI material defaults
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/scene_fixtures.cpp
  examples/atlas_puppet/main.cpp
  examples/atlas_simbicon/main.cpp
Due: none

Improve native collision primitive hot paths
  CHANGELOG.md
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/narrow_phase/capsule_box.cpp
  dart/collision/native/narrow_phase/capsule_sphere.cpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  dart/collision/native/shapes/shape.hpp
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/collision/test_capsule_capsule.cpp
  tests/unit/collision/test_types.cpp
Due: Collision

Guard C3D save dimensions (DART 6.16) (#2682)
  CHANGELOG.md
  dart/utils/C3D.cpp
  tests/unit/utils/test_C3D.cpp
Due: none
