Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Fast-path axis-aligned plane contact bounds
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Record issue 3056 joint-cache experiment
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Narrow single-reactive union resets
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Avoid single-reactive root refcount churn
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Use retained buckets for contact skip checks
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Record issue 3056 PR merge state
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Record issue 3056 rejected experiments
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Refresh issue 3056 profile note
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Precompute contact pair skip flags
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Update issue 3056 local stack notes
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Refresh DART broadphase caches before parallel build
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Record issue 3056 skip-flags profile
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Parallelize default surface scans
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Record issue 3056 group-cache experiment
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Record skip-flags full local gate
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Cache default contact surface decisions by version
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Avoid zeroing parallel collision flags
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Refresh DART shape caches during broadphase setup
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Complete + remove dart6_backport_audit dev-task
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Migrate the backport recipe into release-management.md (fix #3187)
  docs/onboarding/release-management.md
Due: none

Correct backport recipe per Codex: test-dir globbing + coupler
  docs/onboarding/release-management.md
Due: none

Complete + remove dart6_backport_audit dev-task (migrate insights to onboarding) (#3187)
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
  docs/onboarding/release-management.md
Due: none

docs: capture DART 6.20 backport lessons (retrospect)
  docs/ai/orchestration.md
  docs/ai/verification.md
  docs/onboarding/ci-cd.md
Due: none

Cache contact pair metadata during constraint build (#3188)
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Update issue 3056 skip-flags evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Precompute contact pair skip flags (#3190)
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Fast-path axis-aligned plane contact bounds (#3191)
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Fast-path FreeJoint root integration
  dart/dynamics/FreeJoint.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Joints.cpp
Due: Dynamics

Correct the -Wpotentially-evaluated-expression typeid fix (Codex)
  docs/onboarding/ci-cd.md
Due: none

docs: capture DART 6.20 backport lessons (retrospect) (#3189)
  docs/ai/orchestration.md
  docs/ai/verification.md
  docs/onboarding/ci-cd.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
