Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Move IKFast header under dynamics
  CHANGELOG.md
  dart/dynamics/CMakeLists.txt
  dart/dynamics/IkFast.cpp
  dart/dynamics/IkFast.hpp
  dart/dynamics/ikfast.h
  dart/external/CMakeLists.txt
  dart/external/ikfast/CMakeLists.txt
  docs/dev_tasks/dart6_dependency_minimization/README.md
  examples/wam_ikfast/ikfast/ikfast71.Transform6D.4_6_9_10_11_12_f8.cpp
  tests/integration/GeneratedWamIkFast.cpp
  tests/integration/SharedLibraryWamIkFast.cpp
Due: Dynamics

Replace lodepng with native PNG writer
  CHANGELOG.md
  dart/external/CMakeLists.txt
  dart/external/lodepng/CMakeLists.txt
  dart/external/lodepng/lodepng.cpp
  dart/external/lodepng/lodepng.h
  dart/gui/CMakeLists.txt
  dart/gui/detail/PngWriter.cpp
  dart/gui/detail/PngWriter.hpp
  dart/gui/glut/GlutWindow.cpp
  docs/dev_tasks/dart6_dependency_minimization/README.md
  scripts/code_check.sh
  tests/unit/CMakeLists.txt
  tests/unit/gui/CMakeLists.txt
  tests/unit/gui/test_PngWriter.cpp
Due: none

Reject mixed-family differentiable rollouts
  dart/simulation/diff/rollout.cpp
  dart/simulation/diff/rollout.hpp
  dart/simulation/world.cpp
  python/dartpy/_simulation_diff.py
  tests/unit/simulation/diff/test_diff_rollout.cpp
Due: Simulation

Preserve IKFast compatibility include
  CHANGELOG.md
  dart/dynamics/CMakeLists.txt
  dart/dynamics/detail/ikfast_compat.h.in
  docs/dev_tasks/dart6_dependency_minimization/README.md
  examples/wam_ikfast/ikfast/ikfast71.Transform6D.4_6_9_10_11_12_f8.cpp
Due: Dynamics

Reject multi-multibody differentiable rollouts
  dart/simulation/diff/rollout.cpp
  dart/simulation/diff/rollout.hpp
  dart/simulation/world.cpp
  python/dartpy/_simulation_diff.py
  tests/unit/simulation/diff/test_diff_rollout.cpp
Due: Simulation

Preserve lodepng package compatibility
  CHANGELOG.md
  dart/external/CMakeLists.txt
  dart/external/lodepng_compat.cpp
  dart/external/lodepng_compat.h.in
  docs/dev_tasks/dart6_dependency_minimization/README.md
  tests/unit/gui/CMakeLists.txt
  tests/unit/gui/test_LodePngCompat.cpp
Due: none

Preserve IKFast reinclude behavior
  dart/dynamics/detail/ikfast_compat.h.in
Due: Dynamics

Fix IKFast compatibility build path
  dart/dynamics/CMakeLists.txt
Due: Dynamics

Improve lodepng compatibility shim
  dart/external/lodepng_compat.cpp
  dart/external/lodepng_compat.h.in
  dart/gui/glut/GlutWindow.cpp
  tests/unit/gui/test_LodePngCompat.cpp
Due: none

Avoid clang typeid warning in solver check
  dart/constraint/BoxedLcpConstraintSolver.cpp
Due: Constraint

Shard simulation long-pole tests
  CHANGELOG.md
  docs/design/local_verification_pipeline.md
  pixi.toml
  scripts/ctest_tier.py
  scripts/test_all.py
  tests/unit/simulation/CMakeLists.txt
Due: none

Keep serial LCP scratch solver-owned
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Use thread-local parallel solve scope
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
Due: Constraint

Preserve convhull compatibility and precision
  dart/external/CMakeLists.txt
  dart/external/convhull_3d/CMakeLists.txt
  dart/math/CMakeLists.txt
  dart/math/detail/convhull-impl.hpp
  dart/math/detail/convhull_3d_compat.h.in
  dart/math/detail/safe_convhull_3d_compat.h.in
  tests/unit/math/test_Convhull.cpp
Due: Math

Refresh simulation shard timing note
  docs/design/local_verification_pipeline.md
Due: none

Replace vendored ImGui source tree
  CHANGELOG.md
  dart/external/CMakeLists.txt
  dart/external/imgui/CMakeLists.txt
  dart/external/imgui/imconfig.h
  dart/external/imgui/imgui.cpp
  dart/external/imgui/imgui.h
  dart/external/imgui/imgui_draw.cpp
  dart/external/imgui/imgui_impl_opengl2.cpp
  dart/external/imgui/imgui_impl_opengl2.h
  dart/external/imgui/imgui_internal.h
  dart/external/imgui/imgui_tables.cpp
  dart/external/imgui/imgui_widgets.cpp
  dart/external/imgui/imstb_rectpack.h
  dart/external/imgui/imstb_textedit.h
  dart/external/imgui/imstb_truetype.h
  dart/gui/osg/CMakeLists.txt
  dart/gui/osg/IncludeImGui.hpp
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

WP-091.40: Reserve World state-vector semantics (#3077)
  CHANGELOG.md
  dart/simulation/diff/rollout.cpp
  dart/simulation/diff/rollout.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/dart7_architecture_assessment.md
  docs/design/differentiable_simulation.md
  docs/design/simulation_cpp_api.md
  docs/design/simulation_python_api.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  python/dartpy/_simulation_diff.py
  python/dartpy/simulation/module.cpp
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_diff.py
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/diff/test_diff_rollout.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Align AI skills with DART 6 APIs
  .claude/skills/dart-io/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .codex/skills/dart-io/SKILL.md
  .codex/skills/dart-python/SKILL.md
Due: none

Use native IKFast header in WAM example
  examples/wam_ikfast/ikfast/ikfast71.Transform6D.4_6_9_10_11_12_f8.cpp
Due: none

Fix py-demos compiler cache launchers
  CHANGELOG.md
  cmake/compiler_cache.cmake
  pixi.toml
  python/tests/unit/test_pixi_cuda_py_demos_task.py
Due: none

Preserve lodepng raw encoding compatibility
  dart/external/lodepng_compat.cpp
  tests/unit/gui/test_LodePngCompat.cpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 28454ad3301847397fa0ff1cc434aa704667ca65
  performance/data.js
Due: none

Preserve convhull legacy helper APIs
  dart/math/detail/convhull_3d_compat.h.in
  tests/unit/math/test_Convhull.cpp
Due: Math

Correct release workflow guidance
  AGENTS.md
  docs/ai/workflows.md
Due: none

Preserve lodepng vector append behavior
  dart/external/lodepng_compat.cpp
  tests/unit/gui/test_LodePngCompat.cpp
Due: none

PLAN-091: Add cross-family and batch packet evidence
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/091-architecture-hardening/cross-family-metrics-corpus.json
  docs/plans/dashboard.md
  scripts/benchmark_packet_utils.py
  scripts/check_phase5_gpu_packet.py
  scripts/write_phase5_cuda_packet.py
  scripts/write_plan091_cross_family_metrics_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan091_cross_family_corpus.cpp
  tests/test_benchmark_packet_utils.py
  tests/test_plan091_cross_family_metrics_packet.py
Due: none

PLAN-091: Link remaining packet evidence to PR 3083
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Correct release workflow validation guidance
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .codex/skills/dart-build/SKILL.md
  .codex/skills/dart-test/SKILL.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Preserve ImGui compatibility with fetched sources
  dart/external/CMakeLists.txt
  dart/external/imgui_patches/dart-compat.patch
Due: none

PLAN-091: Annotate all representative batch rows
  scripts/write_phase5_cuda_packet.py
  tests/test_benchmark_packet_utils.py
Due: none

Use command strings for AI Pixi tasks
  pixi.toml
Due: none

Fix py-demos compiler cache launchers (#3082)
  CHANGELOG.md
  cmake/compiler_cache.cmake
  pixi.toml
  python/tests/unit/test_pixi_cuda_py_demos_task.py
Due: none

Restore convhull legacy compatibility behavior
  dart/math/detail/convhull_3d_compat.h.in
  tests/unit/math/CMakeLists.txt
  tests/unit/math/test_Convhull.cpp
  tests/unit/math/test_ConvhullCCompat.c
Due: Math

Address simulation shard coverage feedback
  CHANGELOG.md
  docs/design/local_verification_pipeline.md
  pixi.toml
  tests/unit/simulation/CMakeLists.txt
Due: none

Clarify release workflow approval guidance
  .claude/skills/dart-python/SKILL.md
  .codex/skills/dart-python/SKILL.md
  docs/onboarding/contributing.md
Due: none

Require tests before marking PRs ready
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/commands/dart-review-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  .opencode/command/dart-review-pr.md
Due: none

Default ImGui builds to system dependency
  CHANGELOG.md
  CMakeLists.txt
  docs/dev_tasks/dart6_dependency_minimization/README.md
Due: none

Fix py-demos selection debug overlay crash
  CHANGELOG.md
  dart/gui/debug.cpp
  dart/gui/detail/renderable_factory.cpp
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  tests/unit/gui/test_gui_debug_visuals.cpp
Due: none

Move convhull legacy code into tests
  CHANGELOG.md
  dart/math/CMakeLists.txt
  dart/math/detail/ConvexHull-impl.hpp
  dart/math/detail/ConvexHull.hpp
  dart/math/detail/Geometry-impl.hpp
  docs/dev_tasks/dart6_dependency_minimization/README.md
  tests/unit/math/CMakeLists.txt
  tests/unit/math/legacy_convhull_3d/convhull_3d.h
  tests/unit/math/legacy_convhull_3d/safe_convhull_3d.h
  tests/unit/math/test_ConvexHull.cpp
  tests/unit/math/test_LegacyConvexHullC.c
Due: Math
