Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Fix use-after-free in the first step after removing a skeleton or changing the collision detector (#3547)
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Run AI checks once, build SIMD benchmarks per level, and drop a dead dashboard trigger (#3562)
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/performance_dashboard_dart6.yml
  docs/onboarding/ci-cd.md
  docs/readthedocs/community/performance_dashboard.rst
  scripts/check_ai_infrastructure.py
  tests/benchmark/CMakeLists.txt
  tests/test_ai_infrastructure.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 8ad8b39e97e5c93710758cf9a1ddfbd10bc463f1
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for 59996edf073f2e9f2733768e0ae555678b176834
  performance/dart6/data.js
Due: none

Keep per-PR CI fast on hosted runners: compile-only asserts gate, persistent compiler caches, no duplicate work
  .github/workflows/api_doc.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/codeql.yml
  .github/workflows/performance_dashboard_dart6.yml
  CMakeLists.txt
  docs/onboarding/ci-cd.md
  docs/onboarding/release-management.md
Due: none

Build Windows CI with Ninja and a persistent sccache cache
  .github/workflows/ci_windows.yml
Due: none

Run the nightly matrix on demand instead of on every CI-touching PR
  .github/workflows/nightly.yml
  docs/onboarding/ci-cd.md
Due: none

Fall back to any Windows sccache snapshot when pixi.lock changes
  .github/workflows/ci_windows.yml
Due: none

Keep the asserts-gate comment above its job
  .github/workflows/ci_ubuntu.yml
Due: none

Test the assertions gate at -O2 and drop the Release-duplicate Debug legs
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  CMakeLists.txt
  docs/onboarding/ci-cd.md
  docs/onboarding/release-management.md
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Scope the +1 to finding fixes and patch tags to the release branch
  docs/onboarding/ai-tools.md
  docs/onboarding/release-management.md
Due: none

Remove the shallow-support drift suppression
  CHANGELOG.md
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/pr-a-crash-investigation.md
  docs/dev_tasks/dart6_performance_generalization/pr-c-pg31-scratch-retention.patch
  tests/integration/CMakeLists.txt
  tests/integration/test_IslandDeactivation.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Dynamics, Simulation

Require equilibrium before crediting the first-frame sleep dwell
  CHANGELOG.md
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Record the guard-row re-baseline for sleep and drift
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
Due: none

Keep per-PR CI fast with compiler caches; test the assertions gate at -O2 (#3564)
  .github/workflows/api_doc.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly.yml
  .github/workflows/performance_dashboard_dart6.yml
  docs/onboarding/ci-cd.md
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 950a6bebf21cf0afa27bdb1b8c5aa3119c6b7c7b
  performance/dart6/data.js
Due: none

Pin macOS wheel runners to macos-15 (DART 6 LTS) (#3214)
  .github/workflows/publish_dartpy.yml
Due: none

Scope publish_dartpy concurrency by event name (DART 6 LTS) (#3215)
  .github/workflows/publish_dartpy.yml
Due: none

Restore native ODE cylinders on mainstream ODE builds (#3550)
  CHANGELOG.md
  dart/collision/ode/OdeCollisionObject.cpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  tests/integration/test_Collision.cpp
Due: Collision

Install on Linux nightly only; CI gz-physics covers install per PR
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
Due: none

Fix the A5 frictionless reference and omit undefined friction metrics
  tests/integration/test_FrictionAnalytic.cpp
  tools/friction_eval/README.md
  tools/friction_eval/friction_eval.cpp
  tools/friction_eval/friction_scenes.hpp
Due: none

Make the friction-evaluation runner fail bad cells and time cells alone
  tools/friction_eval/README.md
  tools/friction_eval/friction_eval.py
Due: none

Give solvable contacts the contact budget before skipped ones
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Allow one step of gravity only along gravity for contact misses
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

Bound one-step contact misses by the World's wake band
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

add DART 6 Performance (googlecpp) benchmark result for da4850ba89cbd6955d07d7ff3c6d52e46069f40c
  performance/dart6/data.js
Due: none

Check the solver's own islands for one-step contact misses
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 906a1efa37ffebae29d593012a0481b1d31500f7
  performance/dart6/data.js
Due: none

Count contacts without a body as skipped in the contact budget
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Check record fingerprints and provenance, count whole windows, and separate infrastructure errors
  docs/onboarding/profiling.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
  tools/perf/allocshim.c
  tools/perf/portable_step_bench.cpp
Due: none

Count contacts between bodies that cannot react as skipped in the contact budget
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Leave commanded free joints out of the one-step contact-miss check
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

Share the contact cap across colliding pairs instead of dropping late pairs (#3551)
  CHANGELOG.md
  dart/collision/CollisionOption.hpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Collision, Constraint

add DART 6 Performance (googlecpp) benchmark result for ed5422610fdcdba1d5a04f6a2d645bdb05bbd79b
  performance/dart6/data.js
Due: none

Treat changed row inputs as a rebaseline and let the default output be reused
  docs/onboarding/profiling.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Draw friction_eval's random contact networks from their seed alone
  tools/friction_eval/friction_eval.cpp
Due: none
