Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Complete Filament GUI dev task cleanup
  dart/gui/AGENTS.md
  docs/ai/north-star.md
  docs/dev_tasks/README.md
  docs/dev_tasks/filament_gui/00-renderer-selection.md
  docs/dev_tasks/filament_gui/01-architecture.md
  docs/dev_tasks/filament_gui/02-mvp-example.md
  docs/dev_tasks/filament_gui/03-milestones.md
  docs/dev_tasks/filament_gui/04-migration.md
  docs/dev_tasks/filament_gui/05-testing.md
  docs/dev_tasks/filament_gui/06-visual-quality.md
  docs/dev_tasks/filament_gui/07-completion-audit.md
  docs/dev_tasks/filament_gui/08-north-star-migration.md
  docs/dev_tasks/filament_gui/09-legacy-surface-audit.md
  docs/dev_tasks/filament_gui/10-active-execution.md
  docs/dev_tasks/filament_gui/11-example-parity-audit.md
  docs/dev_tasks/filament_gui/12-strict-example-restoration.md
  docs/dev_tasks/filament_gui/README.md
  docs/dev_tasks/filament_gui/RESUME.md
  docs/dev_tasks/filament_gui/STEERING.md
  docs/onboarding/build-system.md
  docs/onboarding/gui-rendering.md
  docs/onboarding/python-bindings.md
  docs/plans/dashboard.md
  python/AGENTS.md
Due: none

Fix native collision Windows import library
  dart/collision/native/CMakeLists.txt
Due: Collision

Restore native collision CMake license header
  dart/collision/native/CMakeLists.txt
Due: Collision

Fix native compound shape Windows build
  dart/collision/native/shapes/shape.hpp
Due: Collision

Stabilize mixed collision benchmark guard
  pixi.toml
Due: none

Extend native collision stability test timeout
  tests/integration/CMakeLists.txt
  tests/unit/CMakeLists.txt
Due: none

Calibrate mixed collision benchmark guard
  pixi.toml
Due: none

Fix native collision Windows exports
  dart/collision/dart/dart_collision_group.hpp
  dart/collision/dart/shape_adapter.hpp
  tests/unit/simulation/test_world.cpp
Due: Collision

Tier dartpy wheel CI (#2657)
  .github/workflows/publish_dartpy.yml
  docs/onboarding/ci-cd.md
Due: none

Fix native collision Windows runtime path
  dart/collision/native/CMakeLists.txt
Due: Collision

Update GUI promotion test artifacts
  dart/gui/debug.hpp
  dart/gui/detail/application.cpp
  dart/gui/detail/debug_overlay.cpp
  dart/gui/detail/frame_viewport.cpp
  dart/gui/detail/input.cpp
  dart/gui/detail/input.hpp
  dart/gui/detail/materials/debug_color.mat
  dart/gui/detail/panel.cpp
  dart/gui/detail/render_environment.cpp
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/scene_frame.cpp
  dart/gui/detail/scene_frame.hpp
  dart/gui/detail/selection.cpp
  dart/gui/detail/selection.hpp
  dart/gui/gizmo.cpp
  docs/onboarding/api-boundary-inventory.md
  examples/atlas_puppet/README.md
  examples/atlas_puppet/main.cpp
  examples/g1_puppet/README.md
  examples/g1_puppet/main.cpp
  examples/hubo_puppet/README.md
  examples/hubo_puppet/main.cpp
  python/tests/unit/gui/test_gui_scene.py
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Improve Filament GUI puppet rendering and interaction
  CHANGELOG.md
  dart/gui/debug.hpp
  dart/gui/detail/debug_overlay.cpp
  dart/gui/detail/materials/textured_lit.mat
  dart/gui/detail/materials/transparent_textured_lit.mat
  dart/gui/detail/panel.cpp
  dart/gui/detail/render_environment.cpp
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/renderable_factory.hpp
  dart/gui/detail/selection.cpp
  dart/gui/fwd.hpp
  dart/gui/gizmo.cpp
  dart/gui/gizmo.hpp
  dart/gui/viewer.hpp
  examples/atlas_puppet/README.md
  examples/atlas_puppet/main.cpp
  examples/g1_puppet/README.md
  examples/g1_puppet/main.cpp
  examples/hubo_puppet/README.md
  examples/hubo_puppet/main.cpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Add core CI for branch pushes
  .github/actions/ci-scope/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
Due: none

Run full gz-physics suite in gazebo gate
  docs/onboarding/build-system.md
  docs/onboarding/testing.md
  docs/plans/035-native-collision-dashboard.md
  pixi.toml
Due: none

Move reference query helper out of runtime collision
  docs/onboarding/api-boundary-inventory.md
  tests/dart/test/reference_collision/CMakeLists.txt
  tests/dart/test/reference_collision/bullet/CMakeLists.txt
  tests/dart/test/reference_collision/bullet/bullet_collision_detector.cpp
  tests/dart/test/reference_collision/dart_query_helper.cpp
  tests/dart/test/reference_collision/dart_query_helper.hpp
  tests/dart/test/reference_collision/fcl/CMakeLists.txt
  tests/dart/test/reference_collision/fcl/fcl_collision_detector.cpp
  tests/dart/test/reference_collision/ode/CMakeLists.txt
  tests/dart/test/reference_collision/ode/ode_collision_detector.cpp
Due: none

Skip CI jobs for deleted branch pushes
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
Due: none

Update dartpy simulation stubs
  python/stubs/dartpy/simulation.pyi
Due: none

Complete living plan roadmap
  README.md
  cmake/dart_find_tracy.cmake
  dart/CMakeLists.txt
  dart/utils/CMakeLists.txt
  docs/onboarding/constraints.md
  docs/onboarding/release-roadmap.md
  docs/plans/010-easy-start-api-package-readiness.md
  docs/plans/020-algorithm-extension-contracts.md
  docs/plans/030-compute-scalability-roadmap.md
  docs/plans/README.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/check_dart7_artifacts.py
  scripts/test_cpp_quickstart.py
  scripts/test_installation.py
  scripts/test_published_package_quickstarts.py
  scripts/test_wheel.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Clarify docs plan and design lifecycle
  docs/AGENTS.md
  docs/README.md
  docs/ai/components.md
  docs/design/AGENTS.md
  docs/design/README.md
  docs/design/algorithm_extension_contracts.md
  docs/design/hierarchical_allocator.md
  docs/design/scalable_compute_decisions.md
  docs/plans/010-easy-start-api-package-readiness.md
  docs/plans/020-algorithm-extension-contracts.md
  docs/plans/030-compute-scalability-roadmap.md
  docs/plans/AGENTS.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/check_docs_policy.py
Due: none

Refactor articulated dynamics through internal algorithms
  dart/dynamics/body_node.hpp
  dart/dynamics/detail/articulated_dynamics_algorithms.hpp
  dart/dynamics/detail/skeleton_dynamics_view.hpp
  dart/dynamics/skeleton.cpp
  dart/dynamics/skeleton.hpp
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/dynamics.md
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/unit/CMakeLists.txt
  tests/unit/dynamics/test_articulated_dynamics_algorithms.cpp
Due: Dynamics

Add core CI for branch pushes (#2660)
  .github/actions/ci-scope/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
Due: none

Address package readiness review feedback
  scripts/check_dart7_artifacts.py
  scripts/test_published_package_quickstarts.py
Due: none

Normalize docs policy link paths
  scripts/check_docs_policy.py
Due: none

Clarify PR management workflow
  .claude/commands/dart-manage-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  docs/ai/workflows.md
Due: none

Keep installation smoke test asset independent
  docs/plans/010-easy-start-api-package-readiness.md
  scripts/test_installation.py
Due: none

Clarify docs plan and design lifecycle (#2662)
  docs/AGENTS.md
  docs/README.md
  docs/ai/components.md
  docs/design/AGENTS.md
  docs/design/README.md
  docs/design/algorithm_extension_contracts.md
  docs/design/hierarchical_allocator.md
  docs/design/scalable_compute_decisions.md
  docs/plans/010-easy-start-api-package-readiness.md
  docs/plans/020-algorithm-extension-contracts.md
  docs/plans/030-compute-scalability-roadmap.md
  docs/plans/AGENTS.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/check_docs_policy.py
Due: none

Handle multi-config quickstart builds
  scripts/test_cpp_quickstart.py
  scripts/test_published_package_quickstarts.py
Due: none

Retarget completed living plan entries
  docs/design/algorithm_extension_contracts.md
  docs/onboarding/release-roadmap.md
  docs/plans/010-easy-start-api-package-readiness.md
  docs/plans/020-algorithm-extension-contracts.md
  docs/plans/030-compute-scalability-roadmap.md
  docs/plans/README.md
  docs/plans/dashboard.md
Due: none

Address native collision review feedback
  dart/collision/dart/dart_collision_group.cpp
  dart/constraint/constraint_solver.cpp
  tests/unit/collision/test_collision_backend.cpp
Due: Collision, Constraint

Clarify Codex review retrigger workflow
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/commands/dart-review-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  .opencode/command/dart-review-pr.md
  docs/onboarding/ai-tools.md
Due: none

Complete living plan roadmap (#2661)
  README.md
  cmake/dart_find_tracy.cmake
  dart/CMakeLists.txt
  dart/utils/CMakeLists.txt
  docs/design/algorithm_extension_contracts.md
  docs/onboarding/constraints.md
  docs/onboarding/release-roadmap.md
  docs/plans/010-easy-start-api-package-readiness.md
  docs/plans/020-algorithm-extension-contracts.md
  docs/plans/030-compute-scalability-roadmap.md
  docs/plans/README.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/check_dart7_artifacts.py
  scripts/test_cpp_quickstart.py
  scripts/test_installation.py
  scripts/test_published_package_quickstarts.py
  scripts/test_wheel.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Add stable dartpy wheel CI gate
  .github/workflows/publish_dartpy.yml
  docs/onboarding/ci-cd.md
Due: none

Harden dartpy wheel gate dependencies
  .github/workflows/publish_dartpy.yml
Due: none

Tighten articulated dynamics performance path
  dart/dynamics/body_node.hpp
  dart/dynamics/detail/articulated_dynamics_algorithms.hpp
  dart/dynamics/detail/skeleton_dynamics_view.hpp
  dart/dynamics/skeleton.cpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
Due: Dynamics

Run gz-physics performance tests serially
  docs/onboarding/build-system.md
  pixi.toml
Due: none

Add stable dartpy wheel CI gate (#2664)
  .github/workflows/publish_dartpy.yml
  docs/onboarding/ci-cd.md
Due: none

Register native collision from collision tree
  CMakeLists.txt
  dart/collision/CMakeLists.txt
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
