Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

feat: fail fast invalid exact FBF captures
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/HeadlessExactFbfFailFast.hpp
  examples/demos/main.cpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/unit/CMakeLists.txt
  tests/unit/examples/CMakeLists.txt
  tests/unit/examples/test_HeadlessExactFbfFailFast.cpp
Due: none

feat: add literal masonry arch demo contract
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
  examples/demos/CMakeLists.txt
  examples/demos/README.md
  examples/demos/Registry.cpp
  examples/demos/scenes/FbfLiteralMasonryArchSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_literal_wedge_visual_capture.py
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_literal_wedge_visual_capture.py
  scripts/run_fbf_visual_evidence.py
  tests/benchmark/integration/fbf_literal_wedge_visual_capture.cpp
  tests/benchmark/integration/fbf_paper_trace.cpp
  tests/unit/examples/CMakeLists.txt
  tests/unit/examples/test_FbfLiteralMasonryArchSpec.cpp
Due: none

test: skip unavailable local evidence bundles
  python/tests/unit/test_finalize_fbf_author_incline_reference.py
  python/tests/unit/test_finalize_fbf_author_masonry_arch_reference.py
  python/tests/unit/test_finalize_fbf_author_turntable_reference.py
  python/tests/unit/test_run_fbf_cpu_evidence.py
Due: none

feat: add source-pinned masonry arch dynamics adapter
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/README.md
  examples/demos/Registry.cpp
  examples/demos/main.cpp
  examples/demos/scenes/FbfAuthorMasonryArchDartAdapter.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/test_FbfAuthorMasonryArchSpec.cpp
Due: none

fix: certify large exact Coulomb boundary solves
  dart/math/detail/ExactCoulombFbfSolver.hpp
  tests/unit/math/test_ExactCoulombFbfSolver.cpp
Due: Math

docs: record current source arch convergence limit
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
Due: none

feat: add source-selected Figure 6 adapter
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
  examples/demos/README.md
  examples/demos/Registry.cpp
  examples/demos/scenes/FbfAuthorCardHouseSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/test_ExactCoulombFbfPaperFixtures.cpp
Due: none

fix: retain exact Coulomb failure diagnostics
  dart/constraint/ExactCoulombFbfConstraintSolver.cpp
  dart/constraint/ExactCoulombFbfConstraintSolver.hpp
  examples/demos/DemoHost.cpp
  examples/demos/scenes/FbfAuthorCardHouseSpec.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/unit/constraint/test_ExactCoulombFbfConstraintSolver.cpp
Due: Constraint

docs: enforce local task evidence policy
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/FIGURE6_CONVERGENCE_BLOCKER.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/LITERAL_ARCH_101_V1.md
  docs/dev_tasks/fbf_exact_coulomb_friction/LITERAL_CROWN_IMPACT_V1.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-notes.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
  scripts/check_agent_hook.py
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

docs: enforce local task evidence policy
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/FIGURE6_CONVERGENCE_BLOCKER.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/KAMINO_BASELINE.md
  docs/dev_tasks/fbf_exact_coulomb_friction/LITERAL_ARCH_101_V1.md
  docs/dev_tasks/fbf_exact_coulomb_friction/LITERAL_CROWN_IMPACT_V1.md
  docs/dev_tasks/fbf_exact_coulomb_friction/MUJOCO_BASELINE.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PROVENANCE.txt
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-notes.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
  scripts/check_agent_hook.py
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

fix: harden evidence cleanup across platforms
  python/tests/unit/test_finalize_fbf_incline_visual.py
  scripts/finalize_fbf_incline_visual.py
Due: none

feat: align Figure 6 FBF correction policy
  dart/constraint/ExactCoulombFbfConstraintSolver.cpp
  dart/constraint/ExactCoulombFbfConstraintSolver.hpp
  dart/math/detail/ExactCoulombFbfSolver.hpp
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/FIGURE6_CONVERGENCE_BLOCKER.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/LITERAL_ARCH_101_V1.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  examples/demos/scenes/FbfAuthorCardHouseSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/test_ExactCoulombFbfPaperFixtures.cpp
  tests/unit/constraint/test_ExactCoulombFbfConstraintSolver.cpp
  tests/unit/math/test_ExactCoulombFbfSolver.cpp
Due: Math, Constraint

fix: kill interrupted evidence groups before reap
  python/tests/unit/test_finalize_fbf_incline_visual.py
  scripts/finalize_fbf_incline_visual.py
Due: none

feat: match Figure 6 source inner initialization
  dart/constraint/ExactCoulombFbfConstraintSolver.cpp
  dart/constraint/ExactCoulombFbfConstraintSolver.hpp
  dart/math/detail/ExactCoulombFbfSolver.hpp
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/FIGURE6_CONVERGENCE_BLOCKER.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  examples/demos/scenes/FbfAuthorCardHouseSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/test_ExactCoulombFbfPaperFixtures.cpp
  tests/unit/constraint/test_ExactCoulombFbfConstraintSolver.cpp
  tests/unit/math/test_ExactCoulombFbfSolver.cpp
Due: Math, Constraint

feat: add source continuation policy to exact FBF
  dart/constraint/ExactCoulombFbfConstraintSolver.cpp
  dart/constraint/ExactCoulombFbfConstraintSolver.hpp
  dart/math/detail/ExactCoulombFbfSolver.hpp
  tests/benchmark/integration/fbf_literal_wedge_visual_capture.cpp
  tests/benchmark/integration/fbf_paper_arch_probe.cpp
  tests/benchmark/integration/fbf_paper_arch_wedge_dynamics_probe.cpp
  tests/benchmark/integration/fbf_paper_card_house_probe.cpp
  tests/benchmark/integration/fbf_paper_gamma_sweep.cpp
  tests/benchmark/integration/fbf_paper_trace.cpp
  tests/unit/constraint/test_ExactCoulombFbfConstraintSolver.cpp
  tests/unit/math/test_ExactCoulombFbfSolver.cpp
Due: Math, Constraint

feat: capture Figure 6 source continuation
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/HeadlessExactFbfFailFast.hpp
  examples/demos/README.md
  examples/demos/Registry.cpp
  examples/demos/main.cpp
  examples/demos/scenes/FbfAuthorCardHouseSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/unit/examples/test_HeadlessExactFbfFailFast.cpp
Due: none

test: wait for timeout-test descendants
  python/tests/unit/test_finalize_fbf_incline_visual.py
Due: none

docs: record Figure 6 continuation evidence
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/FIGURE6_CONVERGENCE_BLOCKER.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
  docs/dev_tasks/fbf_exact_coulomb_friction/residual-history-report.md
Due: none

feat: add source-pinned Painleve demo evidence
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/DemoScene.hpp
  examples/demos/README.md
  examples/demos/Registry.cpp
  examples/demos/scenes/FbfAuthorPainleveSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/CMakeLists.txt
  tests/integration/test_ExactCoulombFbfPaperFixtures.cpp
Due: none

docs: record source-pinned Figure 5 evidence
  docs/dev_tasks/fbf_exact_coulomb_friction/AGENT_CONTINUATION.md
  docs/dev_tasks/fbf_exact_coulomb_friction/HANDOFF.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PAPER_DEMO_VIDEO_MATRIX.md
  docs/dev_tasks/fbf_exact_coulomb_friction/PR_REPORT.md
  docs/dev_tasks/fbf_exact_coulomb_friction/README.md
  docs/dev_tasks/fbf_exact_coulomb_friction/RESUME.md
  docs/dev_tasks/fbf_exact_coulomb_friction/gui-capture-report.md
  docs/dev_tasks/fbf_exact_coulomb_friction/paper-parity-matrix.md
Due: none

feat: add source-pinned 101-stone arch demo
  examples/demos/Registry.cpp
  examples/demos/scenes/FbfAuthorMasonryArchDartAdapter.hpp
  examples/demos/scenes/FbfAuthorMasonryArchSpec.hpp
  examples/demos/scenes/FbfPaperFrictionScene.cpp
  examples/demos/scenes/Scenes.hpp
  python/tests/unit/test_run_fbf_visual_evidence.py
  scripts/run_fbf_visual_evidence.py
  tests/integration/test_FbfAuthorMasonryArchSpec.cpp
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
