Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Remove legacy integration module (#3122)
  CHANGELOG.md
  dart/CMakeLists.txt
  dart/dart.hpp
  dart/integration/CMakeLists.txt
  dart/integration/EulerIntegrator.cpp
  dart/integration/EulerIntegrator.hpp
  dart/integration/Integrator.cpp
  dart/integration/Integrator.hpp
  dart/integration/RK4Integrator.cpp
  dart/integration/RK4Integrator.hpp
  dart/integration/SemiImplicitEulerIntegrator.cpp
  dart/integration/SemiImplicitEulerIntegrator.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  scripts/code_check.sh
Due: Simulation

Add inverse-dynamics profiling driver (#3118)
  .github/workflows/ci_ubuntu.yml
  dart/dynamics/ContactInverseDynamics.cpp
  dart/dynamics/Skeleton.cpp
  dart/math/NonNegativeLeastSquares.cpp
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/id_headless.cpp
Due: Math, Dynamics

Dashboard: #3122 (legacy integration) + #3118 (profiling) merged; #3123 now lone open dep-min PR
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Choose cylinder side contacts by penetration
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Dashboard: replace internal [[...]] memory marker with plain naming-note reference (Codex P3)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Dashboard: clarify #3116/#3120/#3122/#3118 are merged (closed, not open) to preempt stale-state confusion
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Add cross-lane orchestration dashboard (dependency minimization) (#3121)
  docs/dev_tasks/dart6_dependency_minimization/02-default-environment-split.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Add finite cylinder primitive dispatch
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Preserve tangent cylinder contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Preserve degenerate MPR tangent contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Center tied cylinder-plane contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Speed up DART primitive plane collision (#3123)
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Dashboard: #3123 merged (native-collision first piece); open queue now empty
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Dashboard: add merge-commit provenance for #3123 (rebut 'still open' misread; it's HEAD of release-6.20)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Dashboard: make #3123 merge provenance merge-stable (cite SHA+state, not self-stale HEAD) [Codex P3]
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Dashboard: evidence-based queue-clear note + reviewer guidance on GitHub merge-state lag (outdates stale #3123-open threads)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Speed up DART native active contact aggregation
  CHANGELOG.md
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Dashboard: merge-stable queue note (drop self-PR exception + non-dep-min #3092 from list) [Codex P3 x2]
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Guard DART contact index cell bounds
  dart/collision/dart/DARTCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Refresh orchestration dashboard: #3123 merged, dep-min queue clear (#3124)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Keep materialized collision result sets current
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  tests/integration/test_Collision.cpp
Due: Collision

Speed up DART native active contact aggregation (#3125)
  CHANGELOG.md
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Add DART-native capsule primitive contacts
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Handle capsule-cylinder containment contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Handle capsule-cylinder cap contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Center capsule-plane shaft contacts
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Derive coincident capsule normals from pairs
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

add DART 7 World Performance (googlecpp) benchmark result for 98605cae1f4f14b0a54ca72c2ab6e3652d997fb8
  performance/data.js
Due: none

Normalize capsule GUI rebuild options
  examples/contact_benchmark/main.cpp
Due: none

Add DART-native capsule primitive contacts (#3126)
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Add DART 6 backport audit dev-task for release-6.20
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Cache DART native collision shape metadata
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Require gz gate for the #2285 MeshShape backport (installed-header API)
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Cache DART native collision shape metadata (#3129)
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Add #2325 MeshShape TriMesh (aiScene/aiMesh removal) to the backport audit
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Reconcile gz-gate recipe, action-bump disposition, and feature list (review)
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Fetch release-6.19 in the backport recipe for the #3115 LTS-twin cherry-pick
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Add a release-6.19 verification check for the #3117 LTS-twin forward-port
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Add DART 6 backport audit dev-task for release-6.20 (#3128)
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

fix: ARM64 SEGFAULT in TranslationalJoint2D and Icosphere, copy bugs (#2509)
  dart/dynamics/TranslationalJoint2D.cpp
  dart/dynamics/UniversalJoint.cpp
  dart/dynamics/detail/TranslationalJoint2DAspect.hpp
  dart/math/detail/Icosphere-impl.hpp
  tests/unit/dynamics/test_Joints.cpp
Due: Math, Dynamics

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
