Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Fix path guard regressions and Windows hook diagnostics
  .claude/hooks/pre-commit-guard.sh
  .github/workflows/ci_windows.yml
  docs/onboarding/contributing.md
  scripts/check_local_paths.py
  tests/test_ai_infrastructure.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

Keep custom-filter bodies awake for external collision frames
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_CustomFilterSleeping.cpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Fix merge comment scanning and internationalized URL hosts
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

Avoid contact-cache RTTI overhead for legacy solvers
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Fix Windows guard invocation and recover removed hook checkers
  .claude/hooks/pre-commit-guard.ps1
  .claude/hooks/pre-commit-guard.py
  .claude/hooks/pre-commit-guard.sh
  docs/ai/components.md
  docs/ai/verification.md
  docs/onboarding/ai-tools.md
  docs/onboarding/contributing.md
  scripts/check_ai_infrastructure.py
  scripts/install_git_hooks.py
  scripts/pretool_guard_bridge.py
  tests/test_ai_infrastructure.py
  tests/test_install_git_hooks.py
Due: none

Respect residual tolerance when judging FBF warm-start progress
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
  tests/unit/constraint/test_FbfFrictionSolver.cpp
Due: Constraint

Preserve compatible detector seeds alongside the contact cache
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/constraint/detail/ContactWarmStartCache.cpp
  dart/constraint/detail/ContactWarmStartCache.hpp
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/constraint/test_ContactWarmStartCache.cpp
Due: Constraint

Require double-precision libccd unless explicitly allowed (#3630)
  CHANGELOG.md
  CMakeLists.txt
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/config.hpp.in
  docs/readthedocs/dart/developer_guide/build.rst
Due: Collision

Let resting islands with a custom collision filter sleep (#3632)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_CustomFilterSleeping.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint, Simulation

Block commits when the guard classifier cannot run
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Honor the hook bypass and read only the command when the classifier fails
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 5f5dc4ac4d974ca4379a0a9e8d606f220a3a0c58
  performance/dart6/data.js
Due: none

Rewrite generated headers and sources only when their content changes
  cmake/DARTMacros.cmake
  dart/gui/imgui/CMakeLists.txt
Due: none

Build the Linux Release CI job as unity translation units
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for a2d7992c2261f3e14c944e7eef51ca9caade3a9b
  performance/dart6/data.js
Due: none

Check the whole payload when the fallback cannot extract the command
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Limit contact warm starts to refined converged NSGS groups
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/NsgsFrictionSolver.hpp
  dart/constraint/detail/ContactWarmStartCache.cpp
  dart/constraint/detail/ContactWarmStartCache.hpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
  tests/unit/constraint/test_ContactWarmStartCache.cpp
  tests/unit/constraint/test_FbfFrictionSolver.cpp
  tests/unit/constraint/test_NsgsFrictionSolver.cpp
Due: Constraint

Build the Linux Release CI job as unity translation units (#3635)
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
Due: none

Rewrite generated headers and sources only when their content changes (#3634)
  cmake/DARTMacros.cmake
  dart/gui/imgui/CMakeLists.txt
Due: none

Add local-path publication checks and trusted CI scans
  .github/workflows/ci_ubuntu.yml
  .github/workflows/pr_text.yml
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  pixi.toml
  python/tests/unit/test_compare_soft_body_detector_pairs.py
  scripts/check_ai_infrastructure.py
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
Due: none

Enforce local-path checks in managed Git hooks
  .claude/hooks/pre-commit-guard.sh
  pixi.toml
  scripts/check_ai_infrastructure.py
  scripts/install_git_hooks.py
  tests/test_ai_infrastructure.py
  tests/test_install_git_hooks.py
Due: none

Document portable publication guidance
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-contribute/SKILL.md
  .opencode/command/dart-pr.md
  AGENTS.md
  docs/ai/README.md
  docs/ai/principles.md
  docs/ai/verification.md
  docs/onboarding/ai-tools.md
  docs/onboarding/ci-cd.md
  docs/onboarding/contributing.md
Due: none

Link the contact warm-start changelog entry to its PR
  CHANGELOG.md
Due: none

Fix local-path checks for Git cleanup and diff configuration
  scripts/check_local_paths.py
  tests/test_check_local_paths.py
  tests/test_install_git_hooks.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 52b3ad1d30c1772796f7ed6218a324eb92f45f7f
  performance/dart6/data.js
Due: none

Ask PR descriptions to lead with the effect and use plots and simulation visuals
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-manage-pr/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  CONTRIBUTING.md
  docs/ai/verification.md
  docs/onboarding/contributing.md
Due: none

Warm-start converged single-body NSGS contact groups on every detector (#3636)
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/detail/ContactWarmStartCache.cpp
  dart/constraint/detail/ContactWarmStartCache.hpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_ContactWarmStartCache.cpp
  tests/unit/constraint/test_FbfFrictionSolver.cpp
  tests/unit/constraint/test_NsgsFrictionSolver.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 2e048b1d5f19b54b1d0bd1fb9082cd6f78607808
  performance/dart6/data.js
Due: none

Give FreeBSD CI more time to finish the test suite
  .github/workflows/ci_freebsd.yml
Due: none

Give FreeBSD CI more time to finish the test suite (#3638)
  .github/workflows/ci_freebsd.yml
Due: none

Document a shared methodology for DART performance evidence
  .agents/skills/.dart-generated.json
  .agents/skills/dart-perf/SKILL.md
  .claude/skills/dart-perf/SKILL.md
  AGENTS.md
  docs/ai/capabilities.json
  docs/ai/workflows.md
  docs/onboarding/profiling.md
Due: none

Lead PR descriptions with the effect and standardize performance evidence (#3639)
  .agents/skills/.dart-generated.json
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-manage-pr/SKILL.md
  .agents/skills/dart-perf/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-perf/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  AGENTS.md
  CONTRIBUTING.md
  docs/ai/capabilities.json
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/onboarding/contributing.md
  docs/onboarding/profiling.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
