Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Fix Python 3 except syntax in the build-time provenance script
  CHANGELOG.md
  docs/onboarding/building.md
  pyproject.toml
  python/tests/unit/test_capture_source_provenance.py
  scripts/capture_source_provenance.py
Due: none

Honor DART_SKIP_spdlog when spdlog is installed
  CHANGELOG.md
  cmake/dart_defs.cmake
  cmake/dart_find_dependencies.cmake
  docs/onboarding/build-system.md
Due: none

Link PR #3516 in the changelog entry for the provenance script fix
  CHANGELOG.md
Due: none

Fix CollisionGroup::removeAllShapeFrames leaving dangling subscriptions
  dart/collision/collision_group.cpp
  dart/collision/collision_group.hpp
  tests/unit/collision/test_collision_group.cpp
Due: Collision

Link PR #3517 in the changelog entry for the spdlog skip fix
  CHANGELOG.md
Due: none

Link PR #3518 in the changelog entry for the two-group query fix
  CHANGELOG.md
Due: none

Link PR #3519 in the changelog entry for the remove-all subscription fix
  CHANGELOG.md
Due: none

Fix Python 3 except syntax in the build-time provenance script (#3516)
  CHANGELOG.md
  docs/onboarding/building.md
  pyproject.toml
  python/tests/unit/test_capture_source_provenance.py
  scripts/capture_source_provenance.py
Due: none

Honor DART_SKIP_spdlog when spdlog is installed (#3517)
  CHANGELOG.md
  cmake/dart_defs.cmake
  cmake/dart_find_dependencies.cmake
  docs/onboarding/build-system.md
Due: none

Refresh both collision groups in two-group collide and distance queries (#3518)
  CHANGELOG.md
  dart/collision/collision_group.cpp
  tests/unit/collision/test_collision_group.cpp
Due: Collision

Fix CollisionGroup::removeAllShapeFrames leaving dangling subscriptions (#3519)
  CHANGELOG.md
  dart/collision/collision_group.cpp
  dart/collision/collision_group.hpp
  tests/unit/collision/test_collision_group.cpp
Due: Collision

add DART 7 World Performance (googlecpp) benchmark result for aed375e9ca290705a73f4ef26bf04989df0db78b
  performance/data.js
Due: none

Update pixi lockfile
  pixi.lock
Due: none

Fix constraint parameter setters storing invalid values after clamping warnings
  dart/constraint/dynamic_joint_constraint.cpp
  dart/constraint/joint_constraint.cpp
  dart/constraint/joint_coulomb_friction_constraint.cpp
  dart/constraint/joint_limit_constraint.cpp
  dart/constraint/servo_motor_constraint.cpp
  dart/constraint/soft_contact_constraint.cpp
  tests/unit/constraint/test_joint_constraints.cpp
Due: Constraint

Link PR #3524 in the changelog entry for the constraint clamp fix
  CHANGELOG.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 134237e932df9de29ed1a9c8156aee9f6dbc2589
  performance/dart6/data.js
Due: none

Fix constraint parameter setters storing invalid values after clamping warnings (#3524)
  CHANGELOG.md
  dart/constraint/dynamic_joint_constraint.cpp
  dart/constraint/joint_constraint.cpp
  dart/constraint/joint_coulomb_friction_constraint.cpp
  dart/constraint/joint_limit_constraint.cpp
  dart/constraint/servo_motor_constraint.cpp
  dart/constraint/soft_contact_constraint.cpp
  tests/unit/constraint/test_joint_constraints.cpp
Due: Constraint

add DART 7 World Performance (googlecpp) benchmark result for 90c79d9f16e0a0ab45143b858178b57c239e8583
  performance/data.js
Due: none

Align the non-virtual part of the Frame-family classes with their virtual Frame base
  CHANGELOG.md
  dart/common/class_with_virtual_base.hpp
  dart/common/virtual.hpp
  dart/dynamics/fixed_frame.hpp
  dart/dynamics/jacobian_node.hpp
  dart/dynamics/shape_frame.hpp
  docs/onboarding/code-style.md
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  tests/unit/CMakeLists.txt
  tests/unit/dynamics/test_frame_base_alignment.cpp
Due: Common, Dynamics

Use the repository license header in the frame base alignment test
  tests/unit/dynamics/test_frame_base_alignment.cpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for d8fbeb22d9272d18061f8031fa94318e5ee9e0b8
  performance/data.js
Due: none

Link the CHANGELOG entry to #3525
  CHANGELOG.md
Due: none

Pin filament to the conda-forge build 1 packages to avoid a headless render deadlock
  pixi.lock
  pixi.toml
Due: none

Describe the filament build pin in the build-system guide
  docs/onboarding/build-system.md
Due: none

Name the trigger, lift check, and tracking issue in the filament pin comment
  pixi.toml
Due: none

Pin filament to the conda-forge build 1 packages to fix the headless demo viewer deadlock (#3527)
  docs/onboarding/build-system.md
  pixi.lock
  pixi.toml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 9f9fa08d0dc01ef6d8d0ef73787b721d29e6dfd4
  performance/data.js
Due: none

Align Frame-derived classes' non-virtual part with their virtual Frame base to fix GCC aligned-store crashes (DART 7) (#3525)
  CHANGELOG.md
  dart/common/class_with_virtual_base.hpp
  dart/common/virtual.hpp
  dart/dynamics/fixed_frame.hpp
  dart/dynamics/jacobian_node.hpp
  dart/dynamics/shape_frame.hpp
  docs/onboarding/code-style.md
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  tests/unit/CMakeLists.txt
  tests/unit/dynamics/test_frame_base_alignment.cpp
Due: Common, Dynamics

add DART 7 World Performance (googlecpp) benchmark result for de0753f4b92d3b479da5ff5a50a6d239f15543a1
  performance/data.js
Due: none

Keep scheduled automation on release-6.20 when main mirrors it
  .github/dependabot.yml
  .github/workflows/api_doc.yml
  .github/workflows/update_lockfiles.yml
  docs/onboarding/release-management.md
Due: none

Keep the CI index and release note consistent with the mirror workflow
  .github/workflows/api_doc.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/release-management.md
Due: none

Keep scheduled automation on release-6.20 when main mirrors it (#3532)
  .github/dependabot.yml
  .github/workflows/api_doc.yml
  .github/workflows/update_lockfiles.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/release-management.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
