Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Extend Cartesian articulated contact coverage
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover sixteen Cartesian articulated chains
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover multi-pair articulated rigid impacts
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover multi-pair articulated link impacts
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover sixteen-pair articulated impacts
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Extend articulated impact step evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover eight-pair articulated impacts
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover 128-box CUDA dense contact execution
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Add threaded red-black LCP sweeps
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.hpp
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
Due: Math

Add threaded blocked Jacobi sweeps
  CHANGELOG.md
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
  dart/math/lcp/projection/blocked_jacobi_solver.hpp
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
Due: Math

Extend threaded LCP benchmark rows
  CHANGELOG.md
  docs/background/lcp/02_overview.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Share Newton barrier line-search step scaling (#2943)
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/newton_barrier/line_search.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Share line-search CCD outcome accounting
  dart/simulation/detail/deformable_contact/continuous_collision_step.cpp
  dart/simulation/detail/newton_barrier/line_search.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Extend coupled stack snapshot evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Wrap Newton barrier PSD backend
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/newton_barrier/psd_backend.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/compute/test_deformable_psd_backend.cpp
Due: Simulation

Name IPC as Newton-barrier solver family
  docs/design/simulation_solver_architecture.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody.md
  docs/plans/083-unified-newton-barrier-multibody/ipc-variant-consolidation.md
  docs/readthedocs/architecture.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 261bd176cc8311d7854e20994c923c30a999fffc
  performance/data.js
Due: none

Extend extreme mild LCP conditioning rows
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
Due: none

Use frame arena for EnTT build benchmarks
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Extend nine-sphere stack evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Share Newton barrier sufficient-decrease policy
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/newton_barrier/line_search.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Extend ten-sphere stack evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Fix boxed LCP fixed-bound validation
  CHANGELOG.md
  dart/math/lcp/lcp_validation.hpp
  docs/background/lcp/04_projection-methods.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: Math

Extend dense box CUDA grouped coverage
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Add dense box CUDA Jacobi evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Extend dense box CUDA Jacobi boundary
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Share line-search CCD outcome accounting (#2945)
  dart/simulation/detail/deformable_contact/continuous_collision_step.cpp
  dart/simulation/detail/newton_barrier/line_search.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add grouped dense box CUDA Jacobi evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Color large free-list storage allocations
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  python/tests/unit/test_run_cpp_benchmark.py
  scripts/run_cpp_benchmark.py
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Extend grouped dense box CUDA coverage
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Add dense box CUDA Jacobi boundary evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Record focused SIMD CUDA LCP batch evidence
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 89076129a52593e0bd07b01e548b03b26abb734b
  performance/data.js
Due: none

Record full SIMD CUDA LCP batch evidence
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Improve frame-backed EnTT allocator layout
  CHANGELOG.md
  dart/common/frame_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  scripts/run_cpp_benchmark.py
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

Extend grouped dense box CUDA evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Extend stack CUDA LCP evidence
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Extend stack CUDA LCP evidence to 16 spheres
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Extend stack boxed LCP evidence to 12 spheres
  CHANGELOG.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Wrap Newton barrier PSD backend (#2946)
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/newton_barrier/psd_backend.hpp
  docs/design/simulation_solver_architecture.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody.md
  docs/plans/083-unified-newton-barrier-multibody/ipc-variant-consolidation.md
  docs/readthedocs/architecture.md
  tests/unit/simulation/compute/test_deformable_psd_backend.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
