Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add AI capability manifest and analysis workflow (#2683)
  .claude/commands/dart-analyze.md
  .codex/skills/dart-analyze/SKILL.md
  .opencode/command/dart-analyze.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  docs/plans/030-compute-resource-access/evaluator.md
  docs/plans/030-compute-resource-access/mission.md
  docs/plans/README.md
  docs/plans/dashboard.md
  scripts/sync_ai_commands.py
Due: none

Document Atlas v5 asset provenance
  data/sdf/atlas/README.md
Due: none

Add headless Atlas puppet capture
  docs/assets/atlas/atlas_puppet_after_v5.png
  docs/assets/atlas/atlas_puppet_before_v3.png
  examples/atlas_puppet/main.cpp
Due: none

Align GUI material readability refresh defaults
  dart/gui/detail/renderable_resources.cpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Document visual comparison PR guidance
  .claude/commands/dart-pr.md
  .codex/skills/dart-pr/SKILL.md
  .opencode/command/dart-pr.md
  docs/ai/workflows.md
Due: none

Fix Atlas Filament texture and puppet IK
  CHANGELOG.md
  dart/dynamics/mesh_shape.cpp
  dart/gui/detail/renderable_factory.cpp
  dart/gui/detail/scene_fixtures.cpp
  dart/gui/detail/selection.cpp
  dart/gui/renderable.hpp
  examples/atlas_puppet/main.cpp
  examples/atlas_simbicon/main.cpp
  examples/hubo_puppet/main.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: Dynamics

Filter generated dependency CodeQL alerts
  .github/workflows/codeql.yml
Due: none

Filter generated dependency CodeQL alerts (#2685)
  .github/workflows/codeql.yml
Due: none

Add native occupancy grid for voxel shapes
  CHANGELOG.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  cmake/dart_find_dependencies.cmake
  dart/CMakeLists.txt
  dart/collision/dart/shape_adapter.cpp
  dart/dynamics/fwd.hpp
  dart/dynamics/sparse_occupancy_grid.cpp
  dart/dynamics/sparse_occupancy_grid.hpp
  dart/dynamics/voxel_grid_shape.cpp
  dart/dynamics/voxel_grid_shape.hpp
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  tests/CMakeLists.txt
  tests/benchmark/CMakeLists.txt
  tests/benchmark/dynamics/bm_sparse_occupancy_grid.cpp
  tests/unit/CMakeLists.txt
  tests/unit/collision/test_collision_backend.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/dynamics/test_sparse_occupancy_grid.cpp
  tests/unit/dynamics/test_voxel_grid_shape.cpp
Due: Dynamics, Collision

Checkpoint native occupancy grid performance
  CHANGELOG.md
  dart/dynamics/sparse_occupancy_grid.cpp
  dart/dynamics/sparse_occupancy_grid.hpp
  dart/dynamics/voxel_grid_shape.cpp
  dart/dynamics/voxel_grid_shape.hpp
  tests/benchmark/dynamics/bm_sparse_occupancy_grid.cpp
  tests/unit/dynamics/test_sparse_occupancy_grid.cpp
Due: Dynamics

Clean up native voxel point cloud example
  CHANGELOG.md
  CMakeLists.txt
  cmake/DARTConfigVersion.cmake.in
  dart/gui/detail/scene_fixtures.cpp
  dart/gui/shape_descriptions.cpp
  examples/README.md
  examples/point_cloud/README.md
  examples/point_cloud/main.cpp
  scripts/run_cpp_example.py
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Fix Filament voxel grid example rendering
  CHANGELOG.md
  dart/gui/detail/debug_overlay.cpp
  dart/gui/detail/renderable_factory.cpp
  examples/gui_source_grid.hpp
  examples/point_cloud/main.cpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Update API boundary inventory
  docs/onboarding/api-boundary-inventory.md
Due: none

Fix whole-body puppet IK target solving
  CHANGELOG.md
  dart/gui/application.hpp
  dart/gui/detail/scene_fixtures.cpp
  dart/gui/detail/scenes.cpp
  dart/gui/detail/scenes.hpp
  dart/gui/detail/selection.cpp
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Address occupancy grid review findings
  CHANGELOG.md
  dart/dynamics/sparse_occupancy_grid.cpp
  dart/dynamics/voxel_grid_shape.cpp
  dart/dynamics/voxel_grid_shape.hpp
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  examples/point_cloud/main.cpp
  pixi.toml
  scripts/patch_gz_physics.py
  tests/unit/dynamics/test_sparse_occupancy_grid.cpp
  tests/unit/dynamics/test_voxel_grid_shape.cpp
Due: Dynamics

Fix documentation policy index entries
  docs/README.md
  docs/plans/dashboard.md
Due: none

Preserve pruned octree volume in native grid import
  dart/dynamics/voxel_grid_shape.cpp
  tests/unit/dynamics/test_voxel_grid_shape.cpp
Due: Dynamics

Fix Windows Filament wheel lookup
  cmake/dart_find_filament.cmake
  pixi.toml
Due: none

Fix dartpy wheel GUI dependency build
  dart/gui/detail/backend_sources.cmake
  dart/gui/detail/ui_frame.cpp
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  docs/onboarding/gui-rendering.md
  docs/onboarding/python-bindings.md
  examples/CMakeLists.txt
  python/dartpy/CMakeLists.txt
  scripts/test_wheel.py
Due: none

Make Tracy profiling dev-only
  .github/workflows/ci_ubuntu.yml
  CMakeLists.txt
  docs/onboarding/build-system.md
  pixi.lock
  pixi.toml
Due: none

Document CodeQL generated dependency alert handling
  docs/onboarding/ci-cd.md
Due: none

Fix cross-platform GUI CI failures
  cmake/dart_find_filament.cmake
  python/tests/unit/gui/test_gui_scene.py
Due: none

Add Tracy GUI launcher and CI smoke
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/build-system.md
  pixi.toml
Due: none

Improve native collision adapter hot paths
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/native/narrow_phase/box_box.cpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  scripts/generate_collision_benchmark_manifest.py
Due: Collision

Plan native collision performance wave
  docs/dev_tasks/native_collision_performance/01-benchmark-taxonomy.md
  docs/dev_tasks/native_collision_performance/02-single-core-roadmap.md
  docs/dev_tasks/native_collision_performance/03-parallel-and-gpu-roadmap.md
  docs/dev_tasks/native_collision_performance/04-acceptance-gates.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  docs/plans/dashboard.md
Due: none

Improve native collision primitive hot paths
  CHANGELOG.md
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/narrow_phase/capsule_box.cpp
  dart/collision/native/narrow_phase/capsule_sphere.cpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  dart/collision/native/shapes/shape.hpp
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/collision/test_capsule_capsule.cpp
  tests/unit/collision/test_types.cpp
Due: Collision

Improve native collision benchmark hot paths
  CHANGELOG.md
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/types.cpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  scripts/generate_collision_benchmark_manifest.py
  tests/CMakeLists.txt
Due: Collision

Map libccd sphere cylinder rows
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
  tests/unit/collision/test_cylinder.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: none

Map voxel grid collision rows
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
  tests/unit/collision/test_collision_backend.cpp
Due: none

Classify FCL shape mesh consistency rows
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
Due: none

Improve native collision hot paths
  CHANGELOG.md
  dart/collision/dart/dart_collision_detector.cpp
  dart/collision/dart/dart_collision_group.cpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  docs/dev_tasks/native_collision_performance/05-benchmark-manifest.md
  docs/dev_tasks/native_collision_performance/README.md
  docs/dev_tasks/native_collision_performance/RESUME.md
  tests/unit/collision/test_collision_backend.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/collision/test_types.cpp
Due: Collision

Map libccd box rows
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
  tests/unit/collision/test_box_box.cpp
Due: none

Map adapted convex collision rows
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
  tests/unit/collision/test_collision_backend.cpp
Due: none

Fix convex signed distance witness regressions
  CHANGELOG.md
  dart/collision/native/narrow_phase/convex_convex.cpp
  dart/collision/native/narrow_phase/gjk.cpp
  docs/dev_tasks/native_collision_upstream_superset/01-upstream-inventory.md
  docs/dev_tasks/native_collision_upstream_superset/02-coverage-map.md
  docs/dev_tasks/native_collision_upstream_superset/03-case-map.md
  docs/dev_tasks/native_collision_upstream_superset/README.md
  docs/dev_tasks/native_collision_upstream_superset/RESUME.md
  scripts/inventory_upstream_collision_coverage.py
  tests/unit/collision/test_distance_core.cpp
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
