Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add experimental rigid-body simulation example
  python/examples/experimental_rigid_body/main.py
Due: none

Keep dartsim GUI backend-hidden and fix stale apps/dartsim test paths
  CHANGELOG.md
  dart/gui/AGENTS.md
  dart/gui/application.hpp
  dart/gui/detail/imgui_overlay.cpp
  dart/gui/panel.hpp
  dartsim/ui/src/editor.cpp
  docs/design/dartsim_gui_simulator.md
  examples/README.md
  examples/gui_scene_diagnostics/README.md
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Renumber dartsim plan to PLAN-090 after merging main
  docs/design/dartsim_gui_simulator.md
  docs/plans/090-dartsim-gui-simulator.md
  docs/plans/README.md
  docs/plans/dashboard.md
Due: none

Map default render backend to OpenGL instead of Filament auto-pick
  dart/gui/detail/render_context.cpp
Due: none

Clamp CCD cast iteration budget to at least one
  dart/collision/native/narrow_phase/ccd.cpp
  tests/unit/collision/test_ccd.cpp
Due: Collision

Address Codex review: event-bus dispatch safety and loadProject reset
  dartsim/engine/include/dartsim_engine/event_bus.hpp
  dartsim/engine/include/dartsim_engine/simulation_controller.hpp
  dartsim/engine/src/sim_engine.cpp
  dartsim/engine/src/simulation_controller.cpp
  tests/unit/dartsim_engine/test_dartsim_engine.cpp
Due: none

Add Filament renderer profiling, backend selection, scene-sync cache (#2694)
  .codespellrc
  CHANGELOG.md
  dart/gui/detail/application.cpp
  dart/gui/detail/backend_sources.cmake
  dart/gui/detail/input.cpp
  dart/gui/detail/input.hpp
  dart/gui/detail/perf_hud.cpp
  dart/gui/detail/perf_hud.hpp
  dart/gui/detail/render_context.cpp
  dart/gui/detail/render_context.hpp
  dart/gui/detail/renderable_sync.cpp
  dart/gui/detail/scene_frame.cpp
  dart/gui/detail/scene_frame.hpp
  dart/gui/detail/scenes.cpp
  dart/gui/detail/scenes.hpp
  dart/gui/detail/ui_frame.cpp
  dart/gui/profile.hpp
  dart/gui/renderable.cpp
  dart/gui/renderable.hpp
  dart/gui/viewer.hpp
  docs/design/README.md
  docs/design/filament_fidelity_profile.md
  docs/design/renderer_realtime_and_scalability.md
  docs/onboarding/gui-rendering.md
  docs/plans/dashboard.md
Due: none

Note that a high HUD GPU time can mean software rendering
  docs/onboarding/gui-rendering.md
Due: none

Address Codex review: dedupe explicit names and validate scene version
  dartsim/engine/src/commands.cpp
  dartsim/engine/src/scene_io.cpp
  tests/unit/dartsim_engine/test_dartsim_engine.cpp
Due: none

Fix SO3 Euler-angle conversions
  dart/math/lie_group/so3.hpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Clarify interpolation benefit is small at DART's typical timestep
  docs/design/renderer_realtime_and_scalability.md
Due: none

Renderer docs: software-render gotcha and interpolation caveat (#2706)
  docs/design/renderer_realtime_and_scalability.md
  docs/onboarding/gui-rendering.md
Due: none

Require merging the base branch before every PR push
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/commands/dart-review-pr.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  .opencode/command/dart-review-pr.md
  AGENTS.md
  docs/onboarding/ai-tools.md
Due: none

Address review: validate angular velocity and reject duplicate batch worlds
  dart/simulation/experimental/compute/rigid_body_state_batch.cpp
  dart/simulation/experimental/compute/world_batch.cpp
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Detect end-of-step and coplanar contacts in primitive CCD
  dart/collision/native/narrow_phase/primitive_ccd.cpp
  tests/unit/collision/test_primitive_ccd.cpp
Due: Collision

Drop ill-formed non-const original() from SO3Inverse/SE3Inverse
  dart/math/lie_group/se3_inverse.hpp
  dart/math/lie_group/so3_inverse.hpp
Due: Math

Sweep the full capsule body in capsule CCD casts
  dart/collision/native/narrow_phase/ccd.cpp
  tests/unit/collision/test_ccd.cpp
Due: Collision

add DART Performance (googlecpp) benchmark result for 7babc5769c54cfc6439f04ede65b802cf6715af5
  performance/data.js
Due: none

Guard against NaN contact normal on coincident support points
  dart/collision/native/narrow_phase/ccd.cpp
  tests/unit/collision/test_ccd.cpp
Due: Collision

Use an absolute contact band in primitive CCD
  dart/collision/native/narrow_phase/primitive_ccd.cpp
  tests/unit/collision/test_primitive_ccd.cpp
Due: Collision

Surface the live performance HUD in the dartsim editor
  dartsim/README.md
  dartsim/ui/src/editor.cpp
Due: none

Return a reference from TangentBase::operator[]
  dart/math/lie_group/tangent_base.hpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Materialize inverse() for rvalue operands
  dart/math/lie_group/lie_group_base.hpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Address review: pre-validate world batch before mutating any world
  dart/simulation/experimental/compute/rigid_body_state_batch.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Return a fallback tolerance from LieGroupTol for non-standard scalars
  dart/math/lie_group/helpers.hpp
Due: Math

Generalize SO3/SE3 Map to all Eigen Map options and strides
  dart/math/lie_group/se3_map.hpp
  dart/math/lie_group/so3_map.hpp
  tests/unit/math/lie_group/test_se3.cpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Address review: reject duplicate worlds in applyRigidBodyStateBatch
  dart/simulation/experimental/compute/rigid_body_state_batch.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Address review: validate rigid-body identity across batched worlds
  dart/simulation/experimental/compute/rigid_body_state_batch.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Fix UNIT_dartsim_engine DLL discovery on Windows
  tests/unit/dartsim_engine/CMakeLists.txt
Due: none

Canonicalize SO3 log map to handle antipodal quaternions
  dart/math/lie_group/so3_base.hpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

Normalize SO3/SE3 raw-parameter constructors
  dart/math/lie_group/helpers.hpp
  dart/math/lie_group/se3_base.hpp
  tests/unit/math/lie_group/test_se3.cpp
  tests/unit/math/lie_group/test_so3.cpp
Due: Math

add DART Performance (googlecpp) benchmark result for 6fe445c0213e84f1d931e41102b7fe6a1736df8d
  performance/data.js
Due: none

Address Codex review: skip no-op commands and deselect removed subtree
  dartsim/engine/include/dartsim_engine/command.hpp
  dartsim/engine/include/dartsim_engine/scene_model.hpp
  dartsim/engine/include/dartsim_engine/scene_object.hpp
  dartsim/engine/include/dartsim_engine/selection_manager.hpp
  dartsim/engine/src/command.cpp
  dartsim/engine/src/commands.cpp
  tests/unit/dartsim_engine/test_dartsim_engine.cpp
Due: none

Address Codex review: reset replay on load and validate link parent
  dartsim/engine/include/dartsim_engine/recorder.hpp
  dartsim/engine/src/commands.cpp
  dartsim/engine/src/sim_engine.cpp
  tests/unit/dartsim_engine/test_dartsim_engine.cpp
Due: none

Experimental World scalable-compute foundation (Phases 0-4) (#2698)
  CHANGELOG.md
  dart/simulation/experimental/CMakeLists.txt
  dart/simulation/experimental/compute/compute_executor.hpp
  dart/simulation/experimental/compute/compute_graph.cpp
  dart/simulation/experimental/compute/compute_graph.hpp
  dart/simulation/experimental/compute/compute_graph_visualization.cpp
  dart/simulation/experimental/compute/compute_stage_metadata.cpp
  dart/simulation/experimental/compute/compute_stage_metadata.hpp
  dart/simulation/experimental/compute/parallel_executor.cpp
  dart/simulation/experimental/compute/parallel_executor.hpp
  dart/simulation/experimental/compute/rigid_body_integration_kernel.hpp
  dart/simulation/experimental/compute/rigid_body_state_batch.cpp
  dart/simulation/experimental/compute/rigid_body_state_batch.hpp
  dart/simulation/experimental/compute/world_batch.cpp
  dart/simulation/experimental/compute/world_batch.hpp
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  docs/ai/north-star.md
  docs/design/README.md
  docs/design/compute_backend_research.md
  docs/design/scalable_compute_decisions.md
  docs/dev_tasks/compute_resource_access/01-design.md
  docs/dev_tasks/compute_resource_access/README.md
  docs/dev_tasks/compute_resource_access/RESUME.md
  docs/dev_tasks/experimental_world_scalable_compute/01-plan.md
  docs/dev_tasks/experimental_world_scalable_compute/README.md
  docs/dev_tasks/experimental_world_scalable_compute/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  docs/plans/030-compute-resource-access/mission.md
  docs/plans/dashboard.md
  tests/benchmark/simulation/experimental/bm_compute_graph.cpp
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Address review: integrate rigid-body position after the multibody stage
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  python/tests/unit/simulation/test_experimental_world.py
Due: none

Address Codex review: reject link reparent and pin ImGui per GUI run
  dartsim/engine/src/commands.cpp
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
  tests/unit/dartsim_engine/test_dartsim_engine.cpp
Due: none

Track deferred GroupProduct consolidation as PLAN-100
  docs/dev_tasks/lie_group_consolidation/README.md
  docs/dev_tasks/lie_group_consolidation/RESUME.md
  docs/plans/dashboard.md
Due: none

Document Codex re-trigger throttling and CI-watch resilience
  docs/onboarding/ai-tools.md
Due: none
