Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Remove redundant Eigen over-alignment scaffolding for C++17
  dart/collision/native/batch.hpp
  dart/common/cloneable.hpp
  dart/common/detail/composite_data.hpp
  dart/common/detail/memory-impl.hpp
  dart/common/memory.hpp
  dart/constraint/ball_joint_constraint.hpp
  dart/constraint/cylindrical_joint_constraint.hpp
  dart/constraint/revolute_joint_constraint.hpp
  dart/constraint/weld_joint_constraint.hpp
  dart/dynamics/ball_joint.hpp
  dart/dynamics/body_node.cpp
  dart/dynamics/body_node.hpp
  dart/dynamics/detail/body_node_aspect.hpp
  dart/dynamics/detail/end_effector_aspect.hpp
  dart/dynamics/detail/fixed_frame_aspect.hpp
  dart/dynamics/detail/generic_joint_aspect.hpp
  dart/dynamics/detail/joint_aspect.hpp
  dart/dynamics/detail/marker_aspect.hpp
  dart/dynamics/detail/shape_frame_aspect.hpp
  dart/dynamics/detail/translational_joint2_d_aspect.hpp
  dart/dynamics/fixed_frame.hpp
  dart/dynamics/fixed_jacobian_node.hpp
  dart/dynamics/frame.hpp
  dart/dynamics/free_joint.hpp
  dart/dynamics/hierarchical_ik.hpp
  dart/dynamics/inertia.hpp
  dart/dynamics/inverse_kinematics.hpp
  dart/dynamics/joint.hpp
  dart/dynamics/point_cloud_shape.hpp
  dart/dynamics/shape_node.hpp
  dart/dynamics/simple_frame.hpp
  dart/dynamics/skeleton.hpp
  dart/math/detail/geometry-impl.hpp
  dart/math/geometry.hpp
  dart/math/mesh.hpp
  dart/math/tri_mesh.hpp
  dart/sensor/sensor.hpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/skel_parser.cpp
Due: Common, Math, Dynamics, Collision, Constraint

Modernize remaining Eigen usage
  dart/gui/detail/renderable_sync.cpp
  dart/math/fwd.hpp
  dart/math/optimization/gradient_descent_solver.cpp
  python/dartpy/common/eigen_utils.hpp
  python/dartpy/simulation/module.cpp
Due: Math

Adopt compile-time SVD options and BDCSVD on Eigen 5
  dart/math/lcp/pivoting/lemke_solver.cpp
  dart/simulation/detail/deformable_elasticity/fem_tet_element.hpp
Due: Math, Simulation

WP-091.2: Golden trajectories for the default World::step (#2994)
  docs/plans/091-architecture-hardening.md
  tests/fixtures/default_step_golden/box_on_ground.tsv
  tests/fixtures/default_step_golden/free_fall.tsv
  tests/fixtures/default_step_golden/sphere_on_ground.tsv
  tests/unit/simulation/world/test_world_default_step_golden.cpp
Due: none

PLAN-091: Close WP-091.2 as done (PR #2994)
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

PLAN-091: Close WP-091.2 as done (PR #2994) (#2998)
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Add C++23 feature-detection header and DART_UNREACHABLE macro
  dart/common/feature_support.hpp
  dart/common/macros.hpp
  docs/design/cpp23_modernization.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/CMakeLists.txt
  tests/unit/common/test_feature_support.cpp
Due: Common

Raise the C++ standard from C++20 to C++23
  CHANGELOG.md
  cmake/dart_defs.cmake
  dart/CMakeLists.txt
  dart/collision/native/CMakeLists.txt
  dart/gui/CMakeLists.txt
  dart/gui/detail/backend_sources.cmake
  dart/simd/CMakeLists.txt
  dart/simulation/CMakeLists.txt
  dartsim/engine/CMakeLists.txt
  dartsim/ui/CMakeLists.txt
  examples/demos/CMakeLists.txt
  examples/gui_scene_example.cmake
  tests/baseline/odelcpsolver/CMakeLists.txt
  tests/benchmark/lcpsolver/CMakeLists.txt
Due: Collision, Simulation

Collapse Mesh accessor pairs with deducing-this (P0847)
  dart/math/detail/mesh-impl.hpp
  dart/math/mesh.hpp
Due: Math

Adopt std::to_underlying and DART_UNREACHABLE in hot spots
  dart/dynamics/joint.cpp
  dart/dynamics/skeleton.cpp
  dart/gui/gizmo.hpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
Due: Dynamics

Reimplement dart::common::Result on top of std::expected
  .codespellrc
  dart/common/result.hpp
Due: Common

Remove redundant target_compile_features(cxx_std_23) calls
  dart/gui/CMakeLists.txt
  dart/gui/detail/backend_sources.cmake
  dart/simulation/CMakeLists.txt
  dartsim/engine/CMakeLists.txt
  dartsim/ui/CMakeLists.txt
  examples/gui_scene_example.cmake
Due: Simulation

Use std::ranges::contains for membership checks
  dart/gui/detail/renderable_sync.cpp
  dart/gui/interaction.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/world_step_stage.cpp
Due: Simulation

Track C++23 modernization execution status in the design doc
  docs/design/README.md
  docs/design/cpp23_modernization.md
Due: none

WP-091.3: CI-check architecture-page availability claims
  docs/plans/091-architecture-hardening.md
  docs/readthedocs/architecture.md
  pixi.toml
  scripts/check_architecture_page_lint.py
  tests/test_check_architecture_page_lint.py
Due: none

Add AVBD ignored-pair contact-skip regression test
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for f6fecbc5bd5d32739feaaa70daf260b4ff24b1e5
  performance/data.js
Due: none

WP-091.5: Renumber colliding PLAN-080 / PLAN-082 IDs
  .github/workflows/benchmark_pr_comparison.yml
  dart/simulation/comps/variational_contact.hpp
  dart/simulation/comps/variational_contact_dual_state.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/detail/variational/discrete_mechanics_math.hpp
  dart/simulation/multibody/multibody.hpp
  docs/design/README.md
  docs/design/simulation_solver_architecture.md
  docs/design/simulation_variational_integrator.md
  docs/dev_tasks/variational_integrator_solver/README.md
  docs/dev_tasks/variational_integrator_solver/RESUME.md
  docs/plans/084-variational-integrator-solver.md
  docs/plans/084-variational-integrator-solver/contact-roadmap.md
  docs/plans/091-architecture-hardening.md
  docs/plans/110-differentiable-simulation.md
  docs/plans/110-differentiable-simulation/dojo-gap-audit.md
  docs/plans/dashboard.md
  docs/plans/solver-family-intake.md
  docs/readthedocs/architecture.md
  docs/readthedocs/papers.md
  python/examples/demos/scenes/variational_contact.py
  scripts/benchmark_pr_compare.py
  scripts/check_docs_policy.py
  tests/benchmark/simulation/bm_variational_integration.cpp
  tests/test_check_docs_policy.py
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

Vectorize IK gradient clamp and joint K/D assembly
  dart/dynamics/body_node.cpp
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/soft_body_node.cpp
Due: Dynamics

Use SVDBase::rank() in extractNullSpace
  dart/math/geometry.hpp
Due: Math

Add World::step self-surface CCD witness to GPU candidate packet
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

Construct string_view via (data, size) to sidestep a C++23 libstdc++ bug
  dart/common/uri.cpp
  dart/dynamics/mesh_shape.cpp
  dart/utils/mesh_loader.hpp
  dart/utils/mjcf/detail/mesh.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/sdf/detail/geometry_parsers.cpp
  dart/utils/skel_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
Due: Common, Dynamics

Refresh AVBD handoff for follow-up PR submission
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

WP-091.10: Virtual prepare() on the stage contract
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/detail/world_step_schedule.hpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world_step_schedule.cpp
Due: Simulation

Record follow-up PR #3004 in AVBD handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

PLAN-091: Break WP-091.11 into committable, golden-verified slices
  docs/plans/091-architecture-hardening.md
Due: none

Exclude GUI tests from the AddressSanitizer run
  pixi.toml
Due: none

Apply clang-format to merged AVBD contact-row helper
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
Due: Simulation

WP-091.11 slice 1: resolved-config report exposed at finalize
  dart/simulation/compute/world_step_profile.cpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world_resolved_configuration.cpp
Due: Simulation

WP-091.3: CI-check architecture-page availability claims (#2999)
  docs/plans/091-architecture-hardening.md
  docs/readthedocs/architecture.md
  pixi.toml
  scripts/check_architecture_page_lint.py
  tests/test_check_architecture_page_lint.py
Due: none

Disable EXAMPLE_dart_demos_list under AddressSanitizer
  examples/demos/CMakeLists.txt
Due: none

Add World::step inter-body candidate witness to GPU candidate packet
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

WP-091.11 slice 2: make the AVBD-contact silent substitution explicit
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  dart/simulation/world_options.hpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world_resolved_configuration.cpp
Due: Simulation

Add GPU contact-candidate slowness root-cause analysis
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-slowness-root-cause.md
Due: none

Update docs and config to reflect the C++23 baseline
  .clang-format
  AGENTS.md
  cmake/dart_defs.cmake
  docs/ai/north-star.md
  docs/onboarding/README.md
  docs/onboarding/architecture.md
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  docs/onboarding/code-style.md
  docs/onboarding/python-bindings.md
  docs/onboarding/release-management.md
  docs/onboarding/release-roadmap.md
Due: none

Disable EXAMPLE_dart_demos_list under AddressSanitizer (SDL3 dlopen abort) (#3006)
  examples/demos/CMakeLists.txt
Due: none

Fix clang-format Standard value: use Latest, not c++23
  .clang-format
Due: none
