Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add World-owned memory manager diagnostics
  CHANGELOG.md
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  dart/simulation/experimental/world_options.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

WS2: keep EnTT/Taskflow component finders for static builds
  dart/simulation/experimental/CMakeLists.txt
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for 64e61f1f04bf1e8e4e67726702f0f920c24b2aa2
  performance/data.js
Due: none

Add planned World demo placeholders
  CHANGELOG.md
  docs/design/demos_app.md
  docs/onboarding/gui-rendering.md
  docs/plans/dashboard.md
  examples/README.md
  examples/demos/registry.cpp
  python/examples/README.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/planned.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
  python/tests/unit/test_run_cpp_example.py
  scripts/run_cpp_example.py
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Update memory manager task resume
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Account frame scratch overflow bytes
  CHANGELOG.md
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Report usable frame scratch capacity
  CHANGELOG.md
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Preserve MemoryManager base allocator constructor
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  tests/unit/common/test_memory_manager.cpp
Due: Common

Add allocator comparative benchmark gate
  CHANGELOG.md
  docs/onboarding/testing.md
  pixi.toml
  python/tests/unit/test_check_allocator_comparative_benchmarks.py
  scripts/check_allocator_comparative_benchmarks.py
Due: none

Cover STL vector allocator comparison
  python/tests/unit/test_check_allocator_comparative_benchmarks.py
  scripts/check_allocator_comparative_benchmarks.py
Due: none

Fix legacy joint serialization test helper
  tests/unit/simulation/experimental/world/test_serialization.cpp
Due: none

Limit CodeQL C++ build parallelism
  .github/workflows/codeql.yml
Due: none

Increase Alt Linux CI timeout budget
  .github/workflows/ci_altlinux.yml
  docs/onboarding/ci-cd.md
Due: none

Add alignment-aware common allocators
  CHANGELOG.md
  dart/common/callocator.cpp
  dart/common/callocator.hpp
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_allocator_debugger-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/common/detail/stl_allocator-impl.hpp
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/memory_allocator.cpp
  dart/common/memory_allocator.hpp
  dart/common/memory_allocator_debugger.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/common/pool_allocator.cpp
  dart/common/pool_allocator.hpp
  dart/common/stl_allocator.hpp
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/common/test_pool_allocator.cpp
  tests/unit/common/test_stl_allocator.cpp
Due: Common

Preserve allocateAs deallocation compatibility
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/memory_allocator.hpp
  tests/unit/common/test_memory_allocator.cpp
Due: Common

Route experimental World registry through allocator
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/simulation/experimental/common/ecs_utils.hpp
  dart/simulation/experimental/compute/multibody_constraint.cpp
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  dart/simulation/experimental/compute/multibody_dynamics.hpp
  dart/simulation/experimental/compute/rigid_body_constraint.cpp
  dart/simulation/experimental/compute/rigid_body_constraint.hpp
  dart/simulation/experimental/compute/unified_constraint.cpp
  dart/simulation/experimental/compute/unified_constraint.hpp
  dart/simulation/experimental/compute/variational_integration.cpp
  dart/simulation/experimental/compute/variational_integration.hpp
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/detail/boxed_lcp_contact.cpp
  dart/simulation/experimental/detail/boxed_lcp_contact.hpp
  dart/simulation/experimental/detail/contact_jacobians.cpp
  dart/simulation/experimental/detail/contact_jacobians.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/detail/smooth_jacobians.cpp
  dart/simulation/experimental/detail/smooth_jacobians.hpp
  dart/simulation/experimental/detail/world_registry_access.hpp
  dart/simulation/experimental/detail/world_registry_types.hpp
  dart/simulation/experimental/detail/world_storage.hpp
  dart/simulation/experimental/frame/frame.cpp
  dart/simulation/experimental/io/serializer.cpp
  dart/simulation/experimental/io/serializer.hpp
  dart/simulation/experimental/multibody/joint.cpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Preserve free-list split alignment
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Reject invalid frame allocator alignments
  dart/common/frame_allocator.hpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

Guard free-list alignment rounding overflow
  dart/common/free_list_allocator.cpp
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Add experimental World memory manager diagnostics (#2869)
  .github/workflows/ci_altlinux.yml
  .github/workflows/codeql.yml
  CHANGELOG.md
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  dart/simulation/experimental/world_options.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/ci-cd.md
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Track delegated free-list allocations
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Support World registry state mappers
  CHANGELOG.md
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
  dart/simulation/experimental/space/vector_mapper.cpp
  dart/simulation/experimental/space/vector_mapper.hpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/experimental/space/test_auto_mapper.cpp
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for 35692e6513e8619118c3ee2b9c6972d937fb3f06
  performance/data.js
Due: none

Require explicit World registry mapper support
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
  dart/simulation/experimental/space/vector_mapper.cpp
  dart/simulation/experimental/space/vector_mapper.hpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/experimental/space/test_vector_mapper.cpp
Due: none

Reserve experimental World registry storage at bake
  CHANGELOG.md
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Reserve private World step scratch storage
  CHANGELOG.md
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Add fixed-size pool allocator
  CHANGELOG.md
  dart/common/AGENTS.md
  dart/common/fixed_pool_allocator.cpp
  dart/common/fixed_pool_allocator.hpp
  docs/design/hierarchical_allocator.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/unit/common/test_pool_allocator.cpp
Due: Common

Allow default STL allocator construction
  dart/common/stl_allocator.hpp
  tests/unit/common/test_stl_allocator.cpp
Due: Common

Fix allocator-aware variational benchmark registry
  tests/benchmark/simulation/experimental/bm_variational_integration.cpp
Due: none

Stabilize parallel executor profiling coverage test
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
Due: none

Reset stale CMake compiler cache before CUDA py-demos configure
  CHANGELOG.md
  pixi.toml
  python/tests/unit/test_pixi_cuda_py_demos_task.py
Due: none

Backport DART 6 collision and constraint fixes to 6.17.0 (#2850)
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionGroup.hpp
  dart/collision/Contact.cpp
  dart/collision/Contact.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/BulletCollisionDetector.hpp
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/collision/detail/CollisionGroup.hpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeHeightmap-impl.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/dynamics/detail/HeightmapShape-impl.hpp
  dart/dynamics/detail/NodePtr.hpp
  tests/integration/test_Collision.cpp
  tests/integration/test_CollisionGroups.cpp
  tests/integration/test_Distance.cpp
  tests/regression/test_Issue1234.cpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_FCLCollisionObject.cpp
Due: Dynamics, Collision, Constraint

Finalize DART 6.17.0 release metadata
  .github/workflows/publish_dartpy.yml
  .github/workflows/update_lockfiles.yml
  CHANGELOG.md
Due: none

Fix demos CI for World-only catalog
  .github/workflows/ci_ubuntu.yml
  python/tests/integration/test_demos_cycle.py
Due: none

Export world storage accessor
  dart/simulation/experimental/world.hpp
Due: none

Give coverage tests timeout headroom
  tests/unit/simulation/experimental/CMakeLists.txt
Due: none
