Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

fix: preserve DART detector ABI layout
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

fix: preserve warm starts in mixed soft scenes
  dart/collision/native/NativeCollisionDetector.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

fix: preserve release ABI for soft runtime state
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/dynamics/SoftBodyNode.cpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_SoftDynamics.cpp
  tests/unit/collision/native/test_brute_force.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Dynamics, Collision, Constraint

fix: silence Clang ABI mirror warning
  dart/collision/native/NativeCollisionObject.cpp
Due: Collision

fix: remove inactive native thread option
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/09-native-soft-kernel-port-spec.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision, Constraint

docs: clarify collision worker evidence
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
Due: none

fix: invalidate adaptive activation state
  dart/dynamics/SoftBodyNode.cpp
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Restore soft collision coverage and fix detector initialization
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Constraint

Fix memory diagnostics scrolling and disabled overhead
  CHANGELOG.md
  CMakeLists.txt
  dart/gui/CMakeLists.txt
  dart/gui/detail/backend_sources.cmake
  dart/gui/detail/imgui_draw_data.hpp
  dart/gui/detail/imgui_overlay.cpp
  dart/gui/detail/imgui_overlay.hpp
  dart/simulation/detail/memory_diagnostics.cpp
  dart/simulation/detail/memory_diagnostics.hpp
  docs/design/demos_app.md
  docs/design/memory_layout_diagnostics.md
  docs/onboarding/build-system.md
  docs/onboarding/building.md
  docs/onboarding/gui-rendering.md
  examples/README.md
  examples/demos/CMakeLists.txt
  examples/demos/scenes/deformable_body.cpp
  examples/demos/scenes/rigid_body.cpp
  examples/demos/tests/check_memory_diagnostics_artifact.cmake
  pixi.toml
  scripts/run_cpp_example.py
  tests/test_run_cpp_example.py
  tests/unit/CMakeLists.txt
  tests/unit/gui/test_imgui_overlay_indices.cpp
Due: Simulation

Compile out disabled memory diagnostics
  CHANGELOG.md
  docs/onboarding/profiling.md
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/README.md
  examples/demos/memory_diagnostics.cpp
  examples/demos/tests/check_memory_diagnostics_compiled_out.cmake
  examples/demos/tests/test_memory_diagnostics.cpp
Due: none

test: share soft demo model test executable
  tests/integration/CMakeLists.txt
Due: none

fix: clear point-mass collision flags
  dart/dynamics/ReferentialSkeleton.cpp
  dart/dynamics/Skeleton.cpp
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

ci: reduce Windows test link time
  .github/workflows/ci_windows.yml
  tests/integration/CMakeLists.txt
Due: none

fix: refresh direct soft collision cache
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Update pixi lockfile
  pixi.lock
Due: none

Format AI infrastructure scripts with black (release-6.20 CI)
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Format AI infrastructure scripts with black (release-6.20 CI) (#3390)
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for c096c970a12f8731c4cb3b15072aaf3e29b7452b
  performance/dart6/data.js
Due: none

Keep OpenSceneGraph optional when GUI OSG is disabled
  .gitignore
  CHANGELOG.md
  examples/dynamic_joint_constraints/CMakeLists.txt
  pixi.toml
Due: none

Guard OpenSceneGraph-optional builds in ASan CI
  pixi.toml
Due: none

Keep OpenSceneGraph optional when GUI OSG is disabled (DART 6.19) (#3391)
  .gitignore
  CHANGELOG.md
  examples/dynamic_joint_constraints/CMakeLists.txt
  pixi.toml
Due: none

Packaging 6.19.4
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Packaging 6.19.4 (#3392)
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Document DART 6.19.4 release closeout
  CHANGELOG.md
  docs/onboarding/release-management.md
  docs/readthedocs/index.rst
Due: none
