Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Route broader rigid examples from workflow
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Report LCP billiards symmetry counters
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Restore AVBD contact scratch reserve
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Describe LCP billiards symmetry coverage
  python/examples/demos/scenes/lcp_physics.py
Due: none

Route variational loop constraints through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add private CUDA barrier friction packet
  dart/simulation/CMakeLists.txt
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cpp
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cu
  dart/simulation/compute/cuda/barrier_friction_kernel_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: Simulation

Expose ignored collision pairs in query demo
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_collision_query_options.py
  python/tests/integration/test_demos_cycle.py
Due: none

Align LCP support checks with solver tolerance
  dart/math/lcp/lcp_solver.hpp
  python/dartpy/math/lcp.cpp
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Math

Harden numbered rigid workflow capture evidence
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Reject structurally invalid LCP problem forms
  dart/math/lcp/lcp_types.hpp
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Expose collision query metrics in captures
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/scenes/rigid_collision_query_options.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add private CUDA assembly solve packet
  dart/simulation/CMakeLists.txt
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cpp
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cu
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_newton_assembly_solve_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_newton_assembly_solve_cuda.cpp
  tests/test_newton_assembly_solve_packet.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/cuda/test_newton_assembly_solve_cuda.cpp
Due: Simulation

Align LCP card pile benchmark metadata
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Route rigid AVBD row staging through world allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/avbd_row_inventory.hpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Reject non-finite LCP problem classifications
  dart/math/lcp/lcp_types.hpp
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Document LCP problem support validation
  docs/background/lcp/02_overview.md
  docs/onboarding/python-bindings.md
Due: none

Add LCP mass-ratio boxed demo case
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add private CUDA scene parity packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/check_plan083_completion_audit.py
  scripts/write_plan083_gpu_scene_parity_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan083_gpu_scene_parity.cpp
  tests/test_plan083_completion_audit.py
  tests/test_plan083_gpu_scene_parity_packet.py
Due: none

Add rigid distance spring verifier
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_distance_spring.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add reduced ABD complex and FEM packets
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Route rigid AVBD fracture indices through world allocator
  CHANGELOG.md
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Reject invalid infinite LCP bounds
  dart/math/lcp/lcp_types.hpp
  dart/math/lcp/lcp_validation.hpp
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/math/lcp/test_lcp_types.cpp
Due: Math

Add degenerate boxed LCP demo case
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add affine FEM mixed candidate diagnostics
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Document LCP bound validation rules
  docs/background/lcp/02_overview.md
  docs/onboarding/python-bindings.md
Due: none

Add reduced ABD comparison packets (#2976)
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_completion_audit.py
  tests/test_plan083_cpu_scene_packet.py
Due: none

Expose detailed LCP solver demo rows
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add rigid joint capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/scenes/rigid_fixed_joint.py
  python/examples/demos/scenes/rigid_limited_joints.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add coupled affine FEM micro solve evidence
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Surface LCP residual metrics in demo
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Reuse boxed LCP contact scratch in rigid stage
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/boxed_lcp_contact.cpp
  dart/simulation/detail/boxed_lcp_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Record rigid joint breakage capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/scenes/avbd_rigid_breakable_joint.py
  python/examples/demos/scenes/rigid_joint_breakage.py
  python/tests/integration/test_demos_cycle.py
Due: none

Match CPU triangle degeneracy in CUDA contact filter
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Record rigid solver comparison capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/scenes/rigid_contact_solver_compare.py
  python/examples/demos/scenes/rigid_solver_compare.py
  python/tests/integration/test_demos_cycle.py
Due: none

Add edge-edge CUDA contact stencil parity
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Refine Dantzig friction-index bounds
  dart/math/lcp/pivoting/dantzig_solver.cpp
  tests/unit/math/lcp/test_dantzig_solver.cpp
Due: Math

Add active friction LCP demo packet
  python/examples/demos/README.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Reuse semi-implicit external-force Jacobian scratch
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Document Dantzig friction-index refinement
  CHANGELOG.md
Due: none

Restore AVBD prepare contact query warmup
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation
