Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Fix BodyNodePool alignment for AVX-512
  CHANGELOG.md
  dart/dynamics/detail/body_node_pool.hpp
  tests/unit/dynamics/test_body_node_pool.cpp
Due: Dynamics

Fix BodyNodePool alignment for AVX-512 (#2537)
  CHANGELOG.md
  dart/dynamics/detail/body_node_pool.hpp
  tests/unit/dynamics/test_body_node_pool.cpp
Due: Dynamics

Modernize C++20 cleanup patterns
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/memory-impl.hpp
  dart/math/detail/random-impl.hpp
  dart/simulation/experimental/space/vector_mapper.cpp
  python/dartpy/common/type_casters.hpp
Due: Common, Math

Fix spdlog runtime format logging
  CHANGELOG.md
  dart/common/detail/Logging-impl.hpp
  tests/unit/common/test_Logging.cpp
Due: Common

Update changelog PR reference
  CHANGELOG.md
Due: none

Use spdlog runtime format macro
  dart/common/detail/Logging-impl.hpp
Due: Common

Fix spdlog runtime format logging on main
  CHANGELOG.md
  dart/common/detail/logging-impl.hpp
  tests/unit/common/test_logging.cpp
Due: Common

Update main changelog PR reference
  CHANGELOG.md
Due: none

sync DART AI workflows across agents
  .claude/commands/dart-docs-update.md
  .claude/commands/dart-fix-ci.md
  .claude/commands/dart-fix-issue.md
  .claude/commands/dart-new-task.md
  .claude/commands/dart-resume.md
  .claude/commands/dart-review-pr.md
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-ci/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-io/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .codex/skills/dart-build/SKILL.md
  .codex/skills/dart-ci/SKILL.md
  .codex/skills/dart-contribute/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-fix-ci/SKILL.md
  .codex/skills/dart-fix-issue/SKILL.md
  .codex/skills/dart-io/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .codex/skills/dart-resume/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .codex/skills/dart-test/SKILL.md
  .gitignore
  .opencode/command/dart-docs-update.md
  AGENTS.md
  CHANGELOG.md
  docs/AGENTS.md
  docs/onboarding/ai-tools.md
  docs/prompts/AGENTS.md
  scripts/sync_ai_commands.py
Due: none

Align main changelog logging fix entry
  CHANGELOG.md
Due: none

Fix spdlog/fmt runtime logging (DART 6.16) (#2540)
  CHANGELOG.md
  dart/common/detail/Logging-impl.hpp
  tests/unit/common/test_Logging.cpp
Due: Common

Modernize C++20 cleanup patterns (#2536)
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/memory-impl.hpp
  dart/math/detail/random-impl.hpp
  dart/simulation/experimental/space/vector_mapper.cpp
  python/dartpy/common/type_casters.hpp
Due: Common, Math

sync DART AI workflows across agents (#2543)
  .claude/commands/dart-docs-update.md
  .claude/commands/dart-fix-ci.md
  .claude/commands/dart-fix-issue.md
  .claude/commands/dart-new-task.md
  .claude/commands/dart-resume.md
  .claude/commands/dart-review-pr.md
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-ci/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-io/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .codex/skills/dart-build/SKILL.md
  .codex/skills/dart-ci/SKILL.md
  .codex/skills/dart-contribute/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-fix-ci/SKILL.md
  .codex/skills/dart-fix-issue/SKILL.md
  .codex/skills/dart-io/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .codex/skills/dart-resume/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .codex/skills/dart-test/SKILL.md
  .gitignore
  .opencode/command/dart-docs-update.md
  AGENTS.md
  CHANGELOG.md
  docs/AGENTS.md
  docs/onboarding/ai-tools.md
  docs/prompts/AGENTS.md
  scripts/sync_ai_commands.py
Due: none

Fix spdlog/fmt runtime logging (#2542)
  CHANGELOG.md
  dart/common/detail/logging-impl.hpp
  tests/unit/common/test_logging.cpp
Due: Common

Preserve World callback ownership
  dart/simulation/detail/world-impl.hpp
  tests/integration/simulation/test_world.cpp
Due: Simulation

Use C++20 range algorithms for cleanup
  dart/collision/collision_filter.cpp
  dart/collision/detail/unordered_pairs.hpp
  dart/constraint/coupler_constraint.cpp
  dart/constraint/joint_coulomb_friction_constraint.cpp
  dart/dynamics/body_node.cpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/skeleton.cpp
  dart/simulation/detail/world-impl.hpp
  dart/utils/composite_resource_retriever.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/package_resource_retriever.cpp
Due: Dynamics, Collision, Constraint, Simulation

Use C++20 range algorithms for cleanup
  dart/collision/collision_filter.cpp
  dart/collision/detail/unordered_pairs.hpp
  dart/constraint/coupler_constraint.cpp
  dart/constraint/joint_coulomb_friction_constraint.cpp
  dart/dynamics/body_node.cpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/skeleton.cpp
  dart/simulation/detail/world-impl.hpp
  dart/utils/composite_resource_retriever.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/package_resource_retriever.cpp
  tests/integration/simulation/test_world.cpp
Due: Dynamics, Collision, Constraint, Simulation

Simplify filesystem compatibility wrapper
  dart/common/filesystem.hpp
Due: Common

Fix Codex skill frontmatter YAML
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-ci/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-io/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .codex/skills/dart-build/SKILL.md
  .codex/skills/dart-ci/SKILL.md
  .codex/skills/dart-contribute/SKILL.md
  .codex/skills/dart-io/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .codex/skills/dart-test/SKILL.md
  CHANGELOG.md
  docs/onboarding/ai-tools.md
  scripts/sync_ai_commands.py
Due: none

Reference PR in changelog
  CHANGELOG.md
Due: none

Remove filesystem compatibility wrapper
  CHANGELOG.md
  dart/common/detail/shared_library_manager.cpp
  dart/common/detail/shared_library_manager.hpp
  dart/common/filesystem.hpp
  dart/common/shared_library.cpp
  dart/common/shared_library.hpp
  dart/dynamics/mesh_shape.cpp
  dart/gui/render/mesh_shape_node.cpp
  dart/utils/http_resource_retriever.cpp
  dart/utils/http_resource_retriever.hpp
  tests/unit/dynamics/test_arrow_shape.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Common, Dynamics

Allow ctest zero parallel level in Eigen guard
  scripts/test_eigen_overalignment.py
Due: none

Fail Eigen guard when ctest finds no tests
  scripts/test_eigen_overalignment.py
Due: none

Add Eigen over-alignment CI guard
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  docs/onboarding/ci-cd.md
  docs/onboarding/testing.md
  pixi.toml
  scripts/test_eigen_overalignment.py
Due: none

Add Eigen over-alignment CI guard (#2541)
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  docs/onboarding/ci-cd.md
  docs/onboarding/testing.md
  pixi.toml
  scripts/test_eigen_overalignment.py
Due: none

Fix Codex skill frontmatter YAML (#2546)
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-ci/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-io/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .codex/skills/dart-build/SKILL.md
  .codex/skills/dart-ci/SKILL.md
  .codex/skills/dart-contribute/SKILL.md
  .codex/skills/dart-io/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .codex/skills/dart-test/SKILL.md
  CHANGELOG.md
  docs/onboarding/ai-tools.md
  scripts/sync_ai_commands.py
Due: none

Fail fast on pixi environment install errors
  .github/actions/setup-pixi-ci/action.yml
Due: none

Gate pixi environments on hosted install
  .github/actions/setup-pixi-ci/action.yml
Due: none

Skip macOS Debug dartpy rebuilds
  .github/workflows/ci_macos.yml
  CHANGELOG.md
  docs/onboarding/ci-cd.md
Due: none

Limit branch push CI triggers
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/publish_dartpy.yml
  CHANGELOG.md
  docs/onboarding/ci-cd.md
Due: none

Prevent disabled sccache launcher leaks
  .github/actions/configure-compiler-cache/action.yml
  pixi.toml
Due: none

Tighten GitHub Actions CI workflows
  .github/actions/setup-pixi-ci/action.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_lint.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_dartpy.yml
  .github/workflows/update_lockfiles.yml
  docs/onboarding/ci-cd.md
Due: none

Document CI workflow cleanup
  CHANGELOG.md
Due: none

Preserve Alt Linux apt retry failures
  scripts/altlinux.py
Due: none

Fix Debug dartpy test imports
  CHANGELOG.md
  pixi.toml
  python/dartpy/CMakeLists.txt
Due: none

Clear stale sccache launchers in pixi tasks
  pixi.toml
Due: none

Clear disabled cache launchers in pixi configs
  pixi.toml
Due: none

Keep dartpy debug postfix single-config
  python/dartpy/CMakeLists.txt
Due: none
