Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Use an allowlist before delegating commit checks
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Focus the custom-filter sleeping changelog entry and link its PR
  CHANGELOG.md
Due: none

Recognize shell operator tokens in the commit guard
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Treat |& as a pipeline when tracking cd in the commit guard
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Fix remaining dartpy lifetime and binding defects (#3626)
  CHANGELOG.md
  python/dartpy/collision/CollisionFilter.cpp
  python/dartpy/collision/CollisionResult.cpp
  python/dartpy/constraint/ConstraintSolver.cpp
  python/dartpy/dynamics/BodyNode.cpp
  python/tests/unit/collision/test_collision.py
  python/tests/unit/constraint/test_constraint.py
  python/tests/unit/dynamics/test_list_ownership.py
Due: none

Publish the perf staging root safely and build only configured install targets (#3628)
  docs/onboarding/profiling.md
  scripts/perf_regression.py
  tests/test_perf_regression.py
Due: none

Run the slow NSGS analytic friction rows outside the coverage and FreeBSD jobs (#3629)
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
Due: none

Make installed headers independent of the build type (#3627)
  CHANGELOG.md
  CMakeLists.txt
  dart/common/MemoryManager.cpp
  dart/common/MemoryManager.hpp
  dart/config.hpp.in
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpSolver.hpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.hpp
  dart/constraint/DantzigLCPSolver.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/NsgsFrictionSolver.hpp
  dart/constraint/PGSLCPSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.hpp
  dart/dynamics/BodyNode.cpp
  dart/dynamics/EulerJoint.cpp
  dart/dynamics/Node.cpp
  dart/dynamics/Skeleton.cpp
  dart/math/Geometry.cpp
  examples/demos/CMakeLists.txt
  examples/demos/scenes/wam_ikfast/WamIkFastScene.cpp
  examples/demos/scenes/wam_ikfast/ikfast/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/test_Constraint.cpp
  tests/integration/test_Dynamics.cpp
  tests/integration/test_IkFast.cpp
  tests/integration/test_Joints.cpp
  tests/integration/test_MetaSkeleton.cpp
  tests/integration/test_Skeleton.cpp
  tests/integration/test_SplitImpulse.cpp
  tests/integration/test_StepAllocation.cpp
  tests/integration/test_World.cpp
  tests/regression/test_Issue1184.cpp
  tests/regression/test_Issue1596.cpp
  tests/unit/common/test_MemoryManager.cpp
  tests/unit/math/test_Math.cpp
  tools/friction_eval/friction_eval.cpp
Due: Common, Math, Dynamics, Constraint

Fail closed for uncertain commit working directories
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Align FBF solver and analytic gates with main
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
  dart/constraint/detail/FrictionRows.cpp
  dart/constraint/detail/FrictionRows.hpp
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 7bbec0e339319a95e68310e248da80f536fbd65a
  performance/dart6/data.js
Due: none

Recognize Bash brace reserved words in the commit guard
  .claude/hooks/pre-commit-guard.sh
  tests/test_install_git_hooks.py
Due: none

Detect 64-bit targets correctly and check the 64-bit PGS tolerance (#3624)
  CHANGELOG.md
  dart/common/Platform.hpp
  tests/integration/test_ContactConstraint.cpp
  tools/freebsd/patches/patch-dart_common_Platform.hpp
Due: Common

Accept None as a known CMake build type
  CMakeLists.txt
Due: none

Add the CHANGELOG entry for #3633
  CHANGELOG.md
Due: none

Add an opt-in FBF friction solver with a certified step size (#3631)
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/FbfFrictionSolver.cpp
  dart/constraint/FbfFrictionSolver.hpp
  dart/constraint/FrictionSolveStats.hpp
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/detail/FrictionRows.cpp
  dart/constraint/detail/FrictionRows.hpp
  dart/simulation/World.cpp
  python/dartpy/constraint/FbfFrictionSolver.cpp
  python/dartpy/constraint/FrictionSolveStats.cpp
  python/dartpy/constraint/module.cpp
  python/tests/unit/constraint/test_fbf_friction_solver.py
  scripts/check_ai_infrastructure.py
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_FrictionAnalytic.cpp
  tests/integration/test_StepAllocation.cpp
  tests/integration/test_World.cpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_FbfFrictionSolver.cpp
  tests/unit/constraint/test_NsgsFrictionSolver.cpp
  tools/friction_eval/README.md
  tools/friction_eval/friction_eval.cpp
  tools/friction_eval/friction_eval.py
Due: Constraint, Simulation

add DART 6 Performance (googlecpp) benchmark result for 6ab09bc66886f7c3aa5597b4be2c0bb9d0acd06c
  performance/dart6/data.js
Due: none

Add detector-independent contact cache and matching tests
  dart/constraint/detail/ContactWarmStartCache.cpp
  dart/constraint/detail/ContactWarmStartCache.hpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_ContactWarmStartCache.cpp
Due: Constraint

Narrow agent commit guard to three inspection paths
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Warm-start opt-in friction solvers across collision detectors
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 7e2e3d965614c30d61a04d82f0afebfa1beb8895
  performance/dart6/data.js
Due: none

Preserve resting contacts in recordings and cover overlap allocation growth
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_CustomFilterSleeping.cpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Respect residual tolerance when judging NSGS warm-start progress
  CHANGELOG.md
  dart/constraint/NsgsFrictionSolver.cpp
  dart/constraint/NsgsFrictionSolver.hpp
  tests/unit/constraint/test_NsgsFrictionSolver.cpp
Due: Constraint

Block complex shell commands in the agent commit guard
  .claude/hooks/pre-commit-guard.sh
  docs/ai/verification.md
  tests/test_install_git_hooks.py
Due: none

Accept None as a known CMake build type (#3633)
  CHANGELOG.md
  CMakeLists.txt
Due: none

add DART 6 Performance (googlecpp) benchmark result for 145f2a0abde443db1dedaea522cdc9e2abcbfefc
  performance/dart6/data.js
Due: none
