Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Harden Alt Linux fmt repair
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  scripts/altlinux.py
Due: none

Fix deactivation default test lifetime
  tests/integration/test_IslandDeactivation.cpp
Due: none

Scan public detail legacy headers
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Tighten deactivation cache invalidation
  dart/dynamics/Skeleton.cpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Simulation

Freeze installed legacy detail headers
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Refilter Bullet pairs for custom filters
  dart/collision/bullet/BulletCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Freeze legacy C++ concepts
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Wake sleepers on invalid resting snapshot
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Wake sleepers on automatic constraint edits
  dart/dynamics/Joint.cpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Freeze constrained legacy functions
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Allow independent resting islands to sleep
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Freeze leading constrained function signatures
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Freeze legacy operator overloads
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Freeze protected legacy members
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Freeze split template return functions
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Freeze split member return signatures
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Skip system ImGui ASan smoke test
  tests/regression/CMakeLists.txt
Due: none

Normalize inline legacy member bodies
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Freeze protected legacy type surfaces
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Skip system ImGui smoke test under ASan
  tests/regression/CMakeLists.txt
Due: none

Avoid friction count underflow for invalid values
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_GenericJoints.cpp
Due: Dynamics

Wake sleepers after contact material edits
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/ShapeFrame.cpp
  dart/dynamics/ShapeFrame.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Add DART 6 legacy freeze gate (#3095)
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/042-dart7-public-api-and-source-layout/api-source-layout-audit.md
  docs/plans/042-dart7-public-api-and-source-layout/post-promotion-source-layout-decision.md
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  pixi.toml
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/altlinux.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Expose cached contact-constraint factory
  dart/constraint/ContactSurface.hpp
Due: Constraint

Add DART 7 User Guide and clarify DART 6 vs DART 7 on the docs site (#3097)
  CHANGELOG.md
  README.md
  docs/onboarding/dart7-docs-migration.md
  docs/readthedocs/README.md
  docs/readthedocs/_includes/legacy_dart6.rst
  docs/readthedocs/_static/css/custom.css
  docs/readthedocs/_templates/layout.html
  docs/readthedocs/conf.py
  docs/readthedocs/dartpy/user_guide/examples.rst
  docs/readthedocs/index.rst
  docs/readthedocs/overview.rst
  docs/readthedocs/shared/inverse_kinematics/ikfast.rst
  docs/readthedocs/shared/inverse_kinematics/index.rst
  docs/readthedocs/topics/control-gain-tuning.md
  docs/readthedocs/topics/control-theory.md
  docs/readthedocs/topics/numerical-methods.md
  docs/readthedocs/topics/simulation-stability.md
  docs/readthedocs/topics/skel-file-format.md
  docs/readthedocs/user_guide/concepts/articulated_systems.md
  docs/readthedocs/user_guide/concepts/rigid_bodies.md
  docs/readthedocs/user_guide/concepts/world.md
  docs/readthedocs/user_guide/getting_started/hello_dart.md
  docs/readthedocs/user_guide/getting_started/installation.md
  docs/readthedocs/user_guide/getting_started/simulation_loop.md
  docs/readthedocs/user_guide/index.md
  docs/readthedocs/user_guide/interaction/collisions_and_contacts.md
  docs/readthedocs/user_guide/interaction/solvers.md
  docs/readthedocs/user_guide/next_steps.md
  docs/readthedocs/user_guide/visualization.md
Due: none

docs(changelog): link PR #3101 for the system-identification example
  CHANGELOG.md
Due: none

Track detector changes in resting snapshot
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Wake stale resting islands on state changes
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionGroup.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Collision, Simulation

Add strict docs/ai frontmatter type-legend guardrail (#3098)
  docs/plans/121-ai-docs-knowledge-graph.md
  docs/plans/dashboard.md
  scripts/check_docs_policy.py
  tests/test_check_docs_policy.py
Due: none

Ignore .omo agent draft directory
  .gitignore
Due: none

add DART 7 World Performance (googlecpp) benchmark result for b1e076227b5780298c781c7a18301afb35b52c57
  performance/data.js
Due: none

Add PLAN-122 L-001 imported-scene allocation gate
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Ignore .omo agent draft directory (#3102)
  .gitignore
Due: none

Surface DIFF-ON failures in the system-id example as a nonzero exit
  docs/plans/110-differentiable-simulation.md
  python/examples/diff_system_identification.py
Due: none

Address review feedback and add ssik IK arm visualization
  CHANGELOG.md
  examples/ssik_ik_gui/CMakeLists.txt
  examples/ssik_ik_gui/main.cpp
  python/dartpy/dynamics/InverseKinematics.cpp
  python/tests/unit/dynamics/test_inverse_kinematics.py
Due: none

Wake pre-snapshot resting bodies on support pose edits
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Add PLAN-122 L-001 imported-scene allocation gate (#3103)
  docs/plans/122-simulation-loop-allocation-hardening.md
  docs/plans/122-simulation-loop-allocation-hardening/coverage-matrix.md
  docs/plans/dashboard.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Track collision option changes in resting snapshots
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
