Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add rigid body material capture packet
  CHANGELOG.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

PLAN-091: Keep packet helper syntax portable
  scripts/benchmark_packet_utils.py
Due: none

Add SDF performance baseline example
  examples/CMakeLists.txt
  examples/sdf_perf_test/CMakeLists.txt
  examples/sdf_perf_test/main.cpp
Due: none

Record material example packet evidence
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
Due: none

Preserve ImGui fallback behavior
  dart/external/imgui/CMakeLists.txt
  dart/external/imgui_patches/dart-compat.patch
Due: none

Improve rigid body material panel routing
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Route rigid body demo to AVBD showcase
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Fix FCL shared object refresh bookkeeping
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionGroup.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/collision/fcl/FCLCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  examples/sdf_perf_test/main.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Collision

PLAN-091: Validate Phase 5 representative rows
  python/examples/demos/README.md
  python/tests/unit/test_check_phase5_gpu_packet.py
  scripts/capture_py_demo.py
  scripts/check_phase5_gpu_packet.py
  tests/test_benchmark_packet_utils.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for dc9a8b1be4a526fcdd447256a9ea0b15da6d9a67
  performance/data.js
Due: none

Support newer ImGui font scaling API
  examples/contact_inverse_dynamics/main.cpp
  examples/dynamic_joint_constraints/main.cpp
  examples/sleeping/main.cpp
Due: none

Clarify rigid body demo solver context
  CHANGELOG.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/unit/test_py_demo_panels.py
Due: none

PLAN-091: Add remaining architecture hardening evidence (#3083)
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/detail/rigid_contact/rigid_contact_assembly.hpp
  docs/design/batched_world_device_residency.md
  docs/plans/091-architecture-hardening.md
  docs/plans/091-architecture-hardening/cross-family-metrics-corpus.json
  docs/plans/dashboard.md
  python/examples/demos/README.md
  python/tests/unit/test_check_phase5_gpu_packet.py
  scripts/benchmark_packet_utils.py
  scripts/capture_py_demo.py
  scripts/check_phase5_gpu_packet.py
  scripts/write_phase5_cuda_packet.py
  scripts/write_plan091_cross_family_metrics_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_plan091_cross_family_corpus.cpp
  tests/test_benchmark_packet_utils.py
  tests/test_plan091_cross_family_metrics_packet.py
Due: Simulation

Preserve ImGui compatibility component paths
  dart/external/CMakeLists.txt
  dart/external/imgui/CMakeLists.txt
  dart/gui/osg/IncludeImGui.hpp
Due: none

Fix SDF perf example argument parsing
  examples/sdf_perf_test/main.cpp
Due: none

Move IKFast header under dynamics (#3078)
  CHANGELOG.md
  dart/dynamics/CMakeLists.txt
  dart/dynamics/IkFast.cpp
  dart/dynamics/IkFast.hpp
  dart/dynamics/detail/ikfast_compat.h.in
  dart/dynamics/ikfast.h
  dart/external/CMakeLists.txt
  dart/external/ikfast/CMakeLists.txt
  docs/dev_tasks/dart6_dependency_minimization/README.md
  examples/wam_ikfast/ikfast/ikfast71.Transform6D.4_6_9_10_11_12_f8.cpp
  tests/integration/GeneratedWamIkFast.cpp
  tests/integration/SharedLibraryWamIkFast.cpp
Due: Dynamics

Enable resting deactivation by default
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/DeactivationOptions.hpp
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Default ImGui compatibility to patched fallback
  CMakeLists.txt
  package.xml
Due: none

Keep constraint solver thread state ABI-neutral
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Record rigid material preset evidence
  CHANGELOG.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_body.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Update DART 6 performance evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Skip incomplete system ImGui backend headless
  dart/external/imgui/CMakeLists.txt
Due: none

PLAN-091: Close architecture hardening metrics
  CHANGELOG.md
  dart/simulation/compute/rigid_body_constraint.cpp
  dart/simulation/compute/rigid_body_constraint.hpp
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.hpp
  dart/simulation/detail/rigid_contact/rigid_contact_assembly.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/compute/test_cross_family_corpus.cpp
  tests/unit/simulation/compute/test_rigid_body_constraint.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Use named material presets in py-demo packets
  docs/dev_tasks/py_demos_framework/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Skip core-only system ImGui headless
  dart/external/imgui/CMakeLists.txt
Due: none

Keep system ImGui compile definitions external
  dart/external/imgui/CMakeLists.txt
Due: none

Update rigid workflow guidance for fixed solver
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
Due: none

Guard optional ImGui pkg-config lookup
  dart/external/imgui/CMakeLists.txt
Due: none

PLAN-091: Close architecture hardening metrics (#3091)
  CHANGELOG.md
  dart/simulation/compute/rigid_body_constraint.cpp
  dart/simulation/compute/rigid_body_constraint.hpp
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/detail/contact_jacobians.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.cpp
  dart/simulation/detail/rigid_contact/boxed_lcp_contact.hpp
  dart/simulation/detail/rigid_contact/rigid_contact_assembly.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
  tests/unit/simulation/compute/test_cross_family_corpus.cpp
  tests/unit/simulation/compute/test_rigid_body_constraint.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add rigid body py-demos material workflows (#3090)
  CHANGELOG.md
  docs/dev_tasks/py_demos_framework/README.md
  docs/dev_tasks/py_demos_framework/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/rigid_body.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

Fix FCL plane-plane distance
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/integration/test_Distance.cpp
Due: Collision

Patch system ImGui OpenGL2 fallback
  dart/external/imgui/CMakeLists.txt
Due: none

Add ssik analytical IK support
  .gitignore
  CHANGELOG.md
  examples/CMakeLists.txt
  examples/ssik_ik_gui/CMakeLists.txt
  examples/ssik_ik_gui/main.cpp
  python/dartpy/dynamics/InverseKinematics.cpp
  python/tests/unit/dynamics/test_inverse_kinematics.py
Due: none

Configure FCL primitive mode before adding objects
  examples/sdf_perf_test/main.cpp
Due: none

Gate sleeping ImGui bitmap font fallback
  examples/sleeping/main.cpp
Due: none

Use system ImGui for Pixi Python builds
  pixi.toml
Due: none

Rename contact benchmark example
  examples/CMakeLists.txt
  examples/contact_benchmark/CMakeLists.txt
  examples/contact_benchmark/main.cpp
  examples/sdf_perf_test/CMakeLists.txt
Due: none

Add shared GUI scale support
  CHANGELOG.md
  dart/gui/osg/ImGuiHandler.cpp
  dart/gui/osg/ImGuiHandler.hpp
  dart/gui/osg/Utils.cpp
  dart/gui/osg/Utils.hpp
  examples/atlas_puppet/main.cpp
  examples/atlas_simbicon/AtlasSimbiconWidget.cpp
  examples/atlas_simbicon/main.cpp
  examples/biped_stand/main.cpp
  examples/box_stacking/main.cpp
  examples/boxes/main.cpp
  examples/contact_inverse_dynamics/main.cpp
  examples/drag_and_drop/main.cpp
  examples/dynamic_joint_constraints/main.cpp
  examples/empty/main.cpp
  examples/fetch/main.cpp
  examples/heightmap/main.cpp
  examples/hello_world/main.cpp
  examples/hubo_puppet/main.cpp
  examples/imgui/main.cpp
  examples/operational_space_control/main.cpp
  examples/point_cloud/main.cpp
  examples/rigid_shapes/main.cpp
  examples/sleeping/main.cpp
  examples/soft_bodies/main.cpp
  examples/ssik_ik_gui/main.cpp
  examples/tinkertoy/TinkertoyWidget.cpp
  examples/tinkertoy/main.cpp
  examples/wam_ikfast/osgWamIkFast.cpp
Due: none

Namespace fetched ImGui dependency
  dart/external/imgui/CMakeLists.txt
Due: none

PLAN-091: Sync post-merge plan cleanup
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
