Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Fix Clang parsing of AABB tree exception tests (#3380)
  tests/unit/collision/native/test_aabb_tree.cpp
Due: none

Refresh perf/dep-min dev-task docs with the 2026-07-10 evidence cycle (#3370)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Refresh perf/dep-min dev-task docs with the 2026-07-10 evidence cycle (#3370)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  python/tests/unit/test_mujoco_comparison.py
  scripts/mujoco_comparison/run_comparison.py
Due: none

Extend soft stability gates with energy, CoP, and LCP-robustness checks
  tests/integration/test_SoftDynamics.cpp
Due: none

Fix AppleClang vexing-parse build break in AABB-tree broadphase test
  tests/unit/collision/native/test_aabb_tree.cpp
Due: none

Render legible debug labels and thick overlay lines headlessly
  dart/gui/debug.cpp
  dart/gui/debug.hpp
  dart/gui/offscreen.cpp
  dart/gui/offscreen.hpp
  python/dartpy/gui/descriptors.cpp
  python/dartpy/gui/offscreen.cpp
  python/stubs/dartpy/gui/__init__.pyi
  scripts/trajectory_record.py
  tests/unit/gui/test_gui_debug_visuals.cpp
Due: none

Document the contact-force-arrow parity plan for DART 7
  docs/design/agent_sim_verification.md
Due: none

Refresh paper-parity matrix rows with landed evidence
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
Due: none

Add opt-in soft face-interior contact coverage
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  tests/integration/test_SoftDynamics.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Key view bounds and trajectories by world-unique body identity
  python/tests/unit/gui/test_agent_debug_overlay.py
  python/tests/unit/gui/test_agent_view_quality.py
  scripts/agent_debug_overlay.py
  scripts/agent_view_quality.py
Due: none

Gate every motion frame on view quality against the advanced world
  python/tests/unit/gui/test_agent_capture.py
  scripts/agent_capture.py
Due: none

Refresh collision and solver test expectations for the consolidated detector
  tests/integration/test_Collision.cpp
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: none

Fix capsule narrowphase degenerate normals and capsule-cylinder deep contacts
  dart/collision/dart/narrow_phase/CapsuleCapsule.cpp
  dart/collision/dart/narrow_phase/CylinderCollision.cpp
Due: Collision

Port soft-body collision into the consolidated dart detector
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  dart/collision/dart/SoftCollision.cpp
  dart/collision/dart/SoftCollision.hpp
Due: Collision

Refresh default-detector test expectations for the dart default
  tests/integration/test_Friction.cpp
  tests/integration/test_World.cpp
Due: none

Add ellipsoid support to the dart detector and fix cached-quad selection
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/detail/NativeShapeConversion.cpp
Due: Collision

Make the dart detector the default and keep steady-state stepping allocation-free
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/PersistentManifoldCache.cpp
  dart/collision/dart/PersistentManifoldCache.hpp
  dart/collision/dart/broad_phase/AabbTree.cpp
  dart/collision/dart/broad_phase/AabbTree.hpp
  dart/collision/dart/detail/InlineVector.hpp
  dart/collision/dart/narrow_phase/box_box/ContactReduction.cpp
  dart/collision/dart/narrow_phase/box_box/ContactReduction.hpp
  dart/collision/dart/narrow_phase/box_box/FaceClip.cpp
  dart/collision/dart/narrow_phase/box_box/FaceClip.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  dart/utils/SkelParser.cpp
  tests/unit/collision/dart/test_box_box.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision, Constraint, Simulation

Skip native profile scopes when idle
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Avoid per-contact dynamic_cast in the manifold-cache id lookup
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Mark dart as a supported ray-intersection detector in the gz-physics gate
  tools/gazebo/patches/gz-physics8-dart-raycast-supported.patch
Due: none

Record soft/ellipsoid gap resolutions in the consolidation decision docs
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Refresh dartpy default-detector expectation for the dart default
  python/tests/unit/simulation/test_world.py
Due: none

Draw collision bounds only for shapes the detector actually uses
  python/tests/unit/gui/test_agent_debug_overlay.py
  scripts/agent_debug_overlay.py
Due: none

Apply second-review-pass fixes to activation, gates, and demos
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/08-adaptive-contact-activation.md
  examples/adaptive_soft_contact/CMakeLists.txt
  examples/adaptive_soft_contact/main.cpp
  examples/soft_worm/main.cpp
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Recover and draw per-contact reaction forces for DART 7 overlays
  CHANGELOG.md
  dart/gui/debug.cpp
  dart/gui/debug.hpp
  dart/simulation/CMakeLists.txt
  dart/simulation/body/contact_force.hpp
  dart/simulation/compute/rigid_body_contact_stage.cpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/agent_sim_verification.md
  python/dartpy/_debug_layers.py
  python/dartpy/gui/descriptors.cpp
  python/dartpy/simulation/module_bodies.cpp
  python/dartpy/simulation/module_detail.hpp
  python/dartpy/simulation/module_world.cpp
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  tests/unit/gui/test_gui_debug_visuals.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Gate turntable frames on view quality like the motion path
  scripts/agent_capture.py
Due: none

Record endgame state in the deformable resume
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Propagate caller line thickness into isolated per-body layers
  python/dartpy/_debug_layers.py
  python/tests/unit/gui/test_debug_layers.py
Due: none

Make the headless harness overlay-safe across revisions
  dart/dynamics/SoftBodyNode.cpp
  examples/adaptive_soft_contact/CMakeLists.txt
  tests/benchmark/integration/soft_body_headless.cpp
Due: Dynamics

Clean stale frames before sequences and surface filtered contacts
  scripts/agent_capture.py
Due: none

Clean stale frames before turntable and motion sequences
  scripts/agent_capture.py
Due: none
