Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Remove dead CMake helpers from dart_defs.cmake
  cmake/dart_defs.cmake
Due: none

Remove orphaned collision header templates
  dart/collision/bullet/bullet.hpp.in
  dart/collision/fcl/fcl.hpp.in
  dart/collision/ode/ode.hpp.in
Due: Collision

Remove phantom ClosedLoopConstraint forward declaration
  dart/constraint/fwd.hpp
Due: Constraint

WP-091.24: registered scene-corpus + cross-family harness
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_cross_family_corpus.cpp
Due: none

Dead-code sweep: remove unused CMake helpers, orphan collision templates, phantom fwd-decl (#3014)
  cmake/dart_defs.cmake
  dart/collision/bullet/bullet.hpp.in
  dart/collision/fcl/fcl.hpp.in
  dart/collision/ode/ode.hpp.in
  dart/constraint/fwd.hpp
Due: Collision, Constraint

PLAN-091 WS2: StepMetrics scene-corpus + cross-family harness (batch start) (#3015)
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_cross_family_corpus.cpp
Due: none

add DART 7 World Performance (googlecpp) benchmark result for edc78a59b6fce039b126a0110cc4f30a2d864dc8
  performance/data.js
Due: none

PLAN-083: GPU contact-candidate sweep right-sizing + paper-scale, with slowness root-cause and gate-feasibility analysis (#3013)
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/gpu-slowness-root-cause.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: Simulation

Pin macOS to the conda clang / libc++ 22 toolchain (documented C++23 floor) (#3012)
  pixi.lock
  pixi.toml
Due: none

Cover box edge/vertex contact feature ids in snapshot path
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

ci: move setup-pixi-ci actions off deprecated Node.js 20
  .github/actions/setup-pixi-ci/action.yml
Due: none

ci: move setup-pixi-ci actions off deprecated Node.js 20 (#3016)
  .github/actions/setup-pixi-ci/action.yml
Due: none

Fix GLUT examples failing to open a window on modern Mesa/Xwayland
  dart/gui/glut/GlutWindow.cpp
  dart/gui/glut/MotionBlurSimWindow.cpp
  dart/gui/glut/MotionBlurSimWindow.hpp
  dart/gui/glut/Window.hpp
Due: none

Add CHANGELOG entry for the GLUT FBConfig fix (#3017)
  CHANGELOG.md
Due: none

Fix GLUT examples failing to open a window on modern Mesa/Xwayland (#3017)
  CHANGELOG.md
  dart/gui/glut/GlutWindow.cpp
  dart/gui/glut/MotionBlurSimWindow.cpp
  dart/gui/glut/MotionBlurSimWindow.hpp
  dart/gui/glut/Window.hpp
Due: none

Cover box edge/vertex contact feature ids in the AVBD snapshot path (#3018)
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

PLAN-091: WP-091.12 retire multibody string selector for typed enum
  dart/simulation/multibody/multibody_options.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/design/dart7_architecture_assessment.md
  docs/design/simulation_cpp_api.md
  docs/design/simulation_python_api.md
  docs/dev_tasks/variational_integrator_solver/README.md
  docs/dev_tasks/variational_integrator_solver/graduation-criteria.md
  docs/dev_tasks/variational_integrator_solver/supported-envelope.md
  docs/plans/091-architecture-hardening.md
  python/dartpy/simulation/module.cpp
  python/examples/demos/scenes/avbd_articulated_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_fixed_pair_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_high_ratio_chain.py
  python/examples/demos/scenes/avbd_articulated_motor_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_prismatic_motor.py
  python/examples/demos/scenes/avbd_articulated_prismatic_motor_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_prismatic_pair_motor_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_revolute_motor.py
  python/examples/demos/scenes/avbd_articulated_spherical_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_spherical_pair_breakable_joint.py
  python/examples/demos/scenes/avbd_articulated_world_revolute_motor_breakable_joint.py
  python/examples/demos/scenes/avbd_empty_baseline.py
  python/examples/demos/scenes/loop_closure.py
  python/examples/demos/scenes/rigid_loop_closure.py
  python/examples/demos/scenes/rigid_multibody_solver_family.py
  python/examples/demos/scenes/variational_chain.py
  python/examples/demos/scenes/variational_contact.py
  python/examples/demos/scenes/variational_endpoint_loop_closure.py
  python/examples/demos/scenes/variational_tumbler.py
  python/stubs/dartpy/simulation.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/simulation/test_world.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
  tests/unit/simulation/compute/test_cross_family_corpus.cpp
  tests/unit/simulation/compute/test_cross_family_metrics.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Include <cassert> before FCL headers in BackwardCompatibility
  dart/collision/fcl/BackwardCompatibility.hpp
Due: Collision

Add CHANGELOG entry for the FCL <cassert> build fix (#3021)
  CHANGELOG.md
Due: none

Improve glut_add_delete_skels: larger floor and an FPS/RTF HUD
  data/skel/ground.skel
  examples/deprecated_examples/glut_add_delete_skels/MyWindow.cpp
  examples/deprecated_examples/glut_add_delete_skels/MyWindow.hpp
Due: none

Add CHANGELOG entry for the glut_add_delete_skels improvements (#3019)
  CHANGELOG.md
Due: none

Warm the rigid-IPC bake through the real solve path
  dart/simulation/compute/world_step_stage.cpp
Due: Simulation

Remove the now-unused rigid-IPC assembly prewarm
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for d875112c53ac5cf2a1c307815931dbaf6afbe6b8
  performance/data.js
Due: none

Add headless text profiler and boxes profiling harness (DART 6)
  CMakeLists.txt
  cmake/DARTFindDependencies.cmake
  dart/CMakeLists.txt
  dart/common/Profile.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/ConstraintSolver.cpp
  scripts/ab_boxes.sh
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_boxes.cpp
  tests/benchmark/integration/boxes_headless.cpp
  tests/benchmark/integration/boxes_scene.hpp
  tests/unit/common/test_Profile.cpp
Due: Common, Constraint

Cache skeleton pointer and reactivity in ContactConstraint
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
Due: Constraint

Avoid shared_ptr churn in the boxed-LCP assembly loop
  dart/constraint/BoxedLcpConstraintSolver.cpp
Due: Constraint

Cut per-step contact-setup overhead in the constraint solver
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
Due: Constraint

Add articulated-chains scenario to the headless boxes driver
  tests/benchmark/integration/boxes_headless.cpp
  tests/benchmark/integration/boxes_scene.hpp
Due: none

Apply clang-format to ported profiler and benchmark sources
  dart/common/Profile.hpp
  tests/benchmark/integration/boxes_headless.cpp
  tests/benchmark/integration/boxes_scene.hpp
  tests/unit/common/test_Profile.cpp
Due: Common

Apply clang-format to MyWindow.cpp
  examples/deprecated_examples/glut_add_delete_skels/MyWindow.cpp
Due: none

Guard the <cassert> include so clang-format keeps it before FCL
  dart/collision/fcl/BackwardCompatibility.hpp
Due: Collision

Improve glut_add_delete_skels: larger floor and FPS/RTF HUD (#3019)
  CHANGELOG.md
  data/skel/ground.skel
  examples/deprecated_examples/glut_add_delete_skels/MyWindow.cpp
  examples/deprecated_examples/glut_add_delete_skels/MyWindow.hpp
Due: none

Include <cassert> before FCL headers (fix Eigen 5 / new-toolchain build) (#3021)
  CHANGELOG.md
  dart/collision/fcl/BackwardCompatibility.hpp
Due: Collision

Fix AppleClang -Wunused-private-field in UnifiedConstraintStage
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
Due: Simulation

Optimize DART 6 constraint-solver hot path (boxes ~1.28x faster, bit-exact) (#3023)
  CMakeLists.txt
  cmake/DARTFindDependencies.cmake
  dart/CMakeLists.txt
  dart/common/Profile.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  scripts/ab_boxes.sh
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_boxes.cpp
  tests/benchmark/integration/boxes_headless.cpp
  tests/benchmark/integration/boxes_scene.hpp
  tests/unit/common/test_Profile.cpp
Due: Common, Constraint

Release DART 6.19.0
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 786a50f30ec1b26f74d9d1ae1993195a95316561
  performance/data.js
Due: none

Release DART 6.19.0 (#3024)
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
