Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Share LCP bound projection helper
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/subspace_minimization_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
Due: Math

Use fixed arrays for small option lists
  examples/point_cloud/main.cpp
  tests/integration/collision/test_collision.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: none

Use fixed array helpers in loaders and geometry
  dart/collision/ode/detail/ode_cylinder_mesh.cpp
  dart/dynamics/mesh_shape.cpp
  dart/math/geometry.cpp
  dart/utils/skel_parser.cpp
Due: Math, Dynamics, Collision

Use fixed string sets for membership checks
  dart/dynamics/mesh_shape.cpp
  dart/utils/mesh_loader.hpp
  dart/utils/urdf/urdf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/unit/simulation/experimental/common/test_diagnostics_profiling.cpp
Due: Dynamics

Use fixed membership arrays for loader checks
  dart/dynamics/mesh_shape.cpp
  dart/utils/mesh_loader.hpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
Due: Dynamics

Use fixed arrays in test parameter sets
  tests/integration/collision/test_collision_accuracy.cpp
  tests/unit/math/test_convhull.cpp
Due: none

Use starts_with for remaining prefix checks
  dart/gui/render/mesh_shape_node.cpp
  examples/csv_logger/main.cpp
  examples/headless_simulation/main.cpp
Due: none

Use C++20 string prefix checks in resource paths
  dart/common/uri.cpp
  dart/utils/dart_resource_retriever.cpp
  dart/utils/package_resource_retriever.cpp
  dart/utils/sdf/sdf_parser.cpp
  tests/unit/common/test_uri.cpp
Due: Common

Use standard string boundary checks in paths
  dart/dynamics/mesh_shape.cpp
  examples/g1_puppet/main.cpp
  tests/unit/dynamics/test_arrow_shape.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Dynamics

Adopt standard lifetime helpers in core utilities
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/skeleton.cpp
  dart/simd/memory.hpp
Due: Common, Dynamics

Adopt C++20 concepts in experimental serialization
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
Due: none

Use checked comparisons in solver helpers
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/linkage.cpp
  dart/math/optimization/gradient_descent_solver.cpp
Due: Math, Dynamics

Constrain common template helpers
  dart/common/detail/castable-impl.hpp
  dart/common/detail/connection_body.hpp
Due: Common

Fix portable lockable reference constraints
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/lockable_reference.hpp
Due: Common

Constrain stopwatch duration units
  dart/common/detail/stopwatch-impl.hpp
  dart/common/stopwatch.hpp
Due: Common

Constrain template contracts with concepts
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/lockable_reference.hpp
  python/dartpy/common/polymorphic_caster.hpp
Due: Common

Adopt targeted C++20 helpers in experimental simulation
  dart/simulation/experimental/io/binary_io.cpp
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
  dart/simulation/experimental/space/state_space.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
Due: none

Use empty checks in core containers
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/line_segment_shape.cpp
  dart/dynamics/soft_body_node.cpp
  dart/gui/drag_and_drop.cpp
  dart/gui/support_polygon_visual.cpp
  dart/math/optimization/problem.cpp
  dart/utils/xml_helpers.cpp
Due: Math, Dynamics

Use standard clamp helpers in constraints
  dart/constraint/contact_constraint.cpp
  dart/constraint/coupler_constraint.cpp
  dart/constraint/mimic_motor_constraint.cpp
Due: Constraint

Add jthread feature fallbacks for libc++
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Use to_array in fixed-size SIMD tests
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/simd/test_eigen_interop.cpp
Due: none

Extend empty checks to skeleton and tutorial code
  dart/dynamics/skeleton.cpp
  tests/integration/simulation/test_world.cpp
  tutorials/tutorial_dominoes_finished/main.cpp
Due: Dynamics

Use clamp for fixed bounds
  dart/dynamics/arrow_shape.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: Dynamics

Use empty checks in linkage and geometry
  dart/dynamics/linkage.cpp
  dart/math/geometry.cpp
Due: Math, Dynamics

Use key and value views for map loops
  dart/collision/collision_group.cpp
  dart/collision/detail/collision_group.hpp
  dart/common/composite.cpp
  dart/dynamics/body_node.cpp
Due: Common, Dynamics, Collision

Use ranges predicate for friction constraints
  dart/constraint/constraint_solver.cpp
Due: Constraint

Use value view in experimental profiling summary
  dart/simulation/experimental/common/profiling.cpp
Due: none

Drop risky ODE contact-history ranges view
  dart/collision/ode/ode_collision_detector.cpp
Due: Collision

Use value view for collision child cleanup
  dart/collision/collision_group.cpp
Due: Collision
