Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add umbrella external CCD sidecar evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add ragdoll external CCD sidecar evidence
  CHANGELOG.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add mixed external surface CCD packet evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add moving-rigid lying-flat CCD evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add pulley external CCD sidecar evidence
  CHANGELOG.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add inter-body lying-flat CCD evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add terrain external CCD sidecar evidence
  CHANGELOG.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add Candy static CCD packet evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add Candy moving-rigid CCD packet evidence
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add rigid-curved CCD reference counters
  CHANGELOG.md
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_ccd_line_search_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/test_plan083_gpu_ccd_line_search_packet.py
Due: none

Refresh AVBD material lookup handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Skip no-op rigid contact friction writes
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Reuse nested compute graph profile storage
  dart/simulation/compute/compute_executor.hpp
  dart/simulation/compute/execution_profile.cpp
  dart/simulation/compute/execution_profile.hpp
  dart/simulation/compute/parallel_executor.cpp
  dart/simulation/compute/parallel_executor.hpp
  dart/simulation/compute/sequential_executor.cpp
  dart/simulation/compute/sequential_executor.hpp
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: Simulation

Fix World clear allocator release and PR CI failures
  CMakeLists.txt
  dart/simulation/detail/rigid_ipc_barrier.hpp
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Disable CMake C++ module scanning
  CHANGELOG.md
  CMakeLists.txt
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Fix GUI smoke runtime library path
  CHANGELOG.md
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  scripts/run_cpp_example.py
Due: none

Add interval references to rigid-curved CCD packet
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  scripts/write_plan083_gpu_ccd_line_search_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_ccd_line_search.cpp
  tests/test_plan083_gpu_ccd_line_search_packet.py
Due: none

Cover GUI smoke runtime library path
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/test_run_cpp_example.py
Due: none

Export rigid body batch operation helpers
  dart/simulation/compute/rigid_body_batch_ops.hpp
Due: Simulation

Expand scene direct sparse assembly packet
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  scripts/write_newton_assembly_solve_packet.py
  tests/benchmark/simulation/bm_newton_assembly_solve_cuda.cpp
  tests/test_newton_assembly_solve_packet.py
Due: none

Update Plan 083 follow-up handoff notes
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
Due: none

Skip AVBD contact config scan without configs
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Refresh AVBD guard handoff after push
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Add filtered scene runtime candidate packet
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

Avoid repeated AVBD rigid inertia orientation normalization
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Refresh AVBD inertia follow-up handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Bound rigid IPC bake-time scratch reserves
  dart/simulation/compute/world_step_stage.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Refresh AVBD soft-body inertia handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Clear stale compliant loop scratch
  dart/simulation/compute/variational_integration.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

Expose runtime contact filter pressure diagnostics
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  python/dartpy/simulation/module.cpp
  python/stubs/dartpy/simulation.pyi
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_deformable_body.cpp
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
  tests/unit/simulation/world/test_deformable_body.cpp
Due: Simulation

Preserve completed step profile on failure
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Bridge GPU candidate packet to World diagnostics
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 9de4ac6af873a48fdfa27d85e2e7eef3948335e6
  performance/data.js
Due: none

Reuse World step profile scratch
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Filter AVBD spring demo collision pairs
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/examples/demos/scenes/avbd_demo2d_spring.py
  python/examples/demos/scenes/avbd_demo2d_spring_ratio.py
  python/tests/integration/test_demos_cycle.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
Due: Simulation

Filter AVBD 3D spring demo collision pairs
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/examples/demos/scenes/avbd_demo3d_spring.py
  python/examples/demos/scenes/avbd_demo3d_spring_ratio.py
  python/tests/integration/test_demos_cycle.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
Due: none

Refresh AVBD spring packets and label coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo2d-spring-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo2d-spring-ratio-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo3d-spring-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo3d-spring-ratio-packet.json
  docs/plans/dashboard.md
  python/tests/unit/test_py_demo_panels.py
  python/tests/unit/test_write_avbd_demo2d_spring_packets.py
  python/tests/unit/test_write_avbd_demo3d_spring_packets.py
  scripts/write_avbd_demo2d_spring_packet.py
  scripts/write_avbd_demo3d_spring_packet.py
Due: none

Fix ASan dart demos catalog runtime path
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  examples/demos/CMakeLists.txt
Due: none

Handle coverage allocator instrumentation
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/compute/test_compute_graph.cpp
  tests/unit/simulation/world/test_world.cpp
Due: none

Require Eigen >= 5.0
  cmake/dart_find_dependencies.cmake
  cmake/dart_find_eigen3.cmake
  cmake/dart_simulation_dependencies.cmake
  dart/collision/native/CMakeLists.txt
Due: Collision
