Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Reclaim profiler nodes on reset
  dart/common/detail/profiler.cpp
  tests/unit/common/test_Profile.cpp
Due: Common

Report corrupt PNG image data cleanly
  python/tests/unit/test_image_verdict.py
  scripts/_image_tools.py
Due: none

Keep image CLI helpers Python-compatible
  python/tests/unit/test_image_golden.py
  python/tests/unit/test_image_sheet.py
  scripts/image_golden.py
  scripts/image_sheet.py
Due: none

Honor golden sidecar tolerances
  python/tests/unit/test_image_golden.py
  scripts/image_golden.py
Due: none

Fix render retry and hidden auto-fit bounds
  python/dartpy/_world_render_bridge.py
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/test_render_golden_gate.py
  scripts/render_golden_gate.py
Due: none

Reject directory offscreen capture targets
  dart/gui/osg/OffscreenViewer.cpp
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none

Plan the phase-2 native collision detector adapter (#3302)
  docs/dev_tasks/dart6_dependency_minimization/07-phase2-adapter-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Add DART 6 simulation allocation hardening (#3297)
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/common/FrameAllocator.cpp
  dart/common/FrameAllocator.hpp
  dart/common/FreeListAllocator.cpp
  dart/common/FreeListAllocator.hpp
  dart/common/MemoryManager.cpp
  dart/common/MemoryManager.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.hpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.hpp
  dart/dynamics/PointMass.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/SoftBodyNode.cpp
  dart/dynamics/SoftBodyNode.hpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  dart/lcpsolver/dantzig/DantzigLcp.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/onboarding/testing.md
  tests/integration/AllocationCounting.cpp
  tests/integration/AllocationCounting.hpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
  tests/integration/test_StepAllocation.cpp
  tests/unit/common/test_FrameAllocator.cpp
  tests/unit/common/test_FreeListAllocator.cpp
  tests/unit/common/test_MemoryManager.cpp
  tests/unit/common/test_Profile.cpp
Due: Common, Dynamics, Collision, Constraint, Simulation, LCP Solver

Honor zero contact budget in narrowphase dispatch
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Add soft body scene example aliases
  examples/soft_bodies/CMakeLists.txt
  examples/soft_bodies/main.cpp
Due: none

WP-PG.30: Cache single-free-body root-joint classification (#3310)
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/simulation/World.cpp
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: Dynamics, Constraint, Simulation

Build offscreen smoke test with test target
  tests/benchmark/integration/CMakeLists.txt
Due: none

Fix FrameAllocator out-of-bounds fast path for tiny arena capacities
  dart/common/frame_allocator.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

Strengthen FrameAllocator tiny-capacity regression test
  tests/unit/common/test_FrameAllocator.cpp
Due: none

add DART 6 Performance (googlecpp) benchmark result for 93afb066c665acf1f207aec69ea71169120ca87b
  performance/dart6/data.js
Due: none

Add apples-to-apples soft body collision benchmarks
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionGroup.cpp
  dart/collision/dart/DARTCollisionGroup.hpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  scripts/compare_soft_body_performance.py
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_soft_body.cpp
  tests/benchmark/integration/soft_body_headless.cpp
Due: Collision

Port native narrowphase dispatcher, sphere/box only (phase-2 P2, internal-only) (#3306)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/narrow_phase.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Document GUI rendering validation lessons
  docs/onboarding/testing.md
Due: none

Fix IO docs and component exports
  cmake/dart_defs.cmake
  docs/python_api/index.rst
  scripts/test_installation.py
  scripts/test_wheel.py
Due: none

Add session handoff for the native collision port (phase 2 in progress)
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Add headless capture and image verification to DART 6 (#3314)
  CHANGELOG.md
  CMakeLists.txt
  dart/gui/osg/OffscreenViewer.cpp
  dart/gui/osg/OffscreenViewer.hpp
  docs/ai/verification.md
  examples/sleeping/README.md
  examples/sleeping/main.cpp
  examples/ssik_ik_gui/main.cpp
  pixi.toml
  python/dartpy/gui/osg/Viewer.cpp
  python/tests/unit/gui/__init__.py
  python/tests/unit/gui/test_osg_offscreen.py
  python/tests/unit/test_image_golden.py
  python/tests/unit/test_image_sheet.py
  python/tests/unit/test_image_verdict.py
  scripts/_image_tools.py
  scripts/image_golden.py
  scripts/image_sheet.py
  scripts/image_verdict.py
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none

Strengthen FrameAllocator tiny-capacity regression test (#3316)
  tests/unit/common/test_FrameAllocator.cpp
Due: none

Expand native broadphase coverage
  tests/unit/collision/native/test_brute_force.cpp
Due: none

Keep soft plane contacts on colliding vertices
  dart/collision/dart/DARTCollide.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Add agent-sim-verification follow-up handoff
  docs/dev_tasks/agent_sim_verification_followup/HANDOFF.md
  docs/dev_tasks/agent_sim_verification_followup/README.md
  docs/dev_tasks/agent_sim_verification_followup/RESUME.md
Due: none

Fix FrameAllocator tiny arena address comparison
  dart/common/frame_allocator.cpp
Due: Common

add DART 6 Performance (googlecpp) benchmark result for 38656f3dbea4934445cf1dc4130e50b56d2cec2b
  performance/dart6/data.js
Due: none

Fix FrameAllocator out-of-bounds fast path for tiny arena capacities (#3315)
  dart/common/frame_allocator.cpp
  tests/unit/common/test_frame_allocator.cpp
Due: Common

Port native BruteForce broadphase (phase-2 P1, internal-only) (#3303)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/broad_phase/broad_phase.hpp
  dart/collision/native/broad_phase/brute_force.cpp
  dart/collision/native/broad_phase/brute_force.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_brute_force.cpp
Due: Collision
