Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Update 6.20 backport audit status for #2509
  CHANGELOG.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Fix FCL primitive contact normalization (#2339)
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/utils/SkelParser.cpp
  tests/integration/test_Distance.cpp
  tests/integration/test_Friction.cpp
  tests/regression/CMakeLists.txt
  tests/regression/test_FclPrimitiveContactMatrix.cpp
  tests/regression/test_FclPrimitiveContactMatrixFcl.cpp
Due: Collision, Constraint

Update 6.20 backport audit status for #2339
  CHANGELOG.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Skip non-finite contacts and validate shape dimensions (DART 6 LTS) (#3117)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/BoxShape.cpp
  dart/dynamics/BoxShape.hpp
  dart/dynamics/CapsuleShape.cpp
  dart/dynamics/CapsuleShape.hpp
  dart/dynamics/ConeShape.cpp
  dart/dynamics/ConeShape.hpp
  dart/dynamics/CylinderShape.cpp
  dart/dynamics/CylinderShape.hpp
  dart/dynamics/EllipsoidShape.cpp
  dart/dynamics/EllipsoidShape.hpp
  dart/dynamics/PyramidShape.cpp
  dart/dynamics/PyramidShape.hpp
  tests/unit/constraint/CMakeLists.txt
  tests/unit/constraint/test_NonFiniteContact.cpp
  tests/unit/dynamics/test_ShapeDimensionValidation.cpp
Due: Dynamics, Constraint

Update DART 6.20 backport audit for non-finite contacts
  CHANGELOG.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Handle primitive cone plane distances in FCL
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/regression/test_FclPrimitiveContactMatrix.cpp
Due: Collision

Parallelize DART native plane contacts
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision, Constraint

Handle URDF multidof joint limits
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/utils/urdf/DartLoader.cpp
  tests/integration/test_DartLoader.cpp
  tests/unit/dynamics/test_Joints.cpp
Due: Dynamics

Record URDF multidof limits backport
  CHANGELOG.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Preserve capped native plane queries
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Preserve DART mesh contacts under FCL primitive default
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/regression/test_FclPrimitiveContactMatrix.cpp
Due: Collision

Select representative capped DART contacts
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Run native plane threading with default filters
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Refresh native plane threading evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Bullet: filter phantom contacts by default (#2271)
  dart/collision/CollisionOption.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/detail/BulletContact.hpp
  python/dartpy/collision/CollisionOption.cpp
  python/tests/unit/collision/test_collision.py
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_BulletContact.cpp
Due: Collision

Record Bullet contact filter backport
  CHANGELOG.md
  docs/dev_tasks/dart6_backport_audit/01-backport-inventory.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Copy native plane pair transforms before threading
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollide.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Backfill capped native contact selections
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Avoid double-counting parsed multidof friction
  dart/utils/urdf/DartLoader.cpp
  tests/integration/test_DartLoader.cpp
Due: none

Respect global cap in native contact selection
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Preserve priority for native contact backfill
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Filter Bullet binary collision contacts
  dart/collision/bullet/BulletCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Clarify native contact reserve ordering
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Refresh native contact selection evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Preserve negative planar URDF axes
  dart/utils/urdf/DartLoader.cpp
  tests/integration/test_DartLoader.cpp
Due: none

Allow primitive FCL rest velocity tolerance
  tests/regression/test_Issue1445.cpp
Due: none

Modernize math literal operator spelling
  dart/math/Helpers.hpp
Due: Math

Include FCL compatibility guard in regression test
  tests/regression/test_FclPrimitiveContactMatrixFcl.cpp
Due: none

Apply DART contact selection to global slots
  dart/collision/dart/DARTCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Backport mimic motor constraint robustness
  CHANGELOG.md
  dart/constraint/MimicMotorConstraint.cpp
  dart/constraint/MimicMotorConstraint.hpp
  tests/integration/test_Joints.cpp
Due: Constraint

Reference backport PR in changelog
  CHANGELOG.md
Due: none

Use C++23 literal operator spelling
  CHANGELOG.md
  dart/math/Helpers.hpp
Due: Math

Compute native broadphase bounds from extents
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Handle shared FCL primitive contact order
  dart/collision/fcl/FCLCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Refresh issue 3056 performance stack notes
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none
