Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Run the extended CI matrix nightly and file issues for its failures (#3558)
  .agents/skills/dart-ci/SKILL.md
  .claude/skills/dart-ci/SKILL.md
  .github/workflows/api_doc.yml
  .github/workflows/ci_freebsd.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly.yml
  .github/workflows/publish_dartpy.yml
  docs/onboarding/ci-cd.md
  docs/onboarding/release-management.md
  scripts/nightly_ci_report.py
  tests/test_nightly_ci_report.py
Due: none

Build the API docs from the checked-out source
  .github/workflows/api_doc.yml
Due: none

Remove dead and duplicate CI configuration
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/publish_dartpy.yml
Due: none

Validate release tags on push, keep CodeQL builds uncached, and fix stale CI inputs
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly.yml
  .github/workflows/performance_dashboard_dart6.yml
  .github/workflows/publish_dartpy.yml
  scripts/run_cpp_benchmark.py
Due: none

Fix the weekly lockfile update
  .github/workflows/update_lockfiles.yml
Due: none

Fix invalid, broken, and duplicate CI configuration (#3559)
  .github/workflows/api_doc.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly.yml
  .github/workflows/performance_dashboard_dart6.yml
  .github/workflows/publish_dartpy.yml
  .github/workflows/update_lockfiles.yml
  scripts/run_cpp_benchmark.py
Due: none

Mutate only the visual smoke step in its checker test
  tests/test_ai_infrastructure.py
Due: none

Mutate only the visual smoke step in its checker test (#3560)
  tests/test_ai_infrastructure.py
Due: none

Run CI against main as the development branch
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/api_doc.yml
  .github/workflows/ci_freebsd.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/nightly.yml
  .github/workflows/performance_dashboard_dart6.yml
  .github/workflows/update_lockfiles.yml
Due: none

Point the remaining agent pointers and FEM notes at main
  CLAUDE.md
  GEMINI.md
  docs/design/dart6_deformable_body.md
  docs/plans/dashboard.md
Due: none

Keep simulation preparation from deciding sleep state
  dart/constraint/ConstraintSolver.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Guard the island bookkeeping restore in simulation preparation
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 025043c3871e3a79b1121318ee297fd56aa7a002
  performance/dart6/data.js
Due: none

Note why restoring the collision result may shrink its lookup sets
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Drop the dashboard's caller-less workflow_call trigger
  .github/workflows/performance_dashboard_dart6.yml
  docs/onboarding/ci-cd.md
  docs/readthedocs/community/performance_dashboard.rst
Due: none

Build the SIMD-matrix benchmarks at each row's level
  .github/workflows/ci_simd.yml
  tests/benchmark/CMakeLists.txt
Due: none

Run the AI checks once per PR
  .github/workflows/ci_ubuntu.yml
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Publish benchmark worlds atomically and pair final contacts one-to-one
  tests/test_gz_compat_compare.py
  tools/gazebo/README.md
  tools/gazebo/bench/gz_sleep_oracle.cc
  tools/gazebo/compat/lane.sh
Due: none

Spell out the scoped assignment template arguments
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Reject a shorthand check-lint that drops the AI checks
  scripts/check_ai_infrastructure.py
  tests/test_ai_infrastructure.py
Due: none

Describe the dashboard triggers without the removed reusable entrypoint
  docs/readthedocs/community/performance_dashboard.rst
Due: none

Check the lane test inventory, finite tolerances and first-step poses
  tests/test_gz_compat_compare.py
  tools/gazebo/README.md
  tools/gazebo/bench/gz_physics_step_bench.cc
  tools/gazebo/bench/gz_raycast_probe.cc
  tools/gazebo/bench/gz_sleep_oracle.cc
  tools/gazebo/compat/compare_failures.py
  tools/gazebo/compat/harmonic-expected-failures.txt
  tools/gazebo/compat/ionic-expected-failures.txt
  tools/gazebo/compat/jetty-expected-failures.txt
Due: none

Keep velocity-phase impulses through the split-impulse position pass
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Constraint

Keep the constraint solver configuration when cloning a World
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Add a deterministic performance comparison harness
  docs/onboarding/profiling.md
  pixi.toml
  scripts/perf_regression.py
  tests/benchmark/worlds/3k_shapes.sdf.gz
  tests/benchmark/worlds/3k_shapes.sdf.sha256
  tests/benchmark/worlds/LICENSE
  tests/benchmark/worlds/NOTICE
  tests/test_perf_regression.py
  tools/perf/CMakeLists.txt
  tools/perf/allocshim.c
  tools/perf/heappad.c
  tools/perf/portable_step_bench.cpp
Due: none

add DART 6 Performance (googlecpp) benchmark result for 109bbb25d6b4e75b208d07f7478b4d4cf4c5c7c0
  performance/dart6/data.js
Due: none

Reject inputs that would turn the Gazebo lane checks into a silent pass
  examples/contact_benchmark/main.cpp
  tests/test_gz_bench_worlds.py
  tests/test_gz_compat_compare.py
  tools/gazebo/README.md
  tools/gazebo/bench/gz_physics_step_bench.cc
  tools/gazebo/bench/gz_raycast_probe.cc
  tools/gazebo/bench/gz_sim_server_bench.cc
  tools/gazebo/bench/gz_sleep_oracle.cc
  tools/gazebo/bench/make_worlds.py
  tools/gazebo/compat/compare_failures.py
Due: none

Add analytic friction scenes and their T0 test
  tests/integration/CMakeLists.txt
  tests/integration/test_FrictionAnalytic.cpp
  tools/friction_eval/friction_scenes.hpp
Due: none

Require the baseline's test names and a loadable gz-sim engine
  tests/test_gz_compat_compare.py
  tools/gazebo/README.md
  tools/gazebo/bench/CMakeLists.txt
  tools/gazebo/bench/gz_sim_server_bench.cc
  tools/gazebo/bench/gz_sleep_oracle.cc
  tools/gazebo/compat/compare_failures.py
  tools/gazebo/compat/harmonic-expected-failures.txt
  tools/gazebo/compat/ionic-expected-failures.txt
  tools/gazebo/compat/jetty-expected-failures.txt
Due: none

Packaging 6.19.5 (#3557)
  CHANGELOG.md
  package.xml
  pixi.toml
Due: none

Add the friction_eval harness
  tests/integration/CMakeLists.txt
  tools/friction_eval/CMakeLists.txt
  tools/friction_eval/friction_eval.cpp
Due: none

Stop one-step contact misses from holding islands awake
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/Skeleton.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Constraint

Add the friction-evaluation matrix runner and README
  tools/friction_eval/README.md
  tools/friction_eval/friction_eval.py
Due: none

Fix use-after-free in the first step after removing a skeleton or changing the collision detector (#3547)
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint
