Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Rename DART 6 autonomous AI workflow to dart-ultrawork (#3357)
  .claude/commands/dart-new-task.md
  .claude/commands/dart-new-team-task.md
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-new-team-task.md
  .opencode/command/dart-ultrawork.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Rename autonomous AI workflow to dart-ultrawork (#3356)
  .claude/commands/dart-new-task.md
  .claude/commands/dart-new-team-task.md
  .claude/commands/dart-ultrawork.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .codex/skills/dart-ultrawork/SKILL.md
  .opencode/command/dart-new-task.md
  .opencode/command/dart-new-team-task.md
  .opencode/command/dart-ultrawork.md
  AGENTS.md
  CHANGELOG.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/orchestration.md
  docs/ai/sessions.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/dev_tasks/README.md
  docs/onboarding/ai-tools.md
Due: none

Add native voxel grid compound support (#3358)
  CHANGELOG.md
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for e2e03ffe8ee99cedda2fcda051f6eb30dc102363
  performance/dart6/data.js
Due: none

WP-PG.15: honor explicit sleep tolerance
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

Add native CCD support
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/Ccd.cpp
  dart/collision/native/narrow_phase/Ccd.hpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  dart/collision/native/narrow_phase/NarrowPhase.hpp
  dart/collision/native/narrow_phase/PrimitiveCcd.cpp
  dart/collision/native/narrow_phase/PrimitiveCcd.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_ccd.cpp
  tests/unit/collision/native/test_primitive_ccd.cpp
Due: Collision

WP-PG.15: propagate awake veto to group rest
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

WP-PG.15: restore adaptive ERV defaults
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

Fix native CCD CI and edge cases
  dart/collision/native/narrow_phase/Ccd.cpp
  dart/collision/native/narrow_phase/NarrowPhase.hpp
  tests/unit/collision/native/test_ccd.cpp
Due: Collision

WP-PG.15: keep explicit ERV defaults idempotent
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint

Fix native CCD review edge cases
  dart/collision/native/narrow_phase/Ccd.cpp
  dart/collision/native/narrow_phase/PrimitiveCcd.cpp
  tests/unit/collision/native/test_ccd.cpp
  tests/unit/collision/native/test_primitive_ccd.cpp
Due: Collision

Fix GJK CCD normal orientation
  dart/collision/native/narrow_phase/Ccd.cpp
  tests/unit/collision/native/test_ccd.cpp
Due: Collision

WP-PG.15: align contact-miss sleep tolerance
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/simulation/World.cpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Fix native CCD exact edge cases
  dart/collision/native/narrow_phase/Ccd.cpp
  dart/collision/native/narrow_phase/PrimitiveCcd.cpp
  tests/unit/collision/native/test_ccd.cpp
  tests/unit/collision/native/test_primitive_ccd.cpp
Due: Collision

Add native CCD support (#3359)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/narrow_phase/Ccd.cpp
  dart/collision/native/narrow_phase/Ccd.hpp
  dart/collision/native/narrow_phase/NarrowPhase.cpp
  dart/collision/native/narrow_phase/NarrowPhase.hpp
  dart/collision/native/narrow_phase/PrimitiveCcd.cpp
  dart/collision/native/narrow_phase/PrimitiveCcd.hpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_ccd.cpp
  tests/unit/collision/native/test_primitive_ccd.cpp
Due: Collision

WP-PG.15: promote dense pile sleep policy (#3353)
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/profiling.md
  docs/plans/dashboard.md
  examples/contact_benchmark/main.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

add DART 6 Performance (googlecpp) benchmark result for 1a33843125dde544c1a1c4caa11fae71af35b6e5
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for c7ae0628b7fc0de2d782af1422b9f2d344532a87
  performance/dart6/data.js
Due: none

WP-PG.14: add opt-in matrix-free contact LCP
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  examples/contact_benchmark/main.cpp
  python/dartpy/constraint/BoxedLcpConstraintSolver.cpp
  python/tests/unit/constraint/test_constraint.py
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Add changelog for matrix-free contact LCP
  CHANGELOG.md
Due: none

Reuse scratch for matrix-free contact solves
  dart/constraint/BoxedLcpConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Keep matrix-free options out of solver layout
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
Due: Constraint

Add native persistent manifold cache
  .github/workflows/ci_windows.yml
  CHANGELOG.md
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/PersistentManifoldCache.cpp
  dart/collision/native/PersistentManifoldCache.hpp
  dart/constraint/ContactConstraint.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_persistent_manifold_cache.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision, Constraint

Add native persistent manifold cache (#3360)
  .github/workflows/ci_windows.yml
  CHANGELOG.md
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/PersistentManifoldCache.cpp
  dart/collision/native/PersistentManifoldCache.hpp
  dart/constraint/ContactConstraint.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_persistent_manifold_cache.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision, Constraint

Expose native contact benchmark rows
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  examples/contact_benchmark/main.cpp
  tests/benchmark/integration/bm_contact_container.cpp
Due: none

Include native rows in dashboard benchmark filter
  scripts/run_performance_dashboard_benchmarks.py
  tests/test_performance_dashboard_benchmarks.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 5ee4095fd52d0346b8bc634c5b349050649c2137
  performance/dart6/data.js
Due: none

Expose native contact benchmark rows (#3362)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  examples/contact_benchmark/main.cpp
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/integration/bm_contact_container.cpp
  tests/test_performance_dashboard_benchmarks.py
Due: none

Fix native dashboard Python test expectations
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 29672d673db3eaad4e468b2814096e61970a2f53
  performance/dart6/data.js
Due: none

Fix native dashboard Python test expectations (#3363)
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
Due: none

Optimize native solver-facing manifolds
  dart/collision/native/NativeCollisionDetector.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Optimize native solver-facing manifolds (#3364)
  dart/collision/native/NativeCollisionDetector.cpp
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision
