Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Use ranges predicates in ODE contact history
  dart/collision/ode/ode_collision_detector.cpp
Due: Collision

Use ranges predicates for early-exit scans
  dart/constraint/constraint_solver.cpp
  dart/dynamics/hierarchical_ik.cpp
  dart/simd/detail/math/exp_impl.hpp
  dart/simd/detail/math/sincos_impl.hpp
Due: Dynamics, Constraint

Use key and value views in cleanup loops
  dart/collision/collision_group.cpp
  dart/dynamics/skeleton.cpp
Due: Dynamics, Collision

Use fixed membership arrays for loader checks
  dart/dynamics/mesh_shape.cpp
  dart/utils/mesh_loader.hpp
  tests/integration/collision/test_fcl_primitive_contact_matrix.cpp
  tests/integration/collision/test_fcl_primitive_contact_matrix_fcl.cpp
Due: Dynamics

Use value views in profiler and mesh caches
  dart/common/detail/profiler.cpp
Due: Common

Use to_array in fixed-size SIMD tests
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/simd/test_eigen_interop.cpp
Due: none

Use value views for skeleton node maps
  dart/dynamics/skeleton.cpp
Due: Dynamics

Use clamp for fixed bounds
  dart/dynamics/arrow_shape.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: Dynamics

Share LCP bound projection helper
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/subspace_minimization_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
Due: Math

Use checked comparisons in solver helpers
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/linkage.cpp
  dart/math/optimization/gradient_descent_solver.cpp
Due: Math, Dynamics

Adopt C++20 concepts in experimental serialization
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
Due: none

Add jthread feature fallbacks for libc++
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Fix portable lockable reference constraints
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/lockable_reference.hpp
Due: Common

Constrain template contracts with concepts
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/lockable_reference.hpp
  python/dartpy/common/polymorphic_caster.hpp
Due: Common

Constrain stopwatch duration units
  dart/common/detail/stopwatch-impl.hpp
  dart/common/stopwatch.hpp
Due: Common

Use jthread in threaded tests and benchmarks
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Constrain common template helpers
  dart/common/detail/castable-impl.hpp
  dart/common/detail/connection_body.hpp
Due: Common

Fix MSVC lockable reference constraint matching
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/lockable_reference.hpp
Due: Common

Restore ArrowShape NaN head length handling
  dart/dynamics/arrow_shape.cpp
  tests/unit/dynamics/test_arrow_shape.cpp
Due: Dynamics

Adopt targeted C++20 helpers across core paths
  dart/common/detail/castable-impl.hpp
  dart/common/detail/connection_body.hpp
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/common/detail/stopwatch-impl.hpp
  dart/common/lockable_reference.hpp
  dart/common/stopwatch.hpp
  dart/dynamics/arrow_shape.cpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/linkage.cpp
  dart/dynamics/skeleton.cpp
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/subspace_minimization_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
  dart/math/optimization/gradient_descent_solver.cpp
  dart/simd/memory.hpp
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/io/binary_io.cpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
  dart/simulation/experimental/space/state_space.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
  python/dartpy/common/polymorphic_caster.hpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
  tests/unit/dynamics/test_arrow_shape.cpp
Due: Common, Math, Dynamics

Use safe LCP bound projection helpers
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
Due: Math

Adopt targeted C++20 helpers across core paths (#2644)
  dart/common/detail/castable-impl.hpp
  dart/common/detail/connection_body.hpp
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/memory_allocator-impl.hpp
  dart/common/detail/memory_manager-impl.hpp
  dart/common/detail/stopwatch-impl.hpp
  dart/common/lockable_reference.hpp
  dart/common/stopwatch.hpp
  dart/dynamics/arrow_shape.cpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/inverse_kinematics.cpp
  dart/dynamics/linkage.cpp
  dart/dynamics/skeleton.cpp
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/other/staggering_solver.cpp
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/jacobi_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.cpp
  dart/math/lcp/projection/subspace_minimization_solver.cpp
  dart/math/lcp/projection/symmetric_psor_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
  dart/math/optimization/gradient_descent_solver.cpp
  dart/simd/memory.hpp
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/io/binary_io.cpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
  dart/simulation/experimental/space/component_mapper.hpp
  dart/simulation/experimental/space/state_space.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
  python/dartpy/common/polymorphic_caster.hpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
  tests/unit/dynamics/test_arrow_shape.cpp
Due: Common, Math, Dynamics

Adopt STL helpers in support utilities
  dart/collision/ode/ode_collision_detector.cpp
  dart/common/detail/name_manager.hpp
  dart/dynamics/mesh_shape.cpp
  dart/simulation/recording.cpp
Due: Common, Dynamics, Collision, Simulation

Adopt STL helpers in support utilities (#2645)
  dart/collision/ode/ode_collision_detector.cpp
  dart/common/detail/name_manager.hpp
  dart/dynamics/mesh_shape.cpp
  dart/simulation/recording.cpp
Due: Common, Dynamics, Collision, Simulation

test: complete coverage audit
  docs/dev_tasks/test-coverage-audit/README.md
  docs/dev_tasks/test-coverage-audit/RESUME.md
  docs/onboarding/testing.md
  tests/unit/collision/test_ode_cylinder_mesh.cpp
  tests/unit/common/test_cloneable.cpp
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/common/test_pool_allocator.cpp
  tests/unit/math/optimization/test_problem.cpp
Due: none

Fix PoolAllocator table growth leak
  CHANGELOG.md
  dart/common/pool_allocator.cpp
Due: Common

test: avoid Windows-only link gaps in coverage tests
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/math/optimization/test_problem.cpp
Due: none

Complete test coverage audit (#2643)
  CHANGELOG.md
  dart/common/pool_allocator.cpp
  docs/dev_tasks/test-coverage-audit/README.md
  docs/dev_tasks/test-coverage-audit/RESUME.md
  docs/onboarding/testing.md
  tests/unit/collision/test_ode_cylinder_mesh.cpp
  tests/unit/common/test_cloneable.cpp
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/common/test_pool_allocator.cpp
  tests/unit/math/optimization/test_problem.cpp
Due: Common

Fix PoolAllocator table growth leak
  CHANGELOG.md
  dart/common/PoolAllocator.cpp
  tests/unit/common/test_PoolAllocator.cpp
Due: Common

Add PoolAllocator release changelog PR reference
  CHANGELOG.md
Due: none

Fix PoolAllocator table growth leak (DART 6.16) (#2646)
  CHANGELOG.md
  dart/common/PoolAllocator.cpp
  tests/unit/common/test_PoolAllocator.cpp
Due: Common

Reference Filament GUI PR in changelog
  CHANGELOG.md
Due: none

Support Assimp 5 material texture extraction
  dart/dynamics/mesh_shape.cpp
Due: Dynamics

Harden Filament GUI smoke tests
  .github/workflows/ci_ubuntu.yml
  docs/dev_tasks/filament_gui/05-testing.md
  docs/dev_tasks/filament_gui/07-completion-audit.md
  docs/dev_tasks/filament_gui/README.md
  docs/dev_tasks/filament_gui/RESUME.md
  pixi.toml
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Fix Filament scene test cleanup on Windows
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Add generic C++ example runner support
  docs/onboarding/building.md
  examples/README.md
  examples/filament_gui/README.md
  pixi.toml
  scripts/run_cpp_example.py
Due: none
