Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Cover two-link SDF fixture round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Isolate Pixi binary paths in CI (#3275)
  .github/workflows/api_doc.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_simd.yml
  .github/workflows/ci_toolchain.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/codeql.yml
  .github/workflows/performance_dashboard_dart6.yml
  .github/workflows/publish_dartpy.yml
  .github/workflows/update_lockfiles.yml
Due: none

Add rigid IPC two-wall tunnel fixture-row coverage (#3266)
  docs/dev_tasks/rigid_ipc_solver/README.md
  docs/dev_tasks/rigid_ipc_solver/RESUME.md
  docs/plans/082-rigid-implicit-barrier-contact/rigid_ipc_fixture_manifest.json
  scripts/generate_rigid_ipc_fixture_manifest.py
  tests/unit/simulation/contact/test_rigid_ipc_paper_experiments.cpp
Due: none

Address deformable solver docs review
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Add a matrix-free-vs-sparse-CG contact-heavy crossover benchmark (#3274)
  tests/benchmark/simulation/bm_deformable_body.cpp
  tests/unit/simulation/world/test_deformable_body.cpp
Due: none

Propagate row failures from the phase-0 capture driver
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
Due: none

Correct the deformable linear-solver-selection roadmap documentation (#3269)
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Add Phase 3 brief, parity baselines, and B1 reconciliation notes
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase2.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase3.md
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b1.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b2.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b3.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b4.json
Due: none

Cover world-contained SDF fixture round trips
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Note the matrix-free contact crossover benchmark in the roadmap and handoff
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Correct rigid IPC tunnel-arrest note: friction stiction, not CCD
  docs/dev_tasks/rigid_ipc_solver/README.md
  docs/dev_tasks/rigid_ipc_solver/RESUME.md
  docs/plans/082-rigid-implicit-barrier-contact/rigid_ipc_fixture_manifest.json
  scripts/generate_rigid_ipc_fixture_manifest.py
Due: none

Replace dartpy wheel Docker flow with Pixi
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/api_doc.yml
  .github/workflows/cache_docker.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/publish_dartpy.yml
  CHANGELOG.md
  Dockerfile
  docker/dev/v6.15/Dockerfile.manylinux_2_28_x86_64
  docker/dev/v6.15/Dockerfile.ubuntu.jammy
  docker/dev/v6.15/Dockerfile.ubuntu.noble
  docker/dev/v6.15/Dockerfile.ubuntu.oracular
  docker/dev/v6.15/Dockerfile.ubuntu.plucky
  pixi.lock
  pixi.toml
  pyproject.toml
  scripts/cmake_host_linker_flags.py
  scripts/run
  scripts/test_wheel.py
  scripts/verify_version.py
  scripts/verify_wheel.py
  scripts/wheel_build.py
  setup.py
Due: none

Cover force-torque SDF world round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Make the committed capture scripts checkout-relative
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
Due: none

Correct rigid IPC tunnel-arrest note: friction stiction, not CCD (#3278)
  docs/dev_tasks/rigid_ipc_solver/README.md
  docs/dev_tasks/rigid_ipc_solver/RESUME.md
  docs/plans/082-rigid-implicit-barrier-contact/rigid_ipc_fixture_manifest.json
  scripts/generate_rigid_ipc_fixture_manifest.py
Due: none

add DART 6 Performance (googlecpp) benchmark result for 9904ea2b213f6045acb42ae6a4274b82eab1e0d9
  performance/dart6/data.js
Due: none

Fix locked actuator contact projection
  dart/simulation/compute/multibody_dynamics.cpp
  dart/utils/CMakeLists.txt
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Address matrix-free roadmap review
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Preserve continuous URDF joint limits
  CHANGELOG.md
  dart/utils/urdf/urdf_parser.hpp
  dart/utils/urdf/urdf_writer.cpp
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_urdf_writer.cpp
Due: none

Clarify matrix-free selection status
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/plans/081-deformable-implicit-barrier-solver/ipc-parity-roadmap.md
Due: none

Fix servo actuator bounded solve edge cases
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Refresh IPC deformable resume checkpoint
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
Due: none

Cover URDF material and ground fixtures
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_urdf_writer.cpp
Due: none

Fix acceleration actuator replay and wake state
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_deactivation.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Port batch-1 example scenes into dart-demos with host timestep and input hardening
  examples/demos/CMakeLists.txt
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/Registry.cpp
  examples/demos/scenes/AddDeleteSkelsScene.cpp
  examples/demos/scenes/BoxStackingScene.cpp
  examples/demos/scenes/EmptyScene.cpp
  examples/demos/scenes/HardcodedDesignScene.cpp
  examples/demos/scenes/RigidChainScene.cpp
  examples/demos/scenes/RigidCubesScene.cpp
  examples/demos/scenes/RigidLoopScene.cpp
  examples/demos/scenes/RigidShapesScene.cpp
  examples/demos/scenes/Scenes.hpp
  examples/demos/scenes/SimpleFramesScene.cpp
  examples/demos/scenes/SimulationEventHandlerScene.cpp
  examples/demos/scenes/SleepingScene.cpp
  examples/demos/scenes/ZUp.hpp
Due: none

Cover WAM URDF writer round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_urdf_writer.cpp
Due: none

Mark demos batch B1 accepted in plan
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
Due: none

Record demos orchestration playbook and next steps
  docs/dev_tasks/dart6_consolidated_demos/RESUME.md
Due: none

Fix multibody COM cache freshness
  dart/simulation/compute/multibody_dynamics.cpp
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Strip POSIX math link from MSVC libcurl interface
  dart/utils/CMakeLists.txt
Due: none

Cover drchubo URDF writer round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_urdf_writer.cpp
Due: none

Constrain locked DOFs in contact mass
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Cover second force-torque SDF world round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Cover simple SDF world fixture round trips
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Prime servo boxed solve scratch
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/lcp.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Math, Simulation

Project locked DOFs in contact inverse mass
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Cover mixed-joint SDF world fixture round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Skip locked actuator Coulomb friction
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Cover quad SDF fixture writer round trip
  docs/dev_tasks/skel_format_evolution/05-export-writers-plan.md
  docs/dev_tasks/skel_format_evolution/README.md
  docs/dev_tasks/skel_format_evolution/RESUME.md
  docs/onboarding/io-parsing.md
  tests/integration/io/test_sdf_writer.cpp
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
