Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add reduced ABD chain-net runtime packet evidence
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Cover non-cardinal reset endpoint shape in dartpy
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Cover binary reset endpoint shape in dartpy
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Cover non-cardinal broken-skip endpoint shape in dartpy
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 28e8e821b422374a4e1417584f0f9d96edf55a67
  performance/data.js
Due: none

Stabilize boxed LCP dense contact short-horizon checks
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Route VBD topology adjacency through allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/self_contact.hpp
  dart/simulation/detail/deformable_vbd/vertex_coloring.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/deformable_vbd/test_vbd_combined_descent.cpp
  tests/unit/simulation/deformable_vbd/test_vbd_contact.cpp
  tests/unit/simulation/deformable_vbd/test_vbd_vertex_coloring.cpp
Due: Simulation

Route AVBD row scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/deformable_vbd/test_vbd_combined_descent.cpp
  tests/unit/simulation/deformable_vbd/test_vbd_contact.cpp
Due: Simulation

Record ComputeGraph allocator traversal coverage
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
Due: none

Route rigid IPC pair scratch through allocator
  CHANGELOG.md
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Route rigid IPC equality scratch through allocator
  CHANGELOG.md
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
Due: Simulation

Bound BoxedLcp scaling tests in default CI
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Route equality change-of-variable scratch through allocator
  CHANGELOG.md
  dart/simulation/detail/newton_barrier/change_of_variable.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Route unified stage staging scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Cover articulated AVBD stiffness roundtrip in dartpy
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Broaden articulated AVBD stiffness roundtrip coverage
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Broaden articulated AVBD stiffness serialization coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/world/test_serialization.cpp
Due: none

Route multibody dynamics scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/multibody_dynamics.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/compute/test_multibody_link_contact.cpp
Due: Simulation

Cover restored articulated AVBD stiffness extraction
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none

Route unified constraint problem scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/rigid_body_constraint.hpp
  dart/simulation/compute/unified_constraint.cpp
  dart/simulation/compute/unified_constraint.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_unified_constraint.cpp
Due: Simulation

Complete articulated AVBD stiffness endpoint coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: none

Route batched rigid integration scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/rigid_body_state_batch.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Raise CUDA LCP batch test timeout
  tests/unit/simulation/CMakeLists.txt
Due: none

Route world step pipeline overflow through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Bound CUDA dense PGS LCP test runtime
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Route deformable solver scratch through world allocator
  CHANGELOG.md
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  dart/simulation/detail/deformable_vbd/self_contact.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route variational contact duals through world allocator
  CHANGELOG.md
  dart/simulation/comps/variational_contact_dual_state.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/io/auto_serialization.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Trim AVBD source-row contact prep overhead
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Route variational contact config through world allocator
  CHANGELOG.md
  dart/simulation/comps/variational_contact.hpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/io/auto_serialization.hpp
  dart/simulation/multibody/multibody.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route variational state history through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/io/auto_serialization.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Cover articulated reset endpoint shape and bound BoxedLCP scaling tests (#2973)
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Add reduced ABD runtime evidence packets (#2974)
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
  tests/unit/simulation/CMakeLists.txt
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: Simulation

Route variational compliant loop scratch through world allocator
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Expose LCP solver capability contracts
  dart/math/lcp/lcp_solver.hpp
  dart/math/lcp/lcp_types.hpp
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.hpp
  dart/math/lcp/newton/fischer_burmeister_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/newton/penalized_fischer_burmeister_newton_solver.cpp
  dart/math/lcp/other/admm_solver.hpp
  dart/math/lcp/other/interior_point_solver.cpp
  dart/math/lcp/other/mprgp_solver.cpp
  dart/math/lcp/other/sap_solver.hpp
  dart/math/lcp/other/shock_propagation_solver.hpp
  dart/math/lcp/other/staggering_solver.hpp
  dart/math/lcp/pivoting/baraff_solver.cpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
  dart/math/lcp/pivoting/direct_solver.cpp
  dart/math/lcp/pivoting/lemke_solver.cpp
  dart/math/lcp/projection/apgd_solver.hpp
  dart/math/lcp/projection/bgs_solver.hpp
  dart/math/lcp/projection/blocked_jacobi_solver.hpp
  dart/math/lcp/projection/jacobi_solver.hpp
  dart/math/lcp/projection/nncg_solver.hpp
  dart/math/lcp/projection/pgs_solver.hpp
  dart/math/lcp/projection/red_black_gauss_seidel_solver.hpp
  dart/math/lcp/projection/subspace_minimization_solver.hpp
  dart/math/lcp/projection/symmetric_psor_solver.hpp
  dart/math/lcp/projection/tgs_solver.hpp
  dart/simulation/detail/boxed_lcp_contact.cpp
  docs/background/lcp/02_overview.md
  docs/background/lcp/07_selection-guide.md
  docs/onboarding/api-boundary-inventory.md
  pixi.toml
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_lcp_types.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math, Simulation

Bind standalone LCP solvers in dartpy
  docs/onboarding/python-bindings.md
  python/dartpy/CMakeLists.txt
  python/dartpy/math/lcp.cpp
  python/dartpy/math/lcp.hpp
  python/dartpy/math/module.cpp
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/math.pyi
  python/tests/unit/math/test_lcp.py
Due: none

Add LCP physics comparison demo
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Reuse variational velocity projection scratch
  CHANGELOG.md
  dart/simulation/compute/variational_integration.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Cover articulated AVBD stiffness round-trip (#2975)
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: none

Add reduced ABD comparison packets
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_completion_audit.py
  tests/test_plan083_cpu_scene_packet.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 0dc865abdb6bc23479d240a2ee8155ef51b90ff4
  performance/data.js
Due: none
