Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Test memory allocator debugger accounting
  tests/unit/common/test_memory_allocator.cpp
Due: none

Add rigid-body one-DOF joint facades (#2891)
  CHANGELOG.md
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/fwd.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/registry.py
  python/examples/demos/scenes/sx_rigid_limited_joints.py
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/dynamics.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Validate HeightmapShape scale and height field inputs (DART 6.17) (#2884)
  dart/dynamics/detail/HeightmapShape-impl.hpp
  tests/unit/dynamics/test_HeightmapShape.cpp
Due: Dynamics

Reject non-finite mass and inertia inputs (DART 6.17) (#2885)
  dart/dynamics/Inertia.cpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_InvalidDynamicsInputs.cpp
Due: Dynamics

Add AVBD fixed-joint contact demo
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/tests/integration/test_demos_cycle.py
Due: none

Update EnTT registry allocator benchmark evidence
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Demote duplicate-name rename message to debug verbosity (DART 7)
  dart/common/detail/name_manager.hpp
Due: Common

Keep AVBD contact demo dynamic
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/tests/integration/test_demos_cycle.py
Due: none

Demote duplicate-name rename message to debug verbosity (DART 6.17)
  dart/common/detail/NameManager.hpp
Due: Common

add DART Experimental World Performance (googlecpp) benchmark result for ef082df6f68cd3e53aa8a5033010a075a7436f86
  performance/data.js
Due: none

Test fixed pool block table growth
  tests/unit/common/test_pool_allocator.cpp
Due: none

Record passing EnTT allocator benchmark evidence
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Orient AVBD contact connector visual
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/tests/integration/test_demos_cycle.py
Due: none

Update memory manager handoff for heap guard branch
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Reject non-finite mass and inertia inputs (DART 7)
  dart/dynamics/detail/generic_joint.hpp
  dart/dynamics/inertia.cpp
  tests/integration/dynamics/test_invalid_dynamics_inputs.cpp
  tests/unit/dynamics/test_inertia.cpp
Due: Dynamics

Harden Inertia non-finite moment handling (DART 6.17)
  dart/dynamics/Inertia.cpp
  tests/integration/test_Inertia.cpp
Due: Dynamics

Eliminate baked step heap allocations
  dart/simulation/experimental/compute/variational_integration.cpp
  dart/simulation/experimental/compute/variational_integration.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Document baked step prepare hooks
  dart/simulation/experimental/compute/variational_integration.hpp
  dart/simulation/experimental/compute/world_step_stage.hpp
Due: none

Clamp ODE heightfield extents to prevent collision abort on huge scale (DART 6.17)
  dart/collision/ode/detail/OdeHeightmap-impl.hpp
  tests/integration/test_Collision.cpp
Due: Collision

Record allocator benchmark policy gaps
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

Cover serializer version fallback
  tests/unit/simulation/experimental/world/test_serialization.cpp
Due: none

Tighten vector mapper wrapper dispatch
  dart/simulation/experimental/space/vector_mapper.cpp
Due: none

Use frame-backed EnTT no-growth benchmark policy
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/benchmark/common/bm_allocators_comparative.cpp
Due: none

Update renderer validation demo command
  docs/onboarding/gui-rendering.md
Due: none

Broaden baked World heap guard to rigid contacts
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Collision

Expose memory allocator debugger counters
  CHANGELOG.md
  dart/common/detail/memory_allocator_debugger-impl.hpp
  dart/common/memory_allocator_debugger.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_memory_allocator.cpp
Due: Common

Harden free-list reservation arithmetic
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  tests/unit/common/test_free_list_allocator.cpp
Due: Common

Expose memory manager debug diagnostics
  CHANGELOG.md
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

Expose World ECS memory diagnostics
  CHANGELOG.md
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Expose World memory diagnostics in dartpy
  CHANGELOG.md
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/simulation_experimental/module.cpp
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
Due: none

Cover reserved registry storage reuse
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Skip AVBD demo regression in reduced dartpy builds
  python/tests/integration/test_demos_cycle.py
Due: none

Preserve custom World step pipeline overflow
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Remove stale World pipeline max stage limit
  dart/simulation/experimental/compute/world_step_stage.hpp
Due: none

Gate rigid IPC prewarm on selected solver
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Reuse rigid IPC surface scratch buffers
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Preserve rigid IPC solve dynamics scratch
  dart/simulation/experimental/compute/world_step_stage.cpp
Due: none

Preserve collision query specs during cache rebuild
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Rebuild cached kinematics after frame topology changes
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
  dart/simulation/experimental/compute/world_kinematics_graph.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/frame/frame.cpp
  dart/simulation/experimental/fwd.hpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Accept flat allocator baseline lists
  scripts/check_allocator_comparative_benchmarks.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
