Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Complete DART 6 SIMD integration cleanup
  .github/workflows/ci_simd.yml
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/readthedocs/dart/developer_guide/build.rst
  docs/readthedocs/locales/ko/LC_MESSAGES/build.po
  docs/readthedocs/locales/ko/LC_MESSAGES/dart/developer_guide/build.po
  docs/readthedocs/locales/ko/LC_MESSAGES/developer_guide/build.po
Due: none

Add DART retro workflow to release branch (#3333)
  .claude/commands/dart-retro.md
  .codex/skills/dart-retro/SKILL.md
  .opencode/command/dart-retro.md
  CHANGELOG.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
Due: none

Polish dart-demos UI layout (#3328)
  CHANGELOG.md
  examples/demos/ContactVisualizer.cpp
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/DragForce.cpp
  examples/demos/Inspector.cpp
  examples/demos/Registry.cpp
  examples/demos/Theme.cpp
  examples/demos/main.cpp
  examples/demos/scenes/AddDeleteSkelsScene.cpp
  examples/demos/scenes/HelloWorldScene.cpp
  examples/demos/scenes/Scenes.hpp
Due: none

Rename DART retrospective workflow (#3332)
  .claude/commands/dart-retro.md
  .codex/skills/dart-retro/SKILL.md
  .opencode/command/dart-retro.md
  CHANGELOG.md
  docs/ai/capabilities.json
  docs/ai/components.md
  docs/ai/workflows.md
Due: none

Refresh SIMD cleanup branch point
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
Due: none

Add native capsule primitive pairs (#3321)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/capsule_box.cpp
  dart/collision/native/narrow_phase/capsule_box.hpp
  dart/collision/native/narrow_phase/capsule_sphere.cpp
  dart/collision/native/narrow_phase/capsule_sphere.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_capsule_box.cpp
  tests/unit/collision/native/test_capsule_sphere.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Fix WP-PG.20 handoff guidance
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
Due: none

Refresh SIMD tracker after latest base merge
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
Due: none

WP-PG.20: speed up ODE contact-history bookkeeping (#3329)
  dart/collision/ode/OdeCollisionDetector.cpp
  docs/dev_tasks/dart6_performance_generalization/.gitattributes
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/base-release620-heap-crash.md
  docs/dev_tasks/dart6_performance_generalization/pr-a-crash-investigation.md
  docs/dev_tasks/dart6_performance_generalization/pr-b-pg11-contact-cache.patch
  docs/dev_tasks/dart6_performance_generalization/pr-c-pg31-scratch-retention.patch
Due: Collision

Avoid approximate multi-sphere native conversion
  dart/collision/native/detail/NativeShapeConversion.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Add native convex foundation pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/capsule_capsule.cpp
  dart/collision/native/narrow_phase/capsule_capsule.hpp
  dart/collision/native/narrow_phase/convex_convex.cpp
  dart/collision/native/narrow_phase/convex_convex.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_capsule_capsule.cpp
  tests/unit/collision/native/test_convex_convex.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Keep native cones unsupported
  dart/collision/native/detail/NativeShapeConversion.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Add native convex coverage tests
  tests/unit/collision/native/test_capsule_capsule.cpp
  tests/unit/collision/native/test_convex_convex.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: none

Benchmark native convex collision pairs
  tests/benchmark/unit/bm_native_collision.cpp
Due: none

Update native compound binary check expectation
  tests/unit/collision/test_narrow_phase.cpp
Due: none

Fix release CI profile and format failures
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  scripts/compare_soft_body_performance.py
Due: Common

Fix MSVC composite data template ownership
  dart/common/composite.cpp
  dart/common/detail/composite_data.hpp
Due: Common

Honor enableContact in native sphere-sphere binary checks (#3283)
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  tests/unit/collision/test_narrow_phase.cpp
  tests/unit/collision/test_sphere_sphere.cpp
Due: Collision

Add native convex foundation pairs (#3322)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/capsule_capsule.cpp
  dart/collision/native/narrow_phase/capsule_capsule.hpp
  dart/collision/native/narrow_phase/convex_convex.cpp
  dart/collision/native/narrow_phase/convex_convex.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/benchmark/unit/bm_native_collision.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_capsule_capsule.cpp
  tests/unit/collision/native/test_convex_convex.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Extend soft-body allocation gates
  .claude/commands/dart-resume.md
  .codex/skills/dart-resume/SKILL.md
  .opencode/command/dart-resume.md
  data/skel/soft_cubes.skel
  data/skel/soft_open_chain.skel
  docs/ai/workflows.md
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  docs/readthedocs/community/performance_dashboard.rst
  pixi.toml
  scripts/lint_cmake.py
  tests/integration/test_StepAllocation.cpp
Due: none

Fix release profile and formatter CI failures (#3336)
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  scripts/compare_soft_body_performance.py
Due: Common

Compare soft dynamics thread states
  docs/dev_tasks/dart6_deformable_body_performance/01-baseline-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: none

WP-PG.03: add DART 6 profiling guide
  dart/common/Profile.hpp
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/profiling.md
  pixi.toml
Due: Common

Add soft point-mass gravity equation gate
  dart/dynamics/PointMass.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Fix MSVC composite data template ownership (#3335)
  dart/common/composite.cpp
  dart/common/detail/composite_data.hpp
Due: Common

Retire consolidated demos dev task
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase1.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase2.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase3.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase5.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-cleanup-refs.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-dart7-demos.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-dartpy-bindings.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-examples-inventory.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-gui-capabilities.md
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
  docs/dev_tasks/dart6_consolidated_demos/README.md
  docs/dev_tasks/dart6_consolidated_demos/RESUME.md
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b1.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b2.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b3.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b4.json
  examples/demos/ContactVisualizer.hpp
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/DragForce.hpp
  examples/demos/Inspector.hpp
  examples/demos/Profiler.hpp
  examples/demos/Registry.cpp
  examples/demos/Theme.hpp
  examples/demos/main.cpp
  examples/demos/scenes/BoxesScene.cpp
  examples/demos/scenes/JointConstraintsScene.cpp
  examples/demos/scenes/RigidCubesScene.cpp
  examples/demos/scenes/SleepingScene.cpp
  examples/demos/scenes/VehicleScene.cpp
  examples/demos/scenes/atlas_simbicon/AtlasSimbiconScene.cpp
  examples/demos/scenes/atlas_simbicon/TerminalCondition.hpp
  examples/demos/scenes/human_joint_limits/HumanArmJointLimitConstraint.hpp
  examples/demos/scenes/human_joint_limits/HumanJointLimitsScene.cpp
  examples/demos/scenes/ssik_ik_gui/SsikBridge.hpp
  examples/demos/scenes/tinkertoy/TinkertoyState.hpp
  python/examples/demos/__init__.py
  python/examples/demos/registry.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/atlas_puppet.py
Due: none

Add soft point-mass combined vector gate
  dart/dynamics/PointMass.cpp
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Fix cylinder edge-case collision routing
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Add soft point-mass mass matrix gate
  dart/dynamics/PointMass.cpp
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
