Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Record release-6.20 timing baseline for allocation-hardening task
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_boxes.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_boxes.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_contact_container.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_contact_container.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_empty.json
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/bm_empty.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/boxes_headless.log
  docs/dev_tasks/dart6_simulation_allocation_hardening/baseline/host.txt
Due: none

Add opt-in allocation-site backtrace sampling to the step harness
  tests/integration/AllocationCounting.cpp
  tests/integration/AllocationCounting.hpp
  tests/integration/test_StepAllocation.cpp
Due: none

Eliminate soft SKEL steady-state allocations
  dart/simulation/World.cpp
  tests/integration/CMakeLists.txt
Due: Simulation

Preserve collision result during simulation preparation
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Constraint

Add deformable performance PR evidence
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/benchmark/integration/bm_soft_body.cpp
Due: none

Add native soft stack allocation gate
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  tests/integration/test_StepAllocation.cpp
Due: none

Add soft bodies performance stats widget
  CHANGELOG.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  examples/soft_bodies/main.cpp
Due: none

Restore demo simulation state
  examples/demos/CMakeLists.txt
  examples/demos/scenes/AtlasPuppetScene.cpp
  examples/demos/scenes/HuboPuppetScene.cpp
  examples/demos/scenes/ssik_ik_gui/SsikIkGuiScene.cpp
  examples/demos/scenes/wam_ikfast/WamIkFastScene.cpp
  python/examples/demos/runner.py
Due: none

Track collision group content for simulation preparation
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_StepAllocation.cpp
Due: Simulation

Avoid unused SIMD helper on scalar builds
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Fix writer validation tests under Debug
  tests/integration/io/test_sdf_writer.cpp
  tests/integration/io/test_urdf_writer.cpp
Due: none

Address adversarial review of the verification tooling
  python/dartpy/_scene_dump.py
  python/tests/unit/simulation/test_scene_dump.py
  python/tests/unit/test_trajectory_record_compare.py
  scripts/render_golden_gate.py
Due: none

Mark SIMD-only broadphase helper [[maybe_unused]] for NEON builds
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Fix scalar macOS broadphase build (DART 6 LTS) (#3309)
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Fix Debug writer validation regressions (#3308)
  tests/integration/io/test_sdf_writer.cpp
  tests/integration/io/test_urdf_writer.cpp
Due: none

Improve soft_bodies visualization capture (#3304)
  CHANGELOG.md
  dart/gui/osg/render/SoftMeshShapeNode.cpp
  examples/soft_bodies/main.cpp
Due: none

Preserve binary finite collision short-circuit
  dart/collision/dart/DARTCollisionDetector.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Address phase-2 disabled-contact result handling
  docs/dev_tasks/dart6_dependency_minimization/07-phase2-adapter-scoping.md
Due: none

Document model IO namespace consolidation
  CHANGELOG.md
Due: none

Link model IO changelog entry
  CHANGELOG.md
Due: none

Cover native narrowphase batch dispatch
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: none

Fix simulation preparation CI regressions
  dart/collision/CollisionGroup.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Collision, Constraint

Address phase-2 adapter review refinements
  docs/dev_tasks/dart6_dependency_minimization/07-phase2-adapter-scoping.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 3559967cef86c09b09ca503fbdd6ae301e887b82
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for f91e6d7a3e9512bf9f82f3203daa94adf1d105e9
  performance/dart6/data.js
Due: none

Avoid per-contact skeleton scans in support pass
  dart/simulation/World.cpp
  dart/simulation/World.hpp
Due: Simulation

Document GUI rendering validation lessons
  docs/onboarding/gui-rendering.md
Due: none

Address agent verification review feedback
  python/dartpy/_world_render_bridge.py
  python/tests/unit/test_image_verdict.py
  scripts/capture_py_demo.py
  scripts/image_verdict.py
  scripts/py_demos_smoke.py
  scripts/rerun_trajectory.py
Due: none

Reject uniform image-verdict frames
  python/tests/unit/test_image_verdict.py
  scripts/image_verdict.py
Due: none

Avoid soft contact BVH and allocation regressions
  dart/collision/dart/DARTCollide.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/SoftContactConstraint.cpp
  dart/constraint/SoftContactConstraint.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_StepAllocation.cpp
Due: Collision, Constraint, Simulation

Invalidate simulation mode on collision backend changes
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_World.cpp
Due: Simulation

Address verification review follow-ups
  CHANGELOG.md
  dart/gui/offscreen.cpp
  python/tests/unit/test_rerun_trajectory.py
  python/tests/unit/test_trajectory_record_compare.py
  scripts/rerun_trajectory.py
  scripts/trajectory_record.py
  tests/unit/gui/test_offscreen_renderer.cpp
Due: none

Fix zero-warmup offscreen capture
  CHANGELOG.md
  dart/gui/osg/OffscreenViewer.cpp
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none

Guard soft collision cache casts
  dart/collision/dart/DARTCollide.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Address offscreen capture review follow-ups
  dart/gui/osg/OffscreenViewer.cpp
  python/tests/unit/test_image_verdict.py
  scripts/image_verdict.py
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none

Harden offscreen capture follow-up checks
  dart/gui/osg/OffscreenViewer.cpp
  python/tests/unit/gui/test_osg_offscreen.py
  tests/benchmark/integration/offscreen_capture_smoke.cpp
Due: none
