Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

docs(user-guide): drop hello-world ground so its top sits at z=0
  docs/readthedocs/user_guide/getting_started/hello_dart.md
Due: none

Document resting deactivation PR updates
  CHANGELOG.md
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Cover wildcard and exported legacy globals
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Improve native Dantzig performance coverage
  dart/constraint/BallJointConstraint.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/CylindricalJointConstraint.cpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.hpp
  dart/constraint/DantzigLCPSolver.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/JointLimitConstraint.cpp
  dart/constraint/PGSLCPSolver.cpp
  dart/constraint/PgsBoxedLcpSolver.cpp
  dart/constraint/SoftContactConstraint.cpp
  dart/constraint/WeldJointConstraint.cpp
  dart/lcpsolver/ODELCPSolver.cpp
  dart/lcpsolver/dantzig/DantzigCommon.hpp
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  dart/lcpsolver/dantzig/DantzigLcp.hpp
  dart/lcpsolver/dantzig/DantzigMatrix-impl.hpp
  dart/lcpsolver/dantzig/DantzigMatrix.hpp
  dart/lcpsolver/dantzig/DantzigMisc.cpp
  dart/lcpsolver/dantzig/DantzigMisc.hpp
  dart/lcpsolver/dantzig/lcp.h
  tests/benchmark/unit/CMakeLists.txt
  tests/benchmark/unit/bm_dantzig_lcp.cpp
  tests/unit/lcpsolver/DantzigProblemCases.hpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: Constraint, LCP Solver

Wake resting bodies after support geometry edits
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/ShapeFrame.cpp
  dart/dynamics/ShapeNode.cpp
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Simulation

Match numeric legacy function returns
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Freeze inline legacy namespace functions
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Move Dantzig timing checks out of unit test
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: none

Preserve wake correctness for resting fast path
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Collision, Constraint, Simulation

Cover legacy freeze parser bypasses
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Avoid filter ABI change for wake fix
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
Due: Collision

Refresh deactivation performance notes
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Cover legacy constructors and trailing returns
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

style: clang-format the contact-problem output-clearing comment
  dart/simulation/compute/rigid_body_constraint.cpp
Due: Simulation

Cover legacy binding attrs and inline globals
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Update WP-091 legacy freeze plan state
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Suppress clang typeid diagnostic in solver fast path
  dart/constraint/ConstraintSolver.cpp
Due: Constraint

Fix Dantzig header macro compatibility
  dart/lcpsolver/dantzig/DantzigCommon.hpp
  examples/deprecated_examples/glut_human_joint_limits/HumanArmJointLimitConstraint.cpp
  examples/deprecated_examples/glut_human_joint_limits/HumanLegJointLimitConstraint.cpp
  tests/unit/lcpsolver/CMakeLists.txt
  tests/unit/lcpsolver/test_DantzigHeaderCompatibility.cpp
Due: LCP Solver

Detect multiline legacy member data
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

fix(simulation): eliminate per-step heap allocations in boxed-LCP fallback contact assembly (#3096)
  dart/simulation/compute/rigid_body_constraint.cpp
Due: Simulation

Scope resting contact filtering to solver
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Collision, Constraint, Simulation

Honor unbounded rows in Dantzig fast path
  dart/lcpsolver/dantzig/DantzigLcp.cpp
  tests/unit/lcpsolver/DantzigProblemCases.hpp
Due: LCP Solver

Keep multiline namespace data buffered
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Limit legacy freeze tag scope
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Record chained legacy binding members
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Cover split legacy namespace declarations
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Keep Dantzig boxed solver layout stable
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.hpp
  tests/unit/lcpsolver/test_DantzigNative.cpp
Due: Constraint

Detect attributed legacy namespace functions
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
Due: none

Include signatures in legacy freeze keys
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Use anonymous legacy constructor scan variable
  scripts/check_dart7_legacy_freeze.py
Due: none

Freeze legacy smart pointer macros
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Update pixi lockfile
  pixi.lock
Due: none

Freeze public legacy detail wrappers
  python/tests/unit/test_check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze.py
  scripts/check_dart7_legacy_freeze_baseline.txt
Due: none

Preserve settling fidelity when sleeping
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/Skeleton.cpp
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Constraint, Simulation

add DART 7 World Performance (googlecpp) benchmark result for 1bb5f068b79b56002c6bcda29048fa8dfc76668b
  performance/data.js
Due: none

Invalidate resting cache on filter edits
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Collision, Simulation

Preserve sleeping API and filter semantics
  dart/collision/CollisionFilter.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Collision, Constraint

Repair Alt Linux fmt package bootstrap
  scripts/altlinux.py
Due: none

Disable resting cache for custom filters
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation
