Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Simplify soft contact tangent basis setup
  dart/constraint/SoftContactConstraint.cpp
Due: Constraint

Use fixed scalar soft contact projections
  dart/constraint/SoftContactConstraint.cpp
Due: Constraint

Complete agent simulation verification follow-ups (#3320)
  .claude/skills/dart-verify-sim/SKILL.md
  .codex/skills/dart-verify-sim/SKILL.md
  CHANGELOG.md
  docs/ai/workflows.md
  docs/design/agent_sim_verification.md
  docs/onboarding/agent-sim-verification.md
  docs/plans/083-unified-newton-barrier-multibody.md
  pixi.toml
  python/dartpy/_scene_dump.py
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_scene_dump.py
  python/tests/unit/test_image_ab_round2_packet.py
  python/tests/unit/test_image_ab_study.py
  python/tests/unit/test_scene_diff.py
  python/tests/unit/test_verification_bundle.py
  scripts/image_ab_round2_packet.py
  scripts/image_ab_study.py
  scripts/scene_diff.py
  scripts/verification_bundle.py
Due: none

Format image golden helper for DART 6 LTS (#3323)
  scripts/image_golden.py
Due: none

Add native mesh collision pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  dart/collision/native/narrow_phase/mesh_mesh.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_mesh_mesh.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Expose dartpy.io read skeleton binding
  python/dartpy/CMakeLists.txt
  python/dartpy/__init__.py
  python/dartpy/io/module.cpp
  python/dartpy/io/read.cpp
  python/dartpy/io/read.hpp
  python/dartpy/simulation/module_deformable_io.cpp
  python/stubs/dartpy/io/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/io/test_io_stub_import.py
  python/tests/unit/io/test_read.py
  python/tests/unit/test_check_dartpy_import_layout.py
  scripts/check_dartpy_import_layout.py
Due: none

Delay native factory registration in handoff
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Enable compiler cache discovery in DART 6 Pixi builds
  CHANGELOG.md
  CMakeLists.txt
  cmake/compiler_cache.cmake
  docs/onboarding/building.md
  pixi.lock
  pixi.toml
Due: none

add DART 6 Performance (googlecpp) benchmark result for 8af37f7de45c0576d6ae28b48a35220bbb09c301
  performance/dart6/data.js
Due: none

Refresh native handoff status
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Fix native mesh dispatch review findings
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/test_mesh_mesh.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
Due: Collision

Refresh native handoff base hash
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
Due: none

Sync native collision dashboard status
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Fix native mesh-mesh contact contracts
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  tests/unit/collision/native/test_mesh_mesh.cpp
Due: Collision

List open native collision stack in handoff
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
Due: none

Polish dart-demos UI layout
  examples/demos/ContactVisualizer.cpp
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/DragForce.cpp
  examples/demos/Inspector.cpp
  examples/demos/Theme.cpp
  examples/demos/scenes/AddDeleteSkelsScene.cpp
Due: none

Add hello_world to dart-demos catalog
  examples/demos/Registry.cpp
  examples/demos/scenes/HelloWorldScene.cpp
  examples/demos/scenes/Scenes.hpp
Due: none

Update changelog for dart-demos polish
  CHANGELOG.md
Due: none

Improve soft-body performance GUI and reporting
  dart/gui/osg/PerformanceStatsPanel.cpp
  dart/gui/osg/PerformanceStatsPanel.hpp
  examples/soft_bodies/CMakeLists.txt
  examples/soft_bodies/main.cpp
  scripts/compare_soft_body_performance.py
Due: none

Add session handoff for the native collision port (phase 2) (#3317)
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Bridge native detector to narrow phase (#3319)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/narrow_phase/sphere_box.hpp
  tests/integration/test_Collision.cpp
  tests/integration/test_World.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_sphere_box.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Improve dart-demos debug captures
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/main.cpp
Due: none

Honor compiler cache override requests
  cmake/compiler_cache.cmake
  docs/onboarding/building.md
Due: none

Clear stale compiler cache launchers
  cmake/compiler_cache.cmake
Due: none

docs(dart6-perf): record WP-PG.20 evidence
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

docs(dart6-perf): link WP-PG.20 PR
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Clarify soft-body detector performance reporting
  examples/README.md
  examples/demos/README.md
  scripts/compare_soft_body_performance.py
Due: none

Restore soft example benchmark topology
  data/skel/soft_cubes.skel
  data/skel/soft_open_chain.skel
Due: none

Optimize FCL soft mesh updates
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  scripts/check_soft_body_performance_regressions.py
  scripts/compare_soft_body_performance.py
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for a1871c31f759152d72b17838e670e1379db97a6f
  performance/dart6/data.js
Due: none

Select FCL soft mesh layout by topology
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
Due: Collision

Reuse DART soft-face cache topology
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
