Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Refresh HMM handoff: Taskflow reuse + rigid-IPC bake warm-solve
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: none

PLAN-091: WP-091.20a — split comps::Joint into Model/State/Control components
  dart/simulation/comps/joint.cpp
  dart/simulation/comps/joint.hpp
  dart/simulation/compute/multibody_constraint.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_avbd/rigid_world_contact.hpp
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/frame/frame.cpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/benchmark/simulation/bm_variational_integration.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

PLAN-091: WP-091.20a — split comps::Joint into Model/State/Control components (#3026)
  dart/simulation/comps/joint.cpp
  dart/simulation/comps/joint.hpp
  dart/simulation/compute/multibody_constraint.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_avbd/rigid_world_contact.hpp
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/frame/frame.cpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/benchmark/simulation/bm_variational_integration.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

HMM allocator follow-up: parallel-executor Taskflow reuse + rigid-IPC bake warm-solve (#3025)
  dart/simulation/compute/compute_executor.hpp
  dart/simulation/compute/execution_profile.cpp
  dart/simulation/compute/execution_profile.hpp
  dart/simulation/compute/parallel_executor.cpp
  dart/simulation/compute/parallel_executor.hpp
  dart/simulation/compute/sequential_executor.cpp
  dart/simulation/compute/sequential_executor.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/compute/test_compute_graph.cpp
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: Simulation

PLAN-091: WP-091.20b — split comps::Link into Model/State/Control components
  dart/simulation/body/collision_body.cpp
  dart/simulation/comps/link.hpp
  dart/simulation/compute/multibody_constraint.cpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_avbd/rigid_world_contact.hpp
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/frame/frame.cpp
  dart/simulation/io/auto_serialization.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/io/skeleton_loader.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/link.cpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_cross_family_metrics.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for f292050194cbc22c33af66d3afbbb3dff722ad2b
  performance/data.js
Due: none

Template math::isNan/isInf to avoid allocating on fixed-size matrices
  dart/math/Helpers.hpp
Due: Math

Cache a raw Skeleton pointer in BodyNode for the ABA hot path
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
Due: Dynamics

add DART 7 World Performance (googlecpp) benchmark result for afc1eaf82d632e4f443d35a7e77d4cf2ff5fce37
  performance/data.js
Due: none

PLAN-091: WP-091.20c — split DeformableNodeState into Model/State components
  dart/simulation/body/deformable_body.cpp
  dart/simulation/comps/deformable_body.cpp
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/deformable_scene_io.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Use Eigen allFinite() for the GenericJoint ABA non-finite guards
  dart/dynamics/detail/GenericJoint.hpp
Due: Dynamics

Speed up articulated-body forward dynamics (~18% on BM_Dynamics, bit-exact) (#3028)
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/math/Helpers.hpp
Due: Math, Dynamics

Loosen Issue1184 resting-accuracy tolerance to 2e-3 for cross-platform FP
  tests/regression/test_Issue1184.cpp
Due: none

Add CHANGELOG 6.19.1 entry for the Issue1184 tolerance fix (#3031)
  CHANGELOG.md
Due: none

Eliminate per-pivot heap allocation in ContactConstraint velocity routines
  dart/constraint/ContactConstraint.cpp
Due: Constraint

ci(freebsd): build CMake >= 4.2.3 in the VM (ports ships 3.31)
  scripts/freebsd.py
Due: none

ci(freebsd): provision CMake 4.2.3 + Eigen 5.0 in the VM
  scripts/freebsd.py
Due: none

ci(codeql): free disk space before the C++ build
  .github/workflows/codeql.yml
Due: none

ci(gui-smoke): add Clang stdlib diagnostic step
  .github/workflows/ci_ubuntu.yml
Due: none

ci(gui-smoke): fix Clang std::expected build via concepts-macro override
  .github/workflows/ci_ubuntu.yml
Due: none

Loosen Issue1184 resting-accuracy tolerance for cross-platform FP (#3031)
  CHANGELOG.md
  tests/regression/test_Issue1184.cpp
Due: none

Remove per-pivot heap allocation in ContactConstraint (boxes ~6% faster, bit-exact) (#3033)
  dart/constraint/ContactConstraint.cpp
Due: Constraint

ci(coverage): lower parallelism to avoid hosted-runner OOM
  .github/workflows/ci_ubuntu.yml
Due: none

ci(freebsd): provision Eigen 5.0 in the VM
  scripts/freebsd.py
Due: none

Avoid heap temporary in BodyNode force-aggregation routines
  dart/dynamics/BodyNode.cpp
Due: Dynamics

Avoid heap temporary in BodyNode force-aggregation routines (bit-exact) (#3037)
  dart/dynamics/BodyNode.cpp
Due: Dynamics

ci: avoid duplicate push+PR runs for lint and simd
  .github/workflows/ci_lint.yml
  .github/workflows/ci_simd.yml
Due: none

ci: parallelize the ctest phase, cap job time, stagger cron
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
Due: none

Remove per-step allocations in disturbance check and contact normals
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/Skeleton.cpp
Due: Dynamics, Constraint

add DART 7 World Performance (googlecpp) benchmark result for ee0d6f25753f3eff54e0651c791f6afb428c61d7
  performance/data.js
Due: none

Remove per-step allocations in disturbance check + contact normals (boxes -37.7% allocs, ~1.6% faster, bit-exact) (#3040)
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/Skeleton.cpp
Due: Dynamics, Constraint

ci(debug-tests): cap dartpy Debug build parallelism to stop OOM thrash
  .github/workflows/ci_ubuntu.yml
Due: none

ci: raise Release/Debug Tests timeouts above real runtimes
  .github/workflows/ci_ubuntu.yml
Due: none

ci(debug-tests): split dartpy debug info for faster linking
  python/dartpy/CMakeLists.txt
Due: none

Fix deactivation CI regressions
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: Simulation

Add DART 7 body deactivation
  dart/simulation/body/rigid_body.cpp
  dart/simulation/body/rigid_body.hpp
  dart/simulation/comps/dynamics.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/fwd.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/multibody/multibody.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  dart/simulation/world_options.hpp
  tests/unit/simulation/world/test_deactivation.cpp
Due: Simulation

Add deactivation py-demo scene
  CHANGELOG.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/deactivation_sleeping.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Format DeactivationState component macro
  dart/simulation/comps/dynamics.hpp
  dart/simulation/world.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
