Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Pin Windows CI to the VS 2022 runner
  .github/workflows/ci_windows.yml
Due: none

Summarize rigid workflow phases in review index
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Show rigid workflow phase status
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Let Windows CI use the installed Visual Studio generator
  .github/workflows/ci_windows.yml
  docs/onboarding/building.md
  pixi.toml
Due: none

Explain deferred rigid workflow searches
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show deferred API caveats in review packets
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/tests/unit/test_capture_py_demo.py
  python/tests/unit/test_py_demo_panels.py
  scripts/capture_py_demo.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 1e8fc7a6787fc1d0b4c35f8c6455f7fa30847db8
  performance/data.js
Due: none

Summarize deferred API caveats in review index
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/tests/unit/test_capture_py_demo.py
  scripts/capture_py_demo.py
Due: none

Select the installed Visual Studio generator on Windows
  docs/onboarding/building.md
  pixi.toml
  scripts/select_windows_cmake_generator.py
Due: none

WP-091.1: Record writer-migration follow-up and accurate acceptance status
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

Use the VS2026 generator for Windows latest CI
  .github/workflows/ci_windows.yml
  docs/onboarding/building.md
  pixi.toml
  scripts/select_windows_cmake_generator.py
Due: none

Expose LCP CUDA benchmark packets
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_check_lcp_solver_roster.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Refresh rigid workflow handoff evidence
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
Due: none

Reuse contact-free derivative dynamics terms scratch
  dart/simulation/detail/smooth_jacobians.cpp
  dart/simulation/detail/smooth_jacobians.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Skip static contact correction writes
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Tighten rigid workflow review handoff
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Guard LCP benchmark packet coverage
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route Dantzig scratch through provided allocators
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/lcp.hpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
  dart/simulation/compute/unified_constraint.hpp
  dart/simulation/detail/boxed_lcp_contact.cpp
  dart/simulation/detail/boxed_lcp_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/math/lcp/test_dantzig_solver.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Math, Simulation

Pin LCP demo benchmark README command
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/README.md
  python/tests/unit/test_py_demo_panels.py
Due: none

Guard LCP requirement metadata links
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Guard LCP solver guidance metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route Dantzig validation scratch through allocators
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/pivoting/dantzig_solver.cpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/math/lcp/test_dantzig_solver.cpp
Due: Math

WP-091.1: Wire check-avbd-packets into the lint aggregate too
  pixi.toml
Due: none

Fix Windows VS2026 CI
  .github/workflows/ci_windows.yml
  CHANGELOG.md
  dart/math/lie_group/group_product.hpp
  dart/math/lie_group/group_product_base.hpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/math/lie_group/test_group_product.cpp
Due: Math

Guard LCP advanced parameter metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_check_lcp_solver_roster.py
  python/tests/unit/test_py_demo_panels.py
  scripts/check_lcp_solver_roster.py
Due: none

Require Visual Studio 2026 on Windows
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ci_windows.yml
  .github/workflows/publish_dartpy.yml
  CHANGELOG.md
  CMakeLists.txt
  docs/onboarding/building.md
  docs/readthedocs/locales/ko/LC_MESSAGES/build.po
  pixi.toml
Due: none

Add py-demos GUI fidelity debug scene
  CHANGELOG.md
  docs/onboarding/api-boundary-inventory.md
  python/dartpy/gui/descriptors.cpp
  python/dartpy/gui/viewer.cpp
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/gui_fidelity_debug_visuals.py
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/gui/test_gui_scene.py
  python/tests/unit/test_py_demo_gpu_toggle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Document CMake requirement for VS2026 generator
  docs/onboarding/building.md
Due: none

Route boxed-LCP contact scratch through allocators
  dart/simulation/detail/boxed_lcp_contact.cpp
  dart/simulation/detail/boxed_lcp_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Require CMake 4.2 for Python builds
  pyproject.toml
Due: none

Guard LCP standalone problem metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route boxed-LCP snapshot payloads through scratch
  dart/math/lcp/lcp_validation.hpp
  dart/math/lcp/pivoting/dantzig_solver.cpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/boxed_lcp_contact.cpp
  dart/simulation/detail/boxed_lcp_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Math, Simulation

Guard LCP live packet metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route AVBD fallback build scratch through snapshot allocator
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Guard LCP performance profile metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route contact candidate sweep scratch through allocator
  dart/simulation/detail/deformable_contact/candidate_set.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/contact/test_contact_candidate_set.cpp
Due: Simulation

Guard LCP profile evidence schema metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

WP-091.1: Record AVBD solver identity and relabel contact-scene evidence (#2990)
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/091-architecture-hardening.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/avbd_packet_schema.py
  scripts/check_avbd_packets.py
  tests/test_check_avbd_packets.py
Due: none

PLAN-091: Close WP-091.1 as done (PR #2990)
  docs/plans/091-architecture-hardening.md
  docs/plans/dashboard.md
Due: none

PLAN-091: Harden WS0 packets WP-091.2/.3/.4/.5 for executability
  docs/plans/091-architecture-hardening.md
Due: none
