Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Classify GUI fidelity demo as render-only
  python/tests/unit/test_py_demo_panels.py
Due: none

Fix MSVC group-product static size lookup
  dart/math/lie_group/group_product.hpp
  docs/onboarding/api-boundary-inventory.md
Due: Math

Address rigid workflow PR feedback
  dart/gui/detail/render_context.cpp
  docs/dev_tasks/rigid_body_visual_verification/COMPLETION_AUDIT.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  examples/demos/CMakeLists.txt
  python/examples/demos/scenes/avbd_rigid_breakable_joint.py
Due: none

Pin Windows CI to VS 2022 runner
  .github/workflows/ci_windows.yml
Due: none

add DART 7 World Performance (googlecpp) benchmark result for a122e8e0f3e8a9e5ad04c9b9c36929f686189e97
  performance/data.js
Due: none

Route AVBD rigid-world step fallback through allocator
  dart/simulation/detail/deformable_vbd/avbd_row_inventory.hpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Guard LCP demo command metadata
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Add rigid AVBD motor allocator gates
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Alias replay scratch allocator vectors
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Alias unified constraint scratch vectors
  dart/simulation/compute/unified_constraint.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Document rigid motor replay fallbacks
  python/examples/demos/scenes/rigid_joint_motor_limits.py
Due: none

Alias multibody dynamics scratch vectors
  dart/simulation/compute/multibody_dynamics.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Alias AVBD rigid-world solve scratch vectors
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
Due: Simulation

Guard LCP standalone smoke metadata
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Alias AVBD row-index scratch vectors
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
Due: Simulation

Add large distance spring scratch coverage
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Alias unified constraint problem vectors
  dart/simulation/compute/unified_constraint.hpp
Due: Simulation

Cover LCP default options in dartpy tests
  python/tests/unit/math/test_lcp.py
Due: none

Refresh dartpy stubs for LCP surface
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/constraint.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/math.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Narrow dartpy stub refresh to LCP surface
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/constraint.pyi
  python/stubs/dartpy/gui/__init__.pyi
  python/stubs/dartpy/math.pyi
  python/stubs/dartpy/simulation.pyi
Due: none

Derive LCP parameter stub guard from bindings
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Route batched rigid integration scratch through allocator
  dart/simulation/compute/rigid_body_batch_ops.hpp
  dart/simulation/compute/rigid_body_state_batch.cpp
  dart/simulation/compute/world_step_stage.cpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Guard LCP parameter stub annotations
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Guard LCP API stub exports
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Derive core LCP stub guard from bindings
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Guard LCP enum and function stub exports
  python/tests/unit/test_check_lcp_solver_roster.py
  scripts/check_lcp_solver_roster.py
Due: none

Cover top-level dartpy LCP exports
  python/tests/unit/math/test_lcp.py
Due: none

Guard dartpy LCP solver promotions
  python/tests/unit/math/test_lcp.py
Due: none

Guard LCP demo parameter defaults
  python/tests/unit/test_py_demo_panels.py
Due: none

Guard LCP demo solve route labels
  python/tests/unit/test_py_demo_panels.py
Due: none

Guard LCP demo fastest rows
  python/tests/unit/test_py_demo_panels.py
Due: none

Guard LCP demo solver profile aggregates
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP solver slowest timings
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP smoke solve route metrics
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP representative fastest solvers
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP representative error metrics
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP profile complementarity metric
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP representative slowest solver
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP profile route correctness
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Show LCP detail contract status
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none
