Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add point-point and point-edge Hessian PSD packet parity
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_barrier_friction_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_barrier_friction.cpp
  tests/test_plan083_gpu_barrier_friction_packet.py
  tests/unit/simulation/cuda/test_barrier_friction_kernel_cuda.cpp
Due: none

Checkpoint AVBD angular motor handoff state
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Filter active-set scale LCP benchmarks concretely
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Add DART 7 architecture assessment, PLAN-091 hardening plan, and work-packet harness
  .claude/commands/dart-execute-packet.md
  .claude/commands/dart-new-task.md
  .claude/skills/dart-architecture/SKILL.md
  .codex/skills/dart-architecture/SKILL.md
  .codex/skills/dart-execute-packet/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .opencode/command/dart-execute-packet.md
  .opencode/command/dart-new-task.md
  AGENTS.md
  docs/ai/README.md
  docs/ai/capabilities.json
  docs/ai/north-star.md
  docs/ai/orchestration.md
  docs/ai/verification.md
  docs/ai/workflows.md
  docs/design/README.md
  docs/design/dart7_architecture_assessment.md
  docs/design/simulation_solver_architecture.md
  docs/plans/091-architecture-hardening.md
  docs/plans/README.md
  docs/plans/dashboard.md
  docs/plans/solver-family-intake.md
  docs/readthedocs/architecture.md
Due: none

Record AVBD angular motor validation evidence
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Record HMM iterative solver handoff
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Filter conditioning LCP benchmarks concretely
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Expose contact-gradient route capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/diff_drone_liftoff.py
  python/tests/integration/test_demos_cycle.py
Due: none

Document latest LCP handoff checkpoint
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
Due: none

Document rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Clarify PR description section order
  .claude/commands/dart-manage-pr.md
  .claude/commands/dart-pr.md
  .claude/skills/dart-contribute/SKILL.md
  .codex/skills/dart-contribute/SKILL.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  .opencode/command/dart-manage-pr.md
  .opencode/command/dart-pr.md
  docs/onboarding/contributing.md
Due: none

Add off-diagonal sparse block assembly packet parity
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cpp
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cu
  dart/simulation/compute/cuda/newton_assembly_solve_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/write_newton_assembly_solve_packet.py
  tests/benchmark/simulation/bm_newton_assembly_solve_cuda.cpp
  tests/test_newton_assembly_solve_packet.py
  tests/unit/simulation/cuda/test_newton_assembly_solve_cuda.cpp
Due: Simulation

Require full Dependencies-line verification before packet claim
  .claude/commands/dart-execute-packet.md
  .codex/skills/dart-execute-packet/SKILL.md
  .opencode/command/dart-execute-packet.md
  docs/ai/orchestration.md
Due: none

Reuse AVBD distance spring row scratch
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Filter singular LCP batches concretely
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Record AVBD literal stop handoff
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Filter pivoting LCP sweeps concretely
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Align WS0 sequencing with per-packet dependency contract
  docs/plans/091-architecture-hardening.md
Due: none

Gate dynamic rigid IPC no-growth
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Reject non-finite contact specifications in ContactInverseDynamics
  dart/dynamics/ContactInverseDynamics.cpp
  dart/dynamics/ContactInverseDynamics.hpp
  python/tests/unit/dynamics/test_contact_inverse_dynamics.py
  tests/unit/dynamics/test_ContactInverseDynamics.cpp
Due: Dynamics

Track renderer fidelity debug visuals follow-up
  docs/design/README.md
  docs/dev_tasks/renderer_fidelity_debug_visuals/README.md
  docs/dev_tasks/renderer_fidelity_debug_visuals/RESUME.md
Due: none

Route LCP smoke tests through concrete support
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: none

Expose AVBD related route capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/avbd_rigid_fixed_joint_contact.py
  python/examples/demos/scenes/avbd_rigid_prismatic_motor.py
  python/examples/demos/scenes/avbd_rigid_revolute_motor.py
  python/examples/demos/scenes/avbd_rigid_spherical_breakable_joint.py
  python/tests/integration/test_demos_cycle.py
Due: none

Refresh rigid visual verification handoff
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Drop redundant LCP benchmark family prechecks
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Include the BodyNode holder declaration in the dartpy binding
  python/dartpy/dynamics/ContactInverseDynamics.cpp
  python/tests/unit/dynamics/test_contact_inverse_dynamics.py
Due: none

Use concrete LCP contact registration gates
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Raise the default NNLS iteration cap to 10n
  dart/math/NonNegativeLeastSquares.cpp
  tests/unit/math/test_NonNegativeLeastSquares.cpp
Due: Math

Expose World related route capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/articulated.py
  python/examples/demos/scenes/floating_base.py
  python/tests/integration/test_demos_cycle.py
Due: none

Avoid contact-manifold row builder heap scratch for small AVBD inputs
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: Simulation

Refresh rigid visual verification stop handoff
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
Due: none

Expose LCP scale benchmark metadata
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Expose LCP solver sweep metadata
  CHANGELOG.md
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Add point-triangle candidate mask packet parity
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Reuse AVBD rigid motor row scratch
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Record AVBD stop handoff snapshot
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

Reject negative LCP friction coefficients
  CHANGELOG.md
  dart/math/lcp/lcp_types.hpp
  dart/math/lcp/lcp_validation.hpp
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/tests/unit/math/test_lcp.py
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
  tests/unit/math/lcp/test_lcp_types.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Math

Expose fundamental rigid workflow capture metrics
  CHANGELOG.md
  docs/dev_tasks/rigid_body_visual_verification/PR_DRAFT.md
  docs/dev_tasks/rigid_body_visual_verification/README.md
  docs/dev_tasks/rigid_body_visual_verification/RESUME.md
  docs/plans/103-examples-strategy/rigid-body-visual-verification.md
  python/examples/demos/README.md
  python/examples/demos/scenes/rigid_body_modes.py
  python/examples/demos/scenes/rigid_external_loads.py
  python/examples/demos/scenes/rigid_frame_hierarchy.py
  python/examples/demos/scenes/rigid_free_flight.py
  python/examples/demos/scenes/rigid_kinematic_normal_push.py
  python/examples/demos/scenes/rigid_link_point_loads.py
  python/examples/demos/scenes/rigid_material_mixing.py
  python/examples/demos/scenes/rigid_restitution_ladder.py
  python/examples/demos/scenes/rigid_timestep_sensitivity.py
  python/tests/integration/test_demos_cycle.py
Due: none

Record compacted point-triangle candidate pairs
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cuh
  docs/dev_tasks/unified_newton_barrier_multibody/HANDOFF.md
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/dashboard.md
  scripts/write_plan083_gpu_contact_candidate_packet.py
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
  tests/test_plan083_gpu_contact_candidate_packet.py
  tests/unit/simulation/cuda/test_contact_candidate_filter_cuda.cpp
Due: Simulation

Broaden AVBD private motor persistence axis coverage
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: none
