Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Regenerate FreeBSD CMakeLists patch for gersemi-reformatted source
  tools/freebsd/patches/patch-CMakeLists.txt
Due: none

Regenerate FreeBSD CMakeLists patch for gersemi-reformatted source (#3182)
  tools/freebsd/patches/patch-CMakeLists.txt
Due: none

Fix actuator overrides and ArrowShape mesh metadata
  CHANGELOG.md
  dart/dynamics/ArrowShape.cpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/detail/JointAspect.hpp
  tests/unit/dynamics/test_Joints.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Dynamics

Guard contact constraint reuse by exact type
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Reuse default contact constraints across steps
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Guard generic DART collision transforms
  dart/collision/dart/DARTCollide.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Reuse BodyNode transforms for native identity shapes
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Parallelize default contact constraint rebuilds
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Guard disjoint plane contact dedup skips
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Defer projected plane contact proof after filtering
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Publish filtered plane fast-path contacts
  dart/collision/dart/DARTCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Skip duplicate grid for disjoint plane contacts (#3150)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Reduce default contact build overhead (#3151)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Avoid redundant all-resting state snapshots (#3152)
  dart/simulation/World.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Simulation

Skip redundant default finite-plane filtering (#3153)
  dart/collision/CollisionFilter.cpp
  dart/collision/CollisionFilter.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Cache repeated contact surface lookups (#3154)
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Warm transforms before parallel broadphase
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Parallelize native broadphase entry setup (#3170)
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Cover custom contact group metadata
  tests/integration/test_ConstraintSolver.cpp
Due: none

Reduce native contact overhead in dense scenes (#3171)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstrainedGroup.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision, Constraint

Fast-path translated native broadphase bounds (#3172)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Parallelize default contact surface setup
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Serialize non-default surface parameter fallback
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Precompute non-default surface parameters before reset
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Avoid shared pointer dereference in typeid check
  dart/collision/dart/DARTCollisionDetector.cpp
Due: Collision

Suppress MeshShape binding deprecation warnings
  python/dartpy/dynamics/Shape.cpp
Due: none

Initialize fallback aiScene fields
  dart/dynamics/MeshShape.cpp
Due: Dynamics

Guard fallback aiScene skeleton fields
  cmake/Findassimp.cmake
  dart/CMakeLists.txt
  dart/dynamics/MeshShape.cpp
Due: Dynamics

Detect Assimp scene skeleton fields
  cmake/DARTFindDependencies.cmake
  cmake/Findassimp.cmake
  dart/CMakeLists.txt
  dart/config.hpp.in
  dart/dynamics/MeshShape.cpp
Due: Dynamics

Cover threaded default contact rebuild threshold
  tests/integration/test_ConstraintSolver.cpp
Due: none

Parallelize default contact surface setup (#3183)
  cmake/DARTFindDependencies.cmake
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/config.hpp.in
  dart/constraint/ConstraintSolver.cpp
  dart/dynamics/MeshShape.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  python/dartpy/dynamics/Shape.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Dynamics, Collision, Constraint

Complete #2251 spell-lint: drop temporary skips, fix remaining typos
  .codespellrc
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/constraint/ConstrainedGroup.hpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/Joint.hpp
  dart/dynamics/detail/JointAspect.hpp
  dart/simulation/World.cpp
  tests/integration/test_Collision.cpp
Due: Dynamics, Collision, Constraint, Simulation

Complete #2251 spell-lint: remove temporary skips, fix remaining typos (#3184)
  .codespellrc
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/constraint/ConstrainedGroup.hpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/Joint.hpp
  dart/dynamics/detail/JointAspect.hpp
  dart/simulation/World.cpp
  tests/integration/test_Collision.cpp
Due: Dynamics, Collision, Constraint, Simulation

Close out dart6_backport_audit: record completion + post-gridlock CI resolution
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Close out dart6_backport_audit (effort complete) (#3185)
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Audit docs: don't claim the CI matrix is green before a completed run
  docs/dev_tasks/dart6_backport_audit/02-execution-log.md
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Audit docs: mark the historical backport queue done (address Codex #3186)
  docs/dev_tasks/dart6_backport_audit/README.md
  docs/dev_tasks/dart6_backport_audit/RESUME.md
Due: none

Cache contact pair metadata during constraint build
  dart/constraint/ConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Fast-path FreeJoint root integration
  dart/dynamics/FreeJoint.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Joints.cpp
Due: Dynamics

Update issue 3056 skip-flags evidence
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none
