Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Stabilize ODE capsule contacts (DART 6.18)
  dart/collision/ode/OdeCollisionDetector.cpp
  dart/collision/ode/OdeCollisionDetector.hpp
  dart/collision/ode/OdeCollisionGroup.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_CapsuleGroundContact.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Add fixed-capacity free-list allocator mode (#2892)
  CHANGELOG.md
  dart/common/free_list_allocator.cpp
  dart/common/free_list_allocator.hpp
  dart/common/memory_manager.cpp
  dart/common/memory_manager.hpp
  dart/common/pool_allocator.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world_options.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/common/test_free_list_allocator.cpp
  tests/unit/common/test_memory_manager.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Common

WS6: fix the wheel DART 7 quick-start smoke for the ECS World
  scripts/test_installation.py
Due: none

Regularize rank-deficient closed-loop constraints (DART 6.18)
  dart/constraint/BallJointConstraint.cpp
  dart/constraint/WeldJointConstraint.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_Issue719.cpp
Due: Constraint

Skip ODE contact-history for binary (contactless) queries
  dart/collision/ode/OdeCollisionDetector.cpp
Due: Collision

Regularize rank-deficient closed-loop constraints (DART 7)
  dart/constraint/ball_joint_constraint.cpp
  dart/constraint/weld_joint_constraint.cpp
  tests/integration/CMakeLists.txt
  tests/integration/constraint/test_issue719.cpp
Due: Constraint

Regularize rank-deficient closed-loop constraints (DART 6.18) (#2903)
  dart/constraint/BallJointConstraint.cpp
  dart/constraint/WeldJointConstraint.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_Issue719.cpp
Due: Constraint

Harden ODE contact-history against stale cached contacts
  dart/collision/ode/OdeCollisionDetector.cpp
Due: Collision

add DART Experimental World Performance (googlecpp) benchmark result for 1a5469960c2703accb2762e03fe8a6bb1156dc08
  performance/data.js
Due: none

WS6: register the classic render World in headless dartpy builds
  python/dartpy/dartpy.cpp
  python/stubs/dartpy/gui/__init__.pyi
Due: none

Invalidate replay-restored frame topology
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Preserve AVBD joint breakage in replay
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

WS6: keep the canonical ECS simulation module out of legacy deprecation
  python/dartpy/__init__.py
  python/dartpy/_layout.py
Due: none

WS6: add the canonical dartpy.simulation page to the API docs toctree
  docs/python_api/index.rst
  docs/python_api/modules/simulation.rst
Due: none

Compile out World step profiling when profiling is disabled
  CHANGELOG.md
  dart/simulation/experimental/compute/world_step_profile.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/onboarding/profiling.md
  python/dartpy/simulation_experimental/module.cpp
  tests/unit/simulation/experimental/world/test_world_step_profiling.cpp
Due: none

Keep cached kinematics registry capture stable
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
Due: none

Add EnTT registry allocator benchmark coverage (#2890)
  CHANGELOG.md
  dart/common/detail/stl_allocator-impl.hpp
  dart/common/frame_allocator.cpp
  dart/common/frame_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/onboarding/testing.md
  scripts/check_allocator_comparative_benchmarks.py
  tests/benchmark/CMakeLists.txt
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/test_allocator_comparative_check.py
  tests/unit/common/test_frame_allocator.cpp
  tests/unit/common/test_stl_allocator.cpp
Due: Common

Compile out World profiling state when disabled
  CHANGELOG.md
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/onboarding/profiling.md
  python/dartpy/simulation_experimental/module.cpp
Due: none

Route zero-DOF link contacts through unified solve
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

WS6: add stubs for the promoted dartpy.diff namespace
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/diff.pyi
  python/stubs/dartpy/simulation.pyi
  scripts/generate_stubs.py
Due: none

Guard Python profiling tests for profile-off builds
  python/tests/unit/simulation/test_experimental_world.py
Due: none

WS6: fix Read the Docs for the simulation swap (stub fallback + wrappers)
  docs/readthedocs/dartpy/api/modules/simulation_experimental.rst
Due: none

WS6: complete the Read the Docs simulation fix
  docs/readthedocs/conf.py
  docs/readthedocs/dartpy/api/modules/simulation.rst
  docs/readthedocs/dartpy/python_api_reference.rst
Due: none

Eliminate baked kinematic IPC step heap allocations (#2888)
  CHANGELOG.md
  dart/simulation/experimental/compute/compute_graph.cpp
  dart/simulation/experimental/compute/compute_graph.hpp
  dart/simulation/experimental/compute/parallel_executor.cpp
  dart/simulation/experimental/compute/sequential_executor.cpp
  dart/simulation/experimental/compute/world_kinematics_graph.cpp
  dart/simulation/experimental/compute/world_kinematics_graph.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/frame/frame.cpp
  dart/simulation/experimental/fwd.hpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Add AVBD rigid motor and breakable joint support (#2901)
  CHANGELOG.md
  dart/simulation/experimental/comps/joint.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/io/binary_io.hpp
  dart/simulation/experimental/io/serializer.cpp
  dart/simulation/experimental/multibody/joint.cpp
  dart/simulation/experimental/multibody/joint.hpp
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_rigid_breakable_joint.py
  python/examples/demos/scenes/avbd_rigid_revolute_motor.py
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/simulation/test_experimental_world.py
  python/tests/unit/test_run_performance_dashboard_benchmarks.py
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/simulation/experimental/bm_avbd_rigid_fixed_joint.cpp
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Add experimental World step profiling (#2883)
  AGENTS.md
  CHANGELOG.md
  dart/simulation/experimental/CMakeLists.txt
  dart/simulation/experimental/common/profiling.cpp
  dart/simulation/experimental/common/profiling.hpp
  dart/simulation/experimental/compute/compute_stage_metadata.hpp
  dart/simulation/experimental/compute/world_step_profile.cpp
  dart/simulation/experimental/compute/world_step_profile.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/onboarding/README.md
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/profiling.md
  python/dartpy/simulation_experimental/module.cpp
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  scripts/audit_dart7_promotion_surface.py
  tests/unit/simulation/experimental/common/test_diagnostics.cpp
  tests/unit/simulation/experimental/common/test_diagnostics_profiling.cpp
  tests/unit/simulation/experimental/compute/test_world_step_profile.cpp
  tests/unit/simulation/experimental/world/test_world_step_profiling.cpp
Due: none

WS6: register dartpy.diff in sys.modules so it is importable
  python/dartpy/__init__.py
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for 52683364ae3c89895ab30863419682d4c53cf0d3
  performance/data.js
Due: none

WS6: regenerate stubs and inventory after merging main
  docs/onboarding/api-boundary-inventory.md
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
Due: none

WS6: emit rollout in the generated diff stub when DART_BUILD_DIFF is on
  scripts/generate_stubs.py
Due: none

Gate baked world stage preparation
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Start AVBD articulated endpoint classification
  .claude/commands/dart-plan-update.md
  .codex/skills/dart-plan-update/SKILL.md
  .opencode/command/dart-plan-update.md
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  docs/plans/dashboard.md
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Broaden baked step heap allocation guards (#2899)
  CHANGELOG.md
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  dart/simulation/experimental/compute/multibody_constraint.cpp
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  dart/simulation/experimental/compute/variational_integration.cpp
  dart/simulation/experimental/compute/variational_integration.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/compute/world_step_stage.hpp
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/experimental/world/test_world.cpp
Due: Collision

Add AVBD articulated endpoint demo and benchmark
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/dashboard.md
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/avbd_articulated_endpoint_bridge.py
  tests/benchmark/simulation/experimental/bm_avbd_rigid_fixed_joint.cpp
Due: none

Preflight zero-DOF multibody contact fallback
  CHANGELOG.md
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Invalidate ODE contact history after pose jumps
  dart/collision/ode/OdeCollisionDetector.cpp
  dart/collision/ode/OdeCollisionDetector.hpp
  tests/integration/test_CapsuleGroundContact.cpp
  tests/integration/test_Collision.cpp
  tests/integration/test_Issue719.cpp
Due: Collision

Enable the experimental simulation module in Windows wheels
  .github/workflows/publish_dartpy.yml
Due: none

Add replay timeline to Python demos
  CHANGELOG.md
  dart/gui/detail/application.cpp
  dart/gui/detail/panel.cpp
  dart/gui/detail/ui_frame.cpp
  dart/gui/panel.hpp
  python/dartpy/gui/panel.cpp
  python/examples/README.md
  python/examples/demos/README.md
  python/examples/demos/runner.py
  python/examples/demos/scenes/sx_replay_scrubber.py
  python/stubs/dartpy/gui/__init__.pyi
  python/tests/unit/test_py_demo_panels.py
  tests/unit/gui/test_filament_scene_extraction.cpp
Due: none

Handle incremental ODE pose jumps
  dart/collision/ode/OdeCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
