Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Adopt C++20 source_location for diagnostics (#2559)
  dart/common/detail/logging-impl.hpp
  dart/common/detail/profiler.hpp
  dart/common/logging.hpp
  dart/common/profile.hpp
  dart/simulation/experimental/common/logging.hpp
  tests/unit/common/test_logging.cpp
  tests/unit/common/test_profiler.cpp
  tests/unit/simulation/experimental/common/test_logging.cpp
Due: Common

Adopt C++20 bit and utility helpers (#2558)
  dart/dynamics/ball_joint.cpp
  dart/dynamics/detail/body_node_pool.hpp
  dart/dynamics/free_joint.cpp
  dart/simd/detail/avx/vec_mask.hpp
  dart/simd/detail/avx2/vec_mask.hpp
  dart/simd/detail/avx512/vec_mask.hpp
  dart/simd/detail/neon/vec_mask.hpp
  dart/simd/detail/scalar/vec_mask.hpp
  dart/simd/detail/sse42/vec_mask.hpp
  dart/simd/detail/sve/vec_mask.hpp
  examples/speed_test/main.cpp
  tests/integration/dynamics/test_joints.cpp
  tests/integration/simulation/test_issue410.cpp
  tests/unit/collision/test_bullet_collision_shapes.cpp
  tests/unit/collision/test_convex_mesh_shape_collision.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/constraint/test_motor_constraints.cpp
  tests/unit/dynamics/test_point_cloud_shape.cpp
  tests/unit/dynamics/test_referential_skeleton.cpp
  tutorials/tutorial_wholebody_ik_finished/main.cpp
Due: Dynamics

Adopt C++20 ranges for container builders (#2593)
  dart/dynamics/branch.cpp
  dart/math/lcp/pivoting/lemke_solver.cpp
  dart/simulation/recording.cpp
  tests/benchmark/dynamics/bm_kinematics.cpp
  tests/common/lcpsolver/lcp_test_problems.hpp
Due: Math, Dynamics, Simulation

Adopt C++20 memory utilities (#2590)
  dart/simd/memory.hpp
  tests/unit/simd/test_edge_cases.cpp
Due: none

Avoid jthread in profiling tests
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Adopt C++20 concepts in heightmap helpers (#2582)
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/gui/detail/utils-impl.hpp
  dart/gui/render/heightmap_shape_node.hpp
  dart/gui/utils.hpp
  dart/math/detail/icosphere-impl.hpp
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: Math, Collision

Adopt C++20 standard concepts in numeric helpers
  dart/simd/detail/scalar/operations.hpp
  dart/simd/geometry/batch.hpp
  dart/simd/geometry/isometry3.hpp
  dart/simd/geometry/matrix3x3.hpp
  dart/simd/geometry/matrix4x4.hpp
  dart/simd/geometry/quaternion.hpp
  dart/simd/geometry/vector3.hpp
  dart/simd/geometry/vector4.hpp
Due: none

Adopt C++20 standard concepts in numeric helpers (#2563)
  dart/simd/detail/scalar/operations.hpp
  dart/simd/geometry/batch.hpp
  dart/simd/geometry/isometry3.hpp
  dart/simd/geometry/matrix3x3.hpp
  dart/simd/geometry/matrix4x4.hpp
  dart/simd/geometry/quaternion.hpp
  dart/simd/geometry/vector3.hpp
  dart/simd/geometry/vector4.hpp
Due: none

Use spans for mesh texture coordinates
  dart/gui/render/mesh_shape_node.cpp
Due: none

Use ranges for GUI mesh data conversions
  dart/gui/polyhedron_visual.cpp
  dart/gui/render/mesh_shape_node.cpp
Due: none

Use ranges for polyhedron geometry arrays
  dart/gui/polyhedron_visual.cpp
Due: none

Use ranges for GUI render array updates
  dart/gui/im_gui_handler.cpp
  dart/gui/render/line_segment_shape_node.cpp
  dart/gui/render/point_cloud_shape_node.cpp
Due: none

Use ranges for GUI mesh array conversions
  dart/gui/render/convex_mesh_shape_node.cpp
  dart/gui/render/multi_sphere_shape_node.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Use spans for mesh color channels
  dart/gui/render/mesh_shape_node.cpp
Due: none

Adopt C++20 ranges in GUI data setup
  dart/gui/grid_visual.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/render/point_cloud_shape_node.cpp
Due: none

Use standard algorithms in GUI helpers
  dart/gui/default_event_handler.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Preserve floating-point clamp semantics
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Use ranges for mesh material transparency checks
  dart/gui/render/mesh_shape_node.cpp
Due: none

Use spans for mesh node extraction
  dart/gui/render/mesh_shape_node.cpp
Due: none

Use ranges algorithms in GUI side-effect loops
  dart/gui/drag_and_drop.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Adopt C++20 ranges in GUI data setup (#2625)
  dart/gui/default_event_handler.cpp
  dart/gui/drag_and_drop.cpp
  dart/gui/grid_visual.cpp
  dart/gui/im_gui_handler.cpp
  dart/gui/interactive_frame.cpp
  dart/gui/polyhedron_visual.cpp
  dart/gui/render/convex_mesh_shape_node.cpp
  dart/gui/render/line_segment_shape_node.cpp
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/render/multi_sphere_shape_node.cpp
  dart/gui/render/point_cloud_shape_node.cpp
  dart/gui/render/soft_mesh_shape_node.cpp
Due: none

Adopt C++20 concepts in core helpers
  dart/common/detail/logging-impl.hpp
  dart/math/detail/icosphere-impl.hpp
  dart/math/detail/random-impl.hpp
  dart/math/helpers.hpp
  dart/math/icosphere.hpp
Due: Common, Math

Adopt C++20 concepts in core helpers (#2626)
  dart/common/detail/logging-impl.hpp
  dart/math/detail/icosphere-impl.hpp
  dart/math/detail/random-impl.hpp
  dart/math/helpers.hpp
  dart/math/icosphere.hpp
Due: Common, Math

Use ranges projections in common helpers
  dart/common/detail/cloneable.hpp
  dart/common/detail/factory-impl.hpp
  dart/common/detail/profiler.cpp
Due: Common

Use ranges projections in common helpers (#2628)
  dart/common/detail/cloneable.hpp
  dart/common/detail/factory-impl.hpp
  dart/common/detail/profiler.cpp
Due: Common

Use span views in LCP projection solvers
  dart/math/lcp/projection/apgd_solver.cpp
  dart/math/lcp/projection/pgs_solver.cpp
  dart/math/lcp/projection/tgs_solver.cpp
Due: Math

Use ranges predicates in ODE contact history
  dart/collision/ode/ode_collision_detector.cpp
Due: Collision

Use ranges predicate for friction constraints
  dart/constraint/constraint_solver.cpp
Due: Constraint

Drop risky ODE contact-history ranges view
  dart/collision/ode/ode_collision_detector.cpp
Due: Collision

Use ranges predicates for early-exit scans
  dart/constraint/constraint_solver.cpp
  dart/dynamics/hierarchical_ik.cpp
  dart/simd/detail/math/exp_impl.hpp
  dart/simd/detail/math/sincos_impl.hpp
Due: Dynamics, Constraint

Use value views for skeleton node maps
  dart/dynamics/skeleton.cpp
Due: Dynamics

Use value view for collision child cleanup
  dart/collision/collision_group.cpp
Due: Collision

Use key and value views for map loops
  dart/collision/collision_group.cpp
  dart/collision/detail/collision_group.hpp
  dart/common/composite.cpp
  dart/dynamics/body_node.cpp
Due: Common, Dynamics, Collision

Use key and value views in cleanup loops
  dart/collision/collision_group.cpp
  dart/dynamics/skeleton.cpp
Due: Dynamics, Collision

Use value view in experimental profiling summary
  dart/simulation/experimental/common/profiling.cpp
Due: none

Use value views in profiler and mesh caches
  dart/common/detail/profiler.cpp
Due: Common

Use jthread in threaded tests and benchmarks
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Adopt standard utility helpers in templates
  dart/common/detail/stopwatch-impl.hpp
  dart/simd/detail/scalar/operations.hpp
Due: Common

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
