Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Extend CUDA stack contact evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/cuda/test_lcp_jacobi_batch_cuda.cpp
Due: none

Clarify stack CUDA evidence scope
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Complete PLAN-083 Phase 2 shared solver contracts (#2951)
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  dart/simulation/detail/deformable_contact/continuous_collision_step.hpp
  dart/simulation/detail/newton_barrier/friction_kernel.hpp
  dart/simulation/detail/newton_barrier/line_search.hpp
  dart/simulation/detail/newton_barrier/projected_newton.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/dashboard.md
  scripts/benchmark_packet_utils.py
  scripts/check_phase5_gpu_packet.py
  tests/test_benchmark_packet_utils.py
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Plan Simplicits and PPF solver intake
  docs/plans/083-unified-newton-barrier-multibody.md
  docs/plans/083-unified-newton-barrier-multibody/ipc-variant-consolidation.md
  docs/plans/083-unified-newton-barrier-multibody/ppf-contact-solver-intake.md
  docs/plans/105-simplicits-geometry-agnostic-elastic-solver.md
  docs/plans/README.md
  docs/plans/dashboard.md
  docs/readthedocs/papers.md
Due: none

Extend stack assembly evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Restore allocator split cleanup files
  dart/common/frame_allocator.hpp
  dart/common/free_list_allocator.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/implementation-roadmap.md
  scripts/benchmark_packet_utils.py
  scripts/check_abd_comparison_packet.py
  scripts/write_phase5_cuda_packet.py
  tests/test_benchmark_packet_utils.py
Due: Common

Add Newton-barrier hinge and cone twist constraints
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add Newton-barrier point articulation constraints
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add Newton-barrier bounded distance constraints
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Record PLAN-083 Phase 3 articulation closeout
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: none

Harden articulation range barrier margins
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add Newton-barrier sliding articulation constraints
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add Newton-barrier articulation range barriers
  dart/simulation/detail/newton_barrier/articulation_constraint.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Update PLAN-083 Phase 3 handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/dashboard.md
Due: none

Extend stack solver evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Extend stack solver rows to sixteen
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Restore Newton barrier split files
  dart/simulation/detail/newton_barrier/line_search.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Add Newton-barrier restitution damping diagnostics
  dart/simulation/detail/newton_barrier/restitution_damping.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Record PLAN-083 Phase 4 handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: none

Extend 24-sphere stack solver evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Cover dense rectangular deformable no-growth guard
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Add mixed-domain Newton-barrier coupling contracts
  dart/simulation/detail/newton_barrier/mixed_domain_coupling.hpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

Record PLAN-083 Phase 5 handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
Due: none

Extend 32-sphere stack solver evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
Due: none

Extend boxed LCP production contact guard
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Record stack solver backend build evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Record stack assembly backend build evidence
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for d12ce5f4921b4b79c14dd134fbf88a7ac39f0915
  performance/data.js
Due: none

Cover matrix-free deformable production guard
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Add PLAN-083 CPU scene corpus manifest
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/check_plan083_cpu_scene_corpus.py
  tests/test_plan083_cpu_scene_corpus.py
Due: none

Add PLAN-083 py-demo corpus placeholders
  python/examples/demos/README.md
  python/examples/demos/registry.py
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Record PLAN-083 Phase 6 handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/dashboard.md
Due: none

Extend dense box step evidence to 96 boxes
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Add PLAN-083 GPU parity packet manifest
  docs/plans/083-unified-newton-barrier-multibody/gpu-parity-packet.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  pixi.toml
  scripts/check_plan083_gpu_parity_packet.py
  tests/test_plan083_gpu_parity_packet.py
Due: none

Record PLAN-083 Phase 7 handoff
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/dashboard.md
Due: none

Prime boxed LCP fallback scratch for production islands
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/unified_constraint.cpp
  dart/simulation/compute/unified_constraint.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Extend dense box step horizon to 96 boxes
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
Due: none

Cover mixed deformable production scratch gates
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Add PLAN-083 completion audit
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/check_plan083_completion_audit.py
  tests/test_plan083_completion_audit.py
Due: none

Make PLAN-083 audit test table parsing robust
  tests/test_plan083_completion_audit.py
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
