Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Add affine point-triangle micro-solve diagnostic
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/abd-first-slice-design.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  scripts/check_abd_comparison_packet.py
  tests/benchmark/simulation/bm_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
Due: Simulation

Route rigid integration scratch through allocator
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced pulley CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add reduced umbrella CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Add reduced candy CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Cover articulated generated names after clear
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_world.cpp
Due: none

Cover articulated clear handle invalidation
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_world.cpp
Due: none

Add reduced lying-flat CPU corpus packet
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
Due: none

Keep frame STL bake storage dense
  dart/common/frame_allocator.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Common

Add ABD micro-solve packet counters
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  scripts/check_abd_comparison_packet.py
  tests/benchmark/simulation/bm_affine_body_dynamics.cpp
Due: none

Avoid small AVBD snapshot index-map reserves
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Fix Newton-barrier demo smoke expectations
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/unit/test_py_demo_panels.py
Due: none

Cover AVBD point joint config serialization
  tests/unit/simulation/world/test_serialization.cpp
Due: none

Skip oversized LCP generated slice in Debug CI
  tests/unit/CMakeLists.txt
  tests/unit/math/lcp/test_lcp_generated_coverage.cpp
Due: none

Wire Newton-barrier contracts into rigid IPC runtime (#2970)
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/compute/world_step_stage.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/simulation/contact/test_rigid_ipc_barrier.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route deformable contact candidates through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_contact/candidate_set.hpp
  dart/simulation/world.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/contact/test_contact_candidate_set.cpp
Due: Simulation

Serialize AVBD distance spring configs
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  tests/unit/simulation/world/test_serialization.cpp
Due: Simulation

Retire LCP solver dev-task tracker
  docs/dev_tasks/README.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Retire completed LCP solver dev-task tracker (#2972)
  docs/dev_tasks/README.md
  docs/dev_tasks/lcp_solvers/01-implementation-audit.md
  docs/dev_tasks/lcp_solvers/README.md
  docs/dev_tasks/lcp_solvers/RESUME.md
Due: none

Route projected Newton scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route FEM rest shape scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for bcb21d121802de485d9f8e4bce066fa8cd174a0b
  performance/data.js
Due: none

Route deformable friction scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Use AVBD point-joint row material stiffness
  dart/simulation/compute/variational_integration.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
Due: Simulation

Add AVBD row solver integration and tests (#2967)
  .github/workflows/ci_ubuntu.yml
  dart/simulation/body/contact.hpp
  dart/simulation/comps/joint.hpp
  dart/simulation/compute/multibody_constraint.cpp
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_kinematics_graph.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/avbd_row_inventory.hpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  dart/simulation/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/detail/world_storage.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/joint.hpp
  dart/simulation/multibody/multibody_options.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_constraint.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_step_profiling.cpp
Due: Simulation

Route rigid IPC mixed-domain scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/newton_barrier/mixed_domain_coupling.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Add reduced Newton-barrier corpus evidence packets (#2971)
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  dart/simulation/detail/newton_barrier/change_of_variable.hpp
  dart/simulation/detail/rigid_ipc_barrier.cpp
  dart/simulation/detail/rigid_ipc_barrier.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/abd-first-slice-design.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  python/examples/demos/scenes/plan083_unified_newton_barrier.py
  python/tests/integration/test_plan083_hanging_bridge_smoke.py
  python/tests/unit/test_py_demo_panels.py
  scripts/check_abd_comparison_packet.py
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/CMakeLists.txt
  tests/benchmark/simulation/bm_affine_body_dynamics.cpp
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
  tests/unit/simulation/contact/test_newton_barrier_primitives.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 78299296faa42860587145191a77310bfadb9664
  performance/data.js
Due: none

Route deformable surface CCD scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/self_contact.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Route deformable AVBD metadata scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
Due: Simulation

Cover articulated reset endpoint shape in dartpy
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Add reduced ABD runtime-step packet evidence
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
Due: Simulation

Route VBD contact scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
  tests/unit/simulation/deformable_vbd/test_vbd_combined_descent.cpp
  tests/unit/simulation/deformable_vbd/test_vbd_parallel_block_descent.cpp
Due: Simulation

Cover pair motor reset endpoint shape in dartpy
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  python/tests/unit/simulation/test_world.py
Due: none

Route VBD Chebyshev scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for d38de5cf41254620ed76b2839c5358ac3bd05cdb
  performance/data.js
Due: none

Add reduced ABD two-body runtime packet evidence
  dart/simulation/detail/affine_body_dynamics.cpp
  dart/simulation/detail/affine_body_dynamics.hpp
  docs/dev_tasks/unified_newton_barrier_multibody/README.md
  docs/dev_tasks/unified_newton_barrier_multibody/RESUME.md
  docs/plans/083-unified-newton-barrier-multibody/completion-audit.md
  docs/plans/083-unified-newton-barrier-multibody/cpu-scene-corpus.json
  docs/plans/083-unified-newton-barrier-multibody/paper-deck-manifest.md
  docs/plans/dashboard.md
  pixi.toml
  scripts/write_plan083_cpu_scene_packet.py
  tests/benchmark/simulation/bm_plan083_cpu_scene_corpus.cpp
  tests/test_plan083_cpu_scene_packet.py
  tests/unit/simulation/contact/test_affine_body_dynamics.cpp
Due: Simulation

Route VBD topology scratch through allocator
  CHANGELOG.md
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/block_descent.hpp
  dart/simulation/detail/deformable_vbd/parallel_block_descent.hpp
  dart/simulation/detail/deformable_vbd/stepper.hpp
  docs/dev_tasks/hierarchical_memory_manager/README.md
Due: Simulation

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
