Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Install native legacy headers in reference builds
  CHANGELOG.md
  dart/collision/bullet/CMakeLists.txt
  dart/collision/fcl/CMakeLists.txt
  dart/collision/ode/CMakeLists.txt
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: Collision

Add collision benchmark guard
  CHANGELOG.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
  scripts/check_collision_benchmarks.py
Due: none

Document native collision layer design
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Broaden collision benchmark guard
  CHANGELOG.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
Due: none

Add collision benchmark CI guard
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Add wheel collision isolation check
  CHANGELOG.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
  scripts/verify_wheel_collision_isolation.py
Due: none

Document collision downstream migration path
  dart/collision/bullet/compat/bullet_collision_detector.hpp
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: Collision

Add collision runtime isolation check
  CHANGELOG.md
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  pixi.toml
  scripts/check_collision_runtime_isolation.py
Due: none

Document native collision gz compatibility checkpoint
  CHANGELOG.md
  dart/collision/bullet/compat/bullet_collision_detector.hpp
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/native/aabb.cpp
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  dart/collision/native/narrow_phase/mesh_mesh.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_aabb.cpp
  tests/unit/collision/native/test_collision_world.cpp
  tests/unit/collision/native/test_legacy_compat_facades.cpp
  tests/unit/collision/native/test_plane.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Ignore local AI tool state
  .gitignore
Due: none

Fix native collision contact order for gz
  dart/collision/native/collision_world.cpp
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/native/test_collision_world.cpp
  tests/unit/collision/native/test_cylinder.cpp
  tests/unit/collision/native/test_narrow_phase.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Document native collision architecture blueprint
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Test Filament GUI smoke with GCC and Clang
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  dart/common/diagnostics.hpp
  dart/math/helpers.hpp
Due: Common, Math

Improve native cylinder-box axial cap contacts
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder.cpp
Due: Collision

Document native collision axial cap checkpoint
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Document Filament GUI north-star migration
  docs/dev_tasks/filament_gui/04-migration.md
  docs/dev_tasks/filament_gui/08-north-star-migration.md
  docs/dev_tasks/filament_gui/README.md
Due: none

Document native collision JointDetach diagnostics
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Document native collision architecture gates
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Add Filament G1 example scene
  CHANGELOG.md
  examples/README.md
  examples/filament_gui/README.md
  examples/filament_gui/main.cpp
  examples/g1_puppet/README.md
  scripts/run_cpp_example.py
Due: none

Preserve native cache writeback through facades
  dart/constraint/contact_constraint.cpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/constraint/test_soft_contact_constraint.cpp
Due: Constraint

Document native collision architecture rubric
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Document native collision support-contact diagnostics
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Add G1 IK targets and improve Filament shadows
  CHANGELOG.md
  examples/filament_gui/README.md
  examples/filament_gui/main.cpp
  examples/g1_puppet/README.md
Due: none

Update Filament task CI status
  docs/dev_tasks/filament_gui/03-milestones.md
  docs/dev_tasks/filament_gui/05-testing.md
  docs/dev_tasks/filament_gui/07-completion-audit.md
  docs/dev_tasks/filament_gui/README.md
  docs/dev_tasks/filament_gui/RESUME.md
Due: none

Canonicalize native manifold cache contact order
  dart/collision/dart/dart_collision_detector.cpp
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/test_native_backend.cpp
Due: Collision

Update Filament package status evidence
  docs/dev_tasks/filament_gui/05-testing.md
  docs/dev_tasks/filament_gui/07-completion-audit.md
  docs/dev_tasks/filament_gui/README.md
  docs/dev_tasks/filament_gui/RESUME.md
Due: none

Clarify native collision architecture north star
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/README.md
Due: none

Add public API boundary checks and inventory
  AGENTS.md
  CMakeLists.txt
  cmake/dart_defs.cmake
  dart/simulation/experimental/CMakeLists.txt
  docs/AGENTS.md
  docs/doxygen/Doxyfile.in
  docs/onboarding/README.md
  docs/onboarding/api-boundaries.md
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/api-documentation.md
  docs/onboarding/build-system.md
  docs/onboarding/ci-cd.md
  docs/onboarding/code-style.md
  docs/onboarding/compatibility-policy.md
  docs/onboarding/python-bindings.md
  docs/readthedocs/dart/user_guide/api_boundaries.rst
  docs/readthedocs/index.rst
  pixi.toml
  scripts/check_api_boundaries.py
  scripts/check_api_boundaries_allowlist.txt
  scripts/generate_api_boundary_inventory.py
Due: none

Stabilize native plane-like box cylinder support
  CHANGELOG.md
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/constraint/test_constraint_solver.cpp
Due: Collision

Stabilize native gz simulation features
  CHANGELOG.md
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  docs/dev_tasks/native_collision/01-design.md
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/native/test_mesh_mesh.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Add native compatibility package smoke
  docs/dev_tasks/native_collision/02-milestones.md
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/05-downstream-migration.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  docs/dev_tasks/native_collision/smoke/native_compat_package/CMakeLists.txt
  docs/dev_tasks/native_collision/smoke/native_compat_package/main.cpp
Due: none

Record native collision benchmark guard evidence
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Add native collision completion audit
  docs/dev_tasks/native_collision/06-completion-audit.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Record native collision PR evidence gap
  docs/dev_tasks/native_collision/06-completion-audit.md
Due: none

Stabilize optional libccd test detection
  cmake/dart_test_libccd.cmake
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/06-completion-audit.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Clean up native collision shape taxonomy
  dart/collision/native/shapes/shape.hpp
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/04-reference-gap-analysis.md
  docs/dev_tasks/native_collision/06-completion-audit.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
  tests/unit/collision/native/test_shapes.cpp
Due: Collision

Fix native shape taxonomy validation
  dart/gui/vsg/geometry_builders.cpp
  docs/dev_tasks/native_collision/03-evidence-gates.md
  docs/dev_tasks/native_collision/06-completion-audit.md
  docs/dev_tasks/native_collision/README.md
  docs/dev_tasks/native_collision/RESUME.md
Due: none

Refresh native collision audit state wording
  docs/dev_tasks/native_collision/06-completion-audit.md
Due: none

Document built-in collision architecture
  docs/dev_tasks/native_collision/06-completion-audit.md
  docs/dev_tasks/native_collision/README.md
  docs/onboarding/README.md
  docs/onboarding/ai-tools.md
  docs/onboarding/architecture.md
  docs/onboarding/build-system.md
  docs/onboarding/dynamics.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
