Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Adopt C++20 ranges in GUI scene nodes
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/viewer.cpp
  dart/gui/world_node.cpp
Due: none

Adopt C++20 size and allocation helpers (#2565)
  dart/constraint/constraint_solver.cpp
  dart/dynamics/mesh_shape.cpp
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  examples/lcp_physics/main.cpp
  tests/benchmark/common/bm_allocators_comparative.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/integration/io/test_mjcf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_urdf_parser.cpp
  tests/integration/optimization/test_inverse_kinematics.cpp
  tests/unit/common/test_resource.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/dynamics/test_skeleton_properties.cpp
  tests/unit/math/lcp/test_lcp_comparison_harness.cpp
  tests/unit/math/test_convhull.cpp
Due: Math, Dynamics, Constraint

Adopt C++20 type predicates in core helpers
  dart/common/detail/lockable_reference-impl.hpp
  dart/common/detail/logging-impl.hpp
  dart/common/detail/stopwatch-impl.hpp
  dart/constraint/detail/constraint_solver-impl.hpp
  dart/dynamics/detail/basic_node_manager.hpp
  dart/dynamics/detail/body_node.hpp
  dart/dynamics/detail/meta_skeleton-impl.hpp
  dart/dynamics/detail/skeleton.hpp
  dart/math/helpers.hpp
  dart/simulation/detail/world-impl.hpp
  dart/simulation/experimental/common/type_list.hpp
  dart/simulation/experimental/io/auto_serialization.hpp
  dart/simulation/experimental/space/auto_mapper.hpp
  tests/unit/math/test_convhull.cpp
Due: Common, Math, Dynamics, Constraint, Simulation

Adopt C++20 comparison utilities
  dart/dynamics/ball_joint.cpp
  dart/dynamics/detail/generic_joint.hpp
  dart/dynamics/free_joint.cpp
  dart/dynamics/hierarchical_ik.cpp
  dart/dynamics/ik_fast.cpp
  dart/dynamics/mesh_shape.cpp
  dart/dynamics/meta_skeleton.cpp
  dart/dynamics/skeleton.cpp
  dart/dynamics/soft_body_node.cpp
  dart/math/optimization/problem.cpp
  dart/simulation/experimental/space/vector_mapper.cpp
  dart/simulation/world.cpp
  examples/atlas_simbicon/state.cpp
  tests/integration/dynamics/test_skeleton.cpp
  tests/unit/dynamics/test_generic_joints.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
Due: Math, Dynamics, Simulation

Adopt C++20 signed sizes in examples and tests
  examples/atlas_puppet/main.cpp
  examples/hubo_puppet/main.cpp
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/integration/dynamics/dynamics_test_fixture.cpp
  tests/integration/dynamics/test_forward_kinematics.cpp
  tests/integration/dynamics/test_meta_skeleton.cpp
  tests/integration/simulation/test_world.cpp
  tests/unit/dynamics/test_meta_skeleton.cpp
Due: none

Adopt C++20 ranges for MJCF error aggregation
  dart/utils/mjcf/detail/actuator.cpp
  dart/utils/mjcf/detail/asset.cpp
  dart/utils/mjcf/detail/body.cpp
  dart/utils/mjcf/detail/body_attributes.cpp
  dart/utils/mjcf/detail/default.cpp
  dart/utils/mjcf/detail/equality.cpp
  dart/utils/mjcf/detail/error.hpp
  dart/utils/mjcf/detail/geom.cpp
  dart/utils/mjcf/detail/geom_attributes.cpp
  dart/utils/mjcf/detail/inertial.cpp
  dart/utils/mjcf/detail/joint.cpp
  dart/utils/mjcf/detail/mesh.cpp
  dart/utils/mjcf/detail/mujoco_model.cpp
  dart/utils/mjcf/detail/site.cpp
  dart/utils/mjcf/detail/utils.cpp
  dart/utils/mjcf/detail/utils.hpp
  dart/utils/mjcf/detail/weld.cpp
  dart/utils/mjcf/detail/worldbody.cpp
Due: none

Adopt C++20 ranges in URDF and SDF parsers
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
Due: none

Adopt C++20 concepts in heightmap helpers
  dart/collision/bullet/bullet_collision_detector.cpp
  dart/dynamics/detail/heightmap_shape-impl.hpp
  dart/gui/detail/utils-impl.hpp
  dart/gui/render/heightmap_shape_node.hpp
  dart/gui/utils.hpp
  dart/math/detail/icosphere-impl.hpp
Due: Math, Dynamics, Collision

Adopt C++20 concepts in SIMD templates
  dart/simd/detail/math/constants.hpp
  dart/simd/detail/scalar/operations.hpp
  dart/simd/dynamic/matrix.hpp
  dart/simd/dynamic/vector.hpp
  dart/simd/geometry/batch.hpp
  dart/simd/geometry/isometry3.hpp
  dart/simd/geometry/matrix3x3.hpp
  dart/simd/geometry/matrix4x4.hpp
  dart/simd/geometry/quaternion.hpp
  dart/simd/geometry/vector3.hpp
  dart/simd/geometry/vector4.hpp
  tests/unit/simd/test_math.cpp
  tests/unit/simd/test_operations_scalar.cpp
  tests/unit/simd/test_vec_scalar.cpp
Due: none

Adopt C++20 ranges algorithms in utility code
  dart/common/uri.cpp
  dart/utils/composite_resource_retriever.cpp
  dart/utils/mesh_loader.hpp
  examples/speed_test/main.cpp
  tests/integration/io/test_mjcf_parser.cpp
  tests/integration/io/test_sdf_parser.cpp
  tests/integration/io/test_skel_parser.cpp
  tests/unit/math/lcp/test_lcp_validation_and_solvers.cpp
Due: Common

Adopt C++20 signed size utilities
  dart/dynamics/inverse_kinematics.cpp
  dart/math/optimization/gradient_descent_solver.cpp
  tests/unit/dynamics/test_linkage.cpp
  tests/unit/dynamics/test_skeleton_accessors.cpp
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
  tests/unit/math/optimization/test_gradient_descent_solver.cpp
Due: Math, Dynamics

Adopt C++20 source_location for diagnostics
  dart/common/detail/logging-impl.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/common/logging.hpp
  dart/common/profile.hpp
  dart/simulation/experimental/common/logging.hpp
Due: Common

Add source location diagnostic coverage
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/simulation/experimental/common/logging.hpp
  tests/unit/common/test_logging.cpp
  tests/unit/common/test_profiler.cpp
  tests/unit/simulation/experimental/common/test_logging.cpp
Due: Common

Adopt C++20 jthread in threaded tests
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/integration/utils/test_signal.cpp
  tests/unit/common/test_profile.cpp
  tests/unit/common/test_profiler.cpp
Due: none

Adopt C++20 memory utilities
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/simd/memory.hpp
  tests/unit/simd/test_edge_cases.cpp
Due: Math

Adopt C++20 iota views in LCP solvers
  dart/math/lcp/other/shock_propagation_solver.cpp
  dart/math/lcp/projection/bgs_solver.cpp
  dart/math/lcp/projection/blocked_jacobi_solver.cpp
Due: Math

Adopt C++20 using enum in switch helpers
  dart/common/local_resource.cpp
  dart/common/memory_manager.cpp
  dart/dynamics/detail/planar_joint_aspect.cpp
  dart/dynamics/detail/translational_joint2_d_aspect.cpp
  dart/dynamics/euler_joint.cpp
  dart/dynamics/planar_joint.cpp
  dart/io/read.cpp
  dart/math/lcp/lcp_types.cpp
  dart/utils/xml_helpers.cpp
  examples/unified_loading/main.cpp
Due: Common, Math, Dynamics, I/O

Adopt C++20 ranges for container builders
  dart/dynamics/branch.cpp
  dart/math/lcp/pivoting/lemke_solver.cpp
  dart/simulation/recording.cpp
  tests/benchmark/dynamics/bm_kinematics.cpp
  tests/common/lcpsolver/lcp_test_problems.hpp
Due: Math, Dynamics, Simulation

Adopt C++20 ranges in mesh helpers
  dart/math/detail/geometry-impl.hpp
  dart/math/detail/polygon_mesh-impl.hpp
  dart/math/detail/tri_mesh-impl.hpp
Due: Math

Adopt C++20 ranges in collision constraints
  dart/collision/dart/dart_collision_detector.cpp
  dart/collision/fcl/fcl_collision_detector.cpp
  dart/constraint/constraint_solver.cpp
  dart/constraint/soft_contact_constraint.cpp
Due: Collision, Constraint

Adopt C++20 ranges in GUI render helpers
  dart/gui/im_gui_handler.cpp
  dart/gui/render/line_segment_shape_node.cpp
  dart/gui/render/multi_sphere_shape_node.cpp
  dart/gui/render/point_cloud_shape_node.cpp
  dart/gui/support_polygon_visual.cpp
Due: none

Adopt C++20 ranges in remaining LCP solvers
  dart/math/lcp/newton/boxed_semi_smooth_newton_solver.cpp
  dart/math/lcp/newton/minimum_map_newton_solver.cpp
  dart/math/lcp/other/admm_solver.cpp
  dart/math/lcp/other/mprgp_solver.cpp
  dart/math/lcp/other/sap_solver.cpp
Due: Math

Adopt C++20 ranges in dynamics core loops
  dart/dynamics/group.cpp
  dart/dynamics/inertia.cpp
  dart/dynamics/point_mass.cpp
  dart/dynamics/weld_joint.cpp
Due: Dynamics

Adopt C++20 ranges in common math helpers
  dart/common/detail/profiler.cpp
  dart/common/pool_allocator.cpp
  dart/math/detail/random-impl.hpp
Due: Common, Math

Adopt C++20 ranges in dynamics traversal helpers
  dart/dynamics/chain.cpp
  dart/dynamics/node.cpp
  dart/dynamics/referential_skeleton.cpp
Due: Dynamics

Adopt C++20 ranges in utility parsing helpers
  dart/math/geometry.hpp
  dart/utils/file_info_world.cpp
  dart/utils/sdf/detail/sdf_helpers.cpp
  dart/utils/sdf/sdf_parser.cpp
  dart/utils/skel_parser.cpp
  dart/utils/urdf/urdf_parser.cpp
  dart/utils/xml_helpers.cpp
Due: Math

Adopt C++20 ranges in math test helpers
  tests/benchmark/math/bm_helpers.cpp
  tests/common/lcpsolver/lcp_test_harness.hpp
  tests/common/lcpsolver/lcp_test_problems.hpp
  tests/helpers/gtest_utils.hpp
  tests/unit/math/lcp/test_dantzig_vs_ode.cpp
  tests/unit/math/lcp/test_lcp_newton_solvers.cpp
  tests/unit/math/lcp/test_lcp_projection_solvers.cpp
  tests/unit/math/lcp/test_lcp_test_problems.cpp
  tests/unit/math/test_math.cpp
  tests/unit/math/test_polygon_mesh.cpp
Due: none

Adopt C++20 ranges in example and integration tests
  examples/human_joint_limits/human_arm_joint_limit_constraint.cpp
  examples/human_joint_limits/human_leg_joint_limit_constraint.cpp
  examples/soft_bodies/main.cpp
  tests/integration/dynamics/test_atlas_ik.cpp
  tests/integration/dynamics/test_soft_dynamics.cpp
  tests/integration/utils/test_aspect.cpp
  tests/integration/utils/test_concurrency.cpp
  tests/integration/utils/test_frames.cpp
  tests/unit/dynamics/test_body_node_external_force.cpp
  tests/unit/dynamics/test_joint_command.cpp
  tests/unit/dynamics/test_multi_sphere_convex_hull_shape.cpp
  tests/unit/dynamics/test_skeleton_properties.cpp
  tests/unit/dynamics/test_soft_body_node.cpp
  tests/unit/dynamics/test_soft_mesh_shape.cpp
Due: none

Adopt C++20 ranges in tutorials and examples
  examples/atlas_simbicon/controller.cpp
  examples/atlas_simbicon/terminal_condition.cpp
  examples/g1_puppet/main.cpp
  examples/hybrid_dynamics/main.cpp
  examples/rigid_shapes/main.cpp
  examples/simulation_event_handler/main.cpp
  examples/simulation_event_handler/simulation_event_handler.cpp
  examples/tinkertoy/tinkertoy_world_node.hpp
  examples/wam_ikfast/helpers.cpp
  examples/wam_ikfast/input_handler.cpp
  tutorials/tutorial_biped/main.cpp
  tutorials/tutorial_biped_finished/main.cpp
  tutorials/tutorial_collisions/main.cpp
  tutorials/tutorial_collisions_finished/main.cpp
  tutorials/tutorial_multi_pendulum/main.cpp
  tutorials/tutorial_multi_pendulum_finished/main.cpp
Due: none

Adopt C++20 ranges and concepts in helpers
  dart/simd/eigen/interop.hpp
  dart/simulation/experimental/io/serializer.hpp
  python/dartpy/common/eigen_utils.hpp
  python/dartpy/common/repr.hpp
  tests/unit/common/test_lockable_reference.cpp
  tests/unit/constraint/test_constraint_solver.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
Due: none

Adopt C++20 ranges in remaining examples
  examples/biped_stand/main.cpp
  examples/box_stacking/main.cpp
  examples/boxes/main.cpp
  examples/heightmap/main.cpp
  examples/joint_constraints/controller.cpp
  examples/operational_space_control/main.cpp
  examples/rigid_chain/main.cpp
  examples/rigid_loop/main.cpp
Due: none

Adopt C++20 using enum in remaining switches
  dart/dynamics/ball_joint.hpp
  dart/dynamics/euler_joint.hpp
  dart/gui/grid_visual.cpp
  dart/simulation/experimental/comps/joint.hpp
  dart/utils/mjcf/mjcf_parser.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: Dynamics

Adopt C++20 helpers in factory templates
  dart/common/detail/factory-impl.hpp
  dart/common/factory.hpp
Due: Common

Adopt C++20 helpers in legacy tests
  examples/atlas_simbicon/state_machine.cpp
  tests/unit/collision/test_dart_collide.cpp
  tests/unit/constraint/test_joint_limit_constraint.cpp
Due: none

Simplify primitive shape math helpers
  dart/dynamics/box_shape.cpp
  dart/dynamics/cone_shape.cpp
  dart/dynamics/cylinder_shape.cpp
  dart/dynamics/ellipsoid_shape.cpp
  dart/dynamics/sphere_shape.cpp
  dart/simd/detail/neon/vec.hpp
Due: Dynamics

Adopt std::format in common helpers
  dart/common/detail/name_manager.hpp
  dart/common/resource_retriever.cpp
  dart/utils/http_resource_retriever.cpp
Due: Common

Adopt std::format in library helpers
  dart/common/detail/profiler.cpp
  dart/dynamics/detail/body_node.hpp
  dart/dynamics/skeleton.cpp
  dart/gui/render/mesh_shape_node.cpp
  dart/gui/viewer.cpp
  dart/simulation/experimental/io/binary_io.cpp
  dart/utils/mjcf/detail/body_attributes.cpp
  dart/utils/mjcf/detail/geom.cpp
  dart/utils/mjcf/mjcf_parser.cpp
  dart/utils/skel_parser.cpp
  examples/free_joint_cases/main.cpp
  examples/lcp_physics/main.cpp
Due: Common, Dynamics

Adopt std::format in dartpy repr bindings
  python/dartpy/collision/collision_option.cpp
  python/dartpy/collision/collision_result.cpp
  python/dartpy/dynamics/body_node.cpp
  python/dartpy/dynamics/chain.cpp
  python/dartpy/dynamics/degree_of_freedom.cpp
  python/dartpy/dynamics/inverse_kinematics.cpp
  python/dartpy/dynamics/joint.cpp
  python/dartpy/dynamics/linkage.cpp
  python/dartpy/dynamics/skeleton.cpp
  python/dartpy/simulation/world.cpp
Due: none

Adopt std::format in test helpers
  tests/integration/dynamics/test_name_management.cpp
  tests/integration/dynamics/test_skeleton.cpp
  tests/integration/utils/test_concurrency.cpp
  tests/unit/common/test_local_resource.cpp
  tests/unit/common/test_local_resource_retriever.cpp
  tests/unit/dynamics/test_body_node_derivatives.cpp
  tests/unit/dynamics/test_body_node_properties.cpp
  tests/unit/dynamics/test_body_node_ptr.cpp
  tests/unit/dynamics/test_linkage.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_meta_skeleton.cpp
  tests/unit/utils/test_file_info_dof.cpp
  tests/unit/utils/test_http_resource_retriever.cpp
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
