Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

add DART 6 Performance (googlecpp) benchmark result for 2ba7364b79ecc0aa7a313d2c53d5f7b58099c0df
  performance/dart6/data.js
Due: none

Route native soft fallback through cached DART objects
  CHANGELOG.md
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  docs/dev_tasks/dart6_deformable_body_performance/05-native-collision-deformable-lane.md
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  scripts/compare_soft_body_performance.py
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Optimize native soft fallback dispatch
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/constraint/ConstraintSolver.cpp
Due: Collision, Constraint

Seed matrix-free contact warm starts
  dart/constraint/BoxedLcpConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Make lint formatting skip generated worktrees
  pixi.toml
  scripts/lint_cmake.py
Due: none

Fallback when matrix-free contact solve stalls
  dart/constraint/BoxedLcpConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Reject mixed FreeJoint actuator overrides
  dart/constraint/BoxedLcpConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Normalize soft SKEL fragment counts
  data/skel/soft_cubes.skel
  data/skel/soft_open_chain.skel
Due: none

Tighten native soft fallback dispatch
  dart/collision/native/NativeCollisionDetector.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Tighten native soft fallback hot paths
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/broad_phase/BruteForce.cpp
  dart/collision/native/broad_phase/BruteForce.hpp
  tests/unit/collision/native/test_brute_force.cpp
Due: Collision

WP-PG.14: add opt-in matrix-free contact LCP (#3361)
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  examples/contact_benchmark/main.cpp
  python/dartpy/constraint/BoxedLcpConstraintSolver.cpp
  python/tests/unit/constraint/test_constraint.py
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Update performance generalization handoff
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Record deformable performance handoff
  docs/dev_tasks/dart6_deformable_body_performance/06-pr-evidence.md
  docs/dev_tasks/dart6_deformable_body_performance/HANDOFF.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

Refresh native collision dependency handoff
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/README.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 91c158fc3e51ad96d605093023c085fa2ed1c9f4
  performance/dart6/data.js
Due: none

Bound coverage simulation long-pole tests
  CHANGELOG.md
  tests/unit/simulation/CMakeLists.txt
Due: none

Validate native collision query shapes
  CHANGELOG.md
  dart/simulation/world.cpp
Due: Simulation

Record deformable lane reunification and decisions
  docs/dev_tasks/dart6_deformable_body_performance/HANDOFF.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/dev_tasks/dart6_deformable_body_performance/decisions.md
Due: none

Fix dartpy DegreeOfFreedom ownership in getDofs bindings
  python/dartpy/dynamics/BodyNode.cpp
  python/dartpy/dynamics/JacobianNode.cpp
  python/dartpy/dynamics/ReferentialSkeleton.cpp
  python/dartpy/dynamics/Skeleton.cpp
  python/tests/unit/dynamics/test_degree_of_freedom_ownership.py
Due: none

Bind NativeCollisionDetector in dartpy
  python/dartpy/collision/NativeCollisionDetector.cpp
  python/tests/unit/collision/test_native_collision_detector.py
Due: none

Add DART-vs-MuJoCo comparison benchmark harness
  scripts/mujoco_comparison/README.md
  scripts/mujoco_comparison/common.py
  scripts/mujoco_comparison/dart_runner.py
  scripts/mujoco_comparison/gen_scenes.py
  scripts/mujoco_comparison/mujoco_runner.py
  scripts/mujoco_comparison/run_comparison.py
Due: none

Add mujoco pixi environment for cross-engine benchmarks
  pixi.lock
  pixi.toml
Due: none

Add AABB-tree broadphase to the native collision detector
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/broad_phase/AabbTree.cpp
  dart/collision/native/broad_phase/AabbTree.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_aabb_tree.cpp
Due: Collision

Keep harness timed-loop telemetry symmetric across engines
  scripts/mujoco_comparison/dart_runner.py
  scripts/mujoco_comparison/mujoco_runner.py
Due: none

Support stacked hinge/slide joint compositions in the MJCF parser
  dart/utils/mjcf/MjcfParser.cpp
  tests/integration/test_MjcfParser.cpp
Due: none

Refresh perf/dep-min dev-task docs with the 2026-07-10 evidence cycle
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/08-phase5-facade-decision.md
  docs/dev_tasks/dart6_dependency_minimization/HANDOFF.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/08-mujoco-comparison-lane.md
  docs/dev_tasks/dart6_performance_generalization/README.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
Due: none

Fix dartpy DegreeOfFreedom ownership in getDofs bindings (#3366)
  python/dartpy/dynamics/BodyNode.cpp
  python/dartpy/dynamics/JacobianNode.cpp
  python/dartpy/dynamics/ReferentialSkeleton.cpp
  python/dartpy/dynamics/Skeleton.cpp
  python/tests/unit/dynamics/test_degree_of_freedom_ownership.py
Due: none

Prune excluded coverage capture inputs
  CHANGELOG.md
  scripts/coverage_report.py
  tests/test_coverage_report.py
Due: none
