Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Preserve native mesh contact triangle IDs
  CHANGELOG.md
  dart/collision/dart/dart_collision_group.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Keep skeleton dynamics view timestep live
  dart/dynamics/detail/skeleton_dynamics_view.hpp
  tests/unit/dynamics/test_articulated_dynamics_algorithms.cpp
Due: Dynamics

Raise headless core coverage above 95 percent
  CHANGELOG.md
  dart/dynamics/detail/inverse_kinematics_ptr.hpp
  dart/dynamics/shared_library_ik_fast.cpp
  docs/onboarding/testing.md
  pixi.toml
  tests/unit/dynamics/test_body_node_derivatives.cpp
  tests/unit/dynamics/test_generic_joints.cpp
  tests/unit/dynamics/test_heightmap_shape.cpp
  tests/unit/dynamics/test_inverse_kinematics.cpp
  tests/unit/dynamics/test_mesh_shape.cpp
  tests/unit/dynamics/test_point_cloud_shape.cpp
  tests/unit/dynamics/test_zero_dof_joint.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
  tests/unit/math/lcp/test_pivot_matrix.cpp
Due: Dynamics

Restore legacy collision forward aliases
  dart/collision/fwd.hpp
  tests/unit/collision/test_legacy_compat_facades.cpp
Due: Collision

Link native collision target from dart
  dart/CMakeLists.txt
  dart/collision/dart/CMakeLists.txt
  scripts/audit_collision_compat_facades.py
Due: Collision

Apply torque in experimental rigid-body integration
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Use native raycast from legacy collision facades
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  scripts/audit_collision_compat_facades.py
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Let VSG GUI build and tests stand alone
  .github/workflows/ci_ubuntu.yml
  dart/gui/CMakeLists.txt
Due: none

Avoid non-exported ZeroDofJoint test calls
  tests/unit/dynamics/test_zero_dof_joint.cpp
Due: none

Advertise native collision in pkg-config
  dart/CMakeLists.txt
  scripts/audit_collision_compat_facades.py
Due: none

Export ZeroDofJoint symbols on Windows
  CHANGELOG.md
  dart/dynamics/zero_dof_joint.hpp
  tests/unit/dynamics/test_zero_dof_joint.cpp
Due: Dynamics

Build VSG unit test targets in CI
  .github/workflows/ci_ubuntu.yml
Due: none

Fix lock rollback in MultiLockableReference try_lock
  CHANGELOG.md
  dart/common/detail/lockable_reference-impl.hpp
  tests/unit/common/test_lockable_reference.cpp
Due: Common

Use size_t for VSG screenshot buffer math
  dart/gui/vsg/simple_viewer.cpp
Due: none

Refactor articulated dynamics through internal algorithms (#2663)
  dart/dynamics/body_node.hpp
  dart/dynamics/detail/articulated_dynamics_algorithms.hpp
  dart/dynamics/detail/skeleton_dynamics_view.hpp
  dart/dynamics/skeleton.cpp
  dart/dynamics/skeleton.hpp
  docs/onboarding/api-boundary-inventory.md
  docs/onboarding/dynamics.md
  tests/benchmark/dynamics/bm_dynamics_cache.cpp
  tests/unit/CMakeLists.txt
  tests/unit/dynamics/test_articulated_dynamics_algorithms.cpp
Due: Dynamics

Guard reference collision test linker flags
  tests/unit/collision/CMakeLists.txt
Due: none

Fix MeshShape file path URI handling on Windows
  CHANGELOG.md
  dart/dynamics/mesh_shape.cpp
Due: Dynamics

Move native shape adapter implementation
  dart/collision/dart/shape_adapter.cpp
  dart/dynamics/detail/dart_backend_bridge.cpp
Due: Dynamics, Collision

Clear stale native collision query results
  dart/collision/dart/dart_collision_detector.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Link dart-gui to Foundation on Apple
  CHANGELOG.md
  dart/gui/CMakeLists.txt
Due: none

Remove VSG CMake trailing whitespace
  dart/gui/vsg/CMakeLists.txt
Due: none

Use Pixi libc++ for Filament GUI smoke CI
  .github/workflows/ci_ubuntu.yml
  CHANGELOG.md
  scripts/run_cpp_example.py
Due: none

Propagate Taskflow compute node failures
  CHANGELOG.md
  dart/simulation/experimental/compute/taskflow_executor.cpp
  tests/unit/simulation/experimental/compute/test_compute_graph.cpp
Due: none

Preserve gz legacy raycast behavior
  .github/workflows/ci_ubuntu.yml
  dart/collision/collision_detector.cpp
  dart/collision/dart/DARTCollisionDetector.hpp
  dart/collision/fcl/compat/fcl_collision_detector.hpp
  dart/collision/native/narrow_phase/raycast.cpp
  dart/collision/ode/compat/ode_collision_detector.hpp
  docs/onboarding/api-boundary-inventory.md
  scripts/audit_collision_compat_facades.py
  tests/unit/collision/test_dart_collision_detector.cpp
  tests/unit/collision/test_legacy_compat_facades.cpp
Due: Collision

Fix compute graph profile and reparenting edge cases
  CHANGELOG.md
  dart/simulation/experimental/compute/execution_profile.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Install legacy collision facade headers
  dart/collision/bullet/CMakeLists.txt
  dart/collision/fcl/CMakeLists.txt
  dart/collision/ode/CMakeLists.txt
  scripts/audit_collision_compat_facades.py
Due: Collision

Order rigid body integration by frame ancestry
  CHANGELOG.md
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Populate native mesh contact feature ids
  dart/collision/native/narrow_phase/mesh_mesh.cpp
  tests/unit/collision/test_mesh_mesh.cpp
Due: Collision

Fix distance pruning after penetration
  dart/collision/dart/dart_collision_group.cpp
  tests/unit/collision/test_dart_collision_detector.cpp
Due: Collision

Fix VSG CI environment and EnTT docs
  .github/workflows/ci_ubuntu.yml
  docs/onboarding/building.md
Due: none

Drop ccd from native pkg-config deps
  CMakeLists.txt
  scripts/audit_collision_compat_facades.py
Due: none

Fix VSG headless depth clear
  dart/gui/vsg/simple_viewer.cpp
  tests/unit/gui/vsg/test_simple_viewer.cpp
Due: none

Add EnTT to package manifest
  package.xml
  scripts/audit_collision_compat_facades.py
Due: none

Fix overlapping box distance
  dart/collision/native/narrow_phase/distance.cpp
  tests/unit/collision/test_distance_core.cpp
Due: Collision

Honor benchmark build opt-out
  cmake/dart_defs.cmake
Due: none

Fix VSG headless capture synchronization
  dart/gui/vsg/simple_viewer.cpp
Due: none

Stabilize VSG headless capture teardown
  dart/gui/vsg/simple_viewer.cpp
Due: none

Handle unbounded spatial hash AABBs
  CHANGELOG.md
  dart/collision/native/broad_phase/spatial_hash.cpp
  dart/collision/native/broad_phase/spatial_hash.hpp
  tests/unit/collision/test_collision_world.cpp
  tests/unit/collision/test_spatial_hash.cpp
Due: Collision

Serialize VSG unit tests
  dart/gui/vsg/simple_viewer.cpp
  tests/unit/CMakeLists.txt
Due: none

Avoid redundant VSG capture blits
  dart/gui/vsg/simple_viewer.cpp
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
