Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add WS5 handle opaque-storage design (PLAN-041)
  docs/design/README.md
  docs/design/dart7_handle_opaque_storage.md
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for a8d34b9b5bc341afa8f12720d180cd31979e3c9c
  performance/data.js
Due: none

Fix kinematic IPC writeback and CCD trace
  dart/simulation/experimental/comps/rigid_body.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  tests/unit/simulation/experimental/world/test_deformable_body.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Guard ImGui 1.89+ style slots for older system ImGui builds
  dart/gui/detail/imgui_overlay.cpp
Due: none

Fix experimental build: use CollisionGeometry::getPrimaryShape in AVBD rigid contact
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
Due: none

Extend opaque Entity seam to RigidBody and Link handles (PLAN-041 WS5)
  dart/simulation/experimental/body/collision_body.cpp
  dart/simulation/experimental/body/rigid_body.cpp
  dart/simulation/experimental/body/rigid_body.hpp
  dart/simulation/experimental/io/skeleton_loader.cpp
  dart/simulation/experimental/multibody/joint.cpp
  dart/simulation/experimental/multibody/link.cpp
  dart/simulation/experimental/multibody/link.hpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/world.cpp
Due: none

Scope AVBD rigid-world contact features to the colliding shape
  dart/simulation/experimental/body/contact.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/world.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Require Dear ImGui >= 1.92 for dart::gui instead of version-shimming
  cmake/dart_find_dependencies.cmake
  dart/gui/detail/imgui_overlay.cpp
Due: none

Use contacted shape metadata for AVBD row keys
  dart/simulation/experimental/body/contact.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/world.cpp
  python/dartpy/simulation_experimental/module.cpp
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Modernize the dart::gui viewer theme and add GPU (CUDA) deformable solve to py-demos (#2836)
  CHANGELOG.md
  cmake/dart_find_dependencies.cmake
  dart/gui/detail/imgui_overlay.cpp
  dart/simulation/experimental/compute/cuda/deformable_psd_projection_cuda.cpp
  dart/simulation/experimental/compute/deformable_psd_backend.cpp
  dart/simulation/experimental/compute/deformable_psd_backend.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  docs/onboarding/api-boundary-inventory.md
  pixi.toml
  python/dartpy/CMakeLists.txt
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/runner.py
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/test_py_demo_gpu_toggle.py
  tests/unit/simulation/experimental/compute/test_deformable_psd_backend.cpp
Due: none

Keep compound-body contact feature ids disjoint across shape types
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
Due: none

Refine rigid IPC zero-step contact handling
  .claude/commands/dart-merge-pr.md
  .codex/skills/dart-merge-pr/SKILL.md
  .opencode/command/dart-merge-pr.md
  dart/simulation/experimental/compute/world_step_stage.cpp
  docs/ai/workflows.md
Due: none

Add rigid-body fixed-joint facade
  CHANGELOG.md
  dart/simulation/experimental/world.cpp
  dart/simulation/experimental/world.hpp
  python/dartpy/simulation_experimental/module.cpp
  python/examples/demos/registry.py
  python/examples/demos/scenes/sx_rigid_fixed_joint.py
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  python/tests/unit/test_py_demo_panels.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Add AVBD self-contact friction rows (PLAN-104) (#2845)
  dart/simulation/experimental/body/contact.hpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/world.cpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver.md
  docs/plans/104-vertex-block-descent-solver/avbd-paper-gap-audit.md
  python/dartpy/simulation_experimental/module.cpp
  python/stubs/dartpy/simulation_experimental.pyi
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

De-ECS public handle surface: Joint, Multibody, CollisionBody, LoopClosure (PLAN-041 WS5)
  dart/simulation/experimental/body/collision_body.cpp
  dart/simulation/experimental/body/collision_body.hpp
  dart/simulation/experimental/compute/multibody_dynamics.cpp
  dart/simulation/experimental/compute/rigid_body_constraint.cpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/constraint/loop_closure.cpp
  dart/simulation/experimental/constraint/loop_closure.hpp
  dart/simulation/experimental/detail/boxed_lcp_contact.cpp
  dart/simulation/experimental/detail/contact_jacobians.cpp
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/multibody/joint.cpp
  dart/simulation/experimental/multibody/joint.hpp
  dart/simulation/experimental/multibody/link.cpp
  dart/simulation/experimental/multibody/multibody.cpp
  dart/simulation/experimental/multibody/multibody.hpp
  dart/simulation/experimental/world.cpp
  docs/onboarding/api-boundary-inventory.md
  tests/unit/simulation/experimental/compute/test_multibody_constraint.cpp
  tests/unit/simulation/experimental/compute/test_multibody_link_contact.cpp
  tests/unit/simulation/experimental/compute/test_rigid_body_constraint.cpp
  tests/unit/simulation/experimental/compute/test_unified_constraint.cpp
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/experimental/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/experimental/world/test_serialization.cpp
  tests/unit/simulation/experimental/world/test_world.cpp
Due: none

Address Codex review: list FreeFrame/FixedFrame in the WS5 cleanup set
  docs/design/dart7_promotion_readiness_audit.md
Due: none

Recheck kinematic sweeps during IPC backtracking
  dart/simulation/experimental/detail/rigid_ipc_barrier.cpp
  tests/unit/simulation/experimental/contact/test_rigid_ipc_barrier.cpp
Due: none

Add fixed-joint facade benchmark
  tests/benchmark/simulation/experimental/CMakeLists.txt
  tests/benchmark/simulation/experimental/bm_avbd_rigid_fixed_joint.cpp
Due: none

Address Codex review + integrate latest main (PLAN-041 facade prep)
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  scripts/audit_dart7_promotion_surface.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Honor fixture kinematic stop times
  dart/simulation/experimental/comps/rigid_body.hpp
  dart/simulation/experimental/compute/world_step_stage.cpp
  dart/simulation/experimental/io/detail/rigid_ipc_fixture.cpp
  tests/unit/simulation/experimental/io/test_rigid_ipc_fixture.cpp
Due: none

add DART Experimental World Performance (googlecpp) benchmark result for b5922f4ddecc08684a57cc3de4a9cf95adc5b74b
  performance/data.js
Due: none

Preserve fixed-joint facade invariants
  dart/simulation/experimental/detail/deformable_vbd/rigid_world_contact.hpp
  dart/simulation/experimental/multibody/joint.cpp
  python/tests/unit/simulation/test_experimental_world.py
  tests/unit/simulation/experimental/contact/test_boxed_lcp_contact.cpp
Due: none

Fix Signal thread safety regressions (#2181)
  dart/common/Signal.hpp
  dart/common/detail/Signal.hpp
  tests/integration/test_Signal.cpp
Due: Common

Prefer local Vulkan loader for imgui (#2085)
  cmake/DARTFindimgui.cmake
Due: none

Set zero margin on Bullet static plane shape
  dart/collision/bullet/BulletCollisionDetector.cpp
Due: Collision

Fix RealTimeWorldNode stall when viewer lags (#2088)
  dart/gui/osg/RealTimeWorldNode.cpp
  dart/gui/osg/RealTimeWorldNode.hpp
Due: none

Fix issue 1899: prevent stale joint commands and NaN timesteps (#2098)
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
Due: Dynamics

Allocator TODO cleanup and heightmap tidy (#2287)
  dart/common/MemoryAllocator.hpp
  dart/common/MemoryManager.hpp
  dart/common/StlAllocator.hpp
  dart/common/detail/StlAllocator-impl.hpp
  examples/heightmap/main.cpp
Due: Common

Allow configuring example install destination (#2100)
  CMakeLists.txt
Due: none

Enforce SDF joint limits when finite (#2232)
  dart/utils/sdf/SdfParser.cpp
  tests/integration/test_SdfParser.cpp
Due: none

Fix Aspect lifecycle on replacement (#2304)
  dart/common/Composite.cpp
  dart/common/Composite.hpp
  dart/common/detail/Composite.hpp
  dart/common/detail/CompositeData.hpp
  dart/common/detail/SpecializedForAspect.hpp
  tests/integration/test_Aspect.cpp
Due: Common

Fix utils CMake: register sources correctly (#2314)
  dart/utils/mjcf/CMakeLists.txt
  dart/utils/sdf/CMakeLists.txt
Due: none

Add BodyNode transform derivative APIs (#2131)
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  tests/unit/dynamics/test_BodyNodeDerivatives.cpp
Due: Dynamics

Fix null-safe CloneableMap copy (#2358)
  dart/common/detail/Cloneable.hpp
Due: Common

Handle tiny SDF inertial data and improve warnings (#2284)
  dart/utils/sdf/SdfParser.cpp
Due: none

Support Collada unit scaling in MeshShape (#2152)
  dart/dynamics/MeshShape.cpp
  tests/unit/dynamics/test_MeshShape.cpp
Due: Dynamics

Fix collision memory leaks and use-after-free
  dart/collision/CollisionGroup.cpp
  dart/collision/CollisionGroup.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/BulletCollisionDetector.hpp
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/dynamics/detail/NodePtr.hpp
Due: Dynamics, Collision

Fix BodyNode potential energy to use COM (#2224)
  dart/dynamics/BodyNode.cpp
  tests/unit/dynamics/test_BodyNodePotentialEnergy.cpp
Due: Dynamics
