Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Add soft point-mass mass matrix gate
  dart/dynamics/PointMass.cpp
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Add soft point-mass augmented mass gate
  dart/dynamics/PointMass.cpp
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  docs/onboarding/profiling.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

add DART 6 Performance (googlecpp) benchmark result for 2d89808193197a25422afbb9607e1606bb5d514d
  performance/dart6/data.js
Due: none

WP-PG.03: add DART 6 profiling guide (#3337)
  dart/common/Profile.hpp
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/profiling.md
  pixi.toml
Due: Common

Fix deep cylinder box contact normal
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Add soft point-mass inverse matrix gate
  dart/dynamics/Skeleton.cpp
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Add soft point-mass external force gate
  dart/dynamics/PointMass.cpp
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/integration/test_SoftDynamics.cpp
Due: Dynamics

Inline demos headless capture rationale
  examples/demos/DemoHost.cpp
Due: none

Handle touching cylinder-box contacts
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision

Add representative soft equation gate
  docs/dev_tasks/dart6_deformable_body_performance/03-stability-gate.md
  docs/dev_tasks/dart6_deformable_body_performance/07-equation-correctness.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
  tests/integration/test_SoftDynamics.cpp
Due: none

Clarify dart resume completion contract
  .claude/commands/dart-resume.md
  .codex/skills/dart-resume/SKILL.md
  .opencode/command/dart-resume.md
Due: none

Inline soft point mass impulse phases
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

Add soft point mass phase view
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

add DART 6 Performance (googlecpp) benchmark result for 279888bc53bab27c38abd59aa19e402773730e51
  performance/dart6/data.js
Due: none

Inline soft point mass aggregations
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

Inline soft point mass inverse dynamics
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

add DART 6 Performance (googlecpp) benchmark result for 85a66b9ab57161d659c1340b7659d4c22543e52e
  performance/dart6/data.js
Due: none

WP-PG.10: add LCP profiling census
  dart/common/Profile.hpp
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/03-ode-backend-lane.md
  docs/dev_tasks/dart6_performance_generalization/04-dynamics-batching-lane.md
  docs/dev_tasks/dart6_performance_generalization/05-simd-enablement-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  docs/onboarding/profiling.md
  examples/contact_benchmark/main.cpp
  tests/unit/common/test_Profile.cpp
Due: Common, Constraint

Complete soft body paper parity matrix
  docs/dev_tasks/dart6_deformable_body_performance/02-paper-parity-matrix.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 8c75164d135d4f3721e8d69b1ac27f759af912e6
  performance/dart6/data.js
Due: none

Use spans for soft point mass phases
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

add DART 6 Performance (googlecpp) benchmark result for b78a8b8cbe7ef60f698d4e853bf2cfd9120c12e4
  performance/dart6/data.js
Due: none

Fuse soft point mass force aggregation
  dart/dynamics/SoftBodyNode.cpp
  docs/dev_tasks/dart6_deformable_body_performance/04-data-layout-and-memory-hardening.md
  docs/dev_tasks/dart6_deformable_body_performance/README.md
  docs/dev_tasks/dart6_deformable_body_performance/RESUME.md
Due: Dynamics

Retire consolidated demos dev task (#3338)
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase1.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase2.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase3.md
  docs/dev_tasks/dart6_consolidated_demos/BRIEF-phase5.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-cleanup-refs.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-dart7-demos.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-dartpy-bindings.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-examples-inventory.md
  docs/dev_tasks/dart6_consolidated_demos/EVIDENCE-gui-capabilities.md
  docs/dev_tasks/dart6_consolidated_demos/PLAN.md
  docs/dev_tasks/dart6_consolidated_demos/README.md
  docs/dev_tasks/dart6_consolidated_demos/RESUME.md
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b1.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b2.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b3.json
  docs/dev_tasks/dart6_consolidated_demos/parity/parity-b4.json
  examples/demos/ContactVisualizer.hpp
  examples/demos/DemoHost.cpp
  examples/demos/DemoHost.hpp
  examples/demos/DragForce.hpp
  examples/demos/Inspector.hpp
  examples/demos/Profiler.hpp
  examples/demos/Registry.cpp
  examples/demos/Theme.hpp
  examples/demos/main.cpp
  examples/demos/scenes/BoxesScene.cpp
  examples/demos/scenes/JointConstraintsScene.cpp
  examples/demos/scenes/RigidCubesScene.cpp
  examples/demos/scenes/SleepingScene.cpp
  examples/demos/scenes/VehicleScene.cpp
  examples/demos/scenes/atlas_simbicon/AtlasSimbiconScene.cpp
  examples/demos/scenes/atlas_simbicon/TerminalCondition.hpp
  examples/demos/scenes/human_joint_limits/HumanArmJointLimitConstraint.hpp
  examples/demos/scenes/human_joint_limits/HumanJointLimitsScene.cpp
  examples/demos/scenes/ssik_ik_gui/SsikBridge.hpp
  examples/demos/scenes/tinkertoy/TinkertoyState.hpp
  python/examples/demos/__init__.py
  python/examples/demos/registry.py
  python/examples/demos/runner.py
  python/examples/demos/scenes/atlas_puppet.py
Due: none

Fix contained cylinder-box penetration depth
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  tests/unit/collision/native/test_cylinder_collision.cpp
Due: Collision
