Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Select representative capped DART contacts (#3135)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Add coverage tests for DART 6.20 backport gaps (#3134, #3136) (#3155)
  tests/integration/test_DartLoader.cpp
  tests/unit/math/test_Helpers.cpp
Due: none

Compute DART native broadphase bounds from extents (#3139)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Add frame transform helpers to Inertia (#2153)
  dart/dynamics/Inertia.cpp
  dart/dynamics/Inertia.hpp
  python/dartpy/dynamics/Inertia.cpp
  tests/unit/dynamics/test_Inertia.cpp
Due: Dynamics

Add raycast filter option (#2279)
  dart/collision/RaycastOption.cpp
  dart/collision/RaycastOption.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  python/dartpy/collision/RaycastOption.cpp
  tests/integration/test_Raycast.cpp
Due: Collision

Use direct LCP assembly for single body contacts (#3140)
  CHANGELOG.md
  dart/constraint/BoxedLcpConstraintSolver.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Backport WeldJoint::merge() and BodyNode::getNodes() to release-6.20
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/Node.hpp
  dart/dynamics/WeldJoint.cpp
  dart/dynamics/WeldJoint.hpp
  tests/unit/dynamics/test_WeldJointMerge.cpp
Due: Dynamics

Improve ShapeNode inertia coverage (backport #2170 to release-6.20)
  dart/dynamics/BodyNode.hpp
  dart/dynamics/ShapeNode.cpp
  dart/dynamics/ShapeNode.hpp
  dart/dynamics/detail/BodyNode.hpp
  dart/utils/SkelParser.cpp
  dart/utils/VskParser.cpp
  python/dartpy/dynamics/ShapeNode.cpp
  tests/unit/dynamics/test_ShapeNodeInertia.cpp
Due: Dynamics

Add opt-in per-DoF actuator type API (backport #2222)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/MimicMotorConstraint.cpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/dynamics/detail/JointAspect.hpp
  python/dartpy/dynamics/Joint.cpp
  tests/integration/test_Joints.cpp
Due: Dynamics, Constraint

Add WorldConfig and typed World::setCollisionDetector (backport #2168)
  CHANGELOG.md
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  python/dartpy/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Trim DART native collision scratch bookkeeping (#3141)
  CHANGELOG.md
  dart/collision/CollisionResult.cpp
  dart/collision/CollisionResult.hpp
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_Collision.cpp
Due: Collision

Parse SDF <mimic> joints (#2254)
  CHANGELOG.md
  dart/utils/sdf/SdfParser.cpp
  data/sdf/test/mimic_joint_test.sdf
  tests/integration/CMakeLists.txt
  tests/integration/test_MimicConstraint.cpp
Due: none

Add CouplerConstraint support (backport #2212)
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/CouplerConstraint.cpp
  dart/constraint/CouplerConstraint.hpp
  dart/constraint/SmartPointer.hpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/MimicDofProperties.hpp
  python/dartpy/dynamics/Joint.cpp
  tests/integration/test_Joints.cpp
Due: Dynamics, Constraint

dynamics: add coordinate charts for BallJoint and FreeJoint
  dart/dynamics/BallJoint.cpp
  dart/dynamics/BallJoint.hpp
  dart/dynamics/FreeJoint.cpp
  dart/dynamics/FreeJoint.hpp
  dart/dynamics/detail/BallJointAspect.cpp
  dart/dynamics/detail/BallJointAspect.hpp
  dart/dynamics/detail/FreeJointAspect.cpp
  dart/dynamics/detail/FreeJointAspect.hpp
  dart/dynamics/detail/JointCoordinateChart.hpp
  tests/integration/test_Joints.cpp
Due: Dynamics

Add RevoluteJointConstraint for closed-loop hinges
  dart/constraint/RevoluteJointConstraint.cpp
  dart/constraint/RevoluteJointConstraint.hpp
  dart/constraint/SmartPointer.hpp
  python/dartpy/constraint/DynamicJointConstraint.cpp
  python/tests/unit/constraint/test_constraint.py
  tests/integration/test_World.cpp
Due: Constraint

Skip redundant single-reactive contact solve scans (#3142)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Constraint

Add polygon mesh support for mesh loading (backport #2340)
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  dart/gui/osg/render/MeshShapeNode.cpp
  dart/math/PolygonMesh.cpp
  dart/math/PolygonMesh.hpp
  dart/math/detail/PolygonMesh-impl.hpp
  data/obj/Concave.obj
  data/obj/Quad.obj
  docs/dev_tasks/mesh/mesh-topology.md
  tests/unit/dynamics/test_MeshShape.cpp
  tests/unit/math/test_PolygonMesh.cpp
Due: Math, Dynamics

Support convex mesh collisions and rendering (backport #2338)
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeMesh.cpp
  dart/collision/ode/detail/OdeMesh.hpp
  dart/dynamics/ConvexMeshShape.cpp
  dart/dynamics/ConvexMeshShape.hpp
  dart/dynamics/Shape.hpp
  dart/dynamics/SmartPointer.hpp
  dart/gui/osg/ShapeFrameNode.cpp
  dart/gui/osg/render/ConvexMeshShapeNode.cpp
  dart/gui/osg/render/ConvexMeshShapeNode.hpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_ConvexMeshShapeCollision.cpp
  tests/unit/dynamics/test_ConvexMeshShape.cpp
Due: Dynamics, Collision

Cache native shape kinds for plane dispatch (#3143)
  CHANGELOG.md
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionObject.cpp
  dart/collision/dart/DARTCollisionObject.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: Collision

Add opt-in split impulse contact correction (Issue #201)
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintBase.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/simulation/World.cpp
  python/dartpy/constraint/ConstraintSolver.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Dynamics, Constraint, Simulation

Reduce native contact duplicate grid probes (#3144)
  CHANGELOG.md
  dart/collision/dart/DARTCollisionDetector.cpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: Collision

Speed up cached all-resting steps (#3146)
  CHANGELOG.md
  dart/dynamics/FreeJoint.cpp
  dart/dynamics/GenericJoint.hpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/issue_3056_dart6_performance/README.md
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics, Simulation

Backport Inertia frame-change helpers to release-6.20 (#2153) (#3156)
  dart/dynamics/Inertia.cpp
  dart/dynamics/Inertia.hpp
  python/dartpy/dynamics/Inertia.cpp
  tests/unit/dynamics/test_Inertia.cpp
Due: Dynamics

Backport WeldJoint::merge() and BodyNode::getNodes() to release-6.20 (#2242) (#3158)
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/Node.hpp
  dart/dynamics/WeldJoint.cpp
  dart/dynamics/WeldJoint.hpp
  tests/unit/dynamics/test_WeldJointMerge.cpp
Due: Dynamics

Backport per-DoF actuator type API to release-6.20 (#2222) (#3159)
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/JointConstraint.cpp
  dart/constraint/MimicMotorConstraint.cpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/detail/GenericJoint.hpp
  dart/dynamics/detail/JointAspect.hpp
  python/dartpy/dynamics/Joint.cpp
  tests/integration/test_Joints.cpp
Due: Dynamics, Constraint

Backport raycast filter option to release-6.20 (#2279) (#3157)
  dart/collision/RaycastOption.cpp
  dart/collision/RaycastOption.hpp
  dart/collision/bullet/BulletCollisionDetector.cpp
  python/dartpy/collision/RaycastOption.cpp
  tests/integration/test_Raycast.cpp
Due: Collision

Backport WorldConfig + collision-detector selection to release-6.20 (#2168) (#3160)
  CHANGELOG.md
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  python/dartpy/simulation/World.cpp
  tests/integration/test_World.cpp
Due: Simulation

Backport ShapeNode inertia coverage to release-6.20 (#2170) (#3161)
  dart/dynamics/BodyNode.hpp
  dart/dynamics/ShapeNode.cpp
  dart/dynamics/ShapeNode.hpp
  dart/dynamics/detail/BodyNode.hpp
  dart/utils/SkelParser.cpp
  dart/utils/VskParser.cpp
  python/dartpy/dynamics/ShapeNode.cpp
  tests/unit/dynamics/test_ShapeNodeInertia.cpp
Due: Dynamics

Backport coordinate charts for BallJoint and FreeJoint to release-6.20 (#2351) (#3162)
  dart/dynamics/BallJoint.cpp
  dart/dynamics/BallJoint.hpp
  dart/dynamics/FreeJoint.cpp
  dart/dynamics/FreeJoint.hpp
  dart/dynamics/detail/BallJointAspect.cpp
  dart/dynamics/detail/BallJointAspect.hpp
  dart/dynamics/detail/FreeJointAspect.cpp
  dart/dynamics/detail/FreeJointAspect.hpp
  dart/dynamics/detail/JointCoordinateChart.hpp
  tests/integration/test_Joints.cpp
Due: Dynamics

Fix per-DoF actuator override storage
  CHANGELOG.md
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/WeldJoint.cpp
  dart/dynamics/detail/JointAspect.hpp
  python/dartpy/dynamics/Joint.cpp
Due: Dynamics

Format raycast binding wrapper
  python/dartpy/collision/RaycastOption.cpp
Due: none

Backport SDF mimic joint parsing to release-6.20 (#2254) (#3163)
  CHANGELOG.md
  dart/utils/sdf/SdfParser.cpp
  data/sdf/test/mimic_joint_test.sdf
  tests/integration/CMakeLists.txt
  tests/integration/test_MimicConstraint.cpp
Due: none

Backport coupler constraint support to release-6.20 (#2212) (#3164)
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/CouplerConstraint.cpp
  dart/constraint/CouplerConstraint.hpp
  dart/constraint/SmartPointer.hpp
  dart/dynamics/Joint.cpp
  dart/dynamics/Joint.hpp
  dart/dynamics/MimicDofProperties.hpp
  python/dartpy/dynamics/Joint.cpp
  tests/integration/test_Joints.cpp
Due: Dynamics, Constraint

Backport revolute joint constraint to release-6.20 (#2252) (#3165)
  dart/constraint/RevoluteJointConstraint.cpp
  dart/constraint/RevoluteJointConstraint.hpp
  dart/constraint/SmartPointer.hpp
  python/dartpy/constraint/DynamicJointConstraint.cpp
  python/tests/unit/constraint/test_constraint.py
  tests/integration/test_World.cpp
Due: Constraint

Backport split-impulse contact correction to release-6.20 (#2354) (#3166)
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/BoxedLcpConstraintSolver.hpp
  dart/constraint/ConstraintBase.hpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/ConstraintSolver.hpp
  dart/constraint/ContactConstraint.cpp
  dart/constraint/ContactConstraint.hpp
  dart/dynamics/BodyNode.cpp
  dart/dynamics/BodyNode.hpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/Skeleton.hpp
  dart/simulation/World.cpp
  python/dartpy/constraint/ConstraintSolver.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_SplitImpulse.cpp
Due: Dynamics, Constraint, Simulation

Backport polygon mesh support to release-6.20 (#2340) (#3167)
  dart/dynamics/MeshShape.cpp
  dart/dynamics/MeshShape.hpp
  dart/gui/osg/render/MeshShapeNode.cpp
  dart/math/PolygonMesh.cpp
  dart/math/PolygonMesh.hpp
  dart/math/detail/PolygonMesh-impl.hpp
  data/obj/Concave.obj
  data/obj/Quad.obj
  docs/dev_tasks/mesh/mesh-topology.md
  tests/unit/dynamics/test_MeshShape.cpp
  tests/unit/math/test_PolygonMesh.cpp
Due: Math, Dynamics

Backport convex mesh collision and rendering to release-6.20 (#2338) (#3168)
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/fcl/FCLCollisionDetector.cpp
  dart/collision/ode/OdeCollisionObject.cpp
  dart/collision/ode/detail/OdeMesh.cpp
  dart/collision/ode/detail/OdeMesh.hpp
  dart/dynamics/ConvexMeshShape.cpp
  dart/dynamics/ConvexMeshShape.hpp
  dart/dynamics/Shape.hpp
  dart/dynamics/SmartPointer.hpp
  dart/gui/osg/ShapeFrameNode.cpp
  dart/gui/osg/render/ConvexMeshShapeNode.cpp
  dart/gui/osg/render/ConvexMeshShapeNode.hpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_ConvexMeshShapeCollision.cpp
  tests/unit/dynamics/test_ConvexMeshShape.cpp
Due: Dynamics, Collision

Fix merged split impulse contact pointer access
  dart/constraint/ContactConstraint.cpp
Due: Constraint

Preserve contact local point arithmetic
  dart/constraint/ContactConstraint.cpp
Due: Constraint

Refresh contact reuse performance evidence
  CHANGELOG.md
  docs/dev_tasks/issue_3056_dart6_performance/README.md
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
