Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Harden step allocation harness from review findings
  tests/integration/CMakeLists.txt
  tests/integration/test_StepAllocation.cpp
Due: none

Recapture phase-0 baseline on current base
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Reset native collision caches on result move
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_aabb.cpp
  tests/unit/collision/native/test_box_box.cpp
  tests/unit/collision/native/test_gjk.cpp
  tests/unit/collision/native/test_shapes.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
  tests/unit/collision/native/test_types.cpp
Due: Collision

Add opt-in allocation-site backtrace sampling to the step harness
  tests/integration/AllocationCounting.cpp
  tests/integration/AllocationCounting.hpp
  tests/integration/test_StepAllocation.cpp
Due: none

Account for friction in servo effort margin
  dart/simulation/compute/multibody_dynamics.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Simulation

Record allocation attribution and add profiler packet WP-D6M.9
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  docs/dev_tasks/dart6_simulation_allocation_hardening/README.md
Due: none

Clarify phase-0 row failure propagation
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
Due: none

Install compiler in devcontainer image
  .devcontainer/Dockerfile
Due: none

Fix Pixi setup in wheel workflow
  .github/workflows/publish_dartpy.yml
Due: none

Add the Servo joint actuator to the DART 7 World (#3258)
  CHANGELOG.md
  dart/math/lcp/pivoting/dantzig/lcp.cpp
  dart/math/lcp/pivoting/dantzig/lcp.hpp
  dart/simulation/comps/joint.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/io/skeleton_loader.cpp
  dart/simulation/multibody/joint.hpp
  docs/dev_tasks/rigid_body_dynamics_solver/README.md
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
  docs/plans/dashboard.md
  python/tests/unit/simulation/test_world.py
  tests/unit/math/lcp/test_dantzig_solver.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
  tests/unit/simulation/world/test_world.cpp
  tests/unit/simulation/world/test_world_contact_parity.cpp
Due: Math, Simulation

Remove stale native port prerequisite status
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
Due: none

Make text profiler warm pushes allocation-free
  dart/common/detail/profiler.cpp
  dart/common/detail/profiler.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/unit/common/test_Profile.cpp
Due: Common

Fix FrameAllocator out-of-bounds fast path for tiny arena capacities
  dart/common/FrameAllocator.cpp
  tests/unit/common/test_FrameAllocator.cpp
Due: Common

Preserve per-point box contact depths
  dart/collision/native/narrow_phase/box_box/face_clip.cpp
  tests/unit/collision/native/test_box_box.cpp
Due: Collision

Record post-profiler residual allocation attribution
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
Due: none

Clarify phase-0 dump recapture handoff
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Clarify AI workflow terminology
  .codex/skills/dart-analyze/SKILL.md
  .codex/skills/dart-audit-agent-compliance/SKILL.md
  .codex/skills/dart-backport-pr/SKILL.md
  .codex/skills/dart-benchmark-packet/SKILL.md
  .codex/skills/dart-branch-cleanup/SKILL.md
  .codex/skills/dart-changelog/SKILL.md
  .codex/skills/dart-close-issue/SKILL.md
  .codex/skills/dart-deps/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-downstream-fix/SKILL.md
  .codex/skills/dart-execute-packet/SKILL.md
  .codex/skills/dart-fix-ci/SKILL.md
  .codex/skills/dart-fix-issue/SKILL.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-mechanical-refactor/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .codex/skills/dart-next/SKILL.md
  .codex/skills/dart-plan-update/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .codex/skills/dart-release-merge-main/SKILL.md
  .codex/skills/dart-release-packaging/SKILL.md
  .codex/skills/dart-resume/SKILL.md
  .codex/skills/dart-retrospect/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .codex/skills/dart-triage-issue/SKILL.md
  AGENTS.md
  CHANGELOG.md
  docs/README.md
  docs/ai/README.md
  docs/ai/components.md
  docs/ai/north-star.md
  docs/ai/principles.md
  docs/ai/terminology.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  docs/onboarding/release-management.md
  scripts/check_docs_policy.py
  scripts/sync_ai_commands.py
Due: none

Add the Acceleration joint actuator to the DART 7 World (#3276)
  CHANGELOG.md
  dart/simulation/comps/joint.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/io/skeleton_loader.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/multibody/joint.hpp
  dart/simulation/multibody/multibody.cpp
  dart/simulation/world.cpp
  docs/dev_tasks/rigid_body_dynamics_solver/README.md
  docs/dev_tasks/rigid_body_dynamics_solver/RESUME.md
  docs/plans/dashboard.md
  python/dartpy/simulation/module_frames.cpp
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_world.py
  tests/unit/simulation/world/test_deactivation.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_skeleton_loader.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Make wheel verification fail fast
  pixi.toml
Due: none

Add World simulation memory manager
  dart/common/MemoryManager.cpp
  dart/common/MemoryManager.hpp
  dart/simulation/World.cpp
  dart/simulation/World.hpp
  docs/dev_tasks/dart6_simulation_allocation_hardening/02-baseline.md
  tests/integration/test_StepAllocation.cpp
Due: Common, Simulation

Replace dartpy wheel Docker flow with Pixi (#3279)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/api_doc.yml
  .github/workflows/cache_docker.yml
  .github/workflows/ci_gz_physics.yml
  .github/workflows/ci_macos.yml
  .github/workflows/ci_ubuntu.yml
  .github/workflows/ci_windows.yml
  .github/workflows/publish_dartpy.yml
  CHANGELOG.md
  Dockerfile
  docker/dev/v6.15/Dockerfile.manylinux_2_28_x86_64
  docker/dev/v6.15/Dockerfile.ubuntu.jammy
  docker/dev/v6.15/Dockerfile.ubuntu.noble
  docker/dev/v6.15/Dockerfile.ubuntu.oracular
  docker/dev/v6.15/Dockerfile.ubuntu.plucky
  pixi.lock
  pixi.toml
  pyproject.toml
  scripts/cmake_host_linker_flags.py
  scripts/run
  scripts/test_wheel.py
  scripts/verify_version.py
  scripts/verify_wheel.py
  scripts/wheel_build.py
  setup.py
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 4c7f5875ee9243312a950a8d9cfc0a1ed62d978a
  performance/data.js
Due: none

Port native collision math core (phase 1, internal-only) (#3281)
  dart/collision/CMakeLists.txt
  dart/collision/native/CMakeLists.txt
  dart/collision/native/aabb.cpp
  dart/collision/native/aabb.hpp
  dart/collision/native/contact_manifold.cpp
  dart/collision/native/contact_manifold.hpp
  dart/collision/native/contact_point.hpp
  dart/collision/native/detail/span.hpp
  dart/collision/native/export.hpp
  dart/collision/native/fwd.hpp
  dart/collision/native/narrow_phase/box_box.cpp
  dart/collision/native/narrow_phase/box_box.hpp
  dart/collision/native/narrow_phase/box_box/contact_reduction.cpp
  dart/collision/native/narrow_phase/box_box/contact_reduction.hpp
  dart/collision/native/narrow_phase/box_box/face_clip.cpp
  dart/collision/native/narrow_phase/box_box/face_clip.hpp
  dart/collision/native/narrow_phase/box_box/sat.cpp
  dart/collision/native/narrow_phase/box_box/sat.hpp
  dart/collision/native/narrow_phase/gjk.cpp
  dart/collision/native/narrow_phase/gjk.hpp
  dart/collision/native/narrow_phase/gjk_inl.hpp
  dart/collision/native/narrow_phase/mpr.cpp
  dart/collision/native/narrow_phase/mpr.hpp
  dart/collision/native/narrow_phase/sphere_sphere.cpp
  dart/collision/native/narrow_phase/sphere_sphere.hpp
  dart/collision/native/sdf/signed_distance_field.hpp
  dart/collision/native/shapes/shape.cpp
  dart/collision/native/shapes/shape.hpp
  dart/collision/native/types.cpp
  dart/collision/native/types.hpp
  docs/dev_tasks/dart6_dependency_minimization/06-phase1-port-packet.md
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_aabb.cpp
  tests/unit/collision/native/test_box_box.cpp
  tests/unit/collision/native/test_gjk.cpp
  tests/unit/collision/native/test_gjk_degenerate.cpp
  tests/unit/collision/native/test_shapes.cpp
  tests/unit/collision/native/test_sphere_sphere.cpp
  tests/unit/collision/native/test_types.cpp
Due: Collision

Refresh native collision status after phase 1 merge
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Avoid stale native collision head wording
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Clarify documentation information architecture
  AGENTS.md
  CHANGELOG.md
  docs/AGENTS.md
  docs/README.md
  docs/ai/components.md
  docs/information-architecture.md
  docs/onboarding/README.md
  scripts/check_docs_policy.py
  tests/test_check_docs_policy.py
Due: none

Update phase-0 handoff after phase 1 merge
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
Due: none

Embed community signals dashboard in docs
  docs/readthedocs/community/community_signals.rst
Due: none

Remove merged phase 1 PR from open queue
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
Due: none

Record docs structure alternatives
  docs/information-architecture.md
Due: none

Clarify AI workflow terminology (#3289)
  .codex/skills/dart-analyze/SKILL.md
  .codex/skills/dart-audit-agent-compliance/SKILL.md
  .codex/skills/dart-backport-pr/SKILL.md
  .codex/skills/dart-benchmark-packet/SKILL.md
  .codex/skills/dart-branch-cleanup/SKILL.md
  .codex/skills/dart-changelog/SKILL.md
  .codex/skills/dart-close-issue/SKILL.md
  .codex/skills/dart-deps/SKILL.md
  .codex/skills/dart-docs-update/SKILL.md
  .codex/skills/dart-downstream-fix/SKILL.md
  .codex/skills/dart-execute-packet/SKILL.md
  .codex/skills/dart-fix-ci/SKILL.md
  .codex/skills/dart-fix-issue/SKILL.md
  .codex/skills/dart-manage-pr/SKILL.md
  .codex/skills/dart-mechanical-refactor/SKILL.md
  .codex/skills/dart-new-task/SKILL.md
  .codex/skills/dart-new-team-task/SKILL.md
  .codex/skills/dart-next/SKILL.md
  .codex/skills/dart-plan-update/SKILL.md
  .codex/skills/dart-pr/SKILL.md
  .codex/skills/dart-release-merge-main/SKILL.md
  .codex/skills/dart-release-packaging/SKILL.md
  .codex/skills/dart-resume/SKILL.md
  .codex/skills/dart-retrospect/SKILL.md
  .codex/skills/dart-review-pr/SKILL.md
  .codex/skills/dart-triage-issue/SKILL.md
  AGENTS.md
  CHANGELOG.md
  docs/README.md
  docs/ai/README.md
  docs/ai/components.md
  docs/ai/north-star.md
  docs/ai/principles.md
  docs/ai/terminology.md
  docs/ai/workflows.md
  docs/onboarding/ai-tools.md
  docs/onboarding/release-management.md
  scripts/check_docs_policy.py
  scripts/sync_ai_commands.py
Due: none

Preserve fastest incumbent default-flip gate
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
Due: none

Improve community signals dashboard highlights
  docs/readthedocs/community/community_signals.rst
  scripts/generate_community_signals_dashboard.py
Due: none

Keep community signals docs wrapper minimal
  docs/readthedocs/community/community_signals.rst
Due: none

Capture phase-0 baseline packet for the native collision port (#3271)
  docs/dev_tasks/dart6_dependency_minimization/03-native-collision-port-scoping.md
  docs/dev_tasks/dart6_dependency_minimization/04-orchestration-dashboard.md
  docs/dev_tasks/dart6_dependency_minimization/05-artifacts.md
  docs/dev_tasks/dart6_dependency_minimization/05-phase0-baseline-packet.md
  docs/dev_tasks/dart6_dependency_minimization/RESUME.md
Due: none

Link documentation information architecture PR
  CHANGELOG.md
Due: none

Link SDF and URDF writer changelog entries
  CHANGELOG.md
Due: none
