Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

codecov.yml:

# Reference: https://docs.codecov.com/docs/codecovyml-reference
#
# Test Coverage Audit: docs/dev_tasks/test-coverage-audit/
# Project: 'auto' ratchets coverage upward over time
# Patch: 80% floor for new/changed lines (industry standard)

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "70...90"

  status:
    project:
      default:
        target: auto
        threshold: 2% # Allow 2% fluctuation from baseline
    patch:
      default:
        target: 80%
        threshold: 5% # Effective floor: 75% (accommodates C++ exception/template paths)

  ignore:
    # Test code (shouldn't count toward coverage)
    - "tests/**"

    # GUI - requires display for testing
    # BACKLOG: Revisit when headless CI is feasible
    - "dart/gui/**"

    # Generated/config files
    - "dart/config.hpp"
    - "**/*.in" # CMake template files

    # Experimental APIs under heavy development
    # BACKLOG: Test when APIs stabilize
    - "dart/simulation/experimental/**"

    # Deprecated code scheduled for removal
    - "**/SmartPointer.hpp"

    # Examples and tutorials (demo code, not production)
    - "examples/**"
    - "tutorials/**"
    - "python/examples/**"

    # IKFast generated code (auto-generated)
    - "**/ikfast*.cpp"

    # Third-party/vendor (future-proofing)
    - "extern/**"
    - "external/**"
    - "third_party/**"

# Reduce noise from macro/exception branches
parsers:
  gcov:
    branch_detection:
      conditional: yes # Include conditional branches (if/else)
      loop: yes # Include loop branches
      method: no # Exclude method entry/exit (noisy)
      macro: no # Exclude macro-generated branches (noisy)

# PR comment configuration
comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: true

# Module-level tracking for visibility into per-component coverage
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true # Don't fail PRs based on component coverage

  individual_components:
    - component_id: dart_common
      name: "Common"
      paths:
        - dart/common/**

    - component_id: dart_math
      name: "Math"
      paths:
        - dart/math/**

    - component_id: dart_dynamics
      name: "Dynamics"
      paths:
        - dart/dynamics/**

    - component_id: dart_collision
      name: "Collision"
      paths:
        - dart/collision/**

    - component_id: dart_constraint
      name: "Constraint"
      paths:
        - dart/constraint/**

    - component_id: dart_simulation
      name: "Simulation"
      paths:
        - dart/simulation/**
        - "!dart/simulation/experimental/**"

    - component_id: dart_io
      name: "I/O"
      paths:
        - dart/io/**

    - component_id: dart_optimizer
      name: "Optimizer"
      paths:
        - dart/optimizer/**

    - component_id: dart_lcpsolver
      name: "LCP Solver"
      paths:
        - dart/lcpsolver/**

Port native BruteForce broadphase (phase-2 P1, internal-only) (#3303)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/broad_phase/broad_phase.hpp
  dart/collision/native/broad_phase/brute_force.cpp
  dart/collision/native/broad_phase/brute_force.hpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_brute_force.cpp
Due: Collision

Clarify soft ellipsoid contact depth tests
  tests/unit/collision/test_DARTCollisionDetector.cpp
Due: none

WP-PG.20: speed up ODE contact-history bookkeeping
  dart/collision/ode/OdeCollisionDetector.cpp
  dart/collision/ode/OdeCollisionDetector.hpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for c2404438c63118faa6e7a4f275598356fa53f750
  performance/dart6/data.js
Due: none

add DART 6 Performance (googlecpp) benchmark result for 361c34401d4b471c0ae48892fc6eb5b99d538a04
  performance/dart6/data.js
Due: none

Extend agent verification follow-up tooling
  .claude/skills/dart-verify-sim/SKILL.md
  .codex/skills/dart-verify-sim/SKILL.md
  CHANGELOG.md
  docs/ai/workflows.md
  docs/design/agent_sim_verification.md
  docs/dev_tasks/agent_sim_verification_followup/HANDOFF.md
  docs/dev_tasks/agent_sim_verification_followup/README.md
  docs/dev_tasks/agent_sim_verification_followup/RESUME.md
  docs/onboarding/agent-sim-verification.md
  docs/plans/083-unified-newton-barrier-multibody.md
  pixi.toml
  python/dartpy/_scene_dump.py
  python/stubs/dartpy/__init__.pyi
  python/stubs/dartpy/simulation.pyi
  python/tests/unit/simulation/test_scene_dump.py
  python/tests/unit/test_image_ab_study.py
  python/tests/unit/test_scene_diff.py
  python/tests/unit/test_verification_bundle.py
  scripts/image_ab_study.py
  scripts/scene_diff.py
  scripts/verification_bundle.py
Due: none

Add native collision detector adapter skeleton
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/detail/NativeShapeConversion.hpp
  tests/integration/test_World.cpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Add round-2 image study packet tooling
  .claude/skills/dart-verify-sim/SKILL.md
  .codex/skills/dart-verify-sim/SKILL.md
  docs/ai/workflows.md
  docs/design/agent_sim_verification.md
  docs/dev_tasks/agent_sim_verification_followup/HANDOFF.md
  docs/dev_tasks/agent_sim_verification_followup/README.md
  docs/dev_tasks/agent_sim_verification_followup/RESUME.md
  docs/onboarding/agent-sim-verification.md
  pixi.toml
  python/tests/unit/test_image_ab_round2_packet.py
  scripts/image_ab_round2_packet.py
Due: none

Close agent verification follow-up task
  CHANGELOG.md
  docs/design/agent_sim_verification.md
  docs/dev_tasks/agent_sim_verification_followup/HANDOFF.md
  docs/dev_tasks/agent_sim_verification_followup/README.md
  docs/dev_tasks/agent_sim_verification_followup/RESUME.md
  docs/onboarding/agent-sim-verification.md
Due: none

docs(dart6-perf): WP-PG.20 handoff + corrected crash-investigation record
  docs/dev_tasks/dart6_performance_generalization/.gitattributes
  docs/dev_tasks/dart6_performance_generalization/HANDOFF-wp-pg-20.md
  docs/dev_tasks/dart6_performance_generalization/base-release620-heap-crash.md
  docs/dev_tasks/dart6_performance_generalization/pr-a-crash-investigation.md
  docs/dev_tasks/dart6_performance_generalization/pr-b-pg11-contact-cache.patch
  docs/dev_tasks/dart6_performance_generalization/pr-c-pg31-scratch-retention.patch
Due: none

Track native shape ids for adapter rebuilds
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Bridge native detector to narrow phase
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  dart/collision/native/narrow_phase/sphere_box.cpp
  dart/collision/native/narrow_phase/sphere_box.hpp
  tests/integration/test_Collision.cpp
  tests/integration/test_World.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_sphere_box.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Optimize soft-body benchmark hot paths
  dart/collision/dart/DARTCollide.cpp
  dart/collision/dart/DARTCollisionDetector.cpp
  dart/collision/dart/DARTCollisionGroup.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/DantzigBoxedLcpSolver.cpp
  dart/constraint/SoftContactConstraint.cpp
  dart/dynamics/SoftBodyNode.cpp
  scripts/check_soft_body_performance_regressions.py
  tests/benchmark/integration/bm_soft_body.cpp
Due: Dynamics, Collision, Constraint

Honor sphere-box binary collision checks
  dart/collision/native/narrow_phase/sphere_box.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/native/test_sphere_box.cpp
Due: Collision

Add native capsule primitive pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/capsule_box.cpp
  dart/collision/native/narrow_phase/capsule_box.hpp
  dart/collision/native/narrow_phase/capsule_sphere.cpp
  dart/collision/native/narrow_phase/capsule_sphere.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_capsule_box.cpp
  tests/unit/collision/native/test_capsule_sphere.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Link agent verification follow-up changelog entry
  CHANGELOG.md
Due: none

Fix demo gravity and attachment transfer
  dart/gui/osg/Viewer.cpp
  examples/demos/scenes/AddDeleteSkelsScene.cpp
Due: none

Harden verification packet workflows
  pixi.toml
  python/tests/unit/test_verification_bundle.py
  scripts/verification_bundle.py
Due: none

Trim soft-body benchmark hot-path overhead
  dart/collision/CollisionGroup.cpp
  dart/collision/fcl/FCLCollisionObject.cpp
  dart/constraint/ConstraintSolver.cpp
  dart/constraint/SoftContactConstraint.cpp
  dart/dynamics/SoftMeshShape.cpp
  dart/simulation/World.cpp
Due: Dynamics, Collision, Constraint, Simulation

Fix round-2 packet control geometry
  python/tests/unit/test_image_ab_round2_packet.py
  scripts/image_ab_round2_packet.py
Due: none

Trim remaining soft benchmark profiling overhead
  dart/collision/bullet/BulletCollisionDetector.cpp
  dart/collision/bullet/BulletCollisionGroup.cpp
  dart/constraint/BoxedLcpConstraintSolver.cpp
  dart/constraint/PGSLCPSolver.cpp
Due: Collision, Constraint

Fix native capsule-box contact normals
  dart/collision/native/narrow_phase/capsule_box.cpp
  tests/unit/collision/native/test_capsule_box.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Fix verification workflow validation gaps
  docs/plans/083-unified-newton-barrier-multibody.md
  python/tests/unit/test_image_ab_round2_packet.py
  scripts/image_ab_round2_packet.py
Due: none

Add native convex foundation pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/capsule_capsule.cpp
  dart/collision/native/narrow_phase/capsule_capsule.hpp
  dart/collision/native/narrow_phase/convex_convex.cpp
  dart/collision/native/narrow_phase/convex_convex.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_capsule_capsule.cpp
  tests/unit/collision/native/test_convex_convex.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

add DART 6 Performance (googlecpp) benchmark result for 2e11928288c9ac695839ebd2cb708d160c3f859f
  performance/dart6/data.js
Due: none

Reject incomplete round-2 observations
  python/tests/unit/test_image_ab_round2_packet.py
  scripts/image_ab_round2_packet.py
Due: none

Add native collision detector adapter skeleton (#3318)
  dart/collision/native/CMakeLists.txt
  dart/collision/native/NativeCollisionDetector.cpp
  dart/collision/native/NativeCollisionDetector.hpp
  dart/collision/native/NativeCollisionGroup.cpp
  dart/collision/native/NativeCollisionGroup.hpp
  dart/collision/native/NativeCollisionObject.cpp
  dart/collision/native/NativeCollisionObject.hpp
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/detail/NativeShapeConversion.hpp
  tests/integration/test_World.cpp
  tests/unit/collision/CMakeLists.txt
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Format image golden helper
  scripts/image_golden.py
Due: none

Retire DartLoader naming from DART 7 IO
  CHANGELOG.md
  docs/onboarding/io-parsing.md
  docs/readthedocs/dartpy/user_guide/examples.rst
  python/tests/integration/test_meta_skeleton.py
  python/tests/unit/dynamics/test_body_node.py
  python/tests/unit/simulation/test_model_loader.py
  python/tests/unit/test_check_dartpy_import_layout.py
  scripts/check_dartpy_import_layout.py
  scripts/generate_stubs.py
  tests/integration/io/test_urdf_parser.cpp
Due: none

Clarify PLAN-083 golden gate scope
  docs/plans/083-unified-newton-barrier-multibody.md
Due: none

Retarget capture workflow to dart-demos
  docs/ai/verification.md
  pixi.toml
Due: none

Avoid approximate multi-sphere native conversion
  dart/collision/native/detail/NativeShapeConversion.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Fix Korean gallery inline literals
  docs/readthedocs/locales/ko/LC_MESSAGES/gallery.mo
  docs/readthedocs/locales/ko/LC_MESSAGES/gallery.po
Due: none

Add native cylinder collision pairs
  dart/collision/native/CMakeLists.txt
  dart/collision/native/detail/NativeShapeConversion.cpp
  dart/collision/native/narrow_phase/cylinder_collision.cpp
  dart/collision/native/narrow_phase/cylinder_collision.hpp
  dart/collision/native/narrow_phase/narrow_phase.cpp
  tests/unit/collision/native/CMakeLists.txt
  tests/unit/collision/native/test_cylinder_collision.cpp
  tests/unit/collision/native/test_narrow_phase_dispatch.cpp
  tests/unit/collision/test_NativeCollisionDetector.cpp
Due: Collision

Extend contact container benchmark matrix
  docs/dev_tasks/dart6_performance_generalization/02-constraint-lcp-lane.md
  docs/dev_tasks/dart6_performance_generalization/06-infra-evidence-lane.md
  docs/dev_tasks/dart6_performance_generalization/07-orchestration-dashboard.md
  docs/dev_tasks/dart6_performance_generalization/RESUME.md
  scripts/benchmark_display_names.py
  scripts/run_performance_dashboard_benchmarks.py
  tests/benchmark/integration/CMakeLists.txt
  tests/benchmark/integration/bm_contact_container.cpp
Due: none

Reduce soft contact solver hot-path overhead
  dart/constraint/SoftContactConstraint.cpp
  scripts/compare_soft_body_performance.py
Due: Constraint

Hoist soft contact impulse skeleton lookups
  dart/constraint/SoftContactConstraint.cpp
Due: Constraint

add DART 6 Performance (googlecpp) benchmark result for 66d35920cf685b401fcb4653bd951127efa5079c
  performance/dart6/data.js
Due: none
