Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Keep backports on older release branches and drop the migration-guide stub
  .agents/skills/dart-manage-pr/SKILL.md
  .claude/commands/dart-manage-pr.md
  .opencode/command/dart-manage-pr.md
  AGENTS.md
  docs/ai/principles.md
  docs/onboarding/contributing.md
  docs/onboarding/release-management.md
  docs/readthedocs/dart/developer_guide/migration_guide.rst
  docs/readthedocs/index.rst
  docs/readthedocs/locales/ko/LC_MESSAGES/dart/developer_guide/migration_guide.mo
  docs/readthedocs/locales/ko/LC_MESSAGES/dart/developer_guide/migration_guide.po
Due: none

add DART 6 Performance (googlecpp) benchmark result for 36342c66c937cf73e10366b678218e00a5e52f1f
  performance/dart6/data.js
Due: none

Skip the remote Repology badge in EPUB docs builds
  docs/readthedocs/dart/user_guide/installation.rst
Due: none

add DART 6 Performance (googlecpp) benchmark result for 873dc91c79d9d8810720ff9c7a74b6a6ea1d2db2
  performance/dart6/data.js
Due: none

Keep the Repology link in EPUB docs output
  docs/readthedocs/dart/user_guide/installation.rst
Due: none

Skip the remote Repology badge in EPUB docs builds (#3541)
  docs/readthedocs/dart/user_guide/installation.rst
Due: none

Update the build-system CMake pin comment
  pyproject.toml
Due: none

State that the 4.4.3 CMake pin is not yet validated for wheel builds
  pyproject.toml
Due: none

Update the build-system CMake pin comment (#3542)
  pyproject.toml
Due: none

Fix stale facts in AI agent instructions
  .agents/skills/dart-build/SKILL.md
  .agents/skills/dart-changelog/SKILL.md
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-downstream-fix/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .agents/skills/dart-python/SKILL.md
  .agents/skills/dart-release-ci-fix/SKILL.md
  .agents/skills/dart-resume/SKILL.md
  .agents/skills/dart-test/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-changelog.md
  .claude/commands/dart-downstream-fix.md
  .claude/commands/dart-pr.md
  .claude/commands/dart-release-ci-fix.md
  .claude/commands/dart-resume.md
  .claude/hooks/pre-commit-guard.sh
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-changelog.md
  .opencode/command/dart-downstream-fix.md
  .opencode/command/dart-pr.md
  .opencode/command/dart-release-ci-fix.md
  .opencode/command/dart-resume.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/ai/README.md
  docs/ai/agent-scenarios.json
  docs/ai/principles.md
  docs/onboarding/ai-tools.md
Due: none

add DART 6 Performance (googlecpp) benchmark result for 8d31ba7a239f204cf1c2947e439a7ee25945ac5d
  performance/dart6/data.js
Due: none

Fix stale facts in AI agent instructions (#3546)
  .agents/skills/dart-build/SKILL.md
  .agents/skills/dart-changelog/SKILL.md
  .agents/skills/dart-contribute/SKILL.md
  .agents/skills/dart-downstream-fix/SKILL.md
  .agents/skills/dart-pr/SKILL.md
  .agents/skills/dart-python/SKILL.md
  .agents/skills/dart-release-ci-fix/SKILL.md
  .agents/skills/dart-resume/SKILL.md
  .agents/skills/dart-test/SKILL.md
  .agents/skills/dart-verify-sim/SKILL.md
  .claude/commands/dart-changelog.md
  .claude/commands/dart-downstream-fix.md
  .claude/commands/dart-pr.md
  .claude/commands/dart-release-ci-fix.md
  .claude/commands/dart-resume.md
  .claude/hooks/pre-commit-guard.sh
  .claude/skills/dart-build/SKILL.md
  .claude/skills/dart-contribute/SKILL.md
  .claude/skills/dart-python/SKILL.md
  .claude/skills/dart-test/SKILL.md
  .claude/skills/dart-verify-sim/SKILL.md
  .opencode/command/dart-changelog.md
  .opencode/command/dart-downstream-fix.md
  .opencode/command/dart-pr.md
  .opencode/command/dart-release-ci-fix.md
  .opencode/command/dart-resume.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/ai/README.md
  docs/ai/agent-scenarios.json
  docs/ai/principles.md
  docs/onboarding/ai-tools.md
Due: none

Speed up ODE contact-history bookkeeping (backport #3329)
  dart/collision/ode/OdeCollisionDetector.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Add a 6.19.5 changelog entry for the ODE contact-history speedup
  CHANGELOG.md
Due: none

Gate the first prepared step with a contact surface handler installed
  tests/integration/test_StepAllocation.cpp
Due: none

Keep simulation preparation from running contact surface handlers
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Apply a handler-set contact error reduction velocity to the whole step
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Refresh the implicit joint spring and damper inertia on edits
  CHANGELOG.md
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_Joints.cpp
Due: Dynamics

Wake resting bodies on joint dynamics and gravity changes
  CHANGELOG.md
  dart/dynamics/BodyNode.cpp
  dart/dynamics/PrismaticJoint.cpp
  dart/dynamics/RevoluteJoint.cpp
  dart/dynamics/Skeleton.cpp
  dart/dynamics/detail/GenericJoint.hpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Keep resting bodies asleep when gravity is set to its current value
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Keep islands awake while a custom contact surface handler is installed
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Restart sleep candidacy and dwell when the world changes between steps
  CHANGELOG.md
  dart/constraint/ConstraintSolver.cpp
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Constraint, Simulation

Evaluate manual constraints added between resting bodies
  CHANGELOG.md
  dart/simulation/World.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Simulation

Make MetaSkeleton DOF accessors allocation-free and single-lookup
  CHANGELOG.md
  dart/dynamics/MetaSkeleton.cpp
  tests/integration/test_StepAllocation.cpp
Due: Dynamics

Re-sync collision groups when a collision aspect is created or removed
  CHANGELOG.md
  dart/collision/CollisionGroup.cpp
  dart/dynamics/ShapeFrame.cpp
  tests/integration/test_CollisionGroups.cpp
Due: Dynamics, Collision

Wake resting bodies on edits of non-collidable collision shapes
  dart/dynamics/BodyNode.cpp
  tests/integration/test_IslandDeactivation.cpp
Due: Dynamics

Keep contact-material writes from re-preparing the simulation every step
  dart/dynamics/ShapeFrame.cpp
  tests/integration/test_ForceDependentSlip.cpp
Due: Dynamics

Record the ODE cylinder guard-row re-baseline
  docs/dev_tasks/dart6_performance_generalization/01-baseline-evidence.md
Due: none

Share the constraint solver's contact budget fairly across pairs
  CHANGELOG.md
  dart/collision/CollisionOption.hpp
  dart/constraint/ConstraintSolver.cpp
  tests/integration/CMakeLists.txt
  tests/integration/test_ConstraintSolver.cpp
  tests/integration/test_StepAllocation.cpp
Due: Collision, Constraint

Restore native ODE cylinders on mainstream ODE builds
  CHANGELOG.md
  dart/collision/ode/OdeCollisionObject.cpp
  tests/integration/test_Collision.cpp
Due: Collision

Fix use-after-free in ConstraintSolver::prepareForSimulation()
  dart/constraint/ConstraintSolver.cpp
  tests/integration/test_ConstraintSolver.cpp
Due: Constraint

Add unpatched Gazebo compatibility lanes
  pixi.lock
  pixi.toml
  tests/test_gz_compat_compare.py
  tools/gazebo/compat/compare_failures.py
  tools/gazebo/compat/harmonic-expected-failures.txt
  tools/gazebo/compat/ionic-expected-failures.txt
  tools/gazebo/compat/jetty-expected-failures.txt
  tools/gazebo/compat/lane.sh
  tools/gazebo/compat/order_check_tests.cmake
Due: none

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
