Repository dartsim/dart: changes, and which Codecov flags are due for each by the changed paths.
All: Common, Math, Dynamics, Collision, Constraint, Simulation, I/O, Optimizer, LCP Solver

Remove dead urdfdom_headers version shim
  dart/utils/urdf/BackwardCompatibility.hpp.in
  dart/utils/urdf/CMakeLists.txt
  dart/utils/urdf/urdf_parser.cpp
Due: none

Remove unused DART_ASSIMP_VERSION_MAJOR compile definition
  dart/CMakeLists.txt
Due: none

Drop redundant direct cli11 dependency
  pixi.toml
Due: none

Right-size GPU sweep buffers + paper-scale config to close speedup gap
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cpp
  dart/simulation/compute/cuda/contact_candidate_filter_cuda.cu
  docs/plans/083-unified-newton-barrier-multibody/gpu-slowness-root-cause.md
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
Due: Simulation

Fix DART_BUILD_DIFF build: adapt StlAllocator parameter vector at call site
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
Due: Simulation

Fix CI: include <bit> for Taskflow on libc++; defer deducing-this and ranges::contains
  CHANGELOG.md
  dart/gui/detail/renderable_sync.cpp
  dart/gui/interaction.cpp
  dart/math/detail/mesh-impl.hpp
  dart/math/mesh.hpp
  dart/simulation/compute/multibody_dynamics.cpp
  dart/simulation/compute/parallel_executor.cpp
  dart/simulation/compute/world_step_stage.cpp
  docs/design/cpp23_modernization.md
Due: Math, Simulation

Dependency hygiene: drop dead urdfdom/assimp version scaffolding and unused cli11 pin (#3008)
  dart/CMakeLists.txt
  dart/utils/urdf/BackwardCompatibility.hpp.in
  dart/utils/urdf/CMakeLists.txt
  dart/utils/urdf/urdf_parser.cpp
  pixi.toml
Due: none

WP-091.13: single-source the fourth restitution-threshold copy
  dart/simulation/compute/world_step_stage.cpp
  docs/plans/091-architecture-hardening.md
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 7770d980fb8083ee60aa030323ca27209eafbf23
  performance/data.js
Due: none

Balance test-all runtime via the load-aware tier runner
  pixi.toml
  scripts/ctest_tier.py
  scripts/test_all.py
  tests/unit/simulation/CMakeLists.txt
Due: none

WP-091.14: re-home rigid-AVBD machinery into a detail/rigid_avbd family module
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/rigid_avbd/rigid_block_kernel.hpp
  dart/simulation/detail/rigid_avbd/rigid_world_contact.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/contact/test_boxed_lcp_contact.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/world/test_serialization.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Regenerate API boundary inventory after merges (490 -> 491 headers)
  docs/onboarding/api-boundary-inventory.md
Due: none

Guard LCP benchmarks and demo panels with concrete solver support (follow-up to #3001) (#3007)
  docs/dev_tasks/lcp_solver_interface_demos/README.md
  docs/dev_tasks/lcp_solver_interface_demos/RESUME.md
  python/examples/demos/scenes/lcp_physics.py
  python/tests/unit/test_check_lcp_solver_roster.py
  python/tests/unit/test_lcp_performance_profile.py
  python/tests/unit/test_py_demo_panels.py
  scripts/check_lcp_solver_roster.py
  scripts/lcp_performance_profile.py
  tests/benchmark/lcpsolver/bm_lcp_compare.cpp
  tests/unit/math/lcp/test_all_solvers_smoke.cpp
Due: none

Balance test-all runtime via the load-aware tier runner (#3009)
  pixi.toml
  scripts/ctest_tier.py
  scripts/test_all.py
  tests/unit/simulation/CMakeLists.txt
Due: none

Stop committing the generated API boundary inventory (single source of truth)
  .gitignore
  docs/ai/north-star.md
  docs/design/dart7_handle_opaque_storage.md
  docs/dev_tasks/hierarchical_memory_manager/RESUME.md
  docs/dev_tasks/ipc_deformable_solver/RESUME.md
  docs/dev_tasks/rigid_body_dynamics_solver/codex_handoff_prompt.md
  docs/dev_tasks/rigid_body_dynamics_solver/convention_realignment.md
  docs/onboarding/README.md
  docs/onboarding/api-boundaries.md
  docs/onboarding/api-boundary-inventory.md
  docs/plans/041-official-simulation-api-promotion.md
  docs/plans/042-dart7-public-api-and-source-layout.md
  docs/plans/042-dart7-public-api-and-source-layout/api-source-layout-audit.md
  pixi.toml
  scripts/check_api_boundaries_allowlist.txt
  scripts/generate_api_boundary_inventory.py
Due: none

Add paper-scale config to all GPU rows; document gate feasibility
  docs/plans/083-unified-newton-barrier-multibody/gpu-slowness-root-cause.md
  tests/benchmark/simulation/bm_plan083_gpu_contact_candidates.cpp
Due: none

Cover AVBD contact-skip audit branches flagged by codecov
  docs/dev_tasks/avbd_solver/RESUME.md
  tests/unit/simulation/world/test_world.cpp
Due: none

WP-091.14: move AVBD joint stiffness off comps::Joint into a sidecar
  dart/simulation/comps/avbd_joint_stiffness.cpp
  dart/simulation/comps/joint.hpp
  dart/simulation/detail/rigid_avbd/rigid_world_contact.hpp
  dart/simulation/io/binary_io.hpp
  dart/simulation/io/serializer.cpp
  dart/simulation/io/serializer.hpp
  dart/simulation/multibody/joint.cpp
  dart/simulation/world.cpp
  docs/onboarding/api-boundary-inventory.md
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
Due: Simulation

Reuse the parallel executor Taskflow for warmed same-shape graphs
  dart/simulation/compute/parallel_executor.cpp
  tests/unit/simulation/compute/test_compute_graph.cpp
Due: Simulation

WP-091.14: note legacy-fixture residual + extra test coverage in Evidence
  docs/plans/091-architecture-hardening.md
Due: none

add DART 7 World Performance (googlecpp) benchmark result for 593857713d021621ca13bc6bccad5e9027f8c674
  performance/data.js
Due: none

Adopt PEP 758 paren-less except via black under Python 3.14
  scripts/benchmark_packet_utils.py
  scripts/build_helpers.py
  scripts/capture_py_demo.py
  scripts/check_allocator_comparative_benchmarks.py
  scripts/check_compute_graph_benchmarks.py
  scripts/check_dart7_world_promotion_blockers.py
  scripts/check_lcp_solver_roster.py
  scripts/lcp_performance_profile.py
  scripts/parallel_jobs.py
  scripts/preview_performance_dashboard.py
  scripts/run_cpp_benchmark.py
  scripts/test_all.py
Due: none

Raise minimum Python version for dartpy to 3.14
  .claude/skills/dart-python/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .github/workflows/publish_dartpy.yml
  .readthedocs.yml
  CHANGELOG.md
  docs/onboarding/build-system.md
  docs/onboarding/python-bindings.md
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/locales/ko/LC_MESSAGES/dartpy/user_guide/installation.po
  pixi.lock
  pixi.toml
  pyproject.toml
  python/tutorials/01_browse_demos.ipynb
  scripts/test_published_package_quickstarts.py
  scripts/test_wheel.py
Due: none

Skip Dantzig interior fast path for allocator-backed scratch
  dart/math/lcp/pivoting/dantzig_solver.cpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
Due: Math

WP-091.23: stable serialization identity (explicit IDs, not mangled typeid)
  dart/simulation/comps/collision_geometry.hpp
  dart/simulation/comps/component_category.hpp
  dart/simulation/comps/contact_material.hpp
  dart/simulation/comps/deformable_body.hpp
  dart/simulation/comps/dynamics.hpp
  dart/simulation/comps/frame_types.hpp
  dart/simulation/comps/joint.hpp
  dart/simulation/comps/link.hpp
  dart/simulation/comps/loop_closure.hpp
  dart/simulation/comps/multibody.hpp
  dart/simulation/comps/name.hpp
  dart/simulation/comps/rigid_body.hpp
  dart/simulation/comps/variational_contact.hpp
  dart/simulation/comps/variational_contact_dual_state.hpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/io/binary_io.hpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_serialization.cpp
Due: Simulation

WP-091.24 (slice): solver-agnostic StepMetrics value object + read-only query
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/world.cpp
  dart/simulation/world.hpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_variational_integration.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

add DART 7 World Performance (googlecpp) benchmark result for 92bd341320f063b7374e9bc58b53d05e2d449983
  performance/data.js
Due: none

Record PR #3004 full-suite validation in AVBD handoff
  docs/dev_tasks/avbd_solver/RESUME.md
Due: none

WP-091.24 (validation): momentum-through-collision conservation test via StepMetrics
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world.cpp
Due: none

WP-091.24 (core): cross-family StepMetrics comparison + document multibody split limit
  dart/simulation/compute/world_step_profile.hpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_cross_family_metrics.cpp
Due: Simulation

Drop over-strict C++23 feature_support asserts for deferred features
  tests/unit/common/test_feature_support.cpp
Due: none

WP-091.24: make the multibody StepMetrics kinetic/potential split physical
  dart/simulation/compute/variational_integration.cpp
  dart/simulation/compute/variational_integration.hpp
  dart/simulation/compute/world_step_profile.hpp
  dart/simulation/world.cpp
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/compute/test_cross_family_metrics.cpp
Due: Simulation

Skip Dantzig interior fast path for allocator-backed scratch (#3011)
  dart/math/lcp/pivoting/dantzig_solver.cpp
  dart/math/lcp/pivoting/dantzig_solver.hpp
Due: Math

Advance AVBD spring source rows with collision-pair filtering and contact-skip regression (#3004)
  dart/simulation/compute/world_step_stage.cpp
  dart/simulation/detail/deformable_vbd/rigid_block_kernel.hpp
  docs/dev_tasks/avbd_solver/README.md
  docs/dev_tasks/avbd_solver/RESUME.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo-corpus.md
  docs/plans/104-vertex-block-descent-solver/avbd-demo2d-spring-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo2d-spring-ratio-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo3d-spring-packet.json
  docs/plans/104-vertex-block-descent-solver/avbd-demo3d-spring-ratio-packet.json
  docs/plans/dashboard.md
  python/examples/demos/scenes/avbd_demo2d_spring.py
  python/examples/demos/scenes/avbd_demo2d_spring_ratio.py
  python/examples/demos/scenes/avbd_demo3d_spring.py
  python/examples/demos/scenes/avbd_demo3d_spring_ratio.py
  python/tests/integration/test_demos_cycle.py
  python/tests/unit/test_py_demo_panels.py
  python/tests/unit/test_write_avbd_demo2d_spring_packets.py
  python/tests/unit/test_write_avbd_demo3d_spring_packets.py
  scripts/write_avbd_demo2d_spring_packet.py
  scripts/write_avbd_demo3d_spring_packet.py
  tests/benchmark/simulation/bm_avbd_rigid_fixed_joint.cpp
  tests/unit/simulation/deformable_vbd/test_avbd_rigid_block.cpp
  tests/unit/simulation/world/test_world.cpp
Due: Simulation

Raise minimum Python version to 3.14 (Ubuntu 26.04 LTS) (#3010)
  .claude/skills/dart-python/SKILL.md
  .codex/skills/dart-python/SKILL.md
  .github/workflows/publish_dartpy.yml
  .readthedocs.yml
  CHANGELOG.md
  docs/onboarding/build-system.md
  docs/onboarding/python-bindings.md
  docs/readthedocs/dartpy/user_guide/installation.rst
  docs/readthedocs/locales/ko/LC_MESSAGES/dartpy/user_guide/installation.po
  pixi.lock
  pixi.toml
  pyproject.toml
  python/tutorials/01_browse_demos.ipynb
  scripts/benchmark_packet_utils.py
  scripts/build_helpers.py
  scripts/capture_py_demo.py
  scripts/check_allocator_comparative_benchmarks.py
  scripts/check_compute_graph_benchmarks.py
  scripts/check_dart7_world_promotion_blockers.py
  scripts/check_lcp_solver_roster.py
  scripts/lcp_performance_profile.py
  scripts/parallel_jobs.py
  scripts/preview_performance_dashboard.py
  scripts/run_cpp_benchmark.py
  scripts/test_all.py
  scripts/test_published_package_quickstarts.py
  scripts/test_wheel.py
  tests/unit/common/test_feature_support.cpp
Due: none

WP-091.24 (validation): order-of-convergence seed via StepMetrics
  docs/plans/091-architecture-hardening.md
  tests/unit/simulation/world/test_world.cpp
Due: none

Fix macOS C++23 floor: use conda clang, guard views::enumerate
  dart/common/feature_support.hpp
  docs/design/cpp23_modernization.md
  pixi.lock
  pixi.toml
  tests/unit/common/test_feature_support.cpp
Due: Common

Path conditions:
  Common: any of: dart/common/**
  Math: any of: dart/math/**
  Dynamics: any of: dart/dynamics/**
  Collision: any of: dart/collision/**
  Constraint: any of: dart/constraint/**
  Simulation: any of: dart/simulation/**, but not: dart/simulation/experimental/**
  I/O: any of: dart/io/**
  Optimizer: any of: dart/optimizer/**
  LCP Solver: any of: dart/lcpsolver/**
